<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">
		<div class="breadcrumbs">
			<a href="#" class="breadcrumbs__link">Liebherr</a>
			<span class="breadcrumbs__sep">/</span>
			<span class="breadcrumbs__text">Контакты</span>
		</div>
		<h1 class="title">
			Результат поиска
		</h1>
		<div class="search-found ">
			<div class="search-found__item">
				<form class="search-found__form" action="" method="get">
					<input type="text" name="q" placeholder="Чайник" value=""><input type="submit" value="Найти"
						class="btn-sub3 abuse-popup__submit" name="">
				</form>
			</div>
			<div class="search-found__item">
				<span class="search__info">В каталоге найдено: 5 позиций</span>
			</div>
			<div class="catalog__items">
				<div class="catalog__item">
					<a class="catalog__pic" href="#">
						<img src="images/new-items_3.jpg"
							srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
					<a href="product-card.html" class="special-offers__text  catalog__text">Винный шкаф Liebherr EWTgw
						3583
						Vinidor</a>
					<span class="catalog__presence">В наличии</span>
					<div class="catalog__specification">
						<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
						<span class="catalog__feature">Габариты (см):<span class="catalog__bold">
								63x55.4x62.4</span></span>
						<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
								class="catalog__bold">107</span></span>
						<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
								class="catalog__bold">15</span></span>
						<span class="catalog__feature">Тип размораживания:<span
								class="catalog__bold">ручная</span></span>
					</div>
					<div class="catalog__prop">
						<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
							<img src="images/benefits-icons/A+.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
							<img src="images/benefits-icons/A++.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/A+++.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Bio Cool.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Bio Fresh- Plus.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Bio Fresh.svg" class="icons-prop-item">
						</a>
					</div>
					<div class="special-offers__sale catalog__sale">
						<span class="special-offers__price catalog__price">134 200<i
								class="special-offers__rub catalog__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
					</div>
					<div class="catalog__existence">

						<a href="#" class="catalog__simile active"></a>
						<a href="#" class="catalog__favorite active"></a>
						<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
					</div>
					<div class="announcing">
						<div class="announcing__item">
							<img src="images/small/flag_ger.svg" alt="сделано в Германии" title="сделано в Германии">
						</div>
						<div class="announcing__item">
							<img src="images/small/new.svg" alt="Новинка" title="Новинка">
						</div>
						<div class="announcing__item">
							<img src="images/small/tools.svg" alt="Бесплатное подключение"
								title="Бесплатное подключение">
						</div>
						<div class="announcing__item">
							<img src="images/small/truck.svg" alt="Бесплатная доставка" title="Бесплатная доставка">
						</div>
					</div>
				</div>
				<div class="catalog__item">
					<a class="catalog__pic" href="#">
						<img src="images/new-items_1.jpg"
							srcset="images/new-items_1@2x.jpg 2x,images/new-items_1@3x.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
					<a href="product-card.html" class="special-offers__text catalog__text">Холодильник Liebherr SBS 66I2
						Premium NoFrost (SICN 3386 + ICN 3386)</a>
					<span class="catalog__presence">В наличии</span>
					<div class="catalog__specification">
						<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
						<span class="catalog__feature">Габариты (см):<span class="catalog__bold">
								63x55.4x62.4</span></span>
						<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
								class="catalog__bold">107</span></span>
						<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
								class="catalog__bold">15</span></span>
						<span class="catalog__feature">Тип размораживания:<span
								class="catalog__bold">ручная</span></span>
					</div>
					<div class="catalog__prop">
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Black Steel.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/BLU Performance.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Central-Power Coolin.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Colour Line.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Comfort Glass Line.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Duo Cooling.svg" class="icons-prop-item">
						</a>
					</div>
					<div class="special-offers__sale catalog__sale price__dashed">
						<span class="special-offers__price catalog__price">
							199 000
							<i class="special-offers__rub catalog__rub">руб.</i>
							<span class="price__absolute">
								250 000 руб.
							</span>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
					</div>
					<div class="catalog__existence">
						<a href="#" class="catalog__simile"></a>
						<a href="#" class="catalog__favorite"></a>
						<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
					</div>
					<div class="announcing">
						<div class="announcing__item">
							<img src="images/small/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
						</div>
						<div class="announcing__item">
							<img src="images/small/new.svg" alt="Новинка" title="Новинка">
						</div>
						<div class="announcing__item">
							<img src="images/small/tools.svg" alt="Бесплатное подключение"
								title="Бесплатное подключение">
						</div>
						<div class="announcing__item">
							<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
						</div>
					</div>
				</div>
				<div class="catalog__item">
					<a class="catalog__pic" href="#">
						<img src="images/new-items_2.jpg"
							srcset="images/new-items_2@2x.jpg 2x,images/new-items_2@3x.jpg 3x"
							class="special-offers__img catalog__img">
					</a>

					<a href="#" class="special-offers__text catalog__text">Морозильник Liebherr GN 2723 Comfort
						NoFrost</a>
					<span class="catalog__presence">В наличии</span>
					<div class="catalog__specification">
						<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
						<span class="catalog__feature">Габариты (см):<span class="catalog__bold">
								63x55.4x62.4</span></span>
						<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
								class="catalog__bold">107</span></span>
						<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
								class="catalog__bold">15</span></span>
						<span class="catalog__feature">Тип размораживания:<span
								class="catalog__bold">ручная</span></span>
					</div>
					<div class="catalog__prop">
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Flex System.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Fresh Air.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Frost Control.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Frost Protect.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Frost Safe.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Glass Edition.svg" class="icons-prop-item">
						</a>
					</div>
					<div class="special-offers__sale catalog__sale price__dashed">
						<span class="special-offers__price catalog__price">
							115 000
							<i class="special-offers__rub catalog__rub">руб.</i>
							<span class="price__absolute">
								122 750 руб.
							</span>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
					</div>
					<div class="catalog__existence">

						<a href="#" class="catalog__simile"></a>
						<a href="#" class="catalog__favorite"></a>
						<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
					</div>
					<div class="announcing">
						<div class="announcing__item">
							<img src="images/small/flag_austria_small.svg" alt="сделано в Австрии"
								title="сделано в Австрии">
						</div>
						<div class="announcing__item">
							<img src="images/small/new.svg" alt="Новинка" title="Новинка">
						</div>
						<div class="announcing__item">
							<img src="images/small/tools.svg" alt="Бесплатное подключение"
								title="Бесплатное подключение">
						</div>
						<div class="announcing__item">
							<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
						</div>
					</div>
				</div>
				<div class="catalog__item">
					<a class="catalog__pic" href="#">
						<img src="images/new-items_4.jpg"
							srcset="images/new-items_4@2x.jpg 2x,images/new-items_4@3x.jpg 3x"
							class="special-offers__img catalog__img">
					</a>

					<a href="#" class="special-offers__text catalog__text">Холодильник Liebherr SBS 66I2 Premium NoFrost
						(SICN
						3386 + ICN 3386)</a>
					<span class="catalog__presence">В наличии</span>
					<div class="catalog__specification">
						<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
						<span class="catalog__feature">Габариты (см):<span class="catalog__bold">
								63x55.4x62.4</span></span>
						<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
								class="catalog__bold">107</span></span>
						<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
								class="catalog__bold">15</span></span>
						<span class="catalog__feature">Тип размораживания:<span
								class="catalog__bold">ручная</span></span>
					</div>
					<div class="catalog__prop">
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Grand Cru.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Hard Line.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Ice Maker.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/LED.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Magic Eye.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/No Frost.svg" class="icons-prop-item">
						</a>
					</div>
					<div class="special-offers__sale catalog__sale">
						<span class="special-offers__price catalog__price">134 200<i
								class="special-offers__rub catalog__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
					</div>
					<div class="catalog__existence">

						<a href="#" class="catalog__simile"></a>
						<a href="#" class="catalog__favorite"></a>
						<a href="#" class="catalog__oneclick">Купить в 1 клик</a>
					</div>
					<div class="announcing">
						<div class="announcing__item">
							<img src="images/small/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
						</div>
						<div class="announcing__item">
							<img src="images/small/new.svg" alt="Новинка" title="Новинка">
						</div>
						<div class="announcing__item">
							<img src="images/small/tools.svg" alt="Бесплатное подключение"
								title="Бесплатное подключение">
						</div>
						<div class="announcing__item">
							<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
						</div>
					</div>
				</div>
				<div class="catalog__item js-ecom_product-item js-catalog_item" data-id="1611" id="bx_3589829689_1611">

					<a class="catalog__pic js-ecom_product-link"
						href="/liebherr/holodilniki/dvukhkamernye-kholodilniki-s-morozilnikom/kholodilnik-liebherr-cn-4713-nofrost.html"
						title="Холодильник Liebherr CN 4713 NoFrost">
						<img data-src="https://l-rus.ru/upload/resize_cache/iblock/a31/245_230_1/a31ba2426881adb14b5a3896afd4ad84.jpg"
							alt="Холодильник Liebherr CN 4713 NoFrost preview 1"
							title="Холодильник Liebherr CN 4713 NoFrost фото 1"
							class="special-offers__img catalog__img lazyloaded loaded"
							src="https://l-rus.ru/upload/resize_cache/iblock/a31/245_230_1/a31ba2426881adb14b5a3896afd4ad84.jpg"
							data-was-processed="true">
					</a>
					<a href="/liebherr/holodilniki/dvukhkamernye-kholodilniki-s-morozilnikom/kholodilnik-liebherr-cn-4713-nofrost.html"
						title="Холодильник Liebherr CN 4713 NoFrost"
						class="special-offers__text catalog__text js-ecom_product-link">Холодильник Liebherr CN 4713
						NoFrost</a>
					<span class="catalog__presence ">В наличии</span>

					<div class="catalog__specification">
						<span class="catalog__feature">Тип: <span class="catalog__bold">холодильник с
								морозильником</span></span>
						<span class="catalog__feature">Габариты, ВxШxГ [см]: <span
								class="catalog__bold">201.1x60x65.5</span></span>
						<span class="catalog__feature">Полезный объем холодильной камеры [л]: <span
								class="catalog__bold">199</span></span>
						<span class="catalog__feature">Расположение морозильной камеры: <span
								class="catalog__bold">снизу</span></span>
						<span class="catalog__feature">Полезный объем морозильной камеры [л]: <span
								class="catalog__bold">129</span></span>
						<span class="catalog__feature">Система замораживания NoFrost: <span
								class="catalog__bold">Есть</span></span>

					</div>

					<div class="catalog__prop">
						<span class="link-pop-glossary">
							<img data-src="https://l-rus.ru/upload/iblock/daa/daad1bb98d6319577f6f96b031dff5d8.svg"
								class="icons-prop-item loaded lazyloaded"
								title="Класс А++ означает, что модель потребляет на 20% электроэнергии меньше, чем прибор экономичного класса А. "
								src="https://l-rus.ru/upload/iblock/daa/daad1bb98d6319577f6f96b031dff5d8.svg"
								data-was-processed="true">
						</span>

						<span class="link-pop-glossary">
							<img data-src="https://l-rus.ru/upload/iblock/5d3/5d360f7f95aee14384f0c0901588db8e.svg"
								class="icons-prop-item loaded lazyloaded"
								title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея на стенках морозильного отделения, и тем самым забыть о процедуре размораживания."
								src="https://l-rus.ru/upload/iblock/5d3/5d360f7f95aee14384f0c0901588db8e.svg"
								data-was-processed="true">
						</span>

					</div>

					<div class="special-offers__sale catalog__sale">

						<span class="special-offers__price catalog__price price__dashed">

							39 500 <i class="special-offers__rub catalog__rub">руб.</i>
							<span class="price__absolute">40 500 руб.</span>
						</span>

						<a href="" class="special-offers__buy js-add2basket" data-id="1611">В корзину</a>

					</div>

					<div class="catalog__existence">

						<a href="" class="catalog__simile js-compare " data-id="1611"></a>

						<a href="" class="catalog__favorite  js-add2favorite" data-id="1611"></a>

						<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
							data-id="1611">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

					</div>

					<!-- begin label -->
					<div class="announcing">
						<div class="announcing__item"><img class="lazyloaded loaded"
								data-src="https://l-rus.ru/mockup/templates/main/build/images/small/tools.svg"
								alt="Бесплатное подключение" title="Бесплатное подключение"
								src="https://l-rus.ru/mockup/templates/main/build/images/small/tools.svg"
								data-was-processed="true"></div>
						<div class="announcing__item"><img class="lazyloaded loaded"
								data-src="https://l-rus.ru/mockup/templates/main/build/images//small/truck.svg"
								alt="Бесплатная доставка" title="Бесплатное доставка"
								src="https://l-rus.ru/mockup/templates/main/build/images//small/truck.svg"
								data-was-processed="true"></div>

						<div class="announcing__item"><img
								data-src="https://l-rus.ru/mockup/templates/main/build/images/small/new.svg"
								alt="Новинка" class="label__pic lazyloaded loaded"
								src="https://l-rus.ru/mockup/templates/main/build/images/small/new.svg"
								data-was-processed="true"></div>

					</div>
					<!-- end label -->

				</div>
				<div class="catalog__item">
					<a class="catalog__pic" href="#">
						<img src="images/new-items_3.jpg"
							srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
					<a href="#" class="special-offers__text  catalog__text">Винный шкаф Liebherr EWTgw 3583 Vinidor</a>
					<span class="catalog__presence">В наличии</span>
					<div class="catalog__specification">
						<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
						<span class="catalog__feature">Габариты (см):<span class="catalog__bold">
								63x55.4x62.4</span></span>
						<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
								class="catalog__bold">107</span></span>
						<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
								class="catalog__bold">15</span></span>
						<span class="catalog__feature">Тип размораживания:<span
								class="catalog__bold">ручная</span></span>
					</div>
					<div class="catalog__prop">
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Power Cooling.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Premium Glass Line.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Side by Side.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Silver.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Smart Device.svg" class="icons-prop-item">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/benefits-icons/Smart Frost.svg" class="icons-prop-item">
						</a>
					</div>
					<div class="special-offers__sale catalog__sale">
						<span class="special-offers__price catalog__price">134 200<i
								class="special-offers__rub catalog__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
					</div>
					<div class="catalog__existence">
						<!-- <span class="catalog__presence grey">под заказ</span> -->
						<a href="#" class="catalog__simile"></a>
						<a href="#" class="catalog__favorite"></a>
						<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
					</div>
					<div class="announcing">
						<div class="announcing__item">
							<img src="images/small/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
						</div>
						<div class="announcing__item">
							<img src="images/small/new.svg" alt="Новинка" title="Новинка">
						</div>
						<div class="announcing__item">
							<img src="images/small/tools.svg" alt="Бесплатное подключение"
								title="Бесплатное подключение">
						</div>
						<div class="announcing__item">
							<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
