<div class="category">
	<div class="category-container container">
		<div class="swiper-wrapper category__items">
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/category-1.png')">
				<span class="category__caption">
					Встраиваемые холодильники&nbsp;Liebherr
				</span>
				<!-- /.category__caption -->
				<span class="category__price">
					от 54 800 до 1 000 000 руб.
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/category-2.png')">
				<span class="category__caption">
					Морозильные камеры Liebherr
				</span>
				<!-- /.category__caption -->
				<span class="category__price">
					от 54 800 до 1 000 000 руб.
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/category-3.png')">
				<span class="category__caption">
					Однокамерные холодильники&nbsp;Liebherr
				</span>
				<!-- /.category__caption -->
				<span class="category__price">
					от 54 800 до 1 000 000 руб.
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/category-4.png')">
				<span class="category__caption">
					Двухкамерные холодильники&nbsp;Liebherr
				</span>
				<!-- /.category__caption -->
				<span class="category__price">
					от 54 800 до 1 000 000 руб.
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/category-5.png')">
				<span class="category__caption">
					Холодильники Liebherr&nbsp;Side-by-Side
				</span>
				<!-- /.category__caption -->
				<span class="category__price">
					от 54 800 до 1 000 000 руб.
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/category-6.png')">
				<span class="category__caption">
					Встраиваемые морозильные камеры Liebherr
				</span>
				<!-- /.category__caption -->
				<span class="category__price">
					от 54 800 до 1 000 000 руб.
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
		</div>
		<!-- /.swiper-wrapper category__items -->
	</div>
	<!-- /.category-container -->
	<div class="swiper-pagination category-pagination"></div>
</div>
<!-- /.category -->
