<div class="breadcrumbs">
	<a href="#" class="breadcrumbs__link">Liebherr</a>
	<span class="breadcrumbs__sep">/</span>

	<a href="#" class="breadcrumbs__link">Духовые шкафы</a>
	<span class="breadcrumbs__sep">/</span>

	<span class="breadcrumbs__text">Сравнение</span>
</div>
<div class="comparison">
	<h1 class="title">Сравнение</h1>
	<div class="fixed-header">
		<h3 class="title">Сравнение</h3>
		<div class="swiper-button-prev fixed-header-prev special-offers_prev"></div>
		<div class="swiper-button-next fixed-header-next special-offers_next"></div>
		<div class="swiper-pagination"></div>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a class="fixed-header__pic" href="#">
						<picture>

							<source type="image/webp">
							<img src="images/foto_1.jpg" class="fixed-header__img">
						</picture>
					</a>
					<a href="#" class="fixed-header__text">Винный шкаф Liebherr EWTgw 3583 Vinidor</a>
					<span class="catalog__presence">В наличии</span>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400
							<i class="special-offers__rub">руб.</i>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax="" class="special-offers__buy"></a>
					</div>
				</div>
				<div class="swiper-slide">
					<a class="fixed-header__pic" href="#">
						<picture>

							<source type="image/webp">
							<img src="images/foto_2.jpg" class="fixed-header__img">
						</picture>
					</a>
					<a href="#" class="fixed-header__text">
						Холодильник Liebherr SBS 66I2 Premium NoFrost (SICN
						3386 + ICN 3386)
					</a>
					<span class="catalog__presence">В наличии</span>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400
							<i class="special-offers__rub">руб.</i>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax="" class="special-offers__buy"></a>
					</div>
				</div>
				<div class="swiper-slide">
					<a class="fixed-header__pic" href="#">
						<picture>

							<source type="image/webp">
							<img src="images/foto_3.jpg" class="fixed-header__img">
						</picture>
					</a>
					<a href="#" class="fixed-header__text">Морозильник Liebherr GN 2723 Comfort NoFrost</a>
					<span class="catalog__presence">В наличии</span>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400
							<i class="special-offers__rub">руб.</i>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax="" class="special-offers__buy"></a>
					</div>
				</div>
				<div class="swiper-slide">
					<a class="fixed-header__pic" href="#">
						<picture>

							<source type="image/webp">
							<img src="images/foto_4.jpg" class="fixed-header__img">
						</picture>
					</a>
					<a href="#" class="fixed-header__text">Холодильник Liebherr SBS 66I2 Premium NoFrost (SICN
						3386 + ICN 3386)</a>
					<span class="catalog__presence">В наличии</span>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400
							<i class="special-offers__rub">руб.</i>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax="" class="special-offers__buy"></a>
					</div>
				</div>
				<div class="swiper-slide">
					<a class="fixed-header__pic" href="#">
						<picture>

							<source type="image/webp">
							<img src="images/foto_1.jpg" class="fixed-header__img">
						</picture>
					</a>
					<a href="#" class="fixed-header__text">Морозильник Liebherr GN 2723 Comfort NoFrost</a>
					<span class="catalog__presence">В наличии</span>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400
							<i class="special-offers__rub">руб.</i>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax="" class="special-offers__buy"></a>
					</div>
				</div>
			</div>
		</div>

	</div>
	<table id="compare_table" class="comparison__middle">
		<thead class="comparison__main">
			<tr class="">
				<td class="">
					<div class=" swiper__comparison_first js-comparison-height">
						<div class="comparison__inner">
							<div class="comparison-menu__title">Категория сравнения</div>
							<ul class="comparison__list">
								<li class="comparison__item">
									<a class="comparison__link js-comparison__link" href="#">
										<span class="comparison__text">Духовые шкафы</span>
									</a>
								</li>
								<li class="comparison__item">
									<a class="comparison__link js-comparison__link" href="#">
										<span class="comparison__text">Варочные панели</span>
									</a>
								</li>
								<li class="comparison__item">
									<a class="comparison__link js-comparison__link" href>
										<span class="comparison__text">Варочные панели</span>
									</a>
								</li>
								<li class="comparison__item order">
									<a class="comparison__link js-compare_block-change active" data-id="31" href="">
										<span class="comparison__text">Оборудование для хранения</span>
									</a>
								</li>
							</ul>
							<span class="comparison__text">6 товаров в категории</span>
						</div>
						<div id="compare_table_button" class="comparison__button">
							<div class="comparison-menu__title">Показать</div>
							<a href="#" class="comparison__select js-comparison__select active" compare="ALL">
								<i></i>Все параметры
							</a>
							<a href="#" class="comparison__select js-comparison__select" compare="DIFF">
								<i></i> Различающиеся
							</a>
						</div>
						<a href="#" class="comparison__filter" compare="Delete">
							<i></i> Очистить список
						</a>

					</div>
				</td>
			</tr>
			<tr class="comparison__diagram">
				<td class=diagram>
					<div class="diagram__title">Лучшие характеристики и качествa</div>
					<div class="diagram__items">
						<div class="diagram__sidebar">
							<div class="diagram__tabs js-diagram__param1 active">Стоимость товара</div>
							<div class="diagram__tabs js-diagram__param2">Полезный объем холодильной камеры</div>
							<div class="diagram__tabs js-diagram__param3">Полезный объем морозильной камеры</div>
							<div class="diagram__tabs js-diagram__param4">Годовой расход электроэнергии</div>
							<div class="diagram__tabs js-diagram__param5">Годовой расход электроэнергии</div>
						</div>
						<div class="diagram__slider">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="schedule">
										<div class="diagram__text"></div>
									</div>
									<div class="diagram__item">
										<a href="#" data-param1=133000 data-param2=519 data-param3=0 data-param4=157
											data-param5=199 class="diagram__pic"></a>
										<a href="#" class="diagram__name">Liebherr IKF 3510 Comfort</a>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="schedule">
										<div class="diagram__text"></div>
									</div>
									<div class="diagram__item">
										<a href="#" data-param1=200000 data-param2=289 data-param3=0 data-param4=202
											data-param5=299 class="diagram__pic"></a>
										<a href="#" class="diagram__name">Liebherr EWTgw 3583 Vinidor</a>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="schedule">
										<div class="diagram__text"></div>
									</div>
									<div class="diagram__item">
										<a href="#" data-param1=240000 data-param2=262 data-param3=0 data-param4=122
											data-param5=399 class="diagram__pic"></a>
										<a href="#" class="diagram__name">Liebherr SBS 66I2 Premium NoFrost (SICN 3386 +
											ICN 3386)</a>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="schedule">
										<div class="diagram__text"></div>
									</div>
									<div class="diagram__item">
										<a href="#" data-param1=99000 data-param2=384 data-param3=0 data-param4=298
											data-param5=499 class="diagram__pic"></a>
										<a href="#" class="diagram__name">Liebherr IKF 3510 Comfort</a>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="schedule">
										<div class="diagram__text"></div>
									</div>
									<div class="diagram__item">
										<a href="#" data-param1=150000 data-param2=367 data-param3=0 data-param4=255
											data-param5=599 class="diagram__pic"></a>
										<a href="#" class="diagram__name">Liebherr IKF 3510 Comfort</a>

									</div>
								</div>
							</div>
						</div>
						<div class="diagram__maxvalue"></div>

					</div>
					<div class="diagram__next swiper-button-next special-offers_next"></div>
					<div class="diagram__prev swiper-button-prev special-offers_prev"></div>
				</td>
			</tr>
			<tr class="characteristic__title js-characteristic__title">
				<td class="">
					Общие харакетристики
				</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Индикация температуры</td>

			</tr>

			<tr class="characteristic__row">
				<td class="">FrostProtect&nbsp;— минимальная наружная температура при использовании
					в&nbsp;неотапливаемом помещении</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Тип очистки</td>

			</tr>
			<tr class="characteristic__title js-characteristic__title">
				<td class="">Дизайн</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Цвет</td>

			</tr>
			<tr class="characteristic__title js-characteristic__title">
				<td class="">
					Панель управления
				</td>
			</tr>
			<tr class="characteristic__row">
				<td class="">Тип управления</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Количество ящиков в морозильной камере на телескопических шинах</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Клавиши</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Переключатели</td>

			</tr>
			<tr class="characteristic__title js-characteristic__title">
				<td class="">
					Режим эксперт духовой шкаф
				</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Общее количество функций</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Режим SuperFrost с автоматическим отключением через 65 часов (макс.)</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Комбинированный нагрев</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Традиционный экономичный</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Поддержание в разогретом состоянии</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Разморозка</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Выпечка хлеба</td>

			</tr>
			<tr class="characteristic__title js-characteristic__title">
				<td class="">
					Камера духового шкафа
				</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Количество стекол дверцы духовки</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Съёмных стёкол</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Дверца с плавным закрыванием «Soft-close»</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Холодная дверца</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Объем, л</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Внутреннее освещение</td>

			</tr>
			<tr class="characteristic__title js-characteristic__title">
				<td class="">
					Энергопотребление
				</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Класс энергопотребления</td>

			</tr>
			<tr class="characteristic__title js-characteristic__title">
				<td class="">
					Комплектация
				</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Решетки</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Противень</td>

			</tr>
			<tr class="characteristic__title js-characteristic__title">
				<td class="">
					Размеры и вес
				</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Размеры ниши для встраивания, В х Ш х Г, мм</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Размеры прибора, В х Ш х Г, мм</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Размеры камеры, В х Ш х Г, мм</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Вес брутто, кг</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Вес нетто, кг</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Кабель без вилки в комплекте</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Напряжение, В</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Частота, Гц</td>

			</tr>
			<tr class="characteristic__row">
				<td class="">Сила тока, А</td>

			</tr>
		</thead>
		<tbody class="swiper-container swiper-container-comparison js-swiper-comparison">
			<tr class="products-line swiper-wrapper">
				<td class="swiper-slide">
					<div class="swiper__comparison">
						<a class="special-offers__pic" href="#">
							<img src="images/foto_1.jpg" class="special-offers__img">
						</a>
						<a href="#" class="special-offers__text">Винный шкаф Liebherr EWTgw 3583 Vinidor</a>
						<span class="catalog__presence">В наличии</span>
						<div class="special-offers__sale">
							<span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
							<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
						</div>
					</div>
					<a href="#" class="modal__close js-modal-close" title="Закрыть">×</a>
				</td>
				<td class="swiper-slide">
					<div class="swiper__comparison">

						<a class="special-offers__pic" href="#"><img src="images/foto_2.jpg"
								class="special-offers__img"></a>
						<a href="#" class="special-offers__text">Холодильник Liebherr SBS 66I2 Premium NoFrost (SICN
							3386 + ICN 3386)</a>
						<span class="catalog__presence">В наличии</span>
						<div class="special-offers__sale">
							<span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
							<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
						</div>
					</div>
					<a href="#" class="modal__close js-modal-close" title="Закрыть">×</a>
				</td>
				<td class="swiper-slide">
					<div class="swiper__comparison">

						<a class="special-offers__pic" href="#"><img src="images/foto_3.jpg"
								class="special-offers__img"></a>
						<a href="#" class="special-offers__text">Морозильник Liebherr GN 2723 Comfort NoFrost</a>
						<span class="catalog__presence">В наличии</span>
						<div class="special-offers__sale">
							<span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
							<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
						</div>
					</div>
					<a href="#" class="modal__close js-modal-close" title="Закрыть">×</a>
				</td>
				<td class="swiper-slide">
					<div class="swiper__comparison">

						<a class="special-offers__pic" href="#"><img src="images/foto_4.jpg"
								class="special-offers__img"></a>
						<a href="#" class="special-offers__text">Холодильник Liebherr SBS 66I2 Premium NoFrost (SICN
							3386 + ICN 3386)</a>
						<span class="catalog__presence">В наличии</span>
						<div class="special-offers__sale">
							<span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
							<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
						</div>
					</div>
					<a href="#" class="modal__close js-modal-close" title="Закрыть">×</a>
				</td>
				<td class="swiper-slide">
					<div class="swiper__comparison">

						<a class="special-offers__pic" href="#"><img src="images/foto_1.jpg"
								class="special-offers__img"></a>
						<a href="#" class="special-offers__text">Морозильник Liebherr GN 2723 Comfort NoFrost</a>
						<span class="catalog__presence">В наличии</span>
						<div class="special-offers__sale">
							<span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
							<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
						</div>
					</div>
					<a href="#" class="modal__close js-modal-close" title="Закрыть">×</a>
				</td>
			</tr>
			<tr class="comparison__diagram">

			</tr>
			<tr class="characteristic__title js-characteristic__title swiper-wrapper">
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
			</tr>
			<tr class="characteristic__row swiper-wrapper">
				<td class="swiper-block">холодильной камеры, морозильной камеры, винного отделения и отделения BioFresh
				</td>
				<td class="swiper-block">холодильной и морозильной камер, а также отделения BioFresh</td>
				<td class="swiper-block">холодильной и морозильной камер, а также отделения BioFresh</td>
				<td class="swiper-block">Multifunction Plus</td>
				<td class="swiper-block">Multifunction Plus</td>
			</tr>
			<tr class="characteristic__row swiper-wrapper">
				<td class="swiper-block">Электрический</td>
				<td class="swiper-block">Электрический</td>
				<td class="swiper-block">Электрический</td>
				<td class="swiper-block">Электрический</td>
				<td class="swiper-block">FrostProtect&nbsp;— минимальная наружная температура при использовании
					в&nbsp;неотапливаемом помещении</td>
			</tr>
			<tr class="characteristic__row swiper-wrapper">
				<td class="swiper-block">Пиролитическая</td>
				<td class="swiper-block">Пиролитическая</td>
				<td class="swiper-block">Пиролитическая</td>
				<td class="swiper-block">Пиролитическая</td>
				<td class="swiper-block">Пиролитическая</td>
			</tr>
			<tr class="characteristic__title js-characteristic__title swiper-wrapper">
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
			</tr>
			<tr class="characteristic__row swiper-wrapper">
				<td class="swiper-block">нержавеющая сталь с обработкой против отпечатков пальцев SmartSteel
					нержавеющая сталь с обработкой против отпечатков пальцев SmartSteel
				</td>
				<td class="swiper-block">Чёрный</td>
				<td class="swiper-block">Чёрный</td>
				<td class="swiper-block">Чёрный</td>
				<td class="swiper-block">Чёрный</td>
			</tr>
			<tr class="characteristic__title js-characteristic__title swiper-wrapper">
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Электронное</td>
				<td class="swiper-block">Электронное</td>
				<td class="swiper-block">Электронное</td>
				<td class="swiper-block">Электронное</td>
				<td class="swiper-block">Электронное</td>
			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Есть</td>
				<td class="swiper-block">Есть</td>
				<td class="swiper-block">Есть</td>
				<td class="swiper-block">Есть</td>
				<td class="swiper-block">Есть</td>
			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Сенсорные</td>
				<td class="swiper-block">Сенсорные</td>
				<td class="swiper-block">Сенсорные</td>
				<td class="swiper-block">Сенсорные</td>
				<td class="swiper-block">Сенсорные</td>
			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Поворотные</td>
				<td class="swiper-block">Поворотные</td>
				<td class="swiper-block">Поворотные</td>
				<td class="swiper-block">Поворотные</td>
				<td class="swiper-block">Поворотные</td>
			</tr>
			<tr class="characteristic__title js-characteristic__title swiper-wrapper">
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">9</td>
				<td class="swiper-block">9</td>
				<td class="swiper-block">9</td>
				<td class="swiper-block">9</td>
				<td class="swiper-block">9</td>
			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Да Да Да Да Да Да
					Да Да Да Да Да Да
				</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>

			</tr>
			<tr class="characteristic__title js-characteristic__title swiper-wrapper">

				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">4</td>
				<td class="swiper-block">4</td>
				<td class="swiper-block">4</td>
				<td class="swiper-block">4</td>
				<td class="swiper-block">4</td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">3</td>
				<td class="swiper-block">3</td>
				<td class="swiper-block">3</td>
				<td class="swiper-block">3</td>
				<td class="swiper-block">3</td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">73</td>
				<td class="swiper-block">73</td>
				<td class="swiper-block">73</td>
				<td class="swiper-block">73</td>
				<td class="swiper-block">73</td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Галогенное</td>
				<td class="swiper-block">Галогенное</td>
				<td class="swiper-block">Галогенное</td>
				<td class="swiper-block">Галогенное</td>
				<td class="swiper-block">Галогенное</td>

			</tr>
			<tr class="characteristic__title js-characteristic__title swiper-wrapper">

				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">А</td>
				<td class="swiper-block">А</td>
				<td class="swiper-block">А</td>
				<td class="swiper-block">А</td>
				<td class="swiper-block">А</td>

			</tr>
			<tr class="characteristic__title js-characteristic__title swiper-wrapper">

				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">2</td>
				<td class="swiper-block">2</td>
				<td class="swiper-block">2</td>
				<td class="swiper-block">2</td>
				<td class="swiper-block">2</td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">2</td>
				<td class="swiper-block">1</td>
				<td class="swiper-block">1</td>
				<td class="swiper-block">1</td>
				<td class="swiper-block">1</td>

			</tr>
			<tr class="characteristic__title js-characteristic__title swiper-wrapper">

				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>
				<td class="swiper-block"></td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">585 х 560 х 550</td>
				<td class="swiper-block">585 х 560 х 550</td>
				<td class="swiper-block">585 х 560 х 550</td>
				<td class="swiper-block">585 х 560 х 550</td>
				<td class="swiper-block">585 х 560 х 550</td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">592 х 592 х 909</td>
				<td class="swiper-block">592 х 592 х 909</td>
				<td class="swiper-block">592 х 592 х 909</td>
				<td class="swiper-block">592 х 592 х 909</td>
				<td class="swiper-block">592 х 592 х 609</td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">320 х 465 х 975</td>
				<td class="swiper-block">320 х 465 х 975</td>
				<td class="swiper-block">320 х 495 х 375</td>
				<td class="swiper-block">320 х 495 х 375</td>
				<td class="swiper-block">320 х 495 х 375</td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">38</td>
				<td class="swiper-block">38</td>
				<td class="swiper-block">39</td>
				<td class="swiper-block">39</td>
				<td class="swiper-block">39</td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">36</td>
				<td class="swiper-block">36</td>
				<td class="swiper-block">36</td>
				<td class="swiper-block">36</td>
				<td class="swiper-block">36</td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>
				<td class="swiper-block">Да</td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">220-240</td>
				<td class="swiper-block">220-240</td>
				<td class="swiper-block">220-240</td>
				<td class="swiper-block">220-240</td>
				<td class="swiper-block">220-240</td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">50-60</td>
				<td class="swiper-block">50-60</td>
				<td class="swiper-block">50-60</td>
				<td class="swiper-block">50-60</td>
				<td class="swiper-block">50-60</td>

			</tr>
			<tr class="characteristic__row swiper-wrapper">

				<td class="swiper-block">16</td>
				<td class="swiper-block">16</td>
				<td class="swiper-block">16</td>
				<td class="swiper-block">16</td>
				<td class="swiper-block">16</td>

			</tr>
		</tbody>
		<!-- If we need scrollbar -->
		<div class="swiper-pagination js-swiper-pagination"></div>
		<div class="swiper-button-prev js-swiper-prev  special-offers_prev"></div>
		<div class="swiper-button-next js-swiper-next special-offers_next"></div>
	</table>
</div>
