.comparison {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 19px;
	position: relative;
	padding-bottom: 30px;
	overflow: unset !important;
	width: 100%;

	thead {
		display: flex;
		flex-direction: column;

		// tr {
		// 	// border-top: 1px solid black !important;
		// 	border-bottom: 1px solid black !important;
		// }
	}

	tbody {
		display: flex;
		flex-direction: column;

		// tr {
		// 	// border-top: 1px solid red !important;
		// 	border-bottom: 1px solid red !important;
		// }
	}

	.special-offers__sale {
		margin-top: auto;
		flex-grow: unset;

		.special-offers__price {
			color: #333333;
			font-family: "Roboto Condensed";
			font-size: 20px;
			font-weight: 700;
			line-height: 24px;
		}
	}

	.title {
		margin-bottom: 24px;
	}

	.swiper-pagination {
		top: 19px;
		right: 100px;

		span:nth-child(even) {
			margin: 0 16px;
		}
	}


	&__middle {
		display: flex;
		max-width: 100%;
		width: 100%;
		position: relative;
	}

	.tabs {
		width: 25%;
		display: flex;
		flex-wrap: wrap;
		min-width: 290px;
	}

	.swiper-container {
		width: 75%;
		display: flex;
		flex-wrap: wrap;
		padding: 10px 0 15px !important;

		td {
			color: #2e2e2e;
			font-family: Arial,sans-serif;
			font-size: 14px;
			font-weight: 500;
			// line-height: 30px;
		}

		// tr{
		// 	border-bottom: 1px solid red;
		// }
	}

	td {
		height: 100%;
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1;
		letter-spacing: normal;
		text-align: left;
		color: #2e2e2e;

		&:after {
			content: '';
			position: absolute;
			width: 27px;
			right: -27px;
			background: inherit;
			border: inherit;
			height: 102%;
			top: 0;
			bottom: 0;
		}
	}

	.swiper-wrapper {
		height: auto;
		display: flex;
		box-sizing: border-box;
	}

	.swiper-slide,
	.swiper-block {
		padding-left: 17px;
		padding-top: 10px;
		padding-bottom: 10px;
		display: flex;
		flex: 0 0 calc(33% - 18px);
		width: calc(33% - 18px);
		margin-right: 27px;
		position: relative;
		align-items: stretch;
	}

	.products-line {
		.swiper-slide {
			padding-left: 0;
			align-items: baseline;
			height: auto;
		}

		.swiper__comparison_first {
			padding: 0;
			max-width: 300px;
		}
	}

	&__inner {
		padding: 17px 16px;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&-menu__title {
		color: #2e2e2e;
		font-family: "Roboto Condensed";
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: normal;
		text-align: left;
		margin-bottom: 10px;
	}

	&__list {
		display: flex;
		// flex-wrap: wrap;
		list-style: none;
		padding: 0;
		// height: 30px;
		max-height: 50px;
		margin: 16px 0 0;
		// background: white;
		border-radius: 2px;
		flex-direction: column;
		// overflow: hidden;
		border: solid 1px #d6d6d6;
		border-bottom: 0;
		background: url("https://icongr.am/entypo/triangle-down.svg") white calc(100% - 10px) 5px/15px no-repeat;

		&:hover {
			overflow: unset;

			.comparison__item {
				display: flex;
			}
		}

		&::after {
			content: '';
			width: calc(100% + 3px);
			margin: 0 -1.5px -1px;
			height: 100%;
			height: -moz-available;
			height: -webkit-fill-available;
			height: fill-available;
			border-top: solid 1px #d6d6d6;
			background: #f8f8f8;
		}
	}

	&__item {
		height: auto;
		border-left: solid 1px #d6d6d6;
		border-right: solid 1px #d6d6d6;
		background: white;
		z-index: 99;
		display: flex;
		flex: 1 0 100%;
		margin: 0 -1px;
		display: none;


		&.active {
			order: -1;
			background: transparent;
		}

		&.order {
			order: -1;
			background: transparent;
			border-top: 0;
			border-bottom: 0;
			display: flex;
		}

		// &:hover{
		// 	background-color: hsla(0,0%,93%,.29);
		// }

	}

	&__link {
		padding: 0px 14px;
		color: #2e2e2e;
		font-family: Arial,sans-serif;
		font-size: 14px;
		line-height: 25px;
		position: relative;
		text-decoration: none !important;

		&.active {
			pointer-events: none;
		}
	}

	&__button {
		padding: 17px 16px;
		display: flex;
		flex-direction: column;

		a {
			width: 100%;
			display: flex;
			padding-left: 24px;
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
			text-align: left;
			color: #2e2e2e;
			margin-bottom: 10px;
		}

		.comparison__select {
			background: url("../images/mamka.png") 0 /15px no-repeat;
			padding-top: 1px;
			padding-bottom: 1px;
			text-decoration: none !important;
		}

		.comparison__select.active {
			background: url("../images/papka.png") 0 /15px no-repeat;
		}
	}

	.comparison__filter {
		padding: 0 16px 16px 45px;
		background: url("../images/comparison-delete.svg") 21px 0px/12px no-repeat;
		color: #394791;
		margin-top: 16px;
		display: block !important;

		&.active {
			pointer-events: none;
		}
	}

	.open-all {
		color: #394791;
		font-family: Arial,sans-serif;
		font-size: 14px;
		line-height: 20px;
		margin-top: auto;
		padding: 0;
		position: relative;
		display: flex;


		&:before {
			content: 'Открыть все параметры';
		}

		&:after {
			width: 20px;
			content: '';
			background: url('https://icongr.am/entypo/chevron-small-down.svg?color=394791') 50% 50%/20px no-repeat;
		}


		&.active {
			color: #666666;


			&:before {
				content: 'Закрыть все параметры';
			}

			&:after {
				content: '';
				background: url('https://icongr.am/entypo/chevron-small-up.svg?color=666666') 50% 50%/20px no-repeat;
			}
		}
	}

	.characteristic {
		&__title {
			height: 52px;
			display: flex;
			width: 100%;
			color: #394791;
			font-family: "Roboto Condensed";
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: normal;
			text-align: left;
			// color: #333333;
			margin-bottom: 5px;
			// margin-top: 24px;
			text-transform: uppercase;
			// padding: 4px 27px;
			// background: red;
			transition: .5s;

			// &.active {
			// 	background: rgba(238, 238, 238, 0.4);
			// }

			// cursor: pointer;
			margin-bottom: 14px;

			td {
				color: #394791;
				font-family: "Roboto Condensed";
				font-size: 18px;
				font-weight: 400;
				line-height: 24px;
				white-space: nowrap;
				// background-color: #f8f8f8;
			}
		}

		&__row {
			width: 100%;
			// cursor: pointer;
			// max-height: 0;
			min-height: 34px;
			// overflow: hidden;
			border: 0;
			display: flex;
			// border-top: 1px solid black;
			// border-bottom: 1px solid #e8e8e8;


			&.active {
				display: flex !important;
				overflow: unset;

				td {
					border-bottom: 1px solid #e8e8e8;
				}
			}

			&.level {
				min-height: 69px;
			}

			&.level-2 {
				min-height: 99px;
			}
		}

		&__property {
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: left;
			color: #2e2e2e;
		}

		&__name {
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.93;
			letter-spacing: normal;
			text-align: left;
			color: #2e2e2e;
			flex: 1 1 25%;
			padding-left: 17px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}

	.modal__close {
		position: absolute;
		width: 12px;
		height: 16px;
		top: 20px;
		right: 15px;
		color: #b0b0b0;
		font-size: 20px;
		background: url("../images/comparison-delete-2.svg") no-repeat;
		color: transparent;
	}

	.swiper__comparison {
		padding: 20px;
		display: flex;
		// flex-wrap: wrap;
		flex-direction: column;
		align-items: flex-start;
		align-content: baseline;
		max-width: 100%;
		min-height: 330px;
		background: white;
		height: 100%;
		width: 100%;

		.special-offers__text {
			padding: 20px 0;
			// height: 100px;
			display: flex;
			max-height: unset;
			font-family: "Roboto Condensed";
			font-size: 18px;
			font-weight: 400;
			line-height: 26px;
			width: 100%;
		}

		.special-offers__pic {
			height: 200px;
		}
	}

	.swiper-button-prev {
		position: absolute;
		width: 34px;
		height: 34px;
		top: 38px;
		right: 50px;
		left: unset;
		background: url("../images/special-offers_prev.svg") 0/34px no-repeat;

		&:hover {
			background: url("../images/swiper-button-color-prev.svg") 0/34px no-repeat;
		}
	}

	.swiper-button-next {
		background: url("../images/special-offers_next.svg") 0/34px no-repeat;
		width: 34px;
		height: 34px;
		top: 38px;
		right: 0px;

		&:hover {
			background: url("../images/swiper-button-color-next.svg") 0/34px no-repeat;
		}
	}

	.swiper-scrollbar {
		display: flex;
		opacity: 1 !important;
		height: 10px !important;
		border-radius: 8.5px;
		background-color: #e6e6e6;
		width: 100%;
		position: absolute;
		bottom: 0;
		overflow: hidden;

		&-drag {
			height: 10px;
			border-radius: 8.5px;
			background-color: #394791;
		}
	}

	.comparison__text {
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1;
		letter-spacing: normal;
		text-align: left;
		color: #2e2e2e;
		margin-top: 17px;
	}

	&__main {
		padding: 10px 0 15px;
		width: 25%;
		display: flex;
		flex-direction: column;

		tr {

			width: 100%;
			display: flex;
			flex-direction: column;
			// display: flex !important;

			td {
				width: 100%;

				// height: 100%;
				.swiper__comparison_first {
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
				}
			}

			&.thead__comparison {
				min-height: 330px;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					// background: rebeccapurple;
					background-color: #f8f8f8;
					width: 1000%;
					height: 106%;
					z-index: -1;
					top: -11px;
					left: -300%;
				}
			}

			&.characteristic__title,
			&.characteristic__row {
				display: flex;
				z-index: 999;

				td {
					height: 100%;
					display: flex;
					align-items: center;
					padding: 10px 14px 10px 37px;
					position: relative;
				}
			}

			&.characteristic__row {
				td {
					color: #2e2e2e;
					font-family: Arial,sans-serif;
					font-size: 14px;
					font-weight: 700;
					// line-height: 30px;
				}
			}

			&.characteristic__title {
				position: relative;

				// &:before {
				// 	content: '';
				// 	position: absolute;
				// 	width: 20px;
				// 	height: 20px;
				// 	top: 15px;
				// 	left: 10px;
				// 	z-index: 99;
				// 	background: url('https://icongr.am/entypo/chevron-small-down.svg?color=666666')#f8f8f8 50% 50%/27px no-repeat;
				// }

				&.active {
					td {}

					&:before {
						transform: rotate(180deg);
						background: url('https://icongr.am/entypo/chevron-small-down.svg?color=394791')#f8f8f8 50% 50%/27px no-repeat;
					}
				}
			}

			&.thead__comparison {
				td {
					align-items: flex-start;
				}
			}
		}

		// tr{
		// 	border-bottom: 1px solid black !important;
		// }

	}

	.swiper-container-comparison {
		.comparison__diagram {
			width: 100%;
			max-width: 100%;
			height: 510px;
			margin: 36px 0 26px;
			display: block !important;
		}
	}

	&__main {
		.comparison__diagram {
			display: flex !important;
			margin: 36px 0 26px;
			width: 100%;
			max-width: 100%;
			height: 510px;
			background-color: #ffffff;

		}

		.diagram {
			position: absolute;
			max-width: 100%;
			width: 1172px;
			box-shadow: 0 2px 25px rgba(0, 0, 0, 0.14);
			max-height: 100%;
			height: inherit;
			display: flex;
			flex-direction: column;
			padding: 30px;
			z-index: 99;

			* {
				transition: 0.5s;
			}

			&::after {
				display: none;
			}

			&__title {
				color: #212121;
				font-family: "Roboto Condensed";
				font-size: 32px;
				font-weight: 400;
				width: 100%;
				margin-bottom: 50px;
			}

			&__items {
				width: 100%;
				height: 100%;
				display: flex;
				position: relative;
			}

			&__sidebar {
				display: flex;
				flex-direction: column;
				width: 200px;
				flex-shrink: 0;
				padding-top: 13px;
			}

			&__tabs {
				color: #394791;
				font-family: "Roboto Condensed";
				font-size: 14px;
				font-weight: 400;
				line-height: 18px;
				border-radius: 4px;
				border: 1px solid #eeeeee;
				background-color: #f8f8f8;
				text-align: center;
				margin-bottom: 13px;
				height: 46px;
				padding: 4px 10%;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;

				&.active {
					background-color: #394791;
					color: #ffffff;
					border: 0;
				}
			}

			&__slider {
				width: 100%;
				margin-left: 41px;
				overflow: hidden;
				position: relative;
				display: flex;
				background: linear-gradient(#e9e9e9 1px, #fff 0);
				background-size: 100% 59px;
				background-position: 100% 0px;
				padding-left: 25px;


				.swiper-slide {
					flex-direction: column;
					flex-basis: unset;
					padding: 0 0 0 0;
					// height: calc(100% - 74px);
					height: 80%;
					position: relative;
					margin-right: 0;

					&:first-child {}
				}

				.swiper-wrapper {
					height: 100%;

				}

				&:before {
					content: '0';
					position: absolute;
					bottom: 75px;
					left: 0px;
					color: #d6d6d6;
					font-family: Arial,sans-serif;
					font-size: 12px;
				}

				&:after {
					content: '';
					position: absolute;
					width: 150%;
					height: 70px;
					left: -10%;
					background: white;
					bottom: 0;
				}
			}

			&__next {
				background: url("../images/special-offers_next.svg") 0/34px no-repeat;
				top: 52px;
				right: 31px;
				width: 34px;
				height: 34px;

				&:hover {
					background: url("../images/swiper-button-color-next.svg") 0/34px no-repeat;
				}
			}

			&__prev {
				background: url("../images/special-offers_prev.svg") 0/34px no-repeat;
				position: absolute;
				top: 52px;
				right: 78px;
				left: unset;
				width: 34px;
				height: 34px;

				&:hover {
					background: url("../images/swiper-button-color-prev.svg") 0/34px no-repeat;
				}
			}

			&__item {
				height: 74px;
				width: inherit;
				position: absolute;
				// display: flex;
				padding: 14px 0 0;
				bottom: -74px;
				background: white;
				display: none;
			}

			&__pic {
				width: 0px;
				height: 0px;
				flex-shrink: 0;
				display: flex;
				justify-content: center;
				display: none;

				img {
					width: auto;
					height: 100%;
				}
			}

			&__name {
				width: 100%;
				padding: 0 12px;
				color: #394791;
				font-family: Arial,sans-serif;
				font-size: 14px;
				line-height: 1;
			}

			.data {
				display: none;
			}

			.schedule {
				margin-top: auto;
				width: 100%;
				background-image: linear-gradient(to top, #9da7db 0%, #394791 100%);
			}

			.diagram__maxvalue {
				position: absolute;
				top: -15px;
				left: 243px;
				color: #d6d6d6;
				font-family: Arial,sans-serif;
				font-size: 12px;
			}

			&__text {
				color: #ffffff;
				font-family: "Roboto Condensed";
				font-size: 14px;
				font-weight: 400;
				padding: 10px 0 0 10px;
			}
		}
	}

	&.fixed {
		.fixed-header {
			top: 0;
		}


	}

	.fixed-header {
		position: fixed;
		height: 100px;
		z-index: 9999999;
		top: -999px;
		flex-wrap: nowrap;
		display: flex;
		box-shadow: 0 2px 25px rgba(0, 0, 0, .14);
		background: white;

		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: -50%;
			background: inherit;
			box-shadow: inherit;
		}

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			right: -50%;
			background: inherit;
			box-shadow: inherit;
		}

		.title {
			width: 23%;
			color: #2e2e2e;
			font-family: "Roboto Condensed";
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;
			height: 100%;
			z-index: 99;
			flex-shrink: 0;
			padding: 5px 0;
		}

		.swiper-container {
			background: white;
			width: 77%;
			padding-right: 27px !important;
		}

		.swiper-wrapper {
			height: 100%;
		}

		.swiper-slide {
			flex: 0 0 auto;
			padding-left: 28px;

			// &:nth-child(1) {

			// }

			// &:nth-child(2) {
			// 	background: yellow;
			// }

			// &:nth-child(3) {
			// 	background: green;
			// }

			// &:nth-child(4) {
			// 	background: purple;
			// }

			// &:nth-child(5) {
			// 	background: blue;
			// }
		}

		.swiper-button-next,
		.swiper-button-prev {
			z-index: 99999 !important;
			top: 61%;
		}

		.swiper-button-next {
			z-index: 999;
			left: 50px;
		}

		.swiper-button-prev {
			z-index: 999;
			left: 0px;
		}

		.swiper-pagination {
			left: 100px;
			width: fit-content;
			height: fit-content;
			top: 43%;
			z-index: 9999;
		}

		&__pic {
			width: 80px;
			margin-right: 20px;
			display: flex;
		}

		&__text {
			line-height: 1;
			color: #394791;
			font-family: Arial,sans-serif;
			font-size: 14px;
			line-height: 20px;
		}
	}

	@media screen and (max-width: 767px) {

		.fixed-header {
			max-width: 100%;
			height: unset;
			// display: none;

			.title {
				display: none;
			}

			.swiper-slide {
				flex: 1 0 auto !important;
				padding-left: 5px;
			}

			.swiper-wrapper {
				height: 90%;
				margin-top: auto;
				padding-bottom: 15px;
				width: 100%;
			}

			&__pic {
				display: none;
			}

			.swiper-container {
				margin-top: 30px;
				padding-right: 0 !important;
				max-width: 100%;
			}

			.fixed-header-next {
				right: 0;
				left: unset;
				top: 30px;
			}

			.fixed-header-prev {
				left: 0;
				top: 30px;
			}

			.swiper-pagination {
				top: 5px;
				transform: translateX(-50%);
				height: 50px;
				background: white;
				left: 50%;
				width: 80%;
				z-index: 9999;
			}

			.fixed-header__text {
				color: #394791;
				font-family: Arial,sans-serif;
				font-size: 14px;
				line-height: 20px;
			}
		}

		.swiper-container-comparison .comparison__diagram,
		&__main .comparison__diagram {
			height: 350px;
			margin-bottom: 60px;
		}

		thead {
			position: absolute;
			width: 100% !important;
			// z-index: 999;
			padding-top: 0;
			display: flex;
			flex-direction: column;

			tr {
				position: relative;
				background: unset !important;
				width: 100%;

				&:first-child {
					height: unset;
					display: flex;
				}

				&:hover {
					background-color: unset !important;

					td {
						background-color: unset !important;
					}
				}

				&.characteristic__title {
					background-color: #f8f8f8 !important;

					td {
						width: unset;
						align-items: center !important;
						color: #2e2e2e;
						font-family: "Roboto Condensed";
						font-size: 14px;
						font-weight: 400;
						line-height: 24px;
						display: flex;
						justify-content: center;

						&:after {
							display: none;
						}
					}

					&:before {
						top: 10px;
						background-size: 18px !important;
					}
				}

				&.characteristic__row {

					// border-bottom: none;
					td {
						padding: 0 0 0px 0 !important;
						border: 0 !important;
						font-family: Arial,sans-serif;
						font-size: 14px;
						font-weight: 700;
						line-height: 20px;


						&:after {
							display: none;
						}
					}
				}
			}

			td {
				width: 100% !important;
				align-items: flex-start !important;
				border: 0;
				background: transparent;
				width: 100%;
				// height: unset !important;
				font-size: 12px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: 1;
				letter-spacing: normal;
				text-align: left;
				color: #2e2e2e;
				top: unset;
				padding: 10px 0 0px 5px !important;


				.swiper__comparison_first.js-comparison-height {
					width: 100%;
					height: auto !important;
					padding-bottom: 60px;
				}


			}

			.comparison__inner {
				width: 100%;
				padding: 15px 0;
				margin-bottom: 10px;
			}

			.thead__comparison {

				// margin-bottom: 330px;
				td {
					padding: 0 !important;

				}
			}

			.diagram {
				box-shadow: unset;
				z-index: 999999;
				padding-left: 0 !important;

				&__title {
					color: #212121;
					font-family: "Roboto Condensed";
					font-size: 22px;
					font-weight: 400;
					text-align: center;
					margin-bottom: 21px;
					line-height: 26px;
				}

				.diagram__next,
				.diagram__prev,
				.diagram__maxvalue {
					display: none;
				}

				.diagram__items {
					flex-direction: column;
				}

				.diagram__sidebar {
					width: 100%;
					height: 46px;
					padding: 0;
					overflow: hidden;
					margin-bottom: 16px;



					&.active {
						overflow: visible;
						z-index: 999;
						background: white;
						position: relative;

						&:after {
							content: '';
							width: 100%;
							height: 300px;
							position: absolute;
							top: 0;
							left: 0;
							background: white;
						}

						.diagram__tabs {
							z-index: 9999;
						}
					}
				}

				.diagram__tabs {
					border-radius: 2px;
					border: 1px solid #d6d6d6;
					background-color: #ffffff;
					color: #2e2e2e;
					font-family: Arial,sans-serif;
					font-size: 14px;
					text-align: left;
					justify-content: flex-start;
					padding: 9px 12px 12px;
					height: unset;
					min-height: unset;
					align-items: baseline;
					flex-shrink: 0;

					&.active {
						order: -1;
						background: url("https://icongr.am/entypo/triangle-down.svg") 98%/10px no-repeat;
					}
				}

				.diagram__slider {
					width: 100%;
					margin-left: 0;
					height: 100%;
					padding-left: 0;
					background-size: 100% 10%;

					&:before {
						display: none;
					}
				}

				.diagram__pic {
					height: 0;
					width: 0;
					opacity: 0;
				}

				.diagram__item {
					padding-top: 25px;
					display: flex;
				}

				.diagram__name {
					text-align: center;
					color: #394791;
					font-family: Arial,sans-serif;
					font-size: 14px;
					line-height: 20px;
					padding: 0 6px;
				}

				.swiper-wrapper {
					padding-bottom: 30px;
				}
			}
		}

		.swiper-container {
			// margin-top: 333px;
			flex-wrap: nowrap;
			flex-direction: column;
			justify-content: center;
			width: 100% !important;
			padding: 0 !important;
			z-index: 9999;

			.characteristic__row {
				&.level {
					td {
						padding-top: 45px;
					}
				}

				&.level-2 {
					td {
						padding-top: 70px;
					}
				}
			}
		}

		.characteristic__row {
			position: relative;
			padding-top: 1px;
			// margin-top: 10px;

			&.level {
				min-height: 69px;
			}

			&.level-2 {
				min-height: 99px;
			}
		}

		.characteristic__title {
			height: 40px;


			td {
				padding: 0 !important;
			}
		}

		&__item {
			width: calc(100% + 2px);

			&.order {
				background: url("https://icongr.am/entypo/triangle-down.svg") white calc(100% - 4px) 11px/15px no-repeat;
			}
		}

		.swiper-block {
			padding-top: 28px;
			font-size: 12px !important;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: normal;
			text-align: left;
			color: #2e2e2e;
			flex: 1 0 calc(50% - 8px) !important;
			width: 50%;
			padding-left: 5px;
			height: 100%;
			margin-right: 16px;
			justify-content: flex-start !important;
		}

		.swiper-pagination {
			display: block;
			// top: 375px;
			bottom: unset;
			height: unset;
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 2;
			letter-spacing: normal;
			color: #2e2e2e;
			right: unset;
			transform: translateX(-50%);
			left: 50%;

		}

		.swiper-pagination span:nth-child(2n) {
			margin: 0;
		}

		.swiper-button-prev {
			top: 390px;
			left: 0;
		}

		.swiper-button-next {
			top: 390px;
			right: 0;
		}



		.special-offers__buy {
			background-image: none;
			@include button;
			display: flex;
			align-items: center;
			font-size: 12px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 2;
			letter-spacing: normal;
			text-align: left;
			color: #ffffff;
			width: 100%;
		}

		.special-offers__sale {
			flex-direction: column;
		}

		.comparison .swiper__comparison {
			padding: 10px;
		}

		.characteristic__title {
			.swiper-block {
				position: absolute;
				width: 100%;
				display: flex;
				justify-content: center;
				padding-left: 0;
				background: transparent;
			}
		}

		.comparison__list {
			margin-top: 0;
			margin-bottom: 18px;
			// height: 40px;

			&.active {
				overflow: unset;
			}
		}

		.comparison__button {
			padding-left: 0;
			padding-top: 0;
			margin-bottom: 8px;

			.comparison-menu__title {
				margin-bottom: 19px;
			}

			.comparison__filter {
				margin-top: 13px;
			}
		}

		.products-line {
			z-index: 999999;
			position: relative;

			.swiper-slide {
				height: unset;
				flex: 1 0 calc(50% - 8px) !important;
				padding: 0;
			}
		}

		.thead__comparison {
			// min-height: unset !important;
		}

		.swiper__comparison {
			width: 100%;
			padding: 23px 12px 12px;
			// height: 100%;
			max-height: 100%;
			min-height: unset !important;
			align-content: unset;

			.special-offers__pic {
				width: 100%;
				max-height: 145px;
				// height: 100%;
			}

			.special-offers__text {
				color: #333333;
				font-family: "Roboto Condensed";
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				height: unset;
				padding-top: 16px;
				padding-bottom: 9px;
			}

			.special-offers__price {
				color: #333333;
				font-family: "Roboto Condensed";
				font-size: 16px;
				font-weight: 700;
				line-height: 24px;
				width: 100%;
				margin-top: 0;
				flex-wrap: nowrap;
				margin-bottom: 10px;

				.special-offers__rub {
					color: #333333;
					font-family: "Roboto Condensed";
					font-size: 16px;
					font-weight: 700;
					line-height: 24px;
				}
			}

		}

		.modal__close {
			top: 8px;
			right: 8px;
		}

		.open-all {
			display: none;
		}

		.comparison__filter {
			margin-top: 0;
			padding-left: 30px;
			background-position: 5px 0;
			color: #394791;
			font-family: Arial,sans-serif;
			font-size: 14px;
		}

		&__main tr.thead__comparison:before {
			height: 239%;
		}

		.comparison-menu__title {
			line-height: 1;
			margin-bottom: 19px;
		}

		.comparison__link {
			padding: 11px 12px;
			line-height: 1;
			text-decoration: none !important;
		}

		.comparison__text {
			margin-top: 0;
		}

		.comparison__select {
			padding-left: 31px;
			background: url(../images/mamka.png) 3px/16px no-repeat;

			&.active {
				background: url(../images/papka.png) 3px/16px no-repeat;
			}
		}
	}

	@media screen and (max-width: 320px) {
		thead tr.characteristic__title td {
			font-size: 13px;
		}
	}
}
