<div class="breadcrumbs">
    <a href="#" class="breadcrumbs__link">Liebherr</a>
    <span class="breadcrumbs__sep">/</span>
    <span class="breadcrumbs__text">Акции и статьи</span>
</div>
<h1 class="title title_margin">Акции и статьи</h1>
<div class="d-flex flex-column flex-md-row">
    <div class="col-md-3">
        <form class="filter__form filter closed filter__article" action="" method="get" id="products-filter">
            <input type="hidden" name="F[SET_FILTER]" id="SET_FILTER" value="Y">

            <div class="filter__item">
                <div class="filter__title">Материал</div>
                <div class="filter__checkbox">
                    <label class="checkbox checkbox_oferta ">
                        <input type="checkbox" name="" class="checkbox__input" checked="">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text"> Статьи</span>
                    </label>
                    <label class="checkbox checkbox_oferta ">
                        <input type="checkbox" name="" class="checkbox__input" checked="">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text"> Акции</span>
                    </label>
                </div>
            </div>
            <div class="filter__item">
                <div class="filter__title">Цвет</div>
                <div class="filter__checkbox">
                    <a class="filter__tags" href="#" title="">
                        <span class="checkbox-custom">
                            Советы
                        </span>
                        <span class="checkbox-number">13</span>
                    </a>
                    <a class="filter__tags" href="#" title="">
                        <span class="checkbox-custom">Акции</span>

                        <span class="checkbox-number">13</span>
                    </a>
                    <a class="filter__tags" href="#" title="">
                        <span class="checkbox-custom">Акции</span>

                        <span class="checkbox-number">13</span>
                    </a>
                    <a class="filter__tags" href="#" title="">
                        <span class="checkbox-custom">Кухня</span>

                        <span class="checkbox-number">13</span>
                    </a>
                    <a class="filter__tags" href="#" title="">
                        <span class="checkbox-custom">Ремонт
                        </span>
                        <span class="checkbox-number">13</span>
                    </a>
                    <a class="filter__tags" href="#" title="">
                        <span class="checkbox-custom">Холодильник</span>
                        <span class="checkbox-number">13</span>
                    </a>
                </div>
                <a href="#" class="catalog__simile">Показать еще</a>
            </div>
            <div class="filter__item item__close">
                <span class="close__filter">
                    Открыть
                </span>
                <span class="close__filter">
                    Закрыть
                </span>
            </div>
        </form>
        {% include 'section/sidebar/sidebar.html' %}
    </div>
    <div class="col-md-9">
        <div class="articles__items">
            <div class="articles__item">
                <a class="articles__pic" href="#"><img src="images/articles_1.jpg" srcset="images/articles_1@2x.jpg 2x,images/articles_1@3x.jpg 3x"
                        class="articles__img"></a>
                <a href="#" class="articles__text">Как правильно разморозить
                    холодильник Либхер</a>
                <span class="articles__date">25 марта 2018</span>
                <span class="articles__info">Проблема разморозки холодильника рано или поздно встает перед любой
                    хозяйкой. Этого требуют экономичность и чистоплотность, ведь …</span>
            </div>
            <div class="articles__item">
                <a class="articles__pic" href="#"> <img src="images/articles_2.jpg" srcset="images/articles_2@2x.jpg 2x,images/articles_2@3x.jpg 3x"
                        class="articles__img"></a>
                <a href="#" class="articles__text">Преимущества холодильников
                    Liebherr Side-by-Side </a>
                <span class="articles__date">25 марта 2018</span>
                <span class="articles__info">Side-by-Side — самые вместительные холодильники Liebherr. Благодаря
                    широкому ассортименту моделей подыскать оптимальный вариант …</span>
            </div>
            <div class="articles__item">
                <a class="articles__pic" href="#"><img src="images/articles_3.jpg" srcset="images/articles_3@2x.jpg 2x,images/articles_3@3x.jpg 3x"
                        class="articles__img"></a>
                <a href="#" class="articles__text">Сравнение холодильника LiebherrCNbs 4015 Comfort NoFrost и Liebherr
                    CN 4813 </a>
                <span class="articles__date">25 марта 2018</span>
                <span class="articles__info">Холодильники Либхер сочетают доступную цену и надежное немецкое качество.
                    Современные технологии позволяют …</span>
            </div>
            <div class="articles__item">
                <a class="articles__pic" href="#"><img src="images/articles_4.jpg" srcset="images/articles_4@2x.jpg 2x,images/articles_4@3x.jpg 3x"
                        class="articles__img"></a>
                <a href="#" class="articles__text">Новые холодильники Liebherr</a>
                <span class="articles__date">25 марта 2018</span>
                <span class="articles__info">Производитель Liebherr порадовал обновлением ассортимента моделей. В новом
                    сезоне 2018 года с конвейера выпущено около 30 моделей …</span>
            </div>
            <div class="articles__item">
                <a class="articles__pic" href="#"><img src="images/articles_1.jpg" srcset="images/articles_1@2x.jpg 2x,images/articles_1@3x.jpg 3x"
                        class="articles__img"></a>
                <a href="#" class="articles__text">Как правильно разморозить
                    холодильник Либхер</a>
                <span class="articles__date">25 марта 2018</span>
                <span class="articles__info">Проблема разморозки холодильника рано или поздно встает перед любой
                    хозяйкой. Этого требуют экономичность и чистоплотность, ведь скопление …</span>
            </div>
            <div class="articles__item">
                <a class="articles__pic" href="#"> <img src="images/articles_2.jpg" srcset="images/articles_2@2x.jpg 2x,images/articles_2@3x.jpg 3x"
                        class="articles__img"></a>
                <a href="#" class="articles__text">Преимущества холодильников
                    Liebherr Side-by-Side </a>
                <span class="articles__date">25 марта 2018</span>
                <span class="articles__info">Side-by-Side — самые вместительные холодильники Liebherr. Благодаря
                    широкому ассортименту моделей подыскать оптимальный вариант …</span>
            </div>
            <div class="articles__item">
                <a class="articles__pic" href="#"><img src="images/articles_3.jpg" srcset="images/articles_3@2x.jpg 2x,images/articles_3@3x.jpg 3x"
                        class="articles__img"></a>
                <a href="#" class="articles__text">Сравнение холодильника LiebherrCNbs 4015 Comfort NoFrost и Liebherr
                    CN 4813 </a>
                <span class="articles__date">25 марта 2018</span>
                <span class="articles__info">Холодильники Либхер сочетают доступную цену и надежное немецкое качество.
                    Современные технологии позволяют выпускать …</span>
            </div>
            <div class="articles__item">
                <a class="articles__pic" href="#"><img src="images/articles_4.jpg" srcset="images/articles_4@2x.jpg 2x,images/articles_4@3x.jpg 3x"
                        class="articles__img"></a>
                <a href="#" class="articles__text">Новые холодильники Liebherr</a>
                <span class="articles__date">25 марта 2018</span>
                <span class="articles__info">Производитель Liebherr порадовал обновлением ассортимента моделей. В новом
                    сезоне 2018 года с конвейера выпущено около 30 моделей …</span>
            </div>
            <div class="articles__item">
                <a class="articles__pic" href="#"><img src="images/articles_1.jpg" srcset="images/articles_1@2x.jpg 2x,images/articles_1@3x.jpg 3x"
                        class="articles__img"></a>
                <a href="#" class="articles__text">Как правильно разморозить
                    холодильник Либхер</a>
                <span class="articles__date">25 марта 2018</span>
                <span class="articles__info">Проблема разморозки холодильника рано или поздно встает перед любой
                    хозяйкой. Этого требуют экономичность и чистоплотность, ведь скопление …</span>
            </div>
            <div class="articles__item">
                <a class="articles__pic" href="#"> <img src="images/articles_2.jpg" srcset="images/articles_2@2x.jpg 2x,images/articles_2@3x.jpg 3x"
                        class="articles__img"></a>
                <a href="#" class="articles__text">Преимущества холодильников
                    Liebherr Side-by-Side </a>
                <span class="articles__date">25 марта 2018</span>
                <span class="articles__info">Side-by-Side — самые вместительные холодильники Liebherr. Благодаря
                    широкому ассортименту моделей подыскать оптимальный вариант …</span>
            </div>
            <div class="articles__item">
                <a class="articles__pic" href="#"><img src="images/articles_3.jpg" srcset="images/articles_3@2x.jpg 2x,images/articles_3@3x.jpg 3x"
                        class="articles__img"></a>
                <a href="#" class="articles__text">Сравнение холодильника LiebherrCNbs 4015 Comfort NoFrost и Liebherr
                    CN 4813 </a>
                <span class="articles__date">25 марта 2018</span>
                <span class="articles__info">Холодильники Либхер сочетают доступную цену и надежное немецкое качество.
                    Современные технологии позволяют выпускать …</span>
            </div>
            <div class="articles__item">
                <a class="articles__pic" href="#"><img src="images/articles_4.jpg" srcset="images/articles_4@2x.jpg 2x,images/articles_4@3x.jpg 3x"
                        class="articles__img"></a>
                <a href="#" class="articles__text">Новые холодильники Liebherr</a>
                <span class="articles__date">25 марта 2018</span>
                <span class="articles__info">Производитель Liebherr порадовал обновлением ассортимента моделей. В новом
                    сезоне 2018 года с конвейера выпущено около 30 моделей …</span>
            </div>

        </div>
        <div class="articles__list">
            {% include 'pagination/pagination.html' %}
            <a class="load-more" href="#">Загрузить еще</a>
            {% include 'section/sidebar/sidebar.html' %}
        </div>
    </div>

</div>