<div class="d-flex flex-column-reverse flex-md-row">
    <div class="col-md-3">
        {% include 'section/sidebar/sidebar.html' %}
    </div>
    <div class="col-md-9">
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">Liebherr</a>
            <span class="breadcrumbs__sep">/</span>
            <span class="breadcrumbs__text">подключение</span>
        </div>
        <h1 class="title">
            Официальная гарантия
        </h1>
        <div class="text-default">
            <img src="{{src}}баннер.png" alt="" class="shipping-payment__pic">
            <h3>
                Для размещения заявок на ремонт холодильного оборудования необходимо воспользоваться телефоном
                бесплатной горячей линии: 8 (800) 100-34-55. Или же обратиться напрямую в один из ближайших к Вам
                авторизованных сервисных центров.
            </h3>
            <p>
                <b>При доставке техники</b>
                Проверьте правильность заполнения гарантийного свидетельства. В нем должны быть указана дата продажи и
                проставлен штамп магазина. Если такая информация отсутствует, началом срока гарантии считается время
                изготовления прибора.
            </p>
            <p>
                Обратите внимание на отсутствие у товара механических повреждений и на наличие комплектующих. Технику
                должны устанавливать специалисты сервисного центра. Гарантия не распространяется на недостатки в работе
                прибора, которые возникли вследствие неправильной установки.
            </p>
            <p>
                <b>Условия гарантии</b>
                На технику Liebherr распространяется гарантия в течение двух лет с момента продажи. Гарантия действует
                только на приборы, которые эксплуатировались в домашних условиях.
            </p>
            <p>
                Срок гарантии на комплектующие — три месяца. Комплектующими считаются изделия, которые можно
                демонтировать без использования инструментов: полки, корзины, ящики, решетки, насадки, шланги. Такой же
                срок — 3 месяца — действует на новые комплектующие, которые были установлены при проведении
                гарантийного либо платного ремонта.
            </p>
            <ul>
                Снятие с гарантии
                <p>Гарантия производителя не распространяется, если:</p>
                <li>
                    не были соблюдены требования, прописанные в инструкции;
                </li>
                <li>
                    товар был поврежден при неправильной транспортировке, установке либо эксплуатации;
                </li>
                <li>
                    неисправности возникли при перегрузке;
                </li>
                <li>
                    в конструкцию товара были внесены изменения неуполномоченными лицами;
                </li>
                <li>
                    продуктовых или серийных номеров нет либо они читаются неразборчиво;
                </li>
                <li>
                    недостатки были вызваны причинами, которые не зависят от производителя, в том числе: перепадами
                    напряжения в электросети (по ГОСТу 13109-97 и локальным государственным стандартам), стихийными
                    бедствиями и пожарами, действиями домашних и диких животных, а также попадания внутрь посторонних
                    предметов и жидкостей;
                </li>
                <li>
                    повреждения деталей и комплектующих произошли из-за естественного износа, например, перегорела
                    лампа или был загрязнен фильтр.
                </li>
            </ul>
            <p>
                Согласно законодательству, на технику установлен срок службы 10 лет с момента продажи. Перед
                эксплуатацией товара необходимо ознакомиться с приложенной документацией. Правила безопасного и
                эффективного использования товаров изложены в инструкции по эксплуатации.
            </p>
            <div class="maps">
                <h2>
                    Сервисные центры Liebherr по обслуживанию бытовой техники в Москве:
                </h2>
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A4f1b05c361c1e26b8254ea41b64bd72bc9426743f38c95247c3c30359a2d8079&amp;source=constructor"
                    width="100%" height="440" frameborder="0"></iframe>
            </div>
            <h2>
                Сервисные центры Liebherr по обслуживанию бытовой техники в регионах РФ:
            </h2>
            <a data-url="ajax/warranty.html" data-ajax class="warranty__button" href="#">Посмотреть сервисные центры</a>
        </div>
    </div>
</div>