<div class="d-flex flex-column-reverse flex-md-row">
    <div class="col-md-3">
        {% include 'section/sidebar/sidebar.html' %}
    </div>
    <div class="col-md-9">

        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">Liebherr</a>
            <span class="breadcrumbs__sep">/</span>
            <span class="breadcrumbs__text">подключение</span>
        </div>
        <h1 class="title">
            Установка и подключение оборудования Liebherr
        </h1>
        <div class="text-default">
            <img src="{{src}}service2.png" alt="" class="shipping-payment__pic">
            <p>
                Вся техника Liebherr устанавливается и подключается нашим партнерским сервисным центром. Корректная
                установка и правильный ввод в эксплуатацию крайне важны для долгого срока службы бытовой техники.
            </p>
            <p>
                Выезд специалистов возможен во все районы Москвы и Подмосковья.
            </p>
            <p>
                Заявки на подключение принимаются по телефону <a href="tel:+74951912618" class="shipping-payment__number">
                    +7 (495) 191-26-18</a>
            </p>
            <h3>
                Стоимость услуг сервисного центра
            </h3>
            <table style="border-collapse: collapse;" class="table" cellspacing="1" cellpadding="1" border="0">
                <tbody>
                    <tr class="table_tr">
                        <td class="table_td">Стандартная
                            установка отдельностоящих холодильников</td>
                        <td class="table_td">1600&nbsp;руб.</td>
                    </tr>

                    <tr class="table_tr">
                        <td class="table_td">Стандартная установка
                            встраиваемых холодильников</td>
                        <td class="table_td">1900&nbsp;руб.</td>
                    </tr>

                    <tr class="table_tr">
                        <td class="table_td">Установка
                            отдельностоящих холодильников Side-by-Side</td>
                        <td class="table_td">2500&nbsp;руб.</td>
                    </tr>

                    <tr class="table_tr">
                        <td class="table_td">Установка
                            холодильников Side-by-Side из двух частей</td>
                        <td class="table_td">2500
                            руб.</td>
                    </tr>

                    <tr class="table_tr">
                        <td class="table_td">Установка
                            холодильников Side-by-Side из двух частей с подключением к воде</td>
                        <td class="table_td">4000
                            руб.</td>
                    </tr>

                    <tr class="table_tr">
                        <td class="table_td">Демонтаж старого

                            прибора</td>
                        <td class="table_td">
                            от 700 руб.</td>
                    </tr>

                    <tr class="table_tr">
                        <td class="table_td">Выезд за МКАД (+ к
                            стоимости заказа).</td>
                        <td class="table_td">40
                            руб./км</td>
                    </tr>

                    <tr class="table_tr">
                        <td class="table_td">Минимальная стоимость
                            выезда мастера (+ к стоимости заказа).</td>
                        <td class="table_td">1600
                            руб.</td>
                    </tr>
                </tbody>
            </table>
            <p>
                Подробную информацию о стоимости услуг сервисного центра вы можете уточнить у нашего консультанта по
                телефону<a href="tel:+74951912618" class="shipping-payment__number"> +7 (495) 191-26-18</a>
            </p>

            <strong>
                Гарантия на выполненные работы и установленный материал 2 года!
            </strong>


            <p>
                Размещения заявок на ремонт в сервисные центры по всей России —
                <a href="tel:8(800)100-34-55" class="shipping-payment__number">8 (800) 100-34-55</a>
            </p>
        </div>
    </div>
</div>