<div class="special-offers">
	<div class="container">
		<span class="special-offers__title">Спецпредложения</span>
		<!-- Slider main container -->
		<div class="swiper-container swiper-container-two  js-swiper-two">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper special-offers__wrapper">
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"><img src="images/foto_1.jpg" 
						 class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Холодильник Liebherr IKF 3510
						Comfort</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"><img src="images/foto_2.jpg" 
						 class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Винный шкаф Liebherr EWTgw
						3583 Vinidor</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"><img src="images/foto_3.jpg" 
						 class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Холодильник Liebherr SBS 66I2</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"> <img src="images/foto_4.jpg" 
						 class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Морозильник Liebherr GN 2723
						Comfort NoFrost</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"><img src="images/foto_1.jpg" 
						 class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Холодильник Liebherr IKF 3510
						Comfort</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"><img src="images/foto_2.jpg" 
						 class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Винный шкаф Liebherr EWTgw
						3583 Vinidor</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"><img src="images/foto_3.jpg" 
						 class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Premium NoFrost (SICN 3386 + </a>
					<div class="special-offers__sale">
						<span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"> <img src="images/foto_4.jpg" 
						 class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Морозильник Liebherr GN 2723
						Comfort NoFrost</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"><img src="images/foto_1.jpg" 
						 class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Холодильник Liebherr IKF 3510
						Comfort</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"><img src="images/foto_2.jpg" 
						 class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Винный шкаф Liebherr EWTgw
						3583 Vinidor</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"><img src="images/foto_3.jpg" 
						 class="special-offers__img"></a>
					<a href="#" class="special-offers__text">ICN 3386)</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide">
					<a class="special-offers__pic" href="#"> <img src="images/foto_4.jpg" 
						 class="special-offers__img"></a>
					<a href="#" class="special-offers__text">Морозильник Liebherr GN 2723
						Comfort NoFrost</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
					</div>
				</div>
			</div>
			<!-- If we need pagination -->

			<!-- If we need navigation buttons -->
			<!-- If we need scrollbar -->
			<div class="swiper-scrollbar"></div>
		</div>
		<div class="swiper-pagination_2"></div>
		<div class="swiper-button-prev special-offers_prev"></div>
		<div class="swiper-button-next special-offers_next"></div>
	</div>

</div>