<div class="d-flex flex-column-reverse flex-md-row">
    <div class="col-md-3">
        {% include 'section/sidebar/sidebar.html' %}
    </div>
    <div class="col-md-9">
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">Liebherr</a>
            <span class="breadcrumbs__sep">/</span>
            <span class="breadcrumbs__text">Контакты</span>
        </div>
        <h1 class="title">
            Результат поиска
        </h1>
        <div class="search-found ">
            <div class="search-found__item">
                <form class="search-found__form" action="" method="get">
                    <input type="text" name="q" placeholder="Чайник" value=""><input type="submit" value="Найти" class="btn-sub3 abuse-popup__submit"
                        name="">
                </form>
            </div>
            <div class="search-found__item">
                <span class="search__info">По запросу «Чайник/ ничего не найдено</span>
            </div>
        </div>
    </div>

</div>