<div class="tags">
	<ul class="tags__list">
		<li class="tags__item active">
			<a href="#" class="tags__link">
				Все 11
			</a>
		</li>
		<li class="tags__item">
			<a href="#" class="tags__link">
				Однокамерные холодильники
			</a>
		</li>
		<li class="tags__item">
			<a href="#" class="tags__link">
				Двухкамерные холодильники
			</a>
		</li>
		<li class="tags__item">
			<a href="#" class="tags__link">
				Холодильники Side-by-Side
			</a>
		</li>
		<li class="tags__item">
			<a href="#" class="tags__link">
				Морозильные камеры
			</a>
		</li>
		<li class="tags__item">
			<a href="#" class="tags__link">
				Холодильники Side-by-Side
			</a>
		</li>
		<li class="tags__item">
			<a href="#" class="tags__link">
				Морозильные камеры
			</a>
		</li>
		<li class="tags__item">
			<a href="#" class="tags__link">
				Однокамерные холодильники
			</a>
		</li>
		<li class="tags__item">
			<a href="#" class="tags__link">
				Все теги
			</a>
		</li>
	</ul>
</div>
