<div class="d-flex flex-column-reverse flex-md-row">
	<div class="breadcrumbs">
		<a href="#" class="breadcrumbs__link">Liebherr</a>
		<span class="breadcrumbs__sep">/</span>
		<span class="breadcrumbs__text">избранное</span>
	</div>
	<h1 class="title">
		избранное
	</h1>
	<div class="col-md-3">
		<div class="js-favorite_filter">
			<form class="filter__form js-form" action="" method="post">
				<input type="hidden" name="action" value="changeSectionsFavorites">
				<div class="filter__item">
					<div class="filter__title js-filter__title">Категории</div>
					<div class="filter__checkbox">

						<label>
							<input class="checkbox filter_checkbox pers_data_check js-art_type-change" type="checkbox"
								name="F_SECTIONS[]" value="19">
							<span class="checkbox-custom">Холодильники Side-by-Side</span>
							<span class="checkbox-number">3</span>
						</label>

						<label>
							<input class="checkbox filter_checkbox pers_data_check js-art_type-change" type="checkbox"
								name="F_SECTIONS[]" value="19">
							<span class="checkbox-custom">Холодильники Side-by-Side</span>
							<span class="checkbox-number">3</span>
						</label>

						<label>
							<input class="checkbox filter_checkbox pers_data_check js-art_type-change" type="checkbox"
								name="F_SECTIONS[]" value="19">
							<span class="checkbox-custom">Холодильники Side-by-Side</span>
							<span class="checkbox-number">3</span>
						</label>

						<label>
							<input class="checkbox filter_checkbox pers_data_check js-art_type-change" type="checkbox"
								name="F_SECTIONS[]" value="19">
							<span class="checkbox-custom">Холодильники Side-by-Side</span>
							<span class="checkbox-number">3</span>
						</label>

						<label>
							<input class="checkbox filter_checkbox pers_data_check js-art_type-change" type="checkbox"
								name="F_SECTIONS[]" value="19">
							<span class="checkbox-custom">Холодильники Side-by-Side</span>
							<span class="checkbox-number">3</span>
						</label>
					</div>
				</div>
			</form>
		</div>
		<!-- <form class="filter__form  js-form" action="" method="get" id="products-filter">
			<input type="hidden" name="F[SET_FILTER]" id="SET_FILTER" value="Y">
			<div class="filter__item">
				<div class="filter__title  js-filter__title">Категории</div>
				<div class="filter__checkbox">
					<label>
						<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
						<span class="checkbox-custom">
							Все
						</span>
					</label>
					<label>
						<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
						<span class="checkbox-custom">Винные шкафы</span>
						<span class="checkbox-number">13</span>
					</label>
					<label>
						<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
						<span class="checkbox-custom">
							морозильник-шкаф
						</span>
						<span class="checkbox-number">13</span>
					</label>
					<label>
						<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
						<span class="checkbox-custom">Side-by-Side</span>

						<span class="checkbox-number">13</span>
					</label>
					<label>
						<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
						<span class="checkbox-custom">морозильник</span>

						<span class="checkbox-number">13</span>
					</label>
					<label>
						<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
						<span class="checkbox-custom">Хьюмидоры
						</span>
						<span class="checkbox-number">13</span>
					</label>
				</div>
			</div>
		</form> -->

		<ul class="work-link">
			<li class="work-link__item"><a class="work-link__a" href="/service/">Сервисные центры</a></li>
			<li class="work-link__item"><a class="work-link__a" href="/documentation/">Техническая документация</a>
			</li>
			<li class="work-link__item"><a class="work-link__a" href="/warranty/">Официальная гарантия</a></li>
		</ul>
		<div class="yandex">
			<div class="yandex__inner">
				<div class="yandex__logo">
					<img src="images/ylogo.png" alt="" srcset="" class="yandex__img">
				</div>
				<div class="yandex__ratings">
					<img src="images/5-stars.png" alt="" srcset="">
				</div>
				<a href="#" target="_blank" class="yandex__button">Оставить отзыв</a>
				<a href="#" target="_blank" class="yandex__button">Читать все отзывы</a>
			</div>
		</div>
		<div class="quality">
			<span class="quality__title">Контроль качества</span>
			<span class="quality__text">Номер для претензий и предложений:</span>
			<a href="tel:+74951201196" class="quality__number">+7 (495) 120-11-96</a>
			<span class="quality__worktime">с 9:00 до 18:00</span>
			<a href="#" class="quality__button" id="js-quality-opener">Написать</a>
		</div>
	</div>
	<div class="col-md-9">
		<a href="#" class="favorite__reset">Сбросить избранное</a>
			<div class="favorite__items catalog__items">
				<div class="catalog__item">
					<a class="catalog__pic" href="#">
						<img src="images/new-items_3.jpg"
							srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
					<a href="product-card.html" class="special-offers__text  catalog__text">Винный шкаф Liebherr EWTgw
						3583
						Vinidor</a>
					<span class="catalog__presence">В наличии</span>
					<div class="catalog__specification">
						<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
						<span class="catalog__feature">Габариты (см):<span class="catalog__bold">
								63x55.4x62.4</span></span>
						<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
								class="catalog__bold">107</span></span>
						<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
								class="catalog__bold">15</span></span>
						<span class="catalog__feature">Тип размораживания:<span
								class="catalog__bold">ручная</span></span>
					</div>
					<div class="catalog__prop">
						<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties.png" class="icons-prop-item"
								title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
						</a>
						<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties2.png" class="icons-prop-item"
								title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/icons-properties-appp.png" class="icons-prop-item"
								title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
						</a>
						<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties.png" class="icons-prop-item"
								title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
						</a>
						<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties2.png" class="icons-prop-item"
								title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/icons-properties-appp.png" class="icons-prop-item"
								title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
						</a>
					</div>
					<div class="special-offers__sale catalog__sale">
						<span class="special-offers__price catalog__price">134 200<i
								class="special-offers__rub catalog__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
					</div>
					<div class="catalog__existence">

						<a href="#" class="catalog__simile active"></a>
						<a href="#" class="catalog__favorite active"></a>
						<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
					</div>
					<div class="announcing">
						<div class="announcing__item">
							<img src="images/small/flag_ger.svg" alt="сделано в Германии" title="сделано в Германии">
						</div>
						<div class="announcing__item">
							<img src="images/small/new.svg" alt="Новинка" title="Новинка">
						</div>
						<div class="announcing__item">
							<img src="images/small/tools.svg" alt="Бесплатное подключение"
								title="Бесплатное подключение">
						</div>
						<div class="announcing__item">
							<img src="images/small/truck.svg" alt="Бесплатная доставка" title="Бесплатная доставка">
						</div>
					</div>
				</div>
				<div class="catalog__item">
					<a class="catalog__pic" href="#">
						<img src="images/new-items_1.jpg"
							srcset="images/new-items_1@2x.jpg 2x,images/new-items_1@3x.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
					<a href="product-card.html" class="special-offers__text catalog__text">Холодильник Liebherr SBS 66I2
						Premium NoFrost (SICN 3386 + ICN 3386)</a>
					<span class="catalog__presence">В наличии</span>
					<div class="catalog__specification">
						<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
						<span class="catalog__feature">Габариты (см):<span class="catalog__bold">
								63x55.4x62.4</span></span>
						<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
								class="catalog__bold">107</span></span>
						<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
								class="catalog__bold">15</span></span>
						<span class="catalog__feature">Тип размораживания:<span
								class="catalog__bold">ручная</span></span>
					</div>
					<div class="catalog__prop">
						<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties.png" class="icons-prop-item"
								title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
						</a>
						<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties2.png" class="icons-prop-item"
								title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/icons-properties-appp.png" class="icons-prop-item"
								title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
						</a>
						<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties.png" class="icons-prop-item"
								title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
						</a>
						<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties2.png" class="icons-prop-item"
								title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/icons-properties-appp.png" class="icons-prop-item"
								title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
						</a>
					</div>
					<div class="special-offers__sale catalog__sale price__dashed">
						<span class="special-offers__price catalog__price">
							199 000
							<i class="special-offers__rub catalog__rub">руб.</i>
							<span class="price__absolute">
								250 000 руб.
							</span>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
					</div>
					<div class="catalog__existence">
						<a href="#" class="catalog__simile"></a>
						<a href="#" class="catalog__favorite"></a>
						<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
					</div>
					<div class="announcing">
						<div class="announcing__item">
							<img src="images/small/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
						</div>
						<div class="announcing__item">
							<img src="images/small/new.svg" alt="Новинка" title="Новинка">
						</div>
						<div class="announcing__item">
							<img src="images/small/tools.svg" alt="Бесплатное подключение"
								title="Бесплатное подключение">
						</div>
						<div class="announcing__item">
							<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
						</div>
					</div>
				</div>
				<div class="catalog__item">
					<a class="catalog__pic" href="#">
						<img src="images/new-items_2.jpg"
							srcset="images/new-items_2@2x.jpg 2x,images/new-items_2@3x.jpg 3x"
							class="special-offers__img catalog__img">
					</a>

					<a href="#" class="special-offers__text catalog__text">Морозильник Liebherr GN 2723 Comfort
						NoFrost</a>
					<span class="catalog__presence">В наличии</span>
					<div class="catalog__specification">
						<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
						<span class="catalog__feature">Габариты (см):<span class="catalog__bold">
								63x55.4x62.4</span></span>
						<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
								class="catalog__bold">107</span></span>
						<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
								class="catalog__bold">15</span></span>
						<span class="catalog__feature">Тип размораживания:<span
								class="catalog__bold">ручная</span></span>
					</div>
					<div class="catalog__prop">
						<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties.png" class="icons-prop-item"
								title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
						</a>
						<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties2.png" class="icons-prop-item"
								title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/icons-properties-appp.png" class="icons-prop-item"
								title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
						</a>
						<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties.png" class="icons-prop-item"
								title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
						</a>
						<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties2.png" class="icons-prop-item"
								title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/icons-properties-appp.png" class="icons-prop-item"
								title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
						</a>
					</div>
					<div class="special-offers__sale catalog__sale price__dashed">
						<span class="special-offers__price catalog__price">
							115 000
							<i class="special-offers__rub catalog__rub">руб.</i>
							<span class="price__absolute">
								122 750 руб.
							</span>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
					</div>
					<div class="catalog__existence">

						<a href="#" class="catalog__simile"></a>
						<a href="#" class="catalog__favorite"></a>
						<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
					</div>
					<div class="announcing">
						<div class="announcing__item">
							<img src="images/small/flag_austria_small.svg" alt="сделано в Австрии"
								title="сделано в Австрии">
						</div>
						<div class="announcing__item">
							<img src="images/small/new.svg" alt="Новинка" title="Новинка">
						</div>
						<div class="announcing__item">
							<img src="images/small/tools.svg" alt="Бесплатное подключение"
								title="Бесплатное подключение">
						</div>
						<div class="announcing__item">
							<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
						</div>
					</div>
				</div>
				<div class="catalog__item">
					<a class="catalog__pic" href="#">
						<img src="images/new-items_4.jpg"
							srcset="images/new-items_4@2x.jpg 2x,images/new-items_4@3x.jpg 3x"
							class="special-offers__img catalog__img">
					</a>

					<a href="#" class="special-offers__text catalog__text">Холодильник Liebherr SBS 66I2 Premium NoFrost
						(SICN
						3386 + ICN 3386)</a>
					<span class="catalog__presence">В наличии</span>
					<div class="catalog__specification">
						<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
						<span class="catalog__feature">Габариты (см):<span class="catalog__bold">
								63x55.4x62.4</span></span>
						<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
								class="catalog__bold">107</span></span>
						<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
								class="catalog__bold">15</span></span>
						<span class="catalog__feature">Тип размораживания:<span
								class="catalog__bold">ручная</span></span>
					</div>
					<div class="catalog__prop">
						<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties.png" class="icons-prop-item"
								title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
						</a>
						<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties2.png" class="icons-prop-item"
								title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/icons-properties-appp.png" class="icons-prop-item"
								title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
						</a>
						<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties.png" class="icons-prop-item"
								title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
						</a>
						<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties2.png" class="icons-prop-item"
								title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/icons-properties-appp.png" class="icons-prop-item"
								title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
						</a>
					</div>
					<div class="special-offers__sale catalog__sale">
						<span class="special-offers__price catalog__price">134 200<i
								class="special-offers__rub catalog__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
					</div>
					<div class="catalog__existence">

						<a href="#" class="catalog__simile"></a>
						<a href="#" class="catalog__favorite"></a>
						<a href="#" class="catalog__oneclick">Купить в 1 клик</a>
					</div>
					<div class="announcing">
						<div class="announcing__item">
							<img src="images/small/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
						</div>
						<div class="announcing__item">
							<img src="images/small/new.svg" alt="Новинка" title="Новинка">
						</div>
						<div class="announcing__item">
							<img src="images/small/tools.svg" alt="Бесплатное подключение"
								title="Бесплатное подключение">
						</div>
						<div class="announcing__item">
							<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
						</div>
					</div>
				</div>
				<div class="catalog__item">
					<a class="catalog__pic" href="#">
						<img src="images/new-items_3.jpg"
							srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
					<a href="#" class="special-offers__text  catalog__text">Винный шкаф Liebherr EWTgw 3583 Vinidor</a>
					<span class="catalog__presence">В наличии</span>
					<div class="catalog__specification">
						<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
						<span class="catalog__feature">Габариты (см):<span class="catalog__bold">
								63x55.4x62.4</span></span>
						<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
								class="catalog__bold">107</span></span>
						<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
								class="catalog__bold">15</span></span>
						<span class="catalog__feature">Тип размораживания:<span
								class="catalog__bold">ручная</span></span>
					</div>
					<div class="catalog__prop">
						<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties.png" class="icons-prop-item"
								title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
						</a>
						<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties2.png" class="icons-prop-item"
								title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/icons-properties-appp.png" class="icons-prop-item"
								title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
						</a>
					</div>
					<div class="special-offers__sale catalog__sale">
						<span class="special-offers__price catalog__price">134 200<i
								class="special-offers__rub catalog__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
					</div>
					<div class="catalog__existence">
						<!-- <span class="catalog__presence grey">под заказ</span> -->
						<a href="#" class="catalog__simile"></a>
						<a href="#" class="catalog__favorite"></a>
						<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
					</div>
					<div class="announcing">
						<div class="announcing__item">
							<img src="images/small/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
						</div>
						<div class="announcing__item">
							<img src="images/small/new.svg" alt="Новинка" title="Новинка">
						</div>
						<div class="announcing__item">
							<img src="images/small/tools.svg" alt="Бесплатное подключение"
								title="Бесплатное подключение">
						</div>
						<div class="announcing__item">
							<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
						</div>
					</div>
				</div>
				<div class="catalog__item">
					<a class="catalog__pic" href="#">
						<img src="images/new-items_3.jpg"
							srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
					<a href="product-card.html" class="special-offers__text  catalog__text">Винный шкаф Liebherr EWTgw
						3583
						Vinidor</a>
					<span class="catalog__presence">В наличии</span>
					<div class="catalog__specification">
						<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
						<span class="catalog__feature">Габариты (см):<span class="catalog__bold">
								63x55.4x62.4</span></span>
						<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
								class="catalog__bold">107</span></span>
						<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
								class="catalog__bold">15</span></span>
						<span class="catalog__feature">Тип размораживания:<span
								class="catalog__bold">ручная</span></span>
					</div>
					<div class="catalog__prop">
						<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties.png" class="icons-prop-item"
								title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
						</a>
						<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties2.png" class="icons-prop-item"
								title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/icons-properties-appp.png" class="icons-prop-item"
								title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
						</a>
						<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties.png" class="icons-prop-item"
								title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
						</a>
						<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties2.png" class="icons-prop-item"
								title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/icons-properties-appp.png" class="icons-prop-item"
								title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
						</a>
					</div>
					<div class="special-offers__sale catalog__sale">
						<span class="special-offers__price catalog__price">134 200<i
								class="special-offers__rub catalog__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
					</div>
					<div class="catalog__existence">

						<a href="#" class="catalog__simile"></a>
						<a href="#" class="catalog__favorite"></a>
						<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
					</div>
					<div class="announcing">
						<div class="announcing__item">
							<img src="images/small/flag_ger.svg" alt="сделано в Германии" title="сделано в Германии">
						</div>
						<div class="announcing__item">
							<img src="images/small/new.svg" alt="Новинка" title="Новинка">
						</div>
						<div class="announcing__item">
							<img src="images/small/tools.svg" alt="Бесплатное подключение"
								title="Бесплатное подключение">
						</div>
						<div class="announcing__item">
							<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
						</div>
					</div>
				</div>
				<div class="catalog__item">
					<a class="catalog__pic" href="#">
						<img src="images/new-items_1.jpg"
							srcset="images/new-items_1@2x.jpg 2x,images/new-items_1@3x.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
					<a href="product-card.html" class="special-offers__text catalog__text">Холодильник Liebherr SBS 66I2
						Premium NoFrost (SICN 3386 + ICN 3386)</a>
					<span class="catalog__presence">В наличии</span>
					<div class="catalog__specification">
						<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
						<span class="catalog__feature">Габариты (см):<span class="catalog__bold">
								63x55.4x62.4</span></span>
						<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
								class="catalog__bold">107</span></span>
						<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
								class="catalog__bold">15</span></span>
						<span class="catalog__feature">Тип размораживания:<span
								class="catalog__bold">ручная</span></span>
					</div>
					<div class="catalog__prop">
						<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties.png" class="icons-prop-item"
								title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
						</a>
						<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties2.png" class="icons-prop-item"
								title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/icons-properties-appp.png" class="icons-prop-item"
								title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
						</a>
						<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties.png" class="icons-prop-item"
								title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
						</a>
						<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties2.png" class="icons-prop-item"
								title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/icons-properties-appp.png" class="icons-prop-item"
								title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
						</a>
					</div>
					<div class="special-offers__sale catalog__sale">
						<span class="special-offers__price catalog__price">98 400<i
								class="special-offers__rub catalog__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
					</div>
					<div class="catalog__existence">
						<a href="#" class="catalog__simile"></a>
						<a href="#" class="catalog__favorite"></a>
						<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
					</div>
					<div class="announcing">
						<div class="announcing__item">
							<img src="images/small/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
						</div>
						<div class="announcing__item">
							<img src="images/small/new.svg" alt="Новинка" title="Новинка">
						</div>
						<div class="announcing__item">
							<img src="images/small/tools.svg" alt="Бесплатное подключение"
								title="Бесплатное подключение">
						</div>
						<div class="announcing__item">
							<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
						</div>
					</div>
				</div>
				<div class="catalog__item">
					<a class="catalog__pic" href="#">
						<img src="images/new-items_2.jpg"
							srcset="images/new-items_2@2x.jpg 2x,images/new-items_2@3x.jpg 3x"
							class="special-offers__img catalog__img">
					</a>

					<a href="#" class="special-offers__text catalog__text">Морозильник Liebherr GN 2723 Comfort
						NoFrost</a>
					<span class="catalog__presence">В наличии</span>
					<div class="catalog__specification">
						<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
						<span class="catalog__feature">Габариты (см):<span class="catalog__bold">
								63x55.4x62.4</span></span>
						<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
								class="catalog__bold">107</span></span>
						<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
								class="catalog__bold">15</span></span>
						<span class="catalog__feature">Тип размораживания:<span
								class="catalog__bold">ручная</span></span>
					</div>
					<div class="catalog__prop">
						<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties.png" class="icons-prop-item"
								title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
						</a>
						<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties2.png" class="icons-prop-item"
								title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/icons-properties-appp.png" class="icons-prop-item"
								title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
						</a>
						<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties.png" class="icons-prop-item"
								title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
						</a>
						<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties2.png" class="icons-prop-item"
								title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/icons-properties-appp.png" class="icons-prop-item"
								title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
						</a>
					</div>
					<div class="special-offers__sale catalog__sale price__dashed">
						<span class="special-offers__price catalog__price">115 000<i
								class="special-offers__rub catalog__rub">руб.</i><span class="price__absolute">122 750
								руб.</span></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
					</div>
					<div class="catalog__existence">

						<a href="#" class="catalog__simile"></a>
						<a href="#" class="catalog__favorite"></a>
						<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
					</div>
					<div class="announcing">
						<div class="announcing__item">
							<img src="images/small/flag_austria_small.svg" alt="сделано в Австрии"
								title="сделано в Австрии">
						</div>
						<div class="announcing__item">
							<img src="images/small/new.svg" alt="Новинка" title="Новинка">
						</div>
						<div class="announcing__item">
							<img src="images/small/tools.svg" alt="Бесплатное подключение"
								title="Бесплатное подключение">
						</div>
						<div class="announcing__item">
							<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
						</div>
					</div>
				</div>
				<div class="catalog__item">
					<a class="catalog__pic" href="#">
						<img src="images/new-items_4.jpg"
							srcset="images/new-items_4@2x.jpg 2x,images/new-items_4@3x.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
					<a href="#" class="special-offers__text catalog__text">Холодильник Liebherr SBS 66I2 Premium NoFrost
						(SICN
						3386 + ICN 3386)</a>
					<span class="catalog__presence">В наличии</span>
					<div class="catalog__specification">
						<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
						<span class="catalog__feature">Габариты (см):<span class="catalog__bold">
								63x55.4x62.4</span></span>
						<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
								class="catalog__bold">107</span></span>
						<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
								class="catalog__bold">15</span></span>
						<span class="catalog__feature">Тип размораживания:<span
								class="catalog__bold">ручная</span></span>
					</div>
					<div class="catalog__prop">
						<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties.png" class="icons-prop-item"
								title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
						</a>
						<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties2.png" class="icons-prop-item"
								title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/icons-properties-appp.png" class="icons-prop-item"
								title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
						</a>
						<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties.png" class="icons-prop-item"
								title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
						</a>
						<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
							<img src="images/icons-properties2.png" class="icons-prop-item"
								title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
						</a>
						<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary"
							class="link-pop-glossary">
							<img src="images/icons-properties-appp.png" class="icons-prop-item"
								title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
						</a>
					</div>
					<div class="special-offers__sale catalog__sale">
						<span class="special-offers__price catalog__price">134 200<i
								class="special-offers__rub catalog__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
					</div>
					<div class="catalog__existence">

						<a href="#" class="catalog__simile"></a>
						<a href="#" class="catalog__favorite"></a>
						<a href="#" class="catalog__oneclick">Купить в 1 клик</a>
					</div>
					<div class="announcing">
						<div class="announcing__item">
							<img src="images/small/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
						</div>
						<div class="announcing__item">
							<img src="images/small/new.svg" alt="Новинка" title="Новинка">
						</div>
						<div class="announcing__item">
							<img src="images/small/tools.svg" alt="Бесплатное подключение"
								title="Бесплатное подключение">
						</div>
						<div class="announcing__item">
							<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
						</div>
					</div>
				</div>
			</div>
			<div class="favorite__bottom">
				<a class="load-more" href="#">Загрузить еще</a>
				{% include 'pagination/pagination.html' %}
			</div>
			
	</div>
	<div class="favorite__footer">
		<div class="recently-watched js-recently-watched">
			<div class="recently-watched__title">
				Вы недавно смотрели
			</div>
			<div class="swiper-pagination-recently-watched swiper-pagination"></div>
			<div class="swiper-button-prev recently-watched__prev"></div>
			<div class="swiper-button-next recently-watched__next"></div>
			<a href="#" class="recently-watched__reset">Сбросить просмотренное</a>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_3.jpg" alt="">
						</a>
						<a href='#' class="recently-watched__text">
							Винный шкаф Liebherr EWTgw
							3583 Vinidor
							<span class="recently-watched__price">134 200
								<i class="recently-watched__rub">руб.</i>
							</span>
						</a>
	
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_1.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Холодильник Liebherr CBNPbs 4858 Premium BioFresh NoFrost
							<span class="recently-watched__price">
								34 200
								<i class="recently-watched__rub">руб.</i>
							</span>
						</a>
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_2.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Морозильник Liebherr GN 2723
							Comfort NoFrost
							<span class="recently-watched__price">
								14 200
								<i class="recently-watched__rub">руб.</i>
							</span>
						</a>
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_1.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Холодильник Liebherr CBNPbs 4858 Premium BioFresh NoFrost
							<span class="recently-watched__price">
								13 200
								<i class="recently-watched__rub">руб.</i>
							</span>
						</a>
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_3.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Винный шкаф Liebherr EWTgw
							3583 Vinidor
							<span class="recently-watched__price">
								1 200
								<i class="recently-watched__rub">руб.</i>
							</span>
						</a>
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_1.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Холодильник Liebherr CBNPbs 4858 Premium BioFresh NoFrost
						</a>
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_2.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Морозильник Liebherr GN 2723
							Comfort NoFrost
						</a>
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_1.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Холодильник Liebherr CBNPbs 4858 Premium BioFresh NoFrost
						</a>
						<div class="recently-watched__close"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>