<div class="breadcrumbs">
	<a href="#" class="breadcrumbs__link">Liebherr</a>
	<span class="breadcrumbs__sep">/</span>

	<a href="#" class="breadcrumbs__link">Акции и статьи</a>
	<span class="breadcrumbs__sep">/</span>

	<span class="breadcrumbs__text">Уход за вытяжкой</span>
</div>
<h1 class="title">Причины неполадок холодильника Liebherr и ремонт своими руками</h1>
<div class="articles articles-main">
	<div class="articles-main__section">
		<img src="images/article__main.jpg" srcset="images/article__main@2x.jpg 2x,images/article__main@3x.jpg 3x"
			class="special-offers__img catalog__img">
		<div class="articles-main__info">
			<span class="articles-main__name">На сегодняшний день компания Liebherr, основанная более полувека назад
				немецким инженером-промышленником Гансом Либхерром, представляет собой целую корпорацию, поражающую
				своими успехами сразу в нескольких областях. Один из ведущих мировых изготовителей строительной и
				горно-шахтной техники, Liebherr, в то же время, является признанным лидером в производстве холодильного
				оборудования премиум-класса.</span>
			<h2>Не работает вентилятор</h2>
			<p>
				Чтобы заменить сломанный вентилятор, следует снять защитную крышку с
				отверстиями, которая находится на задней или боковой стенке холодильника. При отсоединении мотора от
				питания, холодильник должен быть полностью выключен. Практически любая мастерская по ремонту бытовой
				техники берется за починку таких устройств. Наиболее типичные проблемы — это замена подшипника или
				обрыв проводки.
			</p>
			<h2>Не отключается компрессор</h2>
			<p>
				В этом случае без замены компрессора не обойтись, так как
				ремонтировать его самостоятельно нельзя. Обратитесь в сервисный центр. Проследите, чтобы мастер
				установил новый компрессор, с техническими характеристиками, которые соответствуют системе охлаждения
				вашего прибора.
			</p>
			<h2>Замена датчика температуры, датчика испарителя</h2>
			<p>
				еисправность сенсорных датчиков температуры
				можно определить по тому, что начинает перемораживать холодильная камера, на дисплее загорается ошибка
				F2 или мигает кнопка «Alarm/. В таком случае самое время обратиться в сервис.
			</p>
			<h2>Не работает вентилятор</h2>
			<p>
				Чтобы заменить сломанный вентилятор, следует снять защитную крышку с
				отверстиями, которая находится на задней или боковой стенке холодильника. При отсоединении мотора от
				питания, холодильник должен быть полностью выключен. Практически любая мастерская по ремонту бытовой
				техники берется за починку таких устройств. Наиболее типичные проблемы — это замена подшипника или
				обрыв проводки.
			</p>
			<h2>Не отключается компрессор</h2>
			<p>
				В этом случае без замены компрессора не обойтись, так как
				ремонтировать его самостоятельно нельзя. Обратитесь в сервисный центр. Проследите, чтобы мастер
				установил новый компрессор, с техническими характеристиками, которые соответствуют системе охлаждения
				вашего прибора.
			</p>
			<h2>Замена датчика температуры, датчика испарителя</h2>
			<p>

				Неисправность сенсорных датчиков температуры
				можно определить по тому, что начинает перемораживать холодильная камера, на дисплее загорается ошибка
				F2 или мигает кнопка «Alarm/. В таком случае самое время обратиться в сервис.
			</p>
			<a href="05 - 01 - Promotions and articles_desktop.html" class="article-back">Назад к новостям</a>
		</div>
	</div>
	<div class="articles__items">
		<span class="articles__title">Другие новости</span>
		<div class="articles__item">
			<a class="articles__pic" href="#"><img src="images/articles_1.jpg"
					srcset="images/articles_1@2x.jpg 2x,images/articles_1@3x.jpg 3x" class="articles__img"></a>
			<a href="#" class="articles__text">Как правильно разморозить холодильник Либхер</a>
			<span class="articles__date">25 марта 2018</span>
		</div>
		<div class="articles__item">
			<a class="articles__pic" href="#"> <img src="images/articles_2.jpg"
					srcset="images/articles_2@2x.jpg 2x,images/articles_2@3x.jpg 3x" class="articles__img"></a>
			<a href="#" class="articles__text">Преимущества встраиваемых микроволновых печей Liebherr </a>
			<span class="articles__date">25 марта 2018</span>
		</div>
		<div class="articles__item">
			<a class="articles__pic" href="#"><img src="images/articles_3.jpg"
					srcset="images/articles_3@2x.jpg 2x,images/articles_3@3x.jpg 3x" class="articles__img"></a>
			<a href="#" class="articles__text">Сравнение холодильника Liebherr CNbs 4015 Comfort NoFrost и Liebherr CN
				4813</a>
			<span class="articles__date">25 марта 2018</span>
		</div>
		<div class="articles__item">
			<a class="articles__pic" href="#"><img src="images/articles_4.jpg"
					srcset="images/articles_4@2x.jpg 2x,images/articles_4@3x.jpg 3x" class="articles__img"></a>
			<a href="#" class="articles__text">ICS Система интеллектуального контроля у стиральных машин</a>
			<span class="articles__date">25 марта 2018</span>
		</div>
	</div>
	<div class="special-offers similar-models articles-main__slider">
		<!-- Slider main container -->
		<div class="special-offers">
			<div class="container">
				<span class="special-offers__title">Рекомендованные товары</span>
				<!-- Slider main container -->
				<div class="swiper-container swiper-container-two">
					<!-- Additional required wrapper -->
					<div class="swiper-wrapper special-offers__wrapper js-ecom_product-list" data-list="Article Detail">

						<div class="catalog__item swiper-slide js-ecom_product-item" data-id="1363"
							id="bx_3589829689_1363">
							<a class="catalog__pic"
								href="/liebherr/holodilniki/morozilnye-kamery/morozilnik-liebherr-gn-1066-premium-nofrost.html"
								title="Морозильник Liebherr GN 1066 Premium NoFrost">
								<img data-src="https://l-rus.ru/upload/resize_cache/iblock/eab/205_205_1/eabea94418796c602bb1c9ded4d5b0fe.jpg"
									data-srcset="/upload/resize_cache/iblock/eab/410_410_1/eabea94418796c602bb1c9ded4d5b0fe.jpg 2x,/upload/resize_cache/iblock/eab/615_615_1/eabea94418796c602bb1c9ded4d5b0fe.jpg 3x"
									class="special-offers__img catalog__img lazyload" />
							</a>
							<a href="/liebherr/holodilniki/morozilnye-kamery/morozilnik-liebherr-gn-1066-premium-nofrost.html"
								title="Морозильник Liebherr GN 1066 Premium NoFrost"
								class="special-offers__text catalog__text">Морозильник Liebherr GN 1066 Premium
								NoFrost</a>
							<span class="catalog__presence">В наличии</span>

							<div class="catalog__specification">

								<div class="catalog__feature">
									Тип: <span class="catalog__bold">морозильник-шкаф</span>
								</div>
								<div class="catalog__feature">
									Габариты, ВxШxГ [см]: <span class="catalog__bold">85.1x60.2x62.8</span>
								</div>
								<div class="catalog__feature">
									Полезный объем морозильной камеры [л]: <span class="catalog__bold">91</span>
								</div>
								<div class="catalog__feature">
									Система охлаждения: <span class="catalog__bold">NoFrost</span>
								</div>

							</div>

							<div class="catalog__prop">
								<span class="link-pop-glossary">
									<img data-src="https://l-rus.ru/upload/iblock/7e8/7e8ae84d7b4638b17cddd19605b000d8.svg"
										class="icons-prop-item lazyload"
										title="Класс А+ означает, что модель потребляет на 10% электроэнергии меньше, чем прибор экономичного класса А." />
								</span>

								<span class="link-pop-glossary">
									<img data-src="https://l-rus.ru/upload/iblock/5d3/5d360f7f95aee14384f0c0901588db8e.svg"
										class="icons-prop-item lazyload"
										title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея на стенках морозильного отделения, и тем самым забыть о процедуре размораживания." />
								</span>

							</div>

							<div class="special-offers__sale catalog__sale">

								<span class="special-offers__price catalog__price ">

									28 990 <i class="special-offers__rub catalog__rub">руб.</i>
								</span>

								<a href="" title="купить" class="js-add2basket special-offers__buy"
									data-id="1363">купить</a>

							</div>
							<div class="catalog__existence">

								<a href="" class="catalog__simile js-compare " data-id="1363">Сравнить</a>

								<a href="" class="catalog__favorite  js-add2favorite" data-id="1363"></a>

								<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
									data-id="1363">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

							</div>

							<!-- begin label -->
							<div class="announcing">

								<div class="announcing__item">
									<img class="lazyload"
										data-src="https://l-rus.ru/upload/iblock/d50/d50f318b53fe46dc4099df083efe4025.svg"
										alt="Производство Болгария" title="Производство Болгария" />
								</div>

								<div class="announcing__item"><img class="lazyload"
										data-src="https://l-rus.ru/mockup/templates/main/build/images/small/truck.svg"
										alt="Бесплатная доставка" title="Бесплатная доставка" /></div>

							</div>
							<!-- end label -->

							<div itemscope itemtype="http://schema.org/Product" class="hide">

								<meta itemprop="name" content="Морозильник Liebherr GN 1066 Premium NoFrost" />

								<img itemprop="image"
									src="https://l-rus.ru/upload/resize_cache/iblock/eab/615_615_1/eabea94418796c602bb1c9ded4d5b0fe.jpg" />

								<meta itemprop="brand" content="Liebherr" />

								<meta itemprop="description" content="Морозильник Liebherr GN 1066 Premium NoFrost" />

								<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
									<meta itemprop="price" content="28990" />
									<meta itemprop="priceCurrency" content="RUB" />

									<meta itemprop="availability" content="http://schema.org/InStock" />
									<meta itemprop="url"
										content="https://l-rus.ru/liebherr/holodilniki/morozilnye-kamery/morozilnik-liebherr-gn-1066-premium-nofrost.html" />
								</div>

								<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
									<meta itemprop="ratingValue" content="5" />
									<meta itemprop="reviewCount" content="3" />
								</div>

							</div>

						</div>

						<div class="catalog__item swiper-slide js-ecom_product-item" data-id="1323"
							id="bx_3589829689_1323">
							<a class="catalog__pic"
								href="/liebherr/holodilniki/dvukhkamernye-kholodilniki-s-morozilnikom/kholodilnik-ct-3306-comfort.html"
								title="Холодильник Liebherr CT 3306 Comfort">
								<img data-src="https://l-rus.ru/upload/resize_cache/iblock/681/205_205_1/681eb95d77c5be53f5790b4b5a2abe68.jpg"
									data-srcset="/upload/resize_cache/iblock/681/410_410_1/681eb95d77c5be53f5790b4b5a2abe68.jpg 2x,/upload/iblock/681/681eb95d77c5be53f5790b4b5a2abe68.jpg 3x"
									class="special-offers__img catalog__img lazyload" />
							</a>
							<a href="/liebherr/holodilniki/dvukhkamernye-kholodilniki-s-morozilnikom/kholodilnik-ct-3306-comfort.html"
								title="Холодильник Liebherr CT 3306 Comfort"
								class="special-offers__text catalog__text">Холодильник Liebherr CT 3306 Comfort</a>
							<span class="catalog__presence">В наличии</span>

							<div class="catalog__specification">

								<div class="catalog__feature">
									Тип: <span class="catalog__bold">холодильник с морозильником</span>
								</div>
								<div class="catalog__feature">
									Габариты, ВxШxГ [см]: <span class="catalog__bold">176.1x60x63</span>
								</div>
								<div class="catalog__feature">
									Полезный объем холодильной камеры [л]: <span class="catalog__bold">232</span>
								</div>
								<div class="catalog__feature">
									Расположение морозильной камеры: <span class="catalog__bold">сверху</span>
								</div>

							</div>

							<div class="catalog__prop">
								<span class="link-pop-glossary">
									<img data-src="https://l-rus.ru/upload/iblock/7e8/7e8ae84d7b4638b17cddd19605b000d8.svg"
										class="icons-prop-item lazyload"
										title="Класс А+ означает, что модель потребляет на 10% электроэнергии меньше, чем прибор экономичного класса А." />
								</span>

								<span class="link-pop-glossary">
									<img data-src="https://l-rus.ru/upload/iblock/17a/17af4e9541eb4a4976a6974b342b87e6.svg"
										class="icons-prop-item lazyload"
										title="Светодиодное освещение в приборах класса Comfort расположено на потолке, в моделях Premium - светодиодные колонны находятся на боковых стенках." />
								</span>

								<span class="link-pop-glossary">
									<img data-src="https://l-rus.ru/upload/iblock/5b2/5b2fcf6d28113c3ce5df83715f880085.svg"
										class="icons-prop-item lazyload"
										title="Технология SmartFrost равномерно распределяет хладагент по всему контуру камеры. Оседающий на испарителе иней оттаивает, а образующаяся вода скапливается в специальной емкости, из которой впоследствии испаряется. Благодаря этому отпадает необходимость ручного размораживания холодильного отделения." />
								</span>

							</div>

							<div class="special-offers__sale catalog__sale">

								<span class="special-offers__price catalog__price ">

									29 990 <i class="special-offers__rub catalog__rub">руб.</i>
								</span>

								<a href="" title="купить" class="js-add2basket special-offers__buy"
									data-id="1323">купить</a>

							</div>
							<div class="catalog__existence">

								<a href="" class="catalog__simile js-compare " data-id="1323">Сравнить</a>

								<a href="" class="catalog__favorite  js-add2favorite" data-id="1323"></a>

								<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
									data-id="1323">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

							</div>

							<!-- begin label -->
							<div class="announcing">

								<div class="announcing__item">
									<img class="lazyload"
										data-src="https://l-rus.ru/upload/iblock/d50/d50f318b53fe46dc4099df083efe4025.svg"
										alt="Производство Болгария" title="Производство Болгария" />
								</div>

								<div class="announcing__item"><img class="lazyload"
										data-src="https://l-rus.ru/mockup/templates/main/build/images/small/truck.svg"
										alt="Бесплатная доставка" title="Бесплатная доставка" /></div>

								<div class="announcing__item"><img class="lazyload"
										data-src="https://l-rus.ru/mockup/templates/main/build/images/small/new.svg"
										alt="Новинка" title="Новинка" /></div>

							</div>
							<!-- end label -->

							<div itemscope itemtype="http://schema.org/Product" class="hide">

								<meta itemprop="name" content="Холодильник Liebherr CT 3306 Comfort" />

								<img itemprop="image"
									src="https://l-rus.ru/upload/iblock/681/681eb95d77c5be53f5790b4b5a2abe68.jpg" />

								<meta itemprop="brand" content="Liebherr" />

								<meta itemprop="description" content="Холодильник Liebherr CT 3306 Comfort" />

								<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
									<meta itemprop="price" content="29990" />
									<meta itemprop="priceCurrency" content="RUB" />

									<meta itemprop="availability" content="http://schema.org/InStock" />
									<meta itemprop="url"
										content="https://l-rus.ru/liebherr/holodilniki/dvukhkamernye-kholodilniki-s-morozilnikom/kholodilnik-ct-3306-comfort.html" />
								</div>

								<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
									<meta itemprop="ratingValue" content="5" />
									<meta itemprop="reviewCount" content="3" />
								</div>

							</div>

						</div>

						<div class="catalog__item swiper-slide js-ecom_product-item" data-id="1347"
							id="bx_3589829689_1347">
							<a class="catalog__pic"
								href="/liebherr/holodilniki/side-by-side/kholodilnik-liebherr-sbsesf-7212-comfort-nofrost.html"
								title="Холодильник Liebherr SBSesf 7212 (SGNesf 3063-22 + SKesf 4240-22) Comfort NoFrost">
								<img data-src="https://l-rus.ru/upload/resize_cache/iblock/46d/205_205_1/46d5b379a97c1eebc409c7e5b4515656.jpg"
									data-srcset="/upload/resize_cache/iblock/46d/410_410_1/46d5b379a97c1eebc409c7e5b4515656.jpg 2x,/upload/resize_cache/iblock/46d/615_615_1/46d5b379a97c1eebc409c7e5b4515656.jpg 3x"
									class="special-offers__img catalog__img lazyload" />
							</a>
							<a href="/liebherr/holodilniki/side-by-side/kholodilnik-liebherr-sbsesf-7212-comfort-nofrost.html"
								title="Холодильник Liebherr SBSesf 7212 (SGNesf 3063-22 + SKesf 4240-22) Comfort NoFrost"
								class="special-offers__text catalog__text">Холодильник Liebherr SBSesf 7212 (SGNesf
								3063-22 + SKesf 4240-22) Comfort NoFrost</a>
							<span class="catalog__presence">В наличии</span>

							<div class="catalog__specification">

								<div class="catalog__feature">
									Тип: <span class="catalog__bold">холодильник с морозильником</span>
								</div>
								<div class="catalog__feature">
									Габариты, ВxШxГ [см]: <span class="catalog__bold">185.2x121x63</span>
								</div>
								<div class="catalog__feature">
									Полезный объем холодильной камеры [л]: <span class="catalog__bold">383</span>
								</div>
								<div class="catalog__feature">
									Расположение морозильной камеры: <span class="catalog__bold">Side by Side</span>
								</div>

							</div>

							<div class="catalog__prop">
								<span class="link-pop-glossary">
									<img data-src="https://l-rus.ru/upload/iblock/529/529a7680aae26f0144a3f030b97da22a.svg"
										class="icons-prop-item lazyload"
										title="Side by Side - расположение холодильного и морозильного отделения рядом, бок о бок. Также называют «американским холодильником», так как первые приборы с подобным расположением камер появились в США." />
								</span>

								<span class="link-pop-glossary">
									<img data-src="https://l-rus.ru/upload/iblock/5d3/5d360f7f95aee14384f0c0901588db8e.svg"
										class="icons-prop-item lazyload"
										title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея на стенках морозильного отделения, и тем самым забыть о процедуре размораживания." />
								</span>

								<span class="link-pop-glossary">
									<img data-src="https://l-rus.ru/upload/iblock/1f4/1f4d13af3ef7e5a289a9350779895036.svg"
										class="icons-prop-item lazyload"
										title="Благодаря наличию двух независимых холодильных контуров система DuoCooling позволяет точно отрегулировать температуру в холодильной и морозильной камерах комбинированного холодильника-морозильника. Также благодаря этому отсутствует воздухообмен между холодильной и морозильной камерами. Это препятствует передаче запаха и «обветриванию» хранящихся продуктов питания." />
								</span>

							</div>

							<div class="special-offers__sale catalog__sale">

								<span class="special-offers__price catalog__price ">

									139 990 <i class="special-offers__rub catalog__rub">руб.</i>
								</span>

								<a href="" title="купить" class="js-add2basket special-offers__buy"
									data-id="1347">купить</a>

							</div>
							<div class="catalog__existence">

								<a href="" class="catalog__simile js-compare " data-id="1347">Сравнить</a>

								<a href="" class="catalog__favorite  js-add2favorite" data-id="1347"></a>

								<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
									data-id="1347">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

							</div>

							<!-- begin label -->
							<div class="announcing">

								<div class="announcing__item">
									<img class="lazyload"
										data-src="https://l-rus.ru/upload/iblock/d50/d50f318b53fe46dc4099df083efe4025.svg"
										alt="Производство Болгария" title="Производство Болгария" />
								</div>

								<div class="announcing__item"><img class="lazyload"
										data-src="https://l-rus.ru/mockup/templates/main/build/images/small/tools.svg"
										alt="Бесплатное подключение" title="Бесплатное подключение" /></div>
								<div class="announcing__item"><img class="lazyload"
										data-src="https://l-rus.ru/mockup/templates/main/build/images/small/truck.svg"
										alt="Бесплатная доставка" title="Бесплатная доставка" /></div>

							</div>
							<!-- end label -->

							<div itemscope itemtype="http://schema.org/Product" class="hide">

								<meta itemprop="name"
									content="Холодильник Liebherr SBSesf 7212 (SGNesf 3063-22 + SKesf 4240-22) Comfort NoFrost" />

								<img itemprop="image"
									src="https://l-rus.ru/upload/resize_cache/iblock/46d/615_615_1/46d5b379a97c1eebc409c7e5b4515656.jpg" />

								<meta itemprop="brand" content="Liebherr" />

								<meta itemprop="description"
									content="Холодильник Liebherr SBSesf 7212 (SGNesf 3063-22 + SKesf 4240-22) Comfort NoFrost" />

								<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
									<meta itemprop="price" content="139990" />
									<meta itemprop="priceCurrency" content="RUB" />

									<meta itemprop="availability" content="http://schema.org/InStock" />
									<meta itemprop="url"
										content="https://l-rus.ru/liebherr/holodilniki/side-by-side/kholodilnik-liebherr-sbsesf-7212-comfort-nofrost.html" />
								</div>

								<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
									<meta itemprop="ratingValue" content="5" />
									<meta itemprop="reviewCount" content="3" />
								</div>

							</div>

						</div>

						<div class="catalog__item swiper-slide js-ecom_product-item" data-id="1383"
							id="bx_3589829689_1383">
							<a class="catalog__pic"
								href="/liebherr/holodilniki/odnokamernye-kholodilniki-bez-morozilnika/kholodilnik-liebherr-t-1400.html"
								title="Холодильник Liebherr T 1400">
								<img data-src="https://l-rus.ru/upload/resize_cache/iblock/e10/205_205_1/e1023440e12e71b760d043f953fbc6f7.jpg"
									data-srcset="/upload/resize_cache/iblock/e10/410_410_1/e1023440e12e71b760d043f953fbc6f7.jpg 2x,/upload/resize_cache/iblock/e10/615_615_1/e1023440e12e71b760d043f953fbc6f7.jpg 3x"
									class="special-offers__img catalog__img lazyload" />
							</a>
							<a href="/liebherr/holodilniki/odnokamernye-kholodilniki-bez-morozilnika/kholodilnik-liebherr-t-1400.html"
								title="Холодильник Liebherr T 1400"
								class="special-offers__text catalog__text">Холодильник Liebherr T 1400</a>
							<span class="catalog__presence">В наличии</span>

							<div class="catalog__specification">

								<div class="catalog__feature">
									Тип: <span class="catalog__bold">холодильник без морозильника</span>
								</div>
								<div class="catalog__feature">
									Габариты, ВxШxГ [см]: <span class="catalog__bold">85x50.1x62</span>
								</div>
								<div class="catalog__feature">
									Полезный объем холодильной камеры [л]: <span class="catalog__bold">136</span>
								</div>
								<div class="catalog__feature">
									Система размораживания: <span class="catalog__bold">автоматическая</span>
								</div>

							</div>

							<div class="catalog__prop">
								<span class="link-pop-glossary">
									<img data-src="https://l-rus.ru/upload/iblock/7e8/7e8ae84d7b4638b17cddd19605b000d8.svg"
										class="icons-prop-item lazyload"
										title="Класс А+ означает, что модель потребляет на 10% электроэнергии меньше, чем прибор экономичного класса А." />
								</span>

							</div>

							<div class="special-offers__sale catalog__sale">

								<span class="special-offers__price catalog__price ">

									18 490 <i class="special-offers__rub catalog__rub">руб.</i>
								</span>

								<a href="" title="купить" class="js-add2basket special-offers__buy"
									data-id="1383">купить</a>

							</div>
							<div class="catalog__existence">

								<a href="" class="catalog__simile js-compare " data-id="1383">Сравнить</a>

								<a href="" class="catalog__favorite  js-add2favorite" data-id="1383"></a>

								<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
									data-id="1383">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

							</div>

							<!-- begin label -->
							<div class="announcing">

								<div class="announcing__item">
									<img class="lazyload"
										data-src="https://l-rus.ru/upload/iblock/d50/d50f318b53fe46dc4099df083efe4025.svg"
										alt="Производство Болгария" title="Производство Болгария" />
								</div>

								<div class="announcing__item"><img class="lazyload"
										data-src="https://l-rus.ru/mockup/templates/main/build/images/small/truck.svg"
										alt="Бесплатная доставка" title="Бесплатная доставка" /></div>

							</div>
							<!-- end label -->

							<div itemscope itemtype="http://schema.org/Product" class="hide">

								<meta itemprop="name" content="Холодильник Liebherr T 1400" />

								<img itemprop="image"
									src="https://l-rus.ru/upload/resize_cache/iblock/e10/615_615_1/e1023440e12e71b760d043f953fbc6f7.jpg" />

								<meta itemprop="brand" content="Liebherr" />

								<meta itemprop="description" content="Холодильник Liebherr T 1400" />

								<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
									<meta itemprop="price" content="18490" />
									<meta itemprop="priceCurrency" content="RUB" />

									<meta itemprop="availability" content="http://schema.org/InStock" />
									<meta itemprop="url"
										content="https://l-rus.ru/liebherr/holodilniki/odnokamernye-kholodilniki-bez-morozilnika/kholodilnik-liebherr-t-1400.html" />
								</div>

								<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
									<meta itemprop="ratingValue" content="5" />
									<meta itemprop="reviewCount" content="1" />
								</div>

							</div>

						</div>

						<div class="catalog__item swiper-slide js-ecom_product-item" data-id="1362"
							id="bx_3589829689_1362">
							<a class="catalog__pic"
								href="/liebherr/holodilniki/morozilnye-lari/morozilnyy-lar-gtp-2756-premium.html"
								title="Морозильный ларь Liebherr GTP 2756 Premium">
								<img data-src="https://l-rus.ru/upload/resize_cache/iblock/180/205_205_1/1809ab2a4fd1c632714ce8c65f2a43cc.jpg"
									data-srcset="/upload/resize_cache/iblock/180/410_410_1/1809ab2a4fd1c632714ce8c65f2a43cc.jpg 2x,/upload/resize_cache/iblock/180/615_615_1/1809ab2a4fd1c632714ce8c65f2a43cc.jpg 3x"
									class="special-offers__img catalog__img lazyload" />
							</a>
							<a href="/liebherr/holodilniki/morozilnye-lari/morozilnyy-lar-gtp-2756-premium.html"
								title="Морозильный ларь Liebherr GTP 2756 Premium"
								class="special-offers__text catalog__text">Морозильный ларь Liebherr GTP 2756
								Premium</a>
							<span class="catalog__presence">В наличии</span>

							<div class="catalog__specification">

								<div class="catalog__feature">
									Тип: <span class="catalog__bold">морозильник-ларь</span>
								</div>
								<div class="catalog__feature">
									Габариты, ВxШxГ [см]: <span class="catalog__bold">91.7x128.5x75.8</span>
								</div>
								<div class="catalog__feature">
									Полезный объем морозильной камеры [л]: <span class="catalog__bold">240</span>
								</div>
								<div class="catalog__feature">
									Система охлаждения: <span class="catalog__bold">StopFrost</span>
								</div>

							</div>

							<div class="catalog__prop">
								<span class="link-pop-glossary">
									<img data-src="https://l-rus.ru/upload/iblock/daa/daad1bb98d6319577f6f96b031dff5d8.svg"
										class="icons-prop-item lazyload"
										title="Класс А++ означает, что модель потребляет на 20% электроэнергии меньше, чем прибор экономичного класса А. " />
								</span>

								<span class="link-pop-glossary">
									<img data-src="https://l-rus.ru/upload/iblock/d77/d77bce50484baa49e016ab3f19451734.svg"
										class="icons-prop-item lazyload"
										title="Система охлаждения StopFrost используется в&nbsp;морозильных ларях. Она снижает количество инея, образующегося на&nbsp;испарителе и&nbsp;замороженных продуктах. Крышка ларя не&nbsp;примерзает, что облегчает процесс загрузки и&nbsp;выгрузки продуктов." />
								</span>

								<span class="link-pop-glossary">
									<img data-src="https://l-rus.ru/upload/iblock/fcd/fcdafd9f4ddc902c3c8583f2ece136f7.svg"
										class="icons-prop-item lazyload"
										title="Технология FrostProtect позволяет прибору работать при внешних температурах окружающего воздуха до &minus;15 &deg;С.&nbsp;При более низких значениях система безопасности отключает морозильную камеру, так как дальнейшее охлаждение уже не&nbsp;требуется. Температуры ниже &minus;15&deg;C уже никак не&nbsp;влияют на&nbsp;качество продуктов." />
								</span>

							</div>

							<div class="special-offers__sale catalog__sale">

								<span class="special-offers__price catalog__price ">

									57 990 <i class="special-offers__rub catalog__rub">руб.</i>
								</span>

								<a href="" title="купить" class="js-add2basket special-offers__buy"
									data-id="1362">купить</a>

							</div>
							<div class="catalog__existence">

								<a href="" class="catalog__simile js-compare " data-id="1362">Сравнить</a>

								<a href="" class="catalog__favorite  js-add2favorite" data-id="1362"></a>

								<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
									data-id="1362">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

							</div>

							<!-- begin label -->
							<div class="announcing">

								<div class="announcing__item">
									<img class="lazyload"
										data-src="https://l-rus.ru/upload/iblock/a70/a7058b36d55740d215a0768f235620a4.svg"
										alt="Производство Австрия" title="Производство Австрия" />
								</div>

								<div class="announcing__item"><img class="lazyload"
										data-src="https://l-rus.ru/mockup/templates/main/build/images/small/tools.svg"
										alt="Бесплатное подключение" title="Бесплатное подключение" /></div>
								<div class="announcing__item"><img class="lazyload"
										data-src="https://l-rus.ru/mockup/templates/main/build/images/small/truck.svg"
										alt="Бесплатная доставка" title="Бесплатная доставка" /></div>

							</div>
							<!-- end label -->

							<div itemscope itemtype="http://schema.org/Product" class="hide">

								<meta itemprop="name" content="Морозильный ларь Liebherr GTP 2756 Premium" />

								<img itemprop="image"
									src="https://l-rus.ru/upload/resize_cache/iblock/180/615_615_1/1809ab2a4fd1c632714ce8c65f2a43cc.jpg" />

								<meta itemprop="brand" content="Liebherr" />

								<meta itemprop="description" content="Морозильный ларь Liebherr GTP 2756 Premium" />

								<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
									<meta itemprop="price" content="57990" />
									<meta itemprop="priceCurrency" content="RUB" />

									<meta itemprop="availability" content="http://schema.org/InStock" />
									<meta itemprop="url"
										content="https://l-rus.ru/liebherr/holodilniki/morozilnye-lari/morozilnyy-lar-gtp-2756-premium.html" />
								</div>

								<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
									<meta itemprop="ratingValue" content="5" />
									<meta itemprop="reviewCount" content="1" />
								</div>

							</div>

						</div>

						<div class="catalog__item swiper-slide js-ecom_product-item" data-id="1384"
							id="bx_3589829689_1384">
							<a class="catalog__pic"
								href="/liebherr/holodilniki/dvukhkamernye-kholodilniki-s-morozilnikom/kholodilnik-ctsl-3306-comfort.html"
								title="Холодильник Liebherr CTsl 3306 Comfort">
								<img data-src="https://l-rus.ru/upload/resize_cache/iblock/8e1/205_205_1/8e10e12c1c6f43bbab83e0c5269bbb2a.png"
									data-srcset="/upload/resize_cache/iblock/8e1/410_410_1/8e10e12c1c6f43bbab83e0c5269bbb2a.png 2x,/upload/iblock/8e1/8e10e12c1c6f43bbab83e0c5269bbb2a.png 3x"
									class="special-offers__img catalog__img lazyload" />
							</a>
							<a href="/liebherr/holodilniki/dvukhkamernye-kholodilniki-s-morozilnikom/kholodilnik-ctsl-3306-comfort.html"
								title="Холодильник Liebherr CTsl 3306 Comfort"
								class="special-offers__text catalog__text">Холодильник Liebherr CTsl 3306 Comfort</a>
							<span class="catalog__presence">В наличии</span>

							<div class="catalog__specification">

								<div class="catalog__feature">
									Тип: <span class="catalog__bold">холодильник с морозильником</span>
								</div>
								<div class="catalog__feature">
									Габариты, ВxШxГ [см]: <span class="catalog__bold">176.1x60x63</span>
								</div>
								<div class="catalog__feature">
									Полезный объем холодильной камеры [л]: <span class="catalog__bold">232</span>
								</div>
								<div class="catalog__feature">
									Расположение морозильной камеры: <span class="catalog__bold">сверху</span>
								</div>

							</div>

							<div class="catalog__prop">
								<span class="link-pop-glossary">
									<img data-src="https://l-rus.ru/upload/iblock/7e8/7e8ae84d7b4638b17cddd19605b000d8.svg"
										class="icons-prop-item lazyload"
										title="Класс А+ означает, что модель потребляет на 10% электроэнергии меньше, чем прибор экономичного класса А." />
								</span>

								<span class="link-pop-glossary">
									<img data-src="https://l-rus.ru/upload/iblock/17a/17af4e9541eb4a4976a6974b342b87e6.svg"
										class="icons-prop-item lazyload"
										title="Светодиодное освещение в приборах класса Comfort расположено на потолке, в моделях Premium - светодиодные колонны находятся на боковых стенках." />
								</span>

								<span class="link-pop-glossary">
									<img data-src="https://l-rus.ru/upload/iblock/5b2/5b2fcf6d28113c3ce5df83715f880085.svg"
										class="icons-prop-item lazyload"
										title="Технология SmartFrost равномерно распределяет хладагент по всему контуру камеры. Оседающий на испарителе иней оттаивает, а образующаяся вода скапливается в специальной емкости, из которой впоследствии испаряется. Благодаря этому отпадает необходимость ручного размораживания холодильного отделения." />
								</span>

							</div>

							<div class="special-offers__sale catalog__sale">

								<span class="special-offers__price catalog__price ">

									33 990 <i class="special-offers__rub catalog__rub">руб.</i>
								</span>

								<a href="" title="купить" class="js-add2basket special-offers__buy"
									data-id="1384">купить</a>

							</div>
							<div class="catalog__existence">

								<a href="" class="catalog__simile js-compare " data-id="1384">Сравнить</a>

								<a href="" class="catalog__favorite  js-add2favorite" data-id="1384"></a>

								<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
									data-id="1384">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

							</div>

							<!-- begin label -->
							<div class="announcing">

								<div class="announcing__item">
									<img class="lazyload"
										data-src="https://l-rus.ru/upload/iblock/d50/d50f318b53fe46dc4099df083efe4025.svg"
										alt="Производство Болгария" title="Производство Болгария" />
								</div>

								<div class="announcing__item"><img class="lazyload"
										data-src="https://l-rus.ru/mockup/templates/main/build/images/small/truck.svg"
										alt="Бесплатная доставка" title="Бесплатная доставка" /></div>

								<div class="announcing__item"><img class="lazyload"
										data-src="https://l-rus.ru/mockup/templates/main/build/images/small/new.svg"
										alt="Новинка" title="Новинка" /></div>

							</div>
							<!-- end label -->

							<div itemscope itemtype="http://schema.org/Product" class="hide">

								<meta itemprop="name" content="Холодильник Liebherr CTsl 3306 Comfort" />

								<img itemprop="image"
									src="https://l-rus.ru/upload/iblock/8e1/8e10e12c1c6f43bbab83e0c5269bbb2a.png" />

								<meta itemprop="brand" content="Liebherr" />

								<meta itemprop="description" content="Холодильник Liebherr CTsl 3306 Comfort" />

								<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
									<meta itemprop="price" content="33990" />
									<meta itemprop="priceCurrency" content="RUB" />

									<meta itemprop="availability" content="http://schema.org/InStock" />
									<meta itemprop="url"
										content="https://l-rus.ru/liebherr/holodilniki/dvukhkamernye-kholodilniki-s-morozilnikom/kholodilnik-ctsl-3306-comfort.html" />
								</div>

								<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
									<meta itemprop="ratingValue" content="5" />
									<meta itemprop="reviewCount" content="1" />
								</div>

							</div>

						</div>

						<div class="catalog__item swiper-slide js-ecom_product-item" data-id="1385"
							id="bx_3589829689_1385">
							<a class="catalog__pic"
								href="/liebherr/holodilniki/odnokamernye-kholodilniki-bez-morozilnika/kholodilnik-liebherr-t-1404-comfort.html"
								title="Холодильник Liebherr T 1404 Comfort">
								<img data-src="https://l-rus.ru/upload/resize_cache/iblock/f2e/205_205_1/f2e517b023ca9acaeb6af10057bed90b.jpg"
									data-srcset="/upload/resize_cache/iblock/f2e/410_410_1/f2e517b023ca9acaeb6af10057bed90b.jpg 2x,/upload/resize_cache/iblock/f2e/615_615_1/f2e517b023ca9acaeb6af10057bed90b.jpg 3x"
									class="special-offers__img catalog__img lazyload" />
							</a>
							<a href="/liebherr/holodilniki/odnokamernye-kholodilniki-bez-morozilnika/kholodilnik-liebherr-t-1404-comfort.html"
								title="Холодильник Liebherr T 1404 Comfort"
								class="special-offers__text catalog__text">Холодильник Liebherr T 1404 Comfort</a>
							<span class="catalog__presence">В наличии</span>

							<div class="catalog__specification">

								<div class="catalog__feature">
									Тип: <span class="catalog__bold">холодильник с морозильником</span>
								</div>
								<div class="catalog__feature">
									Габариты, ВxШxГ [см]: <span class="catalog__bold">85x50.1x62</span>
								</div>
								<div class="catalog__feature">
									Полезный объем холодильной камеры [л]: <span class="catalog__bold">107</span>
								</div>
								<div class="catalog__feature">
									Расположение морозильной камеры: <span class="catalog__bold">сверху</span>
								</div>

							</div>

							<div class="catalog__prop">
								<span class="link-pop-glossary">
									<img data-src="https://l-rus.ru/upload/iblock/7e8/7e8ae84d7b4638b17cddd19605b000d8.svg"
										class="icons-prop-item lazyload"
										title="Класс А+ означает, что модель потребляет на 10% электроэнергии меньше, чем прибор экономичного класса А." />
								</span>

							</div>

							<div class="special-offers__sale catalog__sale">

								<span class="special-offers__price catalog__price ">

									18 490 <i class="special-offers__rub catalog__rub">руб.</i>
								</span>

								<a href="" title="купить" class="js-add2basket special-offers__buy"
									data-id="1385">купить</a>

							</div>
							<div class="catalog__existence">

								<a href="" class="catalog__simile js-compare " data-id="1385">Сравнить</a>

								<a href="" class="catalog__favorite  js-add2favorite" data-id="1385"></a>

								<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
									data-id="1385">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

							</div>

							<!-- begin label -->
							<div class="announcing">

								<div class="announcing__item">
									<img class="lazyload"
										data-src="https://l-rus.ru/upload/iblock/d50/d50f318b53fe46dc4099df083efe4025.svg"
										alt="Производство Болгария" title="Производство Болгария" />
								</div>

								<div class="announcing__item"><img class="lazyload"
										data-src="https://l-rus.ru/mockup/templates/main/build/images/small/truck.svg"
										alt="Бесплатная доставка" title="Бесплатная доставка" /></div>

							</div>
							<!-- end label -->

							<div itemscope itemtype="http://schema.org/Product" class="hide">

								<meta itemprop="name" content="Холодильник Liebherr T 1404 Comfort" />

								<img itemprop="image"
									src="https://l-rus.ru/upload/resize_cache/iblock/f2e/615_615_1/f2e517b023ca9acaeb6af10057bed90b.jpg" />

								<meta itemprop="brand" content="Liebherr" />

								<meta itemprop="description" content="Холодильник Liebherr T 1404 Comfort" />

								<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
									<meta itemprop="price" content="18490" />
									<meta itemprop="priceCurrency" content="RUB" />

									<meta itemprop="availability" content="http://schema.org/InStock" />
									<meta itemprop="url"
										content="https://l-rus.ru/liebherr/holodilniki/odnokamernye-kholodilniki-bez-morozilnika/kholodilnik-liebherr-t-1404-comfort.html" />
								</div>

								<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
									<meta itemprop="ratingValue" content="5" />
									<meta itemprop="reviewCount" content="1" />
								</div>

							</div>

						</div>

						<div class="catalog__item swiper-slide js-ecom_product-item" data-id="1343"
							id="bx_3589829689_1343">
							<a class="catalog__pic"
								href="/liebherr/holodilniki/morozilnye-kamery/morozilnik-liebherr-g-3013-comfort-superfrost.html"
								title="Морозильник Liebherr G 3013 Comfort">
								<img data-src="https://l-rus.ru/upload/resize_cache/iblock/902/205_205_1/902ccbd04240c56bca171a77124c6558.jpg"
									data-srcset="/upload/resize_cache/iblock/902/410_410_1/902ccbd04240c56bca171a77124c6558.jpg 2x,/upload/iblock/902/902ccbd04240c56bca171a77124c6558.jpg 3x"
									class="special-offers__img catalog__img lazyload" />
							</a>
							<a href="/liebherr/holodilniki/morozilnye-kamery/morozilnik-liebherr-g-3013-comfort-superfrost.html"
								title="Морозильник Liebherr G 3013 Comfort"
								class="special-offers__text catalog__text">Морозильник Liebherr G 3013 Comfort</a>
							<span class="catalog__presence">В наличии</span>

							<div class="catalog__specification">

								<div class="catalog__feature">
									Тип: <span class="catalog__bold">морозильник-шкаф</span>
								</div>
								<div class="catalog__feature">
									Габариты, ВxШxГ [см]: <span class="catalog__bold">155.5x69.7x75</span>
								</div>
								<div class="catalog__feature">
									Полезный объем морозильной камеры [л]: <span class="catalog__bold">300</span>
								</div>
								<div class="catalog__feature">
									Система охлаждения: <span class="catalog__bold">SmartFrost</span>
								</div>

							</div>

							<div class="catalog__prop">
								<span class="link-pop-glossary">
									<img data-src="https://l-rus.ru/upload/iblock/daa/daad1bb98d6319577f6f96b031dff5d8.svg"
										class="icons-prop-item lazyload"
										title="Класс А++ означает, что модель потребляет на 20% электроэнергии меньше, чем прибор экономичного класса А. " />
								</span>

								<span class="link-pop-glossary">
									<img data-src="https://l-rus.ru/upload/iblock/5b2/5b2fcf6d28113c3ce5df83715f880085.svg"
										class="icons-prop-item lazyload"
										title="Технология SmartFrost равномерно распределяет хладагент по всему контуру камеры. Оседающий на испарителе иней оттаивает, а образующаяся вода скапливается в специальной емкости, из которой впоследствии испаряется. Благодаря этому отпадает необходимость ручного размораживания холодильного отделения." />
								</span>

							</div>

							<div class="special-offers__sale catalog__sale">

								<span class="special-offers__price catalog__price ">

									60 450 <i class="special-offers__rub catalog__rub">руб.</i>
								</span>

								<a href="" title="купить" class="js-add2basket special-offers__buy"
									data-id="1343">купить</a>

							</div>
							<div class="catalog__existence">

								<a href="" class="catalog__simile js-compare " data-id="1343">Сравнить</a>

								<a href="" class="catalog__favorite  js-add2favorite" data-id="1343"></a>

								<a href="" class="catalog__oneclick js-viewForm" data-action="BuyOneClick"
									data-id="1343">Купить&nbsp;в&nbsp;1&nbsp;клик</a>

							</div>

							<!-- begin label -->
							<div class="announcing">

								<div class="announcing__item">
									<img class="lazyload"
										data-src="https://l-rus.ru/upload/iblock/02d/02d05023bc9c5a80112019d1173a030e.svg"
										alt="Производство Германия" title="Производство Германия" />
									https://l-rus.ru </div>

							</div>
							<!-- end label -->

							<div itemscope itemtype="http://schema.org/Product" class="hide">

								<meta itemprop="name" content="Морозильник Liebherr G 3013 Comfort" />

								<img itemprop="image"
									src="https://l-rus.ru/upload/iblock/902/902ccbd04240c56bca171a77124c6558.jpg" />

								<meta itemprop="brand" content="Liebherr" />

								<meta itemprop="description" content="Морозильник Liebherr G 3013 Comfort" />

								<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
									<meta itemprop="price" content="60450" />
									<meta itemprop="priceCurrency" content="RUB" />

									<meta itemprop="availability" content="http://schema.org/InStock" />
									<meta itemprop="url"
										content="https://l-rus.ru/liebherr/holodilniki/morozilnye-kamery/morozilnik-liebherr-g-3013-comfort-superfrost.html" />
								</div>

							</div>

						</div>

					</div>
					<div class="swiper-scrollbar"></div>
					<!-- If we need pagination -->
				</div>

				<div class="swiper-pagination_2"></div>
				<div class="swiper-button-prev special-offers_prev"></div>
				<div class="swiper-button-next special-offers_next"></div>
			</div>
		</div>
	</div>
</div>
<div class="reviews_article">
	<div class="reviews__top">
		<div class="reviews__section">
			<span class="reviews__all">Комментарии 3</span>
		</div>
		<a href="#callback-form" class="reviews__link">оставить комментарий</a>
	</div>
	<div class="reviews-list">
		<div class="reviews-list__item" itemscope="" itemtype="">
			<div class="reviews-list__field reviews-list__field_header">
				<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
					<strong itemprop="name">Ирина</strong>
				</div>
				<div class="reviews-list__col reviews-list__col_date">
					<meta itemprop="datePublished" content="2018-08-30">
					28 января 2018
				</div>
			</div>
			<div class="reviews-list__field">
				<div class="reviews-list__col reviews-list__col_desc" itemprop="reviewBody">
					Сделав ремонт на кухне, встал вопрос о покупке новой плиты. Выбирали долго, так как работать
					она будет не один год. Выбрали электроплиту Gorenje EC 67 CLB. Красивый дизайн в ретро стиле
					просто покорил нас, а когда увидели, что варочная панель из стеклокерамики, то уже ни грамма не
					сомневались, что это наш выбор.
				</div>
			</div>
			<!-- /.reviews-list__field -->
			<meta itemprop="itemReviewed" content="Siemens WD15H541OE">
		</div>
		<div class="reviews-list__item" itemscope="" itemtype="http://schema.org/Review">
			<div class="reviews-list__field reviews-list__field_header">
				<div itemprop="author" itemscope="" itemtype="http://schema.org/Person" class="reviews-list__col">
					<strong itemprop="name">Сергей</strong>
				</div>
				<div class="reviews-list__col reviews-list__col_date">
					<meta itemprop="datePublished" content="2018-08-30">
					28 января 2018
				</div>
			</div>
			<div class="reviews-list__field">
				<div class="reviews-list__col reviews-list__col_desc" itemprop="reviewBody">
					Сделав ремонт на кухне, встал вопрос о покупке новой плиты. Выбирали долго, так как работать
					она будет не один год. Выбрали электроплиту Gorenje EC 67 CLB. Красивый дизайн в ретро стиле
					просто покорил нас, а когда увидели, что варочная панель из стеклокерамики, то уже ни грамма не
					сомневались, что это наш выбор.
				</div>
			</div>
			<!-- /.reviews-list__field -->
			<meta itemprop="itemReviewed" content="Siemens WD15H541OE">
		</div>
		<div class="reviews-list__item" itemscope="" itemtype="http://schema.org/Review">
			<div class="reviews-list__field reviews-list__field_header">
				<div itemprop="author" itemscope="" itemtype="http://schema.org/Person" class="reviews-list__col">
					<strong itemprop="name">Олег</strong>
				</div>
				<div class="reviews-list__col reviews-list__col_date">
					<meta itemprop="datePublished" content="2018-08-30">
					28 января 2018
				</div>
			</div>
			<div class="reviews-list__field">
				<div class="reviews-list__col reviews-list__col_desc" itemprop="reviewBody">
					Выбирали долго, так как работать она будет не один год.
				</div>
			</div>
			<!-- /.reviews-list__field -->
			<meta itemprop="itemReviewed" content="Siemens WD15H541OE">
		</div>
	</div>
	<form class="add-comment__form" action="" method="post" id="callback-form">
		<span class="form__title add-comment__title">Комментировать</span>
		<div class="add-comment__row">
			<strong class="add-comment__name">Ваш комментарий:<span
					class="abuse-popup__req callback__req">*</span></strong>
			<textarea rows="4" cols="40" name="ORDER_PROP_272" id="ORDER_PROP_272"
				placeholder="Ваш комментарий *"></textarea>
			<span class="add-comment__text">Комментарии публикуются после проверки
				модераторами. Перед отправкой вашего
				комментария убедитесь, что он не нарушает
				правил модерации.</span>
		</div>
		<div class="add-comment__row">
			<strong class="add-comment__name">Ваше имя:<span class="abuse-popup__req callback__req">*</span></strong>
			<input type="text" name="phone" value="" id="input-phone" placeholder="Ваше имя *">
		</div>
		<div class="add-comment__row">
			<strong class="add-comment__name">Email:<span class="abuse-popup__req callback__req">*</span></strong>
			<input type="email" name="" value="" id="input-name" placeholder="Email *">
			<span class="add-comment__text">Email на сайте не публикуется. На вашу почту
				придёт уведомление о статусе комментария.</span>
		</div>
		<div class="add-comment__item">
			<input type="submit" value="Отправить" class="btn-sub3 abuse-popup__submit" name="">
		</div>
	</form>
</div>
