.footer {
	// background-color: #f8f8f8;
	background: url('../images/logo-bg.svg') no-repeat #f8f8f8;
	background-size: 46% 30%;
	background-position: 45% 41%;
	padding: 32px 0 19px;
	z-index: 3;
	position: relative;
	min-width: 1176px;



	.container {
		padding: 0;
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
	}

	&__col {
		width: 25%;
		flex-basis: 220px;
		flex-grow: 1;

		.menu-footer__item {
			width: 85%;
			cursor: pointer;
			font-family: Arial, sans-serif;
			font-size: 13px;
			line-height: 16px;
			color: #394791;
			margin-bottom: 8px;
		}

		&:nth-child(3) {
			width: 39%;
			flex-basis: 310px;


			.menu-footer__list {
				display: flex;
				flex-wrap: wrap;
				height: 181px;
				align-content: baseline;
			}

			.menu-footer__title {
				width: 100%;
			}

			.menu-footer__item {
				width: 50%;
			}

			.menu-footer__item {
				width: 50%;
			}
		}

		&:nth-child(4) {
			width: 15%;
			flex-basis: 192px;
			display: flex;
			flex-direction: column;
			// flex-basis: 100px;
			padding-top: 12px;
			flex-grow: 0;
		}
	}

	&__row {
		width: 100%;
		display: flex;
		padding-top: 34px;
		align-items: center;
		flex: 1 1 100%;
		justify-content: space-between;
	}

	&__copyright {
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: normal;
		text-align: left;
		color: #666666;
		font-family: Arial, sans-serif;
		font-size: 13px;
		line-height: 20px;

		br {
			display: none;
		}
	}

	&__button {
		height: 34px;
		padding: 4px 14px 4px 14px;
		border-radius: 3px;
		background-color: #394791;
		color: #ffffff;
		font-family: "Roboto Condensed";
		font-size: 14px;
		font-weight: 400;
		color: #ffffff;
		display: flex;
		align-items: center;
	}

	&__text {
		color: #666666;
		font-family: Arial, sans-serif;
		font-size: 13px;
		line-height: 22px;
		text-align: right;

		b {
			font-weight: bold;
		}
	}

	&__tel {
		color: #333333;
		font-size: 20px;
		font-weight: 400;
		line-height: 26px;
		text-align: right;
		text-decoration: none !important;
	}

	&__email {
		color: #394791;
		font-family: Arial, sans-serif;
		font-size: 13px;
		line-height: 22px;
		text-align: right;
		margin: 7px 0 6px 0;
		text-decoration: none !important;

		i {
			color: #666666;
			font-style: normal;
			margin-right: 4px;
		}
	}

	&__telephones {
		display: flex;
		min-width: 195px;
		justify-content: flex-end;
	}

	.menu-footer {
		&__title {
			font-size: 18px;
			font-weight: 400;
			line-height: 36px;
			color: #394791;
			font-family: "Roboto Condensed";
			// cursor: pointer;
			margin-bottom: 10px;
		}

		&__link {
			color: #666666;
			font-family: Arial, sans-serif;
			font-size: 13px;
			line-height: 16px;
			text-decoration: none !important;

			&:hover {
				color: #394791;
			}
		}

		&__list {
			margin: 0;
			padding: 0;
			list-style-type: none;

		}
	}

	.social-items {
		display: flex;
		// margin-left: 8%;

		.social-link {
			width: 20px;
			height: 20px;
			margin-right: 25px;

			&:last-child {
				margin-right: 0;
			}

			&.vk {
				background: url('../images/social-items-vk.png') no-repeat #f8f8f8;
			}

			&.fb {
				background: url('../images/social-items-facebook.png') no-repeat #f8f8f8;
			}

			&.tw {
				background: url('../images/social-items-instagram.png') no-repeat #f8f8f8;
			}

			&.ok {
				background: url('../images/social-items-ok.png') no-repeat #f8f8f8;
			}
		}


	}

	.privacy-policy {
		color: #666666;
		font-family: Arial, sans-serif;
		font-size: 13px;
		line-height: 20px;
		text-decoration: none !important;

		&:hover {
			color: #394791;
		}
	}

	.footer__call-phone-button {
		color: #394791;
		font-family: Arial, sans-serif;
		font-size: 13px;
		line-height: 22px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 10px 0 0 0;
		text-decoration: none !important;

		&::before {
			content: '';
			background: url('../images/footer__call.png');
			// background: url('../images/social-items-vk.png') no-repeat #f8f8f8;
			margin-right: 10px;
			width: 12px;
			height: 12px;
		}

		span {
			border-bottom: 1px dashed #394791;
		}
	}

	.abuse__button {
		text-decoration: none !important;
	}

	&__half {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}




	@media screen and (max-width: 767px) {
		padding: 0 0 19px;
		background: #f8f8f8;
		min-width: 320px;
		width: auto;
		max-width: 100%;


		* {
			transition: 0.3s;
		}

		&__row {
			flex-wrap: wrap;
			padding-top: 16px;
			flex-direction: column;
			align-items: baseline;
		}

		&__copyright {
			width: 100%;
			text-align: left;
			margin-bottom: 16px;

			@media screen and (max-width: 443px) {
				br {
					display: block;
				}
			}
		}

		&__telephones {
			margin: 0px;
			width: 100%;

			.l-abuse,
			.footer__button {
				width: 100%;
			}
		}

		&__button {
			width: 288px;
			height: 32px;
			text-align: center;
			justify-content: center;
		}

		.footer {
			&__col {
				flex-basis: unset;
				flex-grow: 0;
				margin-bottom: 0;
				width: 100% !important;
				margin-bottom: 0 !important;
				border-bottom: 1px solid #eeeeee;
				margin-left: 0 !important;

				.menu-footer__item {
					width: 100%;
					max-width: 100%;
				}

				&:nth-child(2) {
					margin-left: 7%;
				}

				&:nth-child(3) {
					margin-left: 6%;
				}

				&:nth-child(4) {
					height: unset !important;
					padding-top: 7px !important;
					max-height: 150px;
					flex-wrap: wrap;
				}
			}

		}

		.menu-footer {
			height: 47px;
			overflow: hidden;

			&__title {
				line-height: 27px;
				font-size: 16px;
				margin-bottom: 0px;
				padding: 9px 16px 11px 0;
				background: url("https://icongr.am/entypo/chevron-down.svg?color=666666") 100% 17px/16px no-repeat;
				color: #333333;
				cursor: pointer;
			}

			&__item {
				padding: 0;
			}

			&__list {
				display: block;
				height: unset !important;
				padding-bottom: 11px;
			}
		}

		.active {
			height: unset;
			overflow: unset;

			.menu-footer__title {
				background: url("https://icongr.am/entypo/chevron-up.svg?color=666666") 100% 17px/16px no-repeat;
			}
		}

		.checkbox__oferta {
			color: #666666;
			font-family: Arial, sans-serif;
			font-size: 12px;
			line-height: 18px;
		}

		.footer__text {
			width: unset;
			margin-top: 4%;
			text-align: left;

			&_three {
				margin-top: 0;
				// display: flex;
				// flex-wrap: wrap;
				font-size: 12px;
			}

			&_first {
				white-space: nowrap;
				position: absolute;
				left: 0;
				top: 0;
			}

		}

		.footer__tel {
			text-align: left;
			color: #333333;
			font-family: "Roboto Condensed";
			font-size: 17px;
			font-weight: 400;
			line-height: 30px;

			&:first-of-type {
				margin-top: 19px;
			}
		}

		.footer__call-phone-button {
			justify-content: flex-start;
			margin-top: 16px;
		}

		.footer__email {
			text-align: left;
			order: 3;

		}

		.social-items {
			margin-bottom: 12px;
		}

		.privacy-policy {
			margin-bottom: 12px;
		}

		&__half {
			width: calc(50% - 7px);
			position: relative;

			&:first-child {
				padding-right: 14px;
				padding-top: 22px;
				align-items: flex-start;
			}

			&:last-child {
				align-items: flex-start;
				padding-top: 36px;
				padding-left: 7px;

				.footer__text {
					text-align: left;
				}
			}
		}
	}
}


.abuse-popup-container {
	// height: 100vh;
	// overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
