<div class="header__dropdown-menu" id="js-menu">
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">Бытовые холодильники</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Холодильники</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Однокамерные
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Двухкамерные
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Side-by-Side
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Морозильные камеры
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Морозильные лари
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="#">Отдельностоящие морозильные камеры</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="#">Встраиваемые холодильники</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Встраиваемые однокамерные
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Двухкамерные
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Встраиваемые двухкамерные
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Встраиваемые Side-by-Side
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Встраиваемые морозильные камеры
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="#">Встраиваемые морозильные камеры</a>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="#">Винные шкафы</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" target="_blank" href="#">
								∙ Встраиваемые
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								∙ Отдельностоящие
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="#">Хьюмидоры</a>
				</li>
			</ul>
		</div>

	</nav>
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">Профессиональная техника</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
			<li class="dropdown-menu__item">
				<a class="dropdown-menu__link" href="#">Медицинское и лабораторное оборудование</a>
			</li>
			<li class="dropdown-menu__item">
				<a class="dropdown-menu__link" href="#">Для гостиниц и ресторанов</a>
			</li>
			<li class="dropdown-menu__item">
				<a class="dropdown-menu__link" href="#">Для охлаждения напитков</a>
			</li>
			<li class="dropdown-menu__item">
				<a class="dropdown-menu__link" href="#">Для пекарен</a>
			</li>
			<li class="dropdown-menu__item">
				<a class="dropdown-menu__link" href="#">Для хранения замороженных продуктов и мороженого</a>
			</li>
		</ul>
		</div>
		
	</nav>
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title last"><a href="#">Сервис</a></span>
	</nav>
	{% include 'popup-call/callback.html' %}
</div>