<div class="breadcrumbs">
	<a href="#" class="breadcrumbs__link">Grohe</a>
	<span class="breadcrumbs__sep">/</span>
	<span class="breadcrumbs__text">Инструкции</span>
</div>
<div class="instructions-main">
	<h1 class="title">
		Инструкции к товарам Grohe
	</h1>
	<!-- /.instructions-main__title -->
	<div class="instructions-main__items">
		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/smes.png" alt="" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="#" class="instructions-main__title">Инструкции для смесителей GROHE</a>
				<!-- /.instructions-main__title -->
				<a href="#" class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>
		<!-- /.instructions-main__item -->
		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/dush.png" alt="" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="#" class="instructions-main__title">Инструкции для ДУШевых GROHE</a>
				<!-- /.instructions-main__title -->
				<a href="#" class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>
		<!-- /.instructions-main__item -->
		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/term.png" alt="" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="#" class="instructions-main__title">Инструкции для Термостатов GROHE</a>
				<!-- /.instructions-main__title -->
				<a href="#" class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>
		<!-- /.instructions-main__item -->
		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/install.png" alt="" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="#" class="instructions-main__title">Инструкции для СИСТЕМ ИНСТАЛЛЯЦИИ GROHE</a>
				<!-- /.instructions-main__title -->
				<a href="#" class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>
		<!-- /.instructions-main__item -->
		<div class="instructions-main__item">
			<div class="instructions-main__image">
				<img src="images/Bitmap.png" alt="" class="instructions-main__pic">
			</div>
			<!-- /.instructions-main__image -->
			<div class="instructions-main__list">
				<a href="#" class="instructions-main__title">Инструкции для аксессуаров GROHE</a>
				<!-- /.instructions-main__title -->
				<a href="#" class="instructions-main__link">Смотреть все</a>
				<!-- /.instructions-main__link -->
			</div>
			<!-- /.instructions-main__list -->
		</div>
		<!-- /.instructions-main__item -->
	</div>
	<!-- /.instructions-main__items -->
</div>
