<div class="breadcrumbs">
	<a href="#" class="breadcrumbs__link">Grohe</a>
	<span class="breadcrumbs__sep">/</span>
	<span class="breadcrumbs__text">Инструкции</span>
</div>
<div class="instructions-category">
	<div class="instructions-category__title">Инструкции для термостатов Grohe</div>
	<div class="instructions-category__form">
		<form class="search-found__form" action="" method="get">
			<input type="text" name="q" value="" placeholder="Введите название товара">
			<input type="submit" value="Найти" class="btn-sub3 abuse-popup__submit">
		</form>
	</div>

	<div class="instructions-category__items">
		<div class="catalog__item instructions-category__item">
			<a class="catalog__pic"
				href="https://grohe.l-rus.ru/catalog/termostaty/termostat-grohe-grohtherm-1000-dlya-dusha-dn-15-34143003.html"
				title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003">
				<img data-src="https://l-rus.ru/upload/resize_cache/iblock/0e1/245_230_1/0e18d7ed4aa90682b0d47a3a79f23d22.jpg"
					alt="Холодильник Liebherr ECBN 6256 PremiumPlus preview 1"
					title="Холодильник Liebherr ECBN 6256 PremiumPlus фото 1"
					class="special-offers__img catalog__img lazyloaded"
					src="https://l-rus.ru/upload/resize_cache/iblock/0e1/245_230_1/0e18d7ed4aa90682b0d47a3a79f23d22.jpg">
			</a>
			<a href="https://grohe.l-rus.ru/catalog/termostaty/termostat-grohe-grohtherm-1000-dlya-dusha-dn-15-34143003.html"
				title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003"
				class="special-offers__text catalog__text" data-mh="my-group">Термостат
				Grohe Grohtherm 1000 для душа DN 15
				34143003
			</a>
			<a href="/doc-view/6253/16558/" title="Инструкция по установке" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Инструкция по установке</span>
				pdf, 1.61 MB
			</a>
			<a href="/doc-view/6253/16559/" title="Схема встраивания" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Схема встраивания</span>
				jpg, 79.25 KB
			</a>
			<a href="/doc-view/6253/16557/" title="Рекомендации по уходу" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Рекомендации по уходу</span>
				pdf, 676.44 KB
			</a>
		</div>
		<div class="catalog__item instructions-category__item">
			<a class="catalog__pic"
				href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-grohtherm-smartcontrol-dlya-dusha-29123000-verkhnyaya-montazhnaya-chast.html"
				title="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть)">
				<img data-src="https://grohe.l-rus.ru//upload/resize_cache/iblock/d30/245_230_1/d30e7451d56c9592840ad9f2aa7c7ae6.jpg"
					alt="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть) preview 1"
					title="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть) фото 1"
					class="special-offers__img catalog__img lazyloaded loaded"
					src="https://grohe.l-rus.ru//upload/resize_cache/iblock/d30/245_230_1/d30e7451d56c9592840ad9f2aa7c7ae6.jpg"
					data-was-processed="true">
			</a>
			<a href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-grohtherm-smartcontrol-dlya-dusha-29123000-verkhnyaya-montazhnaya-chast.html"
				title="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть)"
				class="special-offers__text catalog__text" data-mh="my-group">Термостат Grohe Grohtherm SmartControl для
				душа
				29123000
				(верхняя
				монтажная часть)
			</a>
			<a href="/doc-view/6253/16558/" title="Инструкция по установке" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Инструкция по установке</span>
				pdf, 1.61 MB
			</a>
			<a href="/doc-view/6253/16559/" title="Схема встраивания" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Схема встраивания</span>
				jpg, 79.25 KB
			</a>
			<a href="/doc-view/6253/16557/" title="Рекомендации по уходу" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Рекомендации по уходу</span>
				pdf, 676.44 KB
			</a>
		</div>
		<div class="catalog__item instructions-category__item">
			<a class="catalog__pic"
				href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-rapido-smartbox-universalnyy-35600000.html"
				title="Термостат Grohe Rapido Smartbox универсальный 35600000">
				<img data-src="https://grohe.l-rus.ru//upload/resize_cache/iblock/208/245_230_1/20826193f6dad7356dfe6ce0577f9efa.jpg"
					alt="Термостат Grohe Rapido Smartbox универсальный 35600000 preview 1"
					title="Термостат Grohe Rapido Smartbox универсальный 35600000 фото 1"
					class="special-offers__img catalog__img lazyloaded"
					src="https://grohe.l-rus.ru//upload/resize_cache/iblock/208/245_230_1/20826193f6dad7356dfe6ce0577f9efa.jpg">
			</a>
			<a href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-rapido-smartbox-universalnyy-35600000.html"
				title="Термостат Grohe Rapido Smartbox универсальный 35600000"
				class="special-offers__text catalog__text" data-mh="my-group">Термостат
				Grohe Rapido Smartbox универсальный
				35600000
			</a>
			<a href="/doc-view/6253/16558/" title="Инструкция по установке" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Инструкция по установке</span>
				pdf, 1.61 MB
			</a>

		</div>
		<div class="catalog__item instructions-category__item">
			<a class="catalog__pic"
				href="https://grohe.l-rus.ru/catalog/termostaty/termostat-grohe-grohtherm-1000-dlya-dusha-dn-15-34143003.html"
				title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003">
				<img data-src="https://l-rus.ru/upload/resize_cache/iblock/0e1/245_230_1/0e18d7ed4aa90682b0d47a3a79f23d22.jpg"
					alt="Холодильник Liebherr ECBN 6256 PremiumPlus preview 1"
					title="Холодильник Liebherr ECBN 6256 PremiumPlus фото 1"
					class="special-offers__img catalog__img lazyloaded"
					src="https://l-rus.ru/upload/resize_cache/iblock/0e1/245_230_1/0e18d7ed4aa90682b0d47a3a79f23d22.jpg">
			</a>
			<a href="https://grohe.l-rus.ru/catalog/termostaty/termostat-grohe-grohtherm-1000-dlya-dusha-dn-15-34143003.html"
				title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003"
				class="special-offers__text catalog__text" data-mh="my-group">Термостат
				Grohe Grohtherm 1000 для душа DN 15
				34143003
			</a>
			<a href="/doc-view/6253/16558/" title="Инструкция по установке" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Инструкция по установке</span>
				pdf, 1.61 MB
			</a>
			<a href="/doc-view/6253/16559/" title="Схема встраивания" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Схема встраивания</span>
				jpg, 79.25 KB
			</a>

		</div>
		<div class="catalog__item instructions-category__item">
			<a class="catalog__pic"
				href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-grohtherm-smartcontrol-dlya-dusha-29123000-verkhnyaya-montazhnaya-chast.html"
				title="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть)">
				<img data-src="https://grohe.l-rus.ru//upload/resize_cache/iblock/d30/245_230_1/d30e7451d56c9592840ad9f2aa7c7ae6.jpg"
					alt="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть) preview 1"
					title="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть) фото 1"
					class="special-offers__img catalog__img lazyloaded loaded"
					src="https://grohe.l-rus.ru//upload/resize_cache/iblock/d30/245_230_1/d30e7451d56c9592840ad9f2aa7c7ae6.jpg"
					data-was-processed="true">
			</a>
			<a href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-grohtherm-smartcontrol-dlya-dusha-29123000-verkhnyaya-montazhnaya-chast.html"
				title="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть)"
				class="special-offers__text catalog__text" data-mh="my-group">Термостат Grohe Grohtherm SmartControl для
				душа
				29123000
				(верхняя
				монтажная часть)
			</a>
			<a href="/doc-view/6253/16558/" title="Инструкция по установке" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Инструкция по установке</span>
				pdf, 1.61 MB
			</a>
			<a href="/doc-view/6253/16559/" title="Схема встраивания" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Схема встраивания</span>
				jpg, 79.25 KB
			</a>
			<a href="/doc-view/6253/16557/" title="Рекомендации по уходу" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Рекомендации по уходу</span>
				pdf, 676.44 KB
			</a>
			<a href="/doc-view/6253/16557/" title="Рекомендации по уходу" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Рекомендации по уходу</span>
				pdf, 676.44 KB
			</a>
		</div>
		<div class="catalog__item instructions-category__item">
			<a class="catalog__pic"
				href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-rapido-smartbox-universalnyy-35600000.html"
				title="Термостат Grohe Rapido Smartbox универсальный 35600000">
				<img data-src="https://grohe.l-rus.ru//upload/resize_cache/iblock/208/245_230_1/20826193f6dad7356dfe6ce0577f9efa.jpg"
					alt="Термостат Grohe Rapido Smartbox универсальный 35600000 preview 1"
					title="Термостат Grohe Rapido Smartbox универсальный 35600000 фото 1"
					class="special-offers__img catalog__img lazyloaded"
					src="https://grohe.l-rus.ru//upload/resize_cache/iblock/208/245_230_1/20826193f6dad7356dfe6ce0577f9efa.jpg">
			</a>
			<a href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-rapido-smartbox-universalnyy-35600000.html"
				title="Термостат Grohe Rapido Smartbox универсальный 35600000"
				class="special-offers__text catalog__text" data-mh="my-group">Термостат
				Grohe Rapido Smartbox универсальный
				35600000
			</a>
			<a href="/doc-view/6253/16558/" title="Инструкция по установке" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Инструкция по установке</span>
				pdf, 1.61 MB
			</a>
			<a href="/doc-view/6253/16558/" title="Инструкция по установке" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Инструкция по установке</span>
				pdf, 1.61 MB
			</a>
			<a href="/doc-view/6253/16559/" title="Схема встраивания" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Схема встраивания</span>
				jpg, 79.25 KB
			</a>
			<a href="/doc-view/6253/16557/" title="Рекомендации по уходу" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Рекомендации по уходу</span>
				pdf, 676.44 KB
			</a>
			<a href="/doc-view/6253/16559/" title="Схема встраивания" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Схема встраивания</span>
				jpg, 79.25 KB
			</a>
			<a href="/doc-view/6253/16557/" title="Рекомендации по уходу" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Рекомендации по уходу</span>
				pdf, 676.44 KB
			</a>
		</div>
		<div class="catalog__item instructions-category__item">
			<a class="catalog__pic"
				href="https://grohe.l-rus.ru/catalog/termostaty/termostat-grohe-grohtherm-1000-dlya-dusha-dn-15-34143003.html"
				title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003">
				<img data-src="/upload/resize_cache/iblock/bcb/245_230_1/bcb0da928271d7cd428a8dacfaae2f76.jpg"
					alt="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003 preview 1"
					title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003 фото 1"
					class="special-offers__img catalog__img lazyloaded"
					src="https://grohe.l-rus.ru/upload/resize_cache/iblock/bcb/245_230_1/bcb0da928271d7cd428a8dacfaae2f76.jpg">
			</a>
			<a href="https://grohe.l-rus.ru/catalog/termostaty/termostat-grohe-grohtherm-1000-dlya-dusha-dn-15-34143003.html"
				title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003"
				class="special-offers__text catalog__text" data-mh="my-group">Термостат
				Grohe Grohtherm 1000 для душа DN 15
				34143003
			</a>
			<a href="/doc-view/6253/16558/" title="Инструкция по установке" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Инструкция по установке</span>
				pdf, 1.61 MB
			</a>
			<a href="/doc-view/6253/16559/" title="Схема встраивания" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Схема встраивания</span>
				jpg, 79.25 KB
			</a>

		</div>
		<div class="catalog__item instructions-category__item">
			<a class="catalog__pic"
				href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-grohtherm-smartcontrol-dlya-dusha-29123000-verkhnyaya-montazhnaya-chast.html"
				title="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть)">
				<img data-src="https://grohe.l-rus.ru//upload/resize_cache/iblock/d30/245_230_1/d30e7451d56c9592840ad9f2aa7c7ae6.jpg"
					alt="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть) preview 1"
					title="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть) фото 1"
					class="special-offers__img catalog__img lazyloaded loaded"
					src="https://grohe.l-rus.ru//upload/resize_cache/iblock/d30/245_230_1/d30e7451d56c9592840ad9f2aa7c7ae6.jpg"
					data-was-processed="true">
			</a>
			<a href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-grohtherm-smartcontrol-dlya-dusha-29123000-verkhnyaya-montazhnaya-chast.html"
				title="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть)"
				class="special-offers__text catalog__text" data-mh="my-group">Термостат Grohe Grohtherm SmartControl для
				душа
				29123000
				(верхняя
				монтажная часть)
			</a>
			<a href="/doc-view/6253/16558/" title="Инструкция по установке" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Инструкция по установке</span>
				pdf, 1.61 MB
			</a>
			<a href="/doc-view/6253/16559/" title="Схема встраивания" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Схема встраивания</span>
				jpg, 79.25 KB
			</a>
			<a href="/doc-view/6253/16557/" title="Рекомендации по уходу" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Рекомендации по уходу</span>
				pdf, 676.44 KB
			</a>
		</div>
		<div class="catalog__item instructions-category__item">
			<a class="catalog__pic"
				href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-rapido-smartbox-universalnyy-35600000.html"
				title="Термостат Grohe Rapido Smartbox универсальный 35600000">
				<img data-src="https://grohe.l-rus.ru//upload/resize_cache/iblock/208/245_230_1/20826193f6dad7356dfe6ce0577f9efa.jpg"
					alt="Термостат Grohe Rapido Smartbox универсальный 35600000 preview 1"
					title="Термостат Grohe Rapido Smartbox универсальный 35600000 фото 1"
					class="special-offers__img catalog__img lazyloaded"
					src="https://grohe.l-rus.ru//upload/resize_cache/iblock/208/245_230_1/20826193f6dad7356dfe6ce0577f9efa.jpg">
			</a>
			<a href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-rapido-smartbox-universalnyy-35600000.html"
				title="Термостат Grohe Rapido Smartbox универсальный 35600000"
				class="special-offers__text catalog__text" data-mh="my-group">Термостат
				Grohe Rapido Smartbox универсальный
				35600000
			</a>
			<a href="/doc-view/6253/16558/" title="Инструкция по установке" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Инструкция по установке</span>
				pdf, 1.61 MB
			</a>
			<a href="/doc-view/6253/16559/" title="Схема встраивания" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Схема встраивания</span>
				jpg, 79.25 KB
			</a>

		</div>
		<div class="catalog__item instructions-category__item">
			<a class="catalog__pic"
				href="https://grohe.l-rus.ru/catalog/termostaty/termostat-grohe-grohtherm-1000-dlya-dusha-dn-15-34143003.html"
				title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003">
				<img data-src="/upload/resize_cache/iblock/bcb/245_230_1/bcb0da928271d7cd428a8dacfaae2f76.jpg"
					alt="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003 preview 1"
					title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003 фото 1"
					class="special-offers__img catalog__img lazyloaded"
					src="https://grohe.l-rus.ru/upload/resize_cache/iblock/bcb/245_230_1/bcb0da928271d7cd428a8dacfaae2f76.jpg">
			</a>
			<a href="https://grohe.l-rus.ru/catalog/termostaty/termostat-grohe-grohtherm-1000-dlya-dusha-dn-15-34143003.html"
				title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003"
				class="special-offers__text catalog__text" data-mh="my-group">Термостат
				Grohe Grohtherm 1000 для душа DN 15
				34143003
			</a>
			<a href="/doc-view/6253/16558/" title="Инструкция по установке" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Инструкция по установке</span>
				pdf, 1.61 MB
			</a>
			<a href="/doc-view/6253/16559/" title="Схема встраивания" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Схема встраивания</span>
				jpg, 79.25 KB
			</a>

		</div>
		<div class="catalog__item instructions-category__item">
			<a class="catalog__pic"
				href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-grohtherm-smartcontrol-dlya-dusha-29123000-verkhnyaya-montazhnaya-chast.html"
				title="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть)">
				<img data-src="https://grohe.l-rus.ru//upload/resize_cache/iblock/d30/245_230_1/d30e7451d56c9592840ad9f2aa7c7ae6.jpg"
					alt="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть) preview 1"
					title="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть) фото 1"
					class="special-offers__img catalog__img lazyloaded loaded"
					src="https://grohe.l-rus.ru//upload/resize_cache/iblock/d30/245_230_1/d30e7451d56c9592840ad9f2aa7c7ae6.jpg"
					data-was-processed="true">
			</a>
			<a href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-grohtherm-smartcontrol-dlya-dusha-29123000-verkhnyaya-montazhnaya-chast.html"
				title="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть)"
				class="special-offers__text catalog__text" data-mh="my-group">Термостат Grohe Grohtherm SmartControl для
				душа
				29123000
				(верхняя
				монтажная часть)
			</a>
			<a href="/doc-view/6253/16558/" title="Инструкция по установке" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Инструкция по установке</span>
				pdf, 1.61 MB
			</a>
			<a href="/doc-view/6253/16559/" title="Схема встраивания" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Схема встраивания</span>
				jpg, 79.25 KB
			</a>

		</div>
		<div class="catalog__item instructions-category__item">
			<a class="catalog__pic"
				href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-rapido-smartbox-universalnyy-35600000.html"
				title="Термостат Grohe Rapido Smartbox универсальный 35600000">
				<img data-src="https://grohe.l-rus.ru//upload/resize_cache/iblock/208/245_230_1/20826193f6dad7356dfe6ce0577f9efa.jpg"
					alt="Термостат Grohe Rapido Smartbox универсальный 35600000 preview 1"
					title="Термостат Grohe Rapido Smartbox универсальный 35600000 фото 1"
					class="special-offers__img catalog__img lazyloaded"
					src="https://grohe.l-rus.ru//upload/resize_cache/iblock/208/245_230_1/20826193f6dad7356dfe6ce0577f9efa.jpg">
			</a>
			<a href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-rapido-smartbox-universalnyy-35600000.html"
				title="Термостат Grohe Rapido Smartbox универсальный 35600000"
				class="special-offers__text catalog__text" data-mh="my-group">Термостат
				Grohe Rapido Smartbox универсальный
				35600000
			</a>
			<a href="/doc-view/6253/16558/" title="Инструкция по установке" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Инструкция по установке</span>
				pdf, 1.61 MB
			</a>
			<a href="/doc-view/6253/16559/" title="Схема встраивания" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Схема встраивания</span>
				jpg, 79.25 KB
			</a>

		</div>
		<div class="catalog__item instructions-category__item">
			<a class="catalog__pic"
				href="https://grohe.l-rus.ru/catalog/termostaty/termostat-grohe-grohtherm-1000-dlya-dusha-dn-15-34143003.html"
				title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003">
				<img data-src="/upload/resize_cache/iblock/bcb/245_230_1/bcb0da928271d7cd428a8dacfaae2f76.jpg"
					alt="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003 preview 1"
					title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003 фото 1"
					class="special-offers__img catalog__img lazyloaded"
					src="https://grohe.l-rus.ru/upload/resize_cache/iblock/bcb/245_230_1/bcb0da928271d7cd428a8dacfaae2f76.jpg">
			</a>
			<a href="https://grohe.l-rus.ru/catalog/termostaty/termostat-grohe-grohtherm-1000-dlya-dusha-dn-15-34143003.html"
				title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003"
				class="special-offers__text catalog__text" data-mh="my-group">Термостат
				Grohe Grohtherm 1000 для душа DN 15
				34143003
			</a>
			<a href="/doc-view/6253/16558/" title="Инструкция по установке" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Инструкция по установке</span>
				pdf, 1.61 MB
			</a>

		</div>
		<div class="catalog__item instructions-category__item">
			<a class="catalog__pic"
				href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-grohtherm-smartcontrol-dlya-dusha-29123000-verkhnyaya-montazhnaya-chast.html"
				title="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть)">
				<img data-src="https://grohe.l-rus.ru//upload/resize_cache/iblock/d30/245_230_1/d30e7451d56c9592840ad9f2aa7c7ae6.jpg"
					alt="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть) preview 1"
					title="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть) фото 1"
					class="special-offers__img catalog__img lazyloaded loaded"
					src="https://grohe.l-rus.ru//upload/resize_cache/iblock/d30/245_230_1/d30e7451d56c9592840ad9f2aa7c7ae6.jpg"
					data-was-processed="true">
			</a>
			<a href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-grohtherm-smartcontrol-dlya-dusha-29123000-verkhnyaya-montazhnaya-chast.html"
				title="Термостат Grohe Grohtherm SmartControl для душа 29123000 (верхняя монтажная часть)"
				class="special-offers__text catalog__text" data-mh="my-group">Термостат Grohe Grohtherm SmartControl для
				душа
				29123000
				(верхняя
				монтажная часть)
			</a>
			<a href="/doc-view/6253/16558/" title="Инструкция по установке" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Инструкция по установке</span>
				pdf, 1.61 MB
			</a>

		</div>
		<div class="catalog__item instructions-category__item">
			<a class="catalog__pic"
				href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-rapido-smartbox-universalnyy-35600000.html"
				title="Термостат Grohe Rapido Smartbox универсальный 35600000">
				<img data-src="https://grohe.l-rus.ru//upload/resize_cache/iblock/208/245_230_1/20826193f6dad7356dfe6ce0577f9efa.jpg"
					alt="Термостат Grohe Rapido Smartbox универсальный 35600000 preview 1"
					title="Термостат Grohe Rapido Smartbox универсальный 35600000 фото 1"
					class="special-offers__img catalog__img lazyloaded"
					src="https://grohe.l-rus.ru//upload/resize_cache/iblock/208/245_230_1/20826193f6dad7356dfe6ce0577f9efa.jpg">
			</a>
			<a href="https://grohe.l-rus.ru//catalog/termostaty/termostat-grohe-rapido-smartbox-universalnyy-35600000.html"
				title="Термостат Grohe Rapido Smartbox универсальный 35600000"
				class="special-offers__text catalog__text" data-mh="my-group">Термостат
				Grohe Rapido Smartbox универсальный
				35600000
			</a>
			<a href="/doc-view/6253/16558/" title="Инструкция по установке" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Инструкция по установке</span>
				pdf, 1.61 MB
			</a>

		</div>
		<div class="catalog__item instructions-category__item">
			<a class="catalog__pic"
				href="https://grohe.l-rus.ru/catalog/termostaty/termostat-grohe-grohtherm-1000-dlya-dusha-dn-15-34143003.html"
				title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003">
				<img data-src="/upload/resize_cache/iblock/bcb/245_230_1/bcb0da928271d7cd428a8dacfaae2f76.jpg"
					alt="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003 preview 1"
					title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003 фото 1"
					class="special-offers__img catalog__img lazyloaded"
					src="https://grohe.l-rus.ru/upload/resize_cache/iblock/bcb/245_230_1/bcb0da928271d7cd428a8dacfaae2f76.jpg">
			</a>
			<a href="https://grohe.l-rus.ru/catalog/termostaty/termostat-grohe-grohtherm-1000-dlya-dusha-dn-15-34143003.html"
				title="Термостат Grohe Grohtherm 1000 для душа DN 15 34143003"
				class="special-offers__text catalog__text" data-mh="my-group">Термостат
				Grohe Grohtherm 1000 для душа DN 15
				34143003
			</a>
			<a href="/doc-view/6253/16558/" title="Инструкция по установке" target="_blank" class="doc_loading ">
				<i class="icon_doc"></i>
				<span>Инструкция по установке</span>
				pdf, 1.61 MB
			</a>

		</div>
	</div>
	<div class="all-video__bottom">

		<a href="#" id="load-items" class="load-more">Загрузить еще</a>

		<!-- begin nav -->

		<div class="pagination">

			<span class="pagination__item pagination__item_state_current">1</span>
			<a class="pagination__item" href="/video/?PAGEN_1=2">2</a>
			<a class="pagination__next" href="/video/?PAGEN_1=2"></a>
		</div>
	</div>
</div>
