.all-reviews {
	margin-top: 11px;
	display: flex;
	flex-wrap: wrap;


	.reviews {
		display: flex;
		flex-direction: column;
	}

	.reviews-list__col_desc {
		margin-left: auto;
		display: flex;
		align-items: center;
	}

	.reviews-list__field_header {
		// padding-right: 21px;
		margin-bottom: 10px;

		.ratings__star {
			width: 14px;
			height: 14px;
			background: url(../images/star.svg) no-repeat;
			background-position: 50%;
			background-size: 12px 12px;
		}

		.ratings__none {
			background: url(../images/rectangle-2.svg) no-repeat;
			background-position: 50%;
			background-size: 12px 12px;
			// background-position: 50%;
			// background-size: 21px 20px;
		}
	}

	.reviews__all {
		white-space: nowrap;
	}

	.reviews-list__col_date {
		color: #666666;
		font-family: Arial, sans-serif;
		font-size: 14px;
		line-height: 24px;
	}

	.reviews-list__field_footer {
		color: #333333;
		font-family: Arial, sans-serif;
		font-size: 14px;
		line-height: 22px;
	}

	.reviews-main__link {
		color: #394791;
		font-family: "Roboto Condensed";
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		border-radius: 3px;
		border: 1px solid #394791;
		margin: 0 auto;
		padding: 5px 13px;
		text-decoration: none !important;
	}

	.reviews__section {

		.ratings:first-of-type {
			display: flex;
			flex-wrap: wrap;
			width: 250px;
			height: 100%;

			.reviews__all {
				margin-left: 17px;
				margin-bottom: 5px;
				border-bottom: 0;
			}
		}

		.ratings__title,
		.all-reviews__text {
			width: 100%;
			color: #333333;
			font-family: Arial, sans-serif;
			font-size: 14px;
			font-weight: 700;
			line-height: 1;
			margin-bottom: 10px;
		}

		.all-reviews__text {
			width: auto;
			margin-right: 16px;
		}

		.ratings__number {
			color: #333333;
			font-family: Arial, sans-serif;
			font-size: 14px;
			font-weight: 700;
			line-height: 1;
			margin-left: 8px;
		}

		.all-reviews__link {
			color: #394791;
			font-family: Arial, sans-serif;
			font-size: 14px;
			border-bottom: 1px dashed #394791;
			line-height: 1;
			margin-right: 16px;
			text-decoration: none !important;

			&:last-child {
				margin-right: 0;
			}

			&.active {
				border-bottom: 0;
				font-weight: 700;
			}
		}
	}

	.reviews__link {
		width: fit-content;
		height: 34px;
		border-radius: 3px;
		background-color: #394791;
		color: #ffffff;
		font-family: "Roboto Condensed";
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		margin: 32px auto 0px;
		padding: 12px 18px;
	}

	.reviews-all__header {
		display: flex;
		flex-wrap: wrap;
		// width: 317px;
		margin-right: auto;
		height: 100%;
		margin-left: 40px;

		.reviews-all__text {
			width: 100%;
			color: #333333;
			font-family: Arial, sans-serif;
			font-size: 14px;
			font-weight: 700;
			line-height: 24px;
			margin-bottom: 4PX;
		}

		.reviews-all__link {
			color: #394791;
			font-family: Arial, sans-serif;
			font-size: 14px;
			border-bottom: 1px dashed #394791;
			line-height: 1;

			&.active {
				border-bottom: 0;
				font-weight: 700;
			}
		}

		a {
			margin-right: 30px;
			text-decoration: none !important;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	.reviews__section {
		align-items: baseline;
		padding-bottom: 26px;
		border-bottom: 1px solid #eeeeee;
	}

	.ratings~.ratings {
		align-self: flex-end;

		.ratings__star {
			width: 15px;
			height: 19px;
			background-size: 12px 11px;
		}
	}

	.reviews__all {
		align-self: flex-end;
		margin-left: 7px;
		line-height: 1;
		color: #394791;
		font-family: Arial, sans-serif;
		font-size: 14px;
		margin-right: 30px;
		border-bottom: 1px dashed #394791;

		&:first-of-type {
			// margin-right: auto;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}

	.reviews__item {
		padding-bottom: 12px;
		padding-right: 4px;
		margin-top: 19px;
		border-bottom: 1px solid #eeeeee;
		padding-left: 0;
		background: white;

		.reviews-list__field_header {
			padding-left: 0;
			border-top: 0;
		}
	}

	.load-more {
		// margin-top: 31px;
		border-radius: 3px;
		border: 1px solid #f1f1f1;
		color: #394791;
		font-family: "Roboto Condensed";
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		padding: 5px 45px;
		width: fit-content;
		margin-bottom: 11px;
		text-decoration: none !important;
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
	}


	// .shipping-payment__item {
	// 	border-bottom: 0;
	// }

	// &__top {

	// 	background-color: #ffffff;
	// 	display: flex;
	// 	flex-wrap: nowrap;
	// 	height: 100px !important;
	// 	position: relative;
	// 	justify-content: unset !important;

	// 	&-first {
	// 		border-bottom: 0 !important;
	// 		margin-top: 1rem;
	// 	}

	// 	&-last {
	// 		border-top: 0 !important;
	// 	}
	// }

	// .reviews__section {
	// 	display: flex;
	// 	flex-wrap: wrap;
	// }

	// .ratings {
	// 	width: 100%;
	// 	margin-left: -5px;
	// }

	// .filter__link {
	// 	color: #666666;
	// 	font-size: 14px;
	// 	line-height: 24px;

	// }

	// &__text {
	// 	width: 100%;
	// 	color: #333333;
	// 	font-size: 14px;
	// 	font-weight: 500;
	// 	line-height: 24px;
	// }

	// &__border {
	// 	right: 20px;
	// 	left: 20px;
	// 	height: 2px;
	// 	border: solid 1px #eeeeee;
	// 	position: absolute;
	// 	bottom: 0;
	// 	max-width: 100%;
	// }

	// &__link {
	// 	color: #333333;

	// 	font-size: 14px;
	// 	line-height: 24px;
	// 	padding-bottom: 3px;
	// 	border-bottom: 1px dashed #2e2e2e;
	// 	margin-right: 25px;
	// 	text-decoration: none;

	// 	&:hover {
	// 		color: #394791;
	// 	}

	// }

	@media screen and (max-width: 768px) {}

	@media screen and (max-width: 767px) {
		margin-top: 6px;
		max-width: 100%;

		.reviews__section {
			padding-bottom: 9px;
			margin-bottom: 2px !important;

			.ratings {
				align-content: baseline;


				&:first-of-type {
					display: flex;
					flex-wrap: wrap;
					width: 100%;
					height: auto;
					margin-bottom: 20px;
				}

				.ratings__title {
					margin-bottom: 15px;
				}

				&+.reviews__all {
					// width: calc(100% - 213px);
					width: auto;
					margin-left: 5px;
					display: flex;
					margin-right: calc(100% - 155px);
					margin-bottom: 14px;

					&:after {
						content: '';
						width: fill-available;
						flex-grow: 1;
					}
				}

				&~.ratings {
					margin-bottom: 12px;
				}

			}
		}

		.reviews__all {
			margin-right: 0;

			&:first-of-type {
				margin-right: unset;
			}
		}

		.reviews-all__header {
			width: 100%;
			height: auto;
			margin-left: 0;
			margin-bottom: 24px;
			border-bottom: 1px solid #eeeeee;
			padding-bottom: 21px;
		}

		span.reviews-all__text {
			margin-bottom: 9px !important;
			letter-spacing: 0.8px;
		}

		a.reviews-all__link {
			margin-right: 15px;

			&.active {
				border-bottom: 0;
				font-weight: 700;
				letter-spacing: 0.8px;
			}
		}

		.reviews__link {
			margin-top: 14px;
			margin-bottom: 10px;
		}

		.reviews__item {
			margin-top: 24px;
		}

		.reviews-list__col_desc {
			margin-left: 0;

			.ratings__star {
				width: 19px;
				height: 16px;
				background-size: 17px;
			}

			.ratings__star.ratings__none {
				width: 19px;
				height: 16px;
				background-size: 19px;
			}
		}

		strong[itemprop="name"] {
			color: #333333;
			font-family: "Roboto Condensed";
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;
		}

		.reviews-list__field_header {
			padding-bottom: 16px;
			margin-bottom: 0;
		}

		.reviews-list__field_footer {
			padding-top: 16px !important;
		}
	}
}

.reviews {
	width: 100%;

	.b-crumbs {
		display: flex;
		flex-direction: column;
	}

	&__title {
		color: #333333;
		font-family: "Roboto Condensed";
		font-size: 26px;
		font-weight: 400;
		line-height: 24px;
		margin: 46px 0 23px;
	}

	.reviews-list {
		padding-bottom: 19px;

		&:last-child {
			border-bottom: 1px solid #eeeeee;
			margin-bottom: 24px;
		}

		.reviews-list__col_desc {
			margin-left: unset;
		}
	}

	&__top {
		height: 60px;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.reviews__section {

			// .ratings__star {
			// 	width: 30px;
			// 	height: 28px;
			// 	background-position: 50%;
			// 	background-size: 28px 28px;
			// }
			.ratings {
				width: auto !important;
				margin-right: 8px;
			}

		}

		&.all-reviews__top-first {
			border-bottom: 1px solid #eee;

			.reviews__section {
				border-bottom: none;
				padding-bottom: 0 !important;
				align-items: center;

				&:last-of-type {
					margin-left: auto;
				}
			}

			.all-reviews__border {
				display: none;
			}

			.all-reviews__text {
				margin-bottom: 0;
			}
		}

		&.all-reviews__top-last {
			padding-top: 16px;
			padding-bottom: 16px;
			justify-content: unset;

			.reviews__section {
				border-bottom: none;
				padding-bottom: 0 !important;
				align-items: center !important;
				// margin-right: 32px;

				&:last-child {
					margin-right: 0;

				}

				&:nth-child(3) {}

				&:nth-child(2) {}

				&:first-child:nth-last-child(n+2),
				&:first-child:nth-last-child(n+2)~.reviews__section {

					&:first-child {
						flex-grow: 1;
					}

					&:last-child {
						flex-grow: 2.2;
					}
				}

				&:first-child:nth-last-child(n+3),
				&:first-child:nth-last-child(n+3)~.reviews__section {

					&:first-child {
						flex-grow: 0;
					}

					&:nth-child(2) {
						margin: 0 auto;
					}

					&:last-child {
						flex-grow: 0;
					}
				}

			}

			.all-reviews__text {
				margin-bottom: 0;
				margin-right: 0;
			}
		}


	}

	&__all {
		color: $base;
		font-family: Arial, sans-serif;
		font-size: 14px;
		line-height: 24px;
		margin-left: 20px;
	}

	&__link {

		font-size: 12px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 2;
		letter-spacing: normal;
		text-align: left;
		@include button ($padding: 12px 20px);

	}

	&__section {
		display: flex;
	}

	&-list {
		&__field {
			display: flex;
			padding: 13px 0 13px 16px;


			&_header {
				border-bottom: 1px solid #eeeeee;
				border-top: 1px solid #eeeeee;

			}

			&:nth-child(3) {
				padding-bottom: 5px;
			}

			&:nth-child(4) {
				padding-bottom: 2px;
			}

			b {
				font-weight: 700;
			}

			&_footer {
				flex-direction: column;
			}
		}

		&__col {
			&:first-child {
				width: 184px;
				flex-shrink: 0;
				color: #333333;
				font-family: Arial, sans-serif;
				font-size: 14px;
				font-weight: 700;
			}

			&[itemprop="author"] {
				color: #333333;
				font-family: "Roboto Condensed";
				font-size: 20px;
				font-weight: 400;
				line-height: 24px;
			}

			&_date {
				font-size: 14px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.71;
				letter-spacing: normal;
				text-align: left;
				color: #333333;
				margin-left: 1rem;
				display: flex;
				align-items: center;
			}

			&_desc {
				margin-right: 0;
				color: #333333;
				font-family: Arial, sans-serif;
				font-size: 14px;
			}
		}

		&__model {
			color: #333333;
			font-family: Arial, sans-serif;
			font-size: 14px;
			font-weight: 700;
			line-height: 24px;
		}

		&__item {
			padding: 16px 0;

			&:first-child {
				padding-top: 0;
			}
		}
	}

	.ratings {
		display: flex;

		&__star {
			width: 19px;
			height: 19px;
			background: url("../images/star.svg") no-repeat;
			background-position: center;
			background-size: 16px 16px;
		}

		&__none {
			background: url("../images/rectangle-2.svg") no-repeat;
			background-position: center;
			background-size: 21px 20px;
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
		margin-bottom: 21px;
	}

	&__item {}

	@media screen and (max-width: 768px) {
		.reviews__title {
			margin: 32px 0 23px;
		}

		&__top .reviews__section .ratings__star {
			width: 28px;
			height: 26px;
			background-position: 50%;
			background-size: 25px 25px;
		}

		.reviews-list__item {
			padding: 12px 0;
		}

		.reviews-list__col:first-child {
			width: 141px;
		}

		.reviews-list__field {
			padding-right: 13px;

			&:nth-child(2) {
				padding-top: 19px;
				padding-bottom: 7px;
			}

			&:nth-child(3) {
				padding-bottom: 9px;
			}

			&:nth-child(4) {
				padding-bottom: 9px;
			}

			&:nth-child(5) {
				padding-bottom: 0px;
			}
		}


		.reviews-list__col_desc {
			line-height: 22px;
		}

	}

	@media screen and (max-width: 767px) {
		.reviews__top {
			flex-wrap: wrap;
			justify-content: center;
			height: unset;
			padding: 1rem 0 8px;
		}

		.reviews__section {
			width: 100%;
			display: flex;
			margin-bottom: 23px;
			justify-content: unset;
			flex-wrap: wrap;

			.ratings__star {
				width: 19px;
				height: 17px;
				background-position: inherit;
				background-size: 15px;
			}
		}

		.reviews__all {
			margin-left: 17px;
			display: flex;
			align-items: flex-end;
		}

		.reviews__link {
			width: 100%;
			text-align: center;
		}


		.reviews-list {
			padding-bottom: 14px;

			&__field {
				flex-wrap: wrap;
				padding-left: 0;
				padding-right: 4px;
				padding-top: 9px;

				&:nth-child(2) {
					padding-bottom: 9px;
				}

				&:nth-child(3),
				&:nth-child(4) {
					padding-bottom: 11px;
				}
			}

			&__col[itemprop="author"] {
				width: 100%;
				margin-bottom: 14px !important;
			}

			&__col {
				margin-bottom: 0px;

				&:first-child {
					margin-bottom: 8px;
				}
			}

			&__col_date {
				margin-left: auto;
			}

			&__item {
				padding: 15px 0 18px;
			}
		}
	}
}

.reviews-main {
	background-color: #f8f8f8;
	padding: 49px 0 41px;
	position: relative;
	margin-bottom: 50px;
	// .reviews-main__title

	&__title {
		color: #333333;
		font-family: "Roboto Condensed";
		font-size: 26px;
		font-weight: 400;
		line-height: 24px;
		width: 100%;
		margin-bottom: 43px;
	}

	// .reviews-main__prev

	&__prev {}

	// .reviews-main__next

	&__next {}

	// .reviews-main__pic

	&__pic {}

	// .reviews-main__info

	&__info {}

	// .reviews-main__subtitle

	&__subtitle {}

	// .reviews-main__text

	&__text {}

	// .reviews-main__link

	&__link {}

	.reviews__section {
		width: 100%;
		margin-bottom: 27px;

		.ratings__star {
			width: 19px;
			height: 19px;
			background: url(../images/star.svg) no-repeat;
			background-position: 50%;
			background-size: 16px 16px;
		}

		.ratings__none {
			background: url(../images/rectangle-2.svg) no-repeat;
			background-position: 50%;
			background-size: 16px 16px;
			// background-position: 50%;
			// background-size: 21px 20px;
		}
	}

	.reviews-list__col_desc {
		margin-left: auto;
		display: flex;
		align-items: center;
	}

	.reviews-list__field_header {
		// padding-right: 21px;
		margin-bottom: 10px;

		.ratings__star {
			width: 14px;
			height: 14px;
			background: url(../images/star.svg) no-repeat;
			background-position: 50%;
			background-size: 12px 12px;
		}

		.ratings__none {
			background: url(../images/rectangle-2.svg) no-repeat;
			background-position: 50%;
			background-size: 12px 12px;
			// background-position: 50%;
			// background-size: 21px 20px;
		}
	}

	.reviews-list__col_date {
		color: #666666;
		font-family: Arial, sans-serif;
		font-size: 14px;
		line-height: 24px;
	}

	.reviews-list__field_footer {
		color: #333333;
		font-family: Arial, sans-serif;
		font-size: 14px;
		line-height: 22px;
	}

	.reviews-main__link {
		color: #394791;
		font-family: "Roboto Condensed";
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		border-radius: 3px;
		border: 1px solid #394791;
		margin: 0 auto;
		padding: 5px 13px;
		text-decoration: none !important;
	}


	.js-reviews-main {}

	.container {
		position: relative;
	}

	.swiper-pagination-reviews-main {
		position: absolute;
	}



	.swiper-button-prev {
		background: url("../images/special-offers_prev.svg") 0/34px no-repeat;
		position: absolute;
		top: 68px;
		right: 48px;
		left: unset;
		width: 34px;
		height: 34px;

		&:hover {
			background: url("../images/swiper-button-color-prev.svg") 0/34px no-repeat;
		}
	}

	.swiper-button-next {
		background: url("../images/special-offers_next.svg") 0/34px no-repeat;
		top: 68px;
		right: 3px;
		width: 34px;
		height: 34px;

		&:hover {
			background: url("../images/swiper-button-color-next.svg") 0/34px no-repeat;
		}
	}

	.swiper-pagination-reviews-main {
		top: 50px;
		right: 124px;
	}

	.swiper-pagination-bullet {
		margin-right: 16px;
	}

	.reviews-main__switch {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: #fff;
		padding: 8px 15px;
		color: #394791;
		font-family: Arial, sans-serif;
		font-size: 14px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		z-index: 9;
		cursor: pointer;
		&:before {
			content: "";
			width: 119px;
			position: absolute;
			height: 1px;
			border-bottom: 1px dashed #394791;
			bottom: 9px;
		}

		&:after {
			content: '';
			background: url("https://icongr.am/entypo/chevron-down.svg?color=666666") center/16px no-repeat;
			width: 16px;
			height: 16px;
			position: absolute;
			left: calc(145px);
		}

	}

	.swiper-container {
		margin-bottom: 39px;
		height: 208px;

		&.active {
			height: auto;
			.reviews-main__switch {

				&:before {
					width: 63px;
				}

				&:after {
					content: '';
					background: url("https://icongr.am/entypo/chevron-up.svg?color=666666") center/16px no-repeat;
					left: 80px;
				}
			}
		}

	}

	.swiper-wrapper {}

	.swiper-slide {
		padding-left: 0;
		background: white;
		padding-right: 21px;
		padding-bottom: 18px;
	}



	@media screen and (max-width: 767px) {
		padding-top: 26px;
		padding-bottom: 32px;
		margin-bottom: 35px;

		.reviews-main__title {
			color: #212121;
			font-family: "Roboto Condensed";
			font-size: 5vw;
			font-weight: 400;
			margin-bottom: 28px;
			line-height: 27px;
		}

		.swiper-button-prev {
			display: none;
		}

		.swiper-button-next {
			display: none;
		}

		.swiper-pagination-reviews-main {
			position: unset;
			order: 4;
			margin: 14px auto 20px;
		}

		.reviews__top {
			background-color: #ffffff;
			justify-content: unset;
			flex-direction: column-reverse;
			padding-bottom: 12px;
			flex-wrap: wrap;
			height: unset;
		}

		.reviews__link {
			margin-left: 0;
		}

		.reviews-list__col:first-child {
			margin-bottom: 8px;
		}

		.reviews__section {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			margin-top: 0;
			margin-bottom: 13px;
			justify-content: unset;
			margin-left: 0 !important;

			.ratings__star {
				width: 19px;
				height: 17px;
				background-size: contain;
			}

			.ratings__number {
				color: #333333;
				font-family: Arial, sans-serif;
				font-size: 14px;
				font-weight: 700;
				line-height: 18px;
				margin-left: 7px;
			}
		}

		.reviews__all {
			color: #394791;
			font-family: Arial, sans-serif;
			font-size: 14px;
			line-height: 24px;
		}


		.reviews-list {
			&__field {
				flex-wrap: wrap;
				padding: 0 0 2px !important;
				border: 0;

				&:nth-child(2) {
					margin-top: 30px;
					margin-bottom: 8px;

					&~.reviews-list__field {
						margin-bottom: 8px;
						padding-bottom: 9px !important;
					}
				}

				&:nth-child(4) {
					margin-bottom: 0 !important;
				}
			}

			&__col[itemprop="author"] {
				width: 100% !important;
				margin-bottom: 15px;
				margin-top: 8px;
				flex-basis: unset;
			}

			&__col_date {
				margin-left: auto;
			}

			&:last-of-type {
				padding-bottom: 10px;
			}
		}

		.reviews-main__link {
			width: 100%;
			display: flex;
			justify-content: center;
			padding: 8px 12px;
			order: 5;
		}

		.reviews-list__col_desc {
			margin-left: 0;

			.ratings__star {
				width: 20px;
				height: 14px;
				background-position: left;
				background-size: 17px;
			}
		}

		.swiper-container {
			margin: 0 -16px;
			padding: 0 16px !important;
			background-color: #ffffff;
			width: auto;
		}

		.reviews-main__item {
			// margin: 0 -16px;
			padding-right: 0px;
			padding-bottom: 30px;
		}
	}

}
