<div class="d-flex flex-column flex-md-row">
	<div class="breadcrumbs">
		<a href="#" class="breadcrumbs__link">Liebherr</a>
		<span class="breadcrumbs__sep">/</span>
		<span class="breadcrumbs__text">Отзывы о магазине L-RUS</span>
	</div>
	<h1 class="title">
		Отзывы о магазине L-RUS
	</h1>
	<div class="all-reviews">
		<div class="reviews">
			<div class="reviews__section">
				<div class="ratings">
					<b class="ratings__title">
						Средняя оценка:
					</b>
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star ratings__none"></div>
					<b class="ratings__number">4,5</b>
					<a href="#" class="reviews__all">25 отзывов</a>
				</div>
				<div class="reviews-all__header">
					<span class="reviews-all__text">
							Отзывы с оценкой:
					</span>
					<a href="#" class="reviews-all__link active">
						Любые
					</a>
					<a href="#" class="reviews-all__link">
						Положительные
					</a>
					<a href="#" class="reviews-all__link">
						Отрицательные
					</a>
				</div>
				<div class="ratings">
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
				</div>
				<a href="#" class="reviews__all">15 отзывов</a>
				<div class="ratings">
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star ratings__none"></div>
				</div>
				<a href="#" class="reviews__all">8 отзывов</a>
				<div class="ratings">
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star ratings__none"></div>
					<div class="ratings__star ratings__none"></div>
				</div>
				<a href="#" class="reviews__all">5 отзывов</a>
			</div>
			<a href="#" class="reviews__link js-viewForm" data-ajax data-url="ajax/reviews-new.html" data-action="reviewsAdd" data-id="1581">оставить отзыв</a>
			<div class="reviews__items">
				<div class="reviews__item">
					<div class="reviews-list__field reviews-list__field_header">
						<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
							<strong itemprop="name">Ирина</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star ratings__none"></div>
							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">
							<meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer">
						Покупали специально на дачу - маленький, но все необходимые продукты и небольшие кастрюли
						вмещаются. Морозит хорошо, достаточно тихий. Да, небольшая морозилка, но такой холодильничек и
						не для заморозки контейнеров ягод на зиму. В настоящее время спектр
						бытовой техники Liebherr невероятно широк. Ассортимент компании составляют устройства,
						встраиваемые под столешницу или в мебельные ниши кухонных гарнитуров, отдельностоящие приборы,
						морозильные лари, холодильно-морозильные комбинации, климатические
						шкафы для хранения вина
					</div>
				</div>
				<div class="reviews__item">
					<div class="reviews-list__field reviews-list__field_header">
						<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
							<strong itemprop="name">Татьяна</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star ratings__none"></div>
							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">
							<meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer">
						Покупали специально на дачу - маленький, но все необходимые продукты и небольшие кастрюли
						вмещаются. Морозит хорошо, достаточно тихий. Да, небольшая морозилка, но такой холодильничек и
						не для заморозки контейнеров ягод на зиму. В настоящее время спектр
						бытовой техники Liebherr невероятно широк. Ассортимент компании составляют устройства,
						встраиваемые под столешницу или в мебельные ниши кухонных гарнитуров, отдельностоящие приборы,
						морозильные лари, холодильно-морозильные комбинации, климатические
						шкафы для хранения вина
					</div>
				</div>
				<div class="reviews__item">
					<div class="reviews-list__field reviews-list__field_header">
						<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
							<strong itemprop="name">Екатерина</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star ratings__none"></div>
							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">
							<meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer">
						Покупали специально на дачу - маленький, но все необходимые продукты и небольшие кастрюли
						вмещаются. Морозит хорошо, достаточно тихий. Да, небольшая морозилка, но такой холодильничек и
						не для заморозки контейнеров ягод на зиму. В настоящее время спектр
						бытовой техники Liebherr невероятно широк. Ассортимент компании составляют устройства,
						встраиваемые под столешницу или в мебельные ниши кухонных гарнитуров, отдельностоящие приборы,
						морозильные лари, холодильно-морозильные комбинации, климатические
						шкафы для хранения вина
					</div>
				</div>
				<div class="reviews__item">
					<div class="reviews-list__field reviews-list__field_header">
						<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
							<strong itemprop="name">Анна</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star ratings__none"></div>
							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">
							<meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer">
						Покупали специально на дачу - маленький, но все необходимые продукты и небольшие кастрюли
						вмещаются. Морозит хорошо, достаточно тихий. Да, небольшая морозилка, но такой холодильничек и
						не для заморозки контейнеров ягод на зиму. В настоящее время спектр
						бытовой техники Liebherr невероятно широк. Ассортимент компании составляют устройства,
						встраиваемые под столешницу или в мебельные ниши кухонных гарнитуров, отдельностоящие приборы,
						морозильные лари, холодильно-морозильные комбинации, климатические
						шкафы для хранения вина
					</div>
				</div>
				<div class="reviews__item">
					<div class="reviews-list__field reviews-list__field_header">
						<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
							<strong itemprop="name">Елена</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star ratings__none"></div>
							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">
							<meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer">
						Покупали специально на дачу - маленький, но все необходимые продукты и небольшие кастрюли
						вмещаются. Морозит хорошо, достаточно тихий. Да, небольшая морозилка, но такой холодильничек и
						не для заморозки контейнеров ягод на зиму. В настоящее время спектр
						бытовой техники Liebherr невероятно широк. Ассортимент компании составляют устройства,
						встраиваемые под столешницу или в мебельные ниши кухонных гарнитуров, отдельностоящие приборы,
						морозильные лари, холодильно-морозильные комбинации, климатические
						шкафы для хранения вина
					</div>
				</div>
				<div class="reviews__item">
					<div class="reviews-list__field reviews-list__field_header">
						<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
							<strong itemprop="name">Наталья</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star ratings__none"></div>
							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">
							<meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer">
						Покупали специально на дачу - маленький, но все необходимые продукты и небольшие кастрюли
						вмещаются. Морозит хорошо, достаточно тихий. Да, небольшая морозилка, но такой холодильничек и
						не для заморозки контейнеров ягод на зиму. В настоящее время спектр
						бытовой техники Liebherr невероятно широк. Ассортимент компании составляют устройства,
						встраиваемые под столешницу или в мебельные ниши кухонных гарнитуров, отдельностоящие приборы,
						морозильные лари, холодильно-морозильные комбинации, климатические
						шкафы для хранения вина
					</div>
				</div>
				<div class="reviews__item">
					<div class="reviews-list__field reviews-list__field_header">
						<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
							<strong itemprop="name">Анастасия</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star ratings__none"></div>
							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">
							<meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer">
						Покупали специально на дачу - маленький, но все необходимые продукты и небольшие кастрюли
						вмещаются. Морозит хорошо, достаточно тихий. Да, небольшая морозилка, но такой холодильничек и
						не для заморозки контейнеров ягод на зиму. В настоящее время спектр
						бытовой техники Liebherr невероятно широк. Ассортимент компании составляют устройства,
						встраиваемые под столешницу или в мебельные ниши кухонных гарнитуров, отдельностоящие приборы,
						морозильные лари, холодильно-морозильные комбинации, климатические
						шкафы для хранения вина
					</div>
				</div>
				<div class="reviews__item">
					<div class="reviews-list__field reviews-list__field_header">
						<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
							<strong itemprop="name">Наталья</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star ratings__none"></div>
							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">
							<meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer">
						Покупали специально на дачу - маленький, но все необходимые продукты и небольшие кастрюли
						вмещаются. Морозит хорошо, достаточно тихий. Да, небольшая морозилка, но такой холодильничек и
						не для заморозки контейнеров ягод на зиму. В настоящее время спектр
						бытовой техники Liebherr невероятно широк. Ассортимент компании составляют устройства,
						встраиваемые под столешницу или в мебельные ниши кухонных гарнитуров, отдельностоящие приборы,
						морозильные лари, холодильно-морозильные комбинации, климатические
						шкафы для хранения вина
					</div>
				</div>
			</div>
			<div class="reviews__items js-news__inner">


				<div class="reviews__item" itemprop="review" itemscope="" itemtype="https://schema.org/Review"
					id="bx_3218110189_2626">
					<div class="reviews-list__field reviews-list__field_header">
						<div class="reviews-list__col" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
							<strong itemprop="name">Л</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small">
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star ratings__none"></div>
								<div class="ratings__star ratings__none"></div>

							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">28.12.2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer" itemprop="reviewBody"> Сделала заказ, обещали
						привезти в 19.00, в 18.00 отзвонились, что нет, не привезут, пробки. А я с работы на полдня отпросилась.
						Обещали, что в 22 точно привезут. Привезли, конечно, но день испорчен, на вечер были планы.</div>

					<meta itemprop="datePublished" content="2018-12-28">
					<a href="/reviews-store/" itemprop="url" class="hide"></a>

					<span itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
						<meta itemprop="worstRating" content="1">
						<meta itemprop="bestRating" content="5">
						<meta itemprop="ratingValue" content="3">
					</span>

				</div>



				<div class="reviews__item" itemprop="review" itemscope="" itemtype="https://schema.org/Review"
					id="bx_3218110189_2748">
					<div class="reviews-list__field reviews-list__field_header">
						<div class="reviews-list__col" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
							<strong itemprop="name">Денис Книжник</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small">
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>

							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">23.12.2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer" itemprop="reviewBody">
						<p><b>Достоинства:</b> пятерки по всем параметрам за обслуживание, цены и доставку, мне все понравилось
						</p>
						<p><b>Недостатки:</b> никаких...</p>
						<p><b>Комментарий:</b> в этом магазине в сентябре приобрел холодильник Liebherr IKF 3510 Comfort,
							покупкой доволен как самим товаром, так и в плане работы магазина, все грамотно, быстро и приветливо.
							все, что нужно соблюдать, было соблюдено.</p>
					</div>

					<meta itemprop="datePublished" content="2018-12-23">
					<a href="/reviews-store/" itemprop="url" class="hide"></a>

					<span itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
						<meta itemprop="worstRating" content="1">
						<meta itemprop="bestRating" content="5">
						<meta itemprop="ratingValue" content="5">
					</span>

				</div>



				<div class="reviews__item" itemprop="review" itemscope="" itemtype="https://schema.org/Review"
					id="bx_3218110189_2747">
					<div class="reviews-list__field reviews-list__field_header">
						<div class="reviews-list__col" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
							<strong itemprop="name">Роман Комаров</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small">
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>

							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">23.12.2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer" itemprop="reviewBody">Заказывал холодильник
						Liebherr CBNPes 5758 Premium BioFresh NoFrost, был в наличии и цена меня более чем устраивала. Доставили,
						выгрузили, все сходится, товар верный. Пользуюсь, не жалуюсь!</div>

					<meta itemprop="datePublished" content="2018-12-23">
					<a href="/reviews-store/" itemprop="url" class="hide"></a>

					<span itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
						<meta itemprop="worstRating" content="1">
						<meta itemprop="bestRating" content="5">
						<meta itemprop="ratingValue" content="5">
					</span>

				</div>



				<div class="reviews__item" itemprop="review" itemscope="" itemtype="https://schema.org/Review"
					id="bx_3218110189_2624">
					<div class="reviews-list__field reviews-list__field_header">
						<div class="reviews-list__col" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
							<strong itemprop="name">Олег Р</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small">
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star ratings__none"></div>

							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">26.10.2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer" itemprop="reviewBody">Время от заказа, до
						получения холодильника - 1 сутки. Все соответствует описанию.</div>

					<meta itemprop="datePublished" content="2018 14:00:00-10-26">
					<a href="/reviews-store/" itemprop="url" class="hide"></a>

					<span itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
						<meta itemprop="worstRating" content="1">
						<meta itemprop="bestRating" content="5">
						<meta itemprop="ratingValue" content="4">
					</span>

				</div>



				<div class="reviews__item" itemprop="review" itemscope="" itemtype="https://schema.org/Review"
					id="bx_3218110189_2749">
					<div class="reviews-list__field reviews-list__field_header">
						<div class="reviews-list__col" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
							<strong itemprop="name">iva a.</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small">
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>

							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">06.12.2017</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer" itemprop="reviewBody">
						<p><b>Достоинства:</b> все понравилось</p>
						<p><b>Недостатки:</b> нет</p>
						<p><b>Комментарий:</b></p>
						<p>Заказывали холодильник для офиса.</p>
						<p>Быстро получили отклик на заказ, со мной связалась менеджер Мария.</p>
						<p>никаких доп.услуг не навязывала, разговор по делу.</p>
						<p>Т.к. сроки готовности нашей кухни сместились, Мария перенесла срок доставки на более поздний срок, без
							комментариев о том, что хранить негде и пр.</p>
						<p>В общем все сложилось удачно.</p>
						<p>Спасибо.</p>
					</div>

					<meta itemprop="datePublished" content="2017-12-06">
					<a href="/reviews-store/" itemprop="url" class="hide"></a>

					<span itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
						<meta itemprop="worstRating" content="1">
						<meta itemprop="bestRating" content="5">
						<meta itemprop="ratingValue" content="5">
					</span>

				</div>



				<div class="reviews__item" itemprop="review" itemscope="" itemtype="https://schema.org/Review"
					id="bx_3218110189_2750">
					<div class="reviews-list__field reviews-list__field_header">
						<div class="reviews-list__col" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
							<strong itemprop="name">Дмитрий Х.</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small">
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>

							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">03.12.2017</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer" itemprop="reviewBody">Заказывали холодильник на
						юр.лицо, все документы для оплаты были оперативно подготовлены и переданы нам. По доставке тоже нареканий
						нет, доставили наш заказ в оговоренное время и дату.</div>

					<meta itemprop="datePublished" content="2017-12-03">
					<a href="/reviews-store/" itemprop="url" class="hide"></a>

					<span itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
						<meta itemprop="worstRating" content="1">
						<meta itemprop="bestRating" content="5">
						<meta itemprop="ratingValue" content="5">
					</span>

				</div>



				<div class="reviews__item" itemprop="review" itemscope="" itemtype="https://schema.org/Review"
					id="bx_3218110189_2751">
					<div class="reviews-list__field reviews-list__field_header">
						<div class="reviews-list__col" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
							<strong itemprop="name">Татьяна И.</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small">
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>
								<div class="ratings__star "></div>

							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">01.12.2017</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer" itemprop="reviewBody">
						<p>
							<b>Достоинства:</b> Как всегда бывает, неожиданно сломался холодильник. Друзья посоветовали купить
							"LIEBHERR". Осталась довольно всем и холодильником и магазином. Трудно выделить какое то одно
							достоинство. Всё сработано отлично от приём заказа до доставки. Холодильник доставили, очень
							аккуратно внесли (в моей квартире это сделать трудно), поставили на указанное место и отрегулировали
							уровень. Спасибо за за чёткую работу.
						</p>
						<p>
							<b>Недостатки:</b> По своей вредности хотела бы добавить "ложку дегтя", но придраться было не к чему.
						</p>
						<p>
							<b>Комментарий:</b> Кто раздумывает, какой покупать холодильник, советую LIEBHERR (у меня CNP 4813).
							Совершенно бесшумный и невероятно экономичный - 160 кВт.ч в год и конечно в магазине "Liebherr Rus"
						</p>
					</div>

					<meta itemprop="datePublished" content="2017-12-01">
					<a href="/reviews-store/" itemprop="url" class="hide"></a>

					<span itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
						<meta itemprop="worstRating" content="1">
						<meta itemprop="bestRating" content="5">
						<meta itemprop="ratingValue" content="5">
					</span>

				</div>



			</div>
			<div class="all-reviews__bottom">
					<a class="load-more" href="#">Загрузить еще</a>
					{% include 'pagination/pagination.html' %}
				</div>
		</div>
	</div>


</div>