<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">
		<div class="breadcrumbs">
			<a href="#" class="breadcrumbs__link">Liebherr</a>
			<span class="breadcrumbs__sep">/</span>
			<span class="breadcrumbs__text">Отзывы</span>
		</div>
		<h1 class="title">
			Отзывы
		</h1>
		<div class="all-reviews">
			<div class="reviews">
				<div class="b-crumbs">
					<a href="#">
						Назад в каталог
					</a>
				</div>
				<div class="reviews__top all-reviews__top all-reviews__top-first">
					<div class="reviews__section">
						<span class="all-reviews__text">Средняя оценка</span>
						<div class="ratings">
							<div class="ratings__star"></div>
							<div class="ratings__star"></div>
							<div class="ratings__star"></div>
							<div class="ratings__star"></div>
							<div class="ratings__star ratings__none"></div>
						</div>
					</div>
					<div class="reviews__section">
						<span class="all-reviews__text">Отзывы с оценкой</span>
						<div class="all-reviews__tag">
							<a href="#" class="all-reviews__link">Любой</a>
							<a href="#" class="all-reviews__link active">Только положительные</a>
							<a href="#" class="all-reviews__link">Только отрицательные</a>
						</div>
					</div>
					<div class="all-reviews__border"></div>
				</div>
				<div class="reviews__top all-reviews__top all-reviews__top-last">
					<div class="reviews__section">
						<div class="ratings">
							<div class="ratings__star"></div>
							<div class="ratings__star"></div>
							<div class="ratings__star"></div>
							<div class="ratings__star"></div>
							<div class="ratings__star ratings__none"></div>
						</div>
						<span class="all-reviews__text">
							75%
							<a href="#" class="filter__link">15 отзывов </a>
						</span>
					</div>
					<div class="reviews__section">
						<div class="ratings">
							<div class="ratings__star"></div>
							<div class="ratings__star"></div>
							<div class="ratings__star"></div>
							<div class="ratings__star"></div>
							<div class="ratings__star ratings__none"></div>

						</div>
						<span class="all-reviews__text">
							20%
							<a href="#" class="filter__link">4 отзыва</a>
						</span>
					</div>
					<div class="reviews__section">
						<div class="ratings">
							<div class="ratings__star"></div>
							<div class="ratings__star"></div>
							<div class="ratings__star"></div>
							<div class="ratings__star"></div>
							<div class="ratings__star ratings__none"></div>
						</div>
						<span class="all-reviews__text">
							5%
							<a href="#" class="filter__link">1 отзыва</a>
						</span>
					</div>
				</div>
				<div class="reviews-list">
					<div class="reviews-list__item" itemscope="" itemtype="">
						<div class="reviews-list__field reviews-list__field_header">
							<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
								<strong itemprop="name">Ирина</strong>
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star ratings__none"></div>
								</div>
							</div>
							<div class="reviews-list__col reviews-list__col_date">
								<meta itemprop="datePublished" content="2018-08-30">
								28 января 2018 </div>
						</div>
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Модель:
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								<a class="reviews-list__model" href="#">Духовой шкаф Liebherr DOM1195GX</a>
							</div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Достоинства:
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								Сделав ремонт на кухне, встал вопрос о покупке новой плиты. Выбирали долго, так как
								работать
								она будет не один год. Выбрали электроплиту Gorenje EC 67 CLB. Красивый дизайн в
								ретро
								стиле
								просто покорил нас, а когда увидели, что варочная панель из стеклокерамики, то уже
								ни
								грамма не
								сомневались, что это наш выбор. </div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Недостатки:
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								Из недостатков замечено только одно – нет стеклянного противня в комплекте. Но это
								быстро
								решается покупкой этой утвари отдельно. </div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Комментарий:
							</div>
							<div class="reviews-list__col reviews-list__col_desc" itemprop="reviewBody">
								В выборе плиты не ошиблись. Смотрится она великолепно, стала гордостью нашей кухни.
								Готовить на
								ней очень приятно, быстро, чайник закипает в считанные минуты, не успел поставить,
								а
								уже
								готово. Духовой шкаф большой, выпекает хорошо, равномерно благодаря конвекции.
								Очень
								надежная
								плита, советую всем.</div>
						</div>
						<!-- /.reviews-list__field -->
						<meta itemprop="itemReviewed" content="Siemens WD15H541OE">
					</div>
					<div class="reviews-list__item" itemscope="" itemtype="http://schema.org/Review">
						<div class="reviews-list__field reviews-list__field_header">
							<div itemprop="author" itemscope="" itemtype="http://schema.org/Person" class="reviews-list__col">
								<strong itemprop="name">Олег</strong>
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star ratings__none"></div>
								</div>
							</div>
							<div class="reviews-list__col reviews-list__col_date">
								<meta itemprop="datePublished" content="2018-08-30">
								28 января 2018</div>
						</div>
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Модель:
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								<a class="reviews-list__model" href="/catalog/stiralnyie_mashinyi/siemens_wd_15h541_oe.php">Духовой
									шкаф Liebherr DOM1195GX</a>
							</div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Достоинства:
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								Сделав ремонт на кухне, встал вопрос о покупке новой плиты. Выбирали долго, так как
								работать
								она будет не один год. Выбрали электроплиту Gorenje EC 67 CLB. Красивый дизайн в
								ретро
								стиле
								просто покорил нас, а когда увидели, что варочная панель из стеклокерамики, то уже
								ни
								грамма не
								сомневались, что это наш выбор.</div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Недостатки:
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								Из недостатков замечено только одно – нет стеклянного противня в комплекте. Но это
								быстро
								решается покупкой этой утвари отдельно.</div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Комментарий:
							</div>
							<div class="reviews-list__col reviews-list__col_desc" itemprop="reviewBody">
								В выборе плиты не ошиблись. Смотрится она великолепно, стала гордостью нашей кухни.
								Готовить на
								ней очень приятно, быстро, чайник закипает в считанные минуты, не успел поставить,
								а
								уже
								готово. Духовой шкаф большой, выпекает хорошо, равномерно благодаря конвекции.
								Очень
								надежная
								плита, советую всем.</div>
						</div>
						<!-- /.reviews-list__field -->
						<meta itemprop="itemReviewed" content="Siemens WD15H541OE">
					</div>
					<div class="reviews-list__item" itemscope="" itemtype="">
						<div class="reviews-list__field reviews-list__field_header">
							<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
								<strong itemprop="name">Ирина</strong>
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star ratings__none"></div>
								</div>
							</div>
							<div class="reviews-list__col reviews-list__col_date">
								<meta itemprop="datePublished" content="2018-08-30">
								28 января 2018 </div>
						</div>
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Модель:
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								<a class="reviews-list__model" href="#">Духовой шкаф Liebherr DOM1195GX</a>
							</div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Достоинства:
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								Сделав ремонт на кухне, встал вопрос о покупке новой плиты. Выбирали долго, так как
								работать
								она будет не один год. Выбрали электроплиту Gorenje EC 67 CLB. Красивый дизайн в
								ретро
								стиле
								просто покорил нас, а когда увидели, что варочная панель из стеклокерамики, то уже
								ни
								грамма не
								сомневались, что это наш выбор. </div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Недостатки:
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								Из недостатков замечено только одно – нет стеклянного противня в комплекте. Но это
								быстро
								решается покупкой этой утвари отдельно. </div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Комментарий:
							</div>
							<div class="reviews-list__col reviews-list__col_desc" itemprop="reviewBody">
								В выборе плиты не ошиблись. Смотрится она великолепно, стала гордостью нашей кухни.
								Готовить на
								ней очень приятно, быстро, чайник закипает в считанные минуты, не успел поставить,
								а
								уже
								готово. Духовой шкаф большой, выпекает хорошо, равномерно благодаря конвекции.
								Очень
								надежная
								плита, советую всем.</div>
						</div>
						<!-- /.reviews-list__field -->
						<meta itemprop="itemReviewed" content="Siemens WD15H541OE">
					</div>
					<div class="reviews-list__item" itemscope="" itemtype="http://schema.org/Review">
						<div class="reviews-list__field reviews-list__field_header">
							<div itemprop="author" itemscope="" itemtype="http://schema.org/Person" class="reviews-list__col">
								<strong itemprop="name">Олег</strong>
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star"></div>
									<div class="ratings__star ratings__none"></div>
								</div>
							</div>
							<div class="reviews-list__col reviews-list__col_date">
								<meta itemprop="datePublished" content="2018-08-30">
								28 января 2018</div>
						</div>
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Модель:
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								<a class="reviews-list__model" href="/catalog/stiralnyie_mashinyi/siemens_wd_15h541_oe.php">Духовой
									шкаф Liebherr DOM1195GX</a>
							</div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Достоинства:
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								Сделав ремонт на кухне, встал вопрос о покупке новой плиты. Выбирали долго, так как
								работать
								она будет не один год. Выбрали электроплиту Gorenje EC 67 CLB. Красивый дизайн в
								ретро
								стиле
								просто покорил нас, а когда увидели, что варочная панель из стеклокерамики, то уже
								ни
								грамма не
								сомневались, что это наш выбор.</div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Недостатки:
							</div>
							<div class="reviews-list__col reviews-list__col_desc">
								Из недостатков замечено только одно – нет стеклянного противня в комплекте. Но это
								быстро
								решается покупкой этой утвари отдельно.</div>
						</div>
						<!-- /.reviews-list__field -->
						<div class="reviews-list__field">
							<div class="reviews-list__col">
								Комментарий:
							</div>
							<div class="reviews-list__col reviews-list__col_desc" itemprop="reviewBody">
								В выборе плиты не ошиблись. Смотрится она великолепно, стала гордостью нашей кухни.
								Готовить на
								ней очень приятно, быстро, чайник закипает в считанные минуты, не успел поставить,
								а
								уже
								готово. Духовой шкаф большой, выпекает хорошо, равномерно благодаря конвекции.
								Очень
								надежная
								плита, советую всем.</div>
						</div>
						<!-- /.reviews-list__field -->
					</div>
				</div>
			</div>

			{% include 'pagination/pagination.html' %}
		</div>
	</div>

</div>