<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">

		<div class="breadcrumbs">
			<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem"><a href="/" title="Главная" itemprop="item"><span
							itemprop="name">Liebherr</span></a>
					<meta itemprop="position" content="1">
				</div>
				<div class="breadcrumbs__sep">»</div>
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem"><a href="/reviews/" title="Отзывы" itemprop="item"><span
							itemprop="name">Отзывы</span></a>
					<meta itemprop="position" content="2">
				</div>
				<div class="breadcrumbs__sep">»</div>
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem"><span itemprop="name">Холодильник Liebherr CTP 2921
						Comfort</span><a itemprop="item" href="/reviews/product-kholodilnik-ctp-2921-comfort/"
						title="Холодильник Liebherr CTP 2921 Comfort"></a>
					<meta itemprop="position" content="3">
				</div>
			</div>
		</div>

		<h1 class="title">Холодильник Liebherr CTP 2921 Comfort - отзывы</h1>


		<div class="all-reviews__no-negative">
			Нет отрицательных отзывов
		</div>

	</div>

</div>