.filter {

	// width: calc(((100% / 12) * 3)-28px);
	// margin-right: 28px;
	&__date {
		height: 28px;
		display: flex;
		color: #cccccc;
		font-family: Arial, sans-serif;
		font-size: 14px;
		margin-bottom: 25px;
		margin-top: 23px;
		color: #cccccc;
		display: flex;

		&::before {
			width: 14px;
			height: 14px;
			content: url('../images/price updated.svg');
			margin-right: 9px;
			flex-shrink: 0;
		}
	}

	&__article {
		margin-top: 9px;
	}

	&__form {
		border: 1px solid #eeeeee;
		background-color: #f8f8f8;
		padding: 0px 20px 0px;
		transition: 0.4s;
		display: flex;
		flex-wrap: wrap;
		box-shadow: 0 2px 21px rgba(0, 0, 0, 0.1);
		transition: 0.4s;
		margin-bottom: 28px;

		label {
			cursor: pointer;

			* {
				transition: 0s;
			}
		}

		form {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
		}

		&:hover {}

		.filter_checkbox {
			display: none;
		}

		/* Скрываем реальный чекбокс */
		.checkbox {

			/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
			&-custom {
				/* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
				width: 100%;
				/* Обязательно задаем ширину */
				height: 100%;
				/* Обязательно задаем высоту */
				border-radius: 2px;
				background-color: #e7e7e7;
				padding: 3px 34px 3px 9px;

				&+.checkbox-custom {}
			}

			/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
			&-custom,
			.label {
				display: inline-block;
				vertical-align: middle;
			}

			&-number {
				position: absolute;
				right: 10px;
				top: 4px;
				color: #999999;
			}

			&-close {
				position: absolute;
				right: 0px;
				top: 0px;
				width: 30px;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 2;
				// color: #999999;
			}

			&:hover+.checkbox-custom+.checkbox-close {
				color: #ffffff;
				background: $base !important;
				/* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
			}

			&:checked+.checkbox-custom+.checkbox-close {
				color: #ffffff;
				background: #d82300;
				/* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
			}

			/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
			&:hover+.checkbox-custom {
				color: #ffffff;
				background: $base !important;
				/* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
			}

			&:checked+.checkbox-custom {
				color: #ffffff;
				background: #d82300;
				/* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
			}

			&:checked+.checkbox-custom+.checkbox-number {
				color: #ffffff;
			}

			&:hover+.checkbox-custom+.checkbox-number {
				color: transparent;

				&::before {
					content: "x";
					/* Добавляем наш псевдоэлемент */
					display: flex;
					/* Делаем его блочным элементом */
					position: absolute;
					top: -2px;
					right: 0px;
					bottom: 0px;
					left: 0px;
					justify-content: flex-end;
					color: white;
				}
			}
		}

		.close__filter {
			color: $base;
			font-family: "Roboto Condensed";
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase;
			display: none;
		}
	}

	&__title {
		display: flex;
		color: #333333;
		font-family: "Roboto Condensed";
		font-size: 16px;
		margin-bottom: 16px;
		font-weight: 400;
		line-height: 24px;
		padding-right: 17px;
		background: url("https://icongr.am/entypo/chevron-up.svg?color=d6d6d6") 100% 0px/18px no-repeat;
		width: 100%;
	}

	&-tip {
		background: url('../images/bt-tip.png') no-repeat 0 0/14px;
		width: 14px;
		height: 14px;
		border-radius: 2px;
		margin: .35em 0 .35em .35em;
		position: relative;
		flex-shrink: 0;

		&[title]:hover {
			background: url('../images/bt-tip-hover.png') no-repeat 0 0/14px;

			&:after {
				content: attr(title);
				position: absolute;
				bottom: 100%;
				left: -150px;
				width: 363px;
				box-shadow: 0 2px 12px rgba(82, 64, 64, 0.17);
				border-radius: 3px;
				background-color: #ffffff;
				padding: 12px 17px;
				z-index: 99;
				color: #333333;
				font-family: Arial, sans-serif;
				font-size: 12px;
				line-height: 18px;

				&:first-line {
					color: #ff0000;
					font-variant: small-caps;
				}
			}
		}
	}

	&__container {}

	&__price {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 2.07;
		letter-spacing: normal;
		text-align: left;
		color: #262626;
		margin-bottom: 13px;

		input {
			background: transparent;
			padding-left: 5px;
			border: 0;
			color: #999999;
			min-width: 50px;
		}

		span {
			color: #666666;
			font-family: Arial, sans-serif;
			font-size: 13px;
			line-height: 20px;
			height: 34px;
			border-radius: 2px;
			border: 1px solid #d6d6d6;
			background-color: #ffffff;
			display: flex;
			padding-left: 3%;
			overflow: hidden;
			align-items: center;
			flex-grow: 1;

			&+span {
				margin-left: 10px;
			}
		}
	}

	&__slider {
		width: 90%;
		border: none;
		border-radius: 3px;
		height: 15px;
		display: flex;
		align-items: center;
		position: relative;
		background: url("../images/slider.png") 100% 5px repeat-x;
		margin-left: 3%;

		.ui-slider-range {
			position: absolute;
			z-index: 1;
			font-size: 0.7em;
			display: block;
			border: 0;
			background-position: 0 0;
			height: 4px;
			border-radius: 2px;
			background-color: $base;
		}

		.ui-slider-handle {
			width: 15px;
			height: 15px;
			border-radius: 2px;
			border: 3px solid $base;
			background-color: #ffffff;
			padding: 0;
			position: absolute;
			z-index: 3;
		}
	}

	&__checkbox {
		display: flex;
		flex-wrap: wrap;

		label,
		a {
			width: unset;
			color: #333333;
			font-family: Arial, sans-serif;
			font-size: 13px;
			line-height: 20px;
			margin-bottom: 10px;
			position: relative;
			display: flex;
			margin-right: 12px;

			// &:last-child {
			// 	margin-bottom: 0;
			// }
			.filter-tip {
				position: absolute;
				right: -20px;
			}

			&.disabled {
				pointer-events: none;

				* {
					color: #999999 !important;
				}
			}
		}

		.filter-collections {
			border-radius: 2px;
			background-color: #e7e7e7;
			padding: 3px 9px;
			height: 26px;
			text-decoration: none !important;

			// &:after {
			// 	// content: attr(data-value);
			// 	margin-left: 10px;
			// 	width: 20px;
			// }
			&:hover {
				color: #fff;
				background: $base !important;

				&:after {
					margin-left: 10px;
				}
			}

			&.active {
				color: #fff;
				background: #d82300;
			}
		}

		&.more {
			// height: 150px;
			overflow: hidden;
			position: relative;

			// padding-bottom: 25px;
			.more-text {
				position: absolute;
			}
		}

		.more-text {
			color: $base;
			font-family: Arial, sans-serif;
			font-size: 13px;
			line-height: 18px;
			left: 0px;
			bottom: 0;
			background-color: #f8f8f8;
			z-index: 99;
			right: 0;
			padding: 5px 0;
			cursor: pointer;
			order: 5;
			width: 100%;
			margin-top: 10px;
		}
	}

	&__button {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		height: 52px;
		align-items: center;

		input {
			display: none;
			-webkit-appearance: none;
			background: transparent;
			font-size: 14px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: center;
			color: $base;
			padding: 14px 0;
			width: 100%;
			border-radius: 2px;
			border: solid 1px $base;
			text-transform: uppercase;
			margin-bottom: 19px;
		}
	}

	&_reset {
		&:before {
			content: 'x';
			margin-right: 20px;
		}

		color: $base;
		font-family: "Roboto Condensed";
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
	}

	&__item {
		// overflow: hidden;
		height: unset;
		border-bottom: 1px solid #eeeeee;
		padding: 13px 0 20px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: baseline;

		&:nth-last-child(2) {
			border: none;
		}

		&.item__close {
			display: none;
		}

		&:nth-child(3) {
			padding-top: 16px;

			&~.filter__item {
				padding-top: 14px;
			}
		}

		&:nth-child(7) {
			padding-top: 12px !important;

			&~.filter__item {
				padding-top: 9px;
			}
		}

		&:nth-child(9) {
			padding-top: 8px !important;
		}

		&:nth-child(12) {
			padding-top: 7px !important;

			.filter__title {
				margin-bottom: 9px;
			}
		}

		.filter__container {
			max-width: 100%;
			width: 100%;
		}

		.catalog__simile {
			margin-top: 1rem;
			background: none;
			width: auto;
			height: auto;
			color: $base;
			font-family: Arial, sans-serif;
			font-size: 13px;
			line-height: 18px;
			left: 20px;
			bottom: 0;
			background-color: #f8f8f8;
			z-index: 99;
			right: 0;
			padding: 5px 0;
			cursor: pointer;
			text-decoration: none !important;
		}

		// &:nth-child(6) {
		//   padding-top: 18px;
		//   &~.filter__item {
		//     padding-top: 18px;
		//   }
		// }
	}

	&__close {
		flex-grow: 1;
		border-bottom: 1px solid transparent;
		width: 100%;
		padding: 13px 0 13px;
		height: 55px;

		* {
			display: none;
		}

		.filter__title {
			display: block;
			background: url("https://icongr.am/entypo/chevron-down.svg?color=d6d6d6") 100% 0px/18px no-repeat;
			margin: 0;
		}
	}

	@media screen and (max-width: 768px) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 40px;

		&__form {
			&.closed {
				// height: 56px;
				overflow: hidden;
				position: relative;
				margin-bottom: 23px;

				.item__close {
					display: flex;
					position: absolute;
					left: 18px;
					top: 5px;
					border: 0;
					background: url("https://icongr.am/entypo/chevron-down.svg?color=d6d6d6") 95%/18px #f8f8f8 no-repeat;
				}

				.close__filter {
					display: block;

					&:last-child {
						display: none;
					}
				}
			}

			.filter__checkbox {
				label.parent-tip {
					margin-right: 30px;

					.filter-tip[title]:hover:after {
						left: -240px;
						width: 280px;
					}
				}
			}

			.item__close {
				display: block;
				border: 0;
				position: relative;
				overflow: inherit;
			}

			.close__filter:last-child {
				display: block;
				position: absolute;
				right: 20px;
				bottom: -100%;
				color: $base;
				font-family: "Roboto Condensed";
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
				text-transform: uppercase;
				text-align: center;
			}

			.catalog__simile {
				display: none;
			}

			.col-md-3 &+.sidebar {
				display: none;
			}
		}

		&__item {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
		}

		&__container {
			width: 100%;
			display: flex;
			align-items: center;
		}

		&__title {
			width: 100%;
		}

		&__price {
			width: 50%;
			margin: 0;
			padding-left: 10px;
		}

		&__slider {
			width: 40%;
		}

		&__button {
			width: 100%;
			justify-content: unset;
			align-items: center;
		}
	}

	@media screen and (max-width: 767px) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 40px;

		&__item {
			width: 100%;
			display: block;

			&:nth-child(2) {
				padding-top: 15px;
			}

			&:nth-child(3) {
				padding-top: 13px !important;

				&~.filter__item {
					padding-top: 13px;
				}
			}

			&:nth-child(7)~.filter__item {
				padding-top: 9px;
			}

			&.filter__close {
				height: 55px;

				.filter__checkbox {
					display: none;
				}
			}
		}

		&__container {
			width: 100%;
			display: block;
		}

		&__title {
			width: 100%;
			background: url("https://icongr.am/entypo/chevron-up.svg?color=d6d6d6") 100% 0px/22px no-repeat;
		}

		&__price {
			width: 100%;
			margin-bottom: 12px;
			padding-left: 0px;

			span {
				+span {
					margin-left: 34px;
				}
			}

			// input {
			//   margin-left: -65px;
			// }
		}

		&__slider {
			width: 93%;
		}

		&__checkbox {
			display: flex;
			flex-grow: 1;
			flex-wrap: wrap;

			label {
				min-width: calc(35%-12px)
			}
		}

		&__button {
			width: 100%;
			padding-bottom: 0 !important;
			justify-content: center;
			// align-items: center;
			// flex-wrap: wrap;
			display: flex;
			flex-direction: column;

			span {
				color: $base;
				font-family: "Roboto Condensed";
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
				text-transform: uppercase;
			}
		}

		&__item.item__close {
			order: -1;
			padding: 0;
			height: 44px;
		}

		&__form {
			position: relative;
			margin-bottom: 19px;

			.catalog__simile {
				display: flex;
				margin-top: 16px;
				width: fit-content;
			}

			.filter__button {
				padding-bottom: 19px;
			}

			.close__filter:last-child {
				width: 100%;
				position: unset;
				/* min-width: 127px; */
				white-space: nowrap;
				max-width: 127px;
				text-align: left;
			}

			.sidebar {
				display: none;
			}
		}

		&__date {
			margin-top: 11px;
			margin-bottom: 18px;
		}

		&__form.closed {
			margin-bottom: 35px;

			.item__close {
				position: absolute;
				bottom: 0;
				padding: 0 !important;
				left: 0;
				top: 0px;
				background: url("https://icongr.am/entypo/chevron-down.svg?color=d6d6d6") 94% 14px/18px #f8f8f8 no-repeat;
				height: 55px;

				.close__filter {
					padding: 13px 18px;
				}
			}
		}
	}
}

.filter-new.bx-filter.bx-blue {
	margin-bottom: 20px;

	// max-width: 100%;
	// margin: 0 -6px;
	// width: calc(100% + 12px);
	* {
		transition: none;
	}

	// .filter-new {}
	// .container-fluid {}
	// .row {}
	// .col-lg-12 {}
	// .bx-filter-title {}
	// .smartfilter {}
	// .bx-active {}
	// .bx-filter-container-modef {}
	// .btn {}
	// .btn-themes {}
	// .btn-link {}
	// .clb {}
	// .fa {}
	// .fa-angle-up {}
	// .col-xs-6 {}
	// .bx-left {}
	// .min-price {}
	// .bx-right {}
	// .max-price {}
	// .col-xs-10 {}
	// .col-xs-offset-1 {}
	// .p1 {}
	// .p2 {}
	// .p3 {}
	// .p4 {}
	// .p5 {}
	// .bx-ui-slider-range {}
	//
	// .fa-angle-down {}
	// .col-xs-12 {}
	// .bx-filter-param-label {}
	// .disabled {}
	// .bx-filter-popup-result {}
	.col-xs-1,
	.col-sm-1,
	.col-md-1,
	.col-lg-1,
	.col-xs-2,
	.col-sm-2,
	.col-md-2,
	.col-lg-2,
	.col-xs-3,
	.col-sm-3,
	.col-md-3,
	.col-lg-3,
	.col-xs-4,
	.col-sm-4,
	.col-md-4,
	.col-lg-4,
	.col-xs-5,
	.col-sm-5,
	.col-md-5,
	.col-lg-5,
	.col-xs-6,
	.col-sm-6,
	.col-md-6,
	.col-lg-6,
	.col-xs-7,
	.col-sm-7,
	.col-md-7,
	.col-lg-7,
	.col-xs-8,
	.col-sm-8,
	.col-md-8,
	.col-lg-8,
	.col-xs-9,
	.col-sm-9,
	.col-md-9,
	.col-lg-9,
	.col-xs-10,
	.col-sm-10,
	.col-md-10,
	.col-lg-10,
	.col-xs-11,
	.col-sm-11,
	.col-md-11,
	.col-lg-11,
	.col-xs-12,
	.col-sm-12,
	.col-md-12,
	.col-lg-12 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}

	.bx-filter-section {
		border: 1px solid #eeeeee;
		background-color: #f8f8f8 !important;
		padding-top: 12px;
	}

	.bx-filter-parameters-box-title {
		font-size: 16px;
		padding-bottom: 15px;
		display: flex;
		position: relative;
		padding-right: 13px;

		span {
			color: #333333;
			font-family: "Roboto Condensed";
			font-weight: 400;
			line-height: 24px;
			width: auto;
			display: flex;
			justify-content: space-between;

			&:hover {
				border-bottom: 1px solid transparent;
			}
		}

		i[data-role="prop_angle"] {
			position: absolute;
			right: 0;
			left: 220px;
			width: 12px;
			height: 12px;
			background-size: 22px;
			background-position: center;
			background-repeat: no-repeat;
		}

		.fa-angle-up {
			background: url('https://icongr.am/entypo/chevron-small-up.svg?color=b0b0b0&size=50');
		}

		.fa-angle-down {
			background: url('https://icongr.am/entypo/chevron-small-down.svg?color=b0b0b0&size=50');
		}
	}

	.bx-filter-block {
		border-bottom: 1px solid #eee;
		margin-bottom: 16px;
		height: auto !important;
		width: 100%;
	}

	.bx-filter-parameters-box-container {
		// width: 100%;
		// height: auto !important;
		padding-bottom: 0;

		input {
			height: 34px;
			border-radius: 2px;
			border: 1px solid #d6d6d6;
			background-color: #ffffff;
			color: #999999;
			font-family: Arial, sans-serif;
			font-size: 13px;
			line-height: 20px;
			padding-left: 28px;

			&[name="del_filter"] {
				color: $base;
				font-family: "Roboto Condensed";
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
				text-transform: uppercase;
				background: none;
				border: 0;
				padding-left: 0;
				text-decoration: none !important;
			}

			&[name="set_filter"] {
				display: none;
			}
		}

		.col-xs-12 {
			display: flex;
			flex-wrap: wrap;
			padding-left: 20px;
		}

		&.more {
			// height: 150px;
			// overflow: hidden;
			position: relative;
			padding-bottom: 25px;

			.more-text {
				position: absolute;
			}

			.col-xs-12 {
				position: unset;
			}
		}

		.more-text {
			color: $base;
			font-family: Arial, sans-serif;
			font-size: 13px;
			line-height: 18px;
			left: 20px;
			bottom: 0;
			background-color: #f8f8f8;
			z-index: 99;
			right: 0;
			padding: 5px 0;
			cursor: pointer;
			order: 5;
			width: calc(100% - 50px);
		}
	}

	.bx-filter-parameters-box-container-block {
		display: flex;
		position: relative;
		width: calc(50% - 10px);

		&.bx-left {
			padding-right: 0;
			margin-right: 8px;
			padding-left: 20px;

			.bx-ft-sub {
				left: 24px;
			}
		}

		&.bx-right {
			padding-left: 0;
			margin-left: 8px;

			.bx-ft-sub {
				left: 10px;
			}
		}
	}

	.bx-ft-sub {
		position: absolute;
		padding-bottom: 0 !important;
		top: 50%;
		transform: translateY(-50%);
		font-family: Arial, sans-serif;
		font-size: 13px;
		line-height: 20px;
		color: #999999;
		text-transform: lowercase;
	}

	.bx-filter-input-container {
		width: 100%;
	}

	.bx-ui-slider-track-container {
		padding-top: 17px;
		margin-left: 20px;
		width: calc(100% - 39px);
	}

	.bx-ui-slider-track {
		height: 4px;
	}

	.bx-ui-slider-part {
		display: none;
	}

	.bx-ui-slider-pricebar-vd {
		// border-radius: 2px;
		// background-color: #dbdbdb;
		// background: url(../images/slider.png) 100% 5px repeat-x;
		background: $base;
	}

	.bx-ui-slider-pricebar-vn {
		background: url(../images/slider.png);
		margin: 0 -14px;
		z-index: 48;
		left: 0 !important;
		right: 0 !important;
	}

	.bx-ui-slider-pricebar-v {
		border-radius: 2px;
		background: $base;
	}

	.bx-ui-slider-handle {
		width: 15px;
		height: 15px;
		border-radius: 2px;
		border: 3px solid $base;
		background-color: #fff;
		padding: 0;
		position: absolute;
		z-index: 3;
		top: -6px;

		&.left {
			background: #fff;
			margin-left: -15px;
		}

		&.right {
			margin-right: -15px;
			background: #fff;
		}
	}

	.checkbox {
		width: unset;
		color: #333333;
		font-family: Arial, sans-serif;
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 10px;
		position: relative;
		display: flex;
		margin-right: 12px;
		padding: 0;
		margin-top: 0;

		label {
			padding-left: 0;
		}
	}

	.bx-filter-input-checkbox {
		input[type='checkbox'] {
			display: none;

			&:hover+.bx-filter-param-text {
				color: #ffffff;
				background: $base !important;

				span {
					color: #ffffff;
				}
			}

			&:checked+.bx-filter-param-text {
				color: #ffffff;
				background: #d82300;

				span {
					color: #ffffff;
				}
			}
		}
	}

	.bx-filter-param-text {
		border-radius: 2px;
		background-color: #e7e7e7;
		padding: 3px 9px;
		text-decoration: none !important;
		color: #333333;
		font-family: Arial, sans-serif;
		font-size: 13px;
		line-height: 20px;
	}

	.bx-filter-button-box {
		padding: 0 17px;
		width: 100%;

		.bx-filter-block {
			border-bottom: 0;
			// margin-bottom: 0;
		}

		input[name=del_filter] {
			padding-top: 0;
			height: auto;
			cursor: pointer;
		}
	}

	.bx-filter-parameters-box {
		display: flex;
		flex-wrap: wrap;
	}

	.filter-glossary {
		overflow: hidden;
		display: flex;
		padding: 0;
		position: relative;
		transition: all 0.2s;
		margin-left: 5px;
		// align-items: flex-start;
		z-index: 999;
		cursor: pointer;
		padding-top: 4px;

		* {
			transition: all 0s;
		}

		.icon-gloss {
			width: 14px;
			height: 14px;
			background: url('../images/chara__on.png') no-repeat;
		}

		.popup-gloss {
			position: absolute;
			opacity: 0;
			max-height: 0;
			max-width: 0;
			display: none;
		}

		&[data-glossary="show"] {
			overflow: visible;

			.icon-gloss {
				width: 14px;
				height: 14px;
				background: url('../images/chara__off.png') no-repeat;
			}

			.popup-gloss {
				display: block;
				width: 274px;
				box-shadow: 0 2px 12px rgba(82, 64, 64, 0.17);
				border-radius: 3px;
				background-color: #ffffff;
				padding: 22px 24px 26px;
				z-index: 100;
				bottom: calc(100% + 0);
				left: 0;
				height: auto;
				opacity: 1;
				max-height: unset;
				max-width: unset;
				z-index: 999;
				// &:before {
				// 	content: '';
				// 	width: 30px;
				// 	height: 30px;
				// 	transform: rotate(-45deg) translateX(-50%);
				// 	border-radius: 4px;
				// 	background-color: #ffffff;
				// 	position: absolute;
				// 	top: calc(100% - 32px);
				// 	left: 50%;
				// }
			}
		}

		.filter-glossary__img {
			width: 100%;
			height: auto;
			margin-bottom: 10px;
		}

		.filter-glossary__title {
			color: #333333;
			font-family: Arial, sans-serif;
			font-size: 14px;
			font-weight: 700;
			margin-bottom: 4px;
			width: fit-content;
		}

		.filter-glossary__text {
			color: #333333;
			font-family: Arial, sans-serif;
			font-size: 12px;
			line-height: 18px;
			margin-bottom: 5px;
		}

		.filter-glossary__link {
			color: $base;
			font-family: "Roboto Condensed";
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		}
	}

	.bx-filter-popup-result {
		padding: 9px 10px;
		// background: white;
		box-shadow: 0 2px 12px rgba(82, 64, 64, 0.17);
		border-radius: 3px;
		background-color: $base;
		border-image: none;
		color: #ffffff;
		font-family: Arial, sans-serif;
		font-size: 14px;
		font-weight: 700;
		border-width: unset;
		border: 0;
		margin-left: 17px;
		align-items: center;
		min-height: 39px;

		&:before {
			content: '';
			width: 31px;
			height: 31px;
			// transform:;
			border-radius: 4px;
			background-color: $base;
			top: 42%;
			transform: rotate(-45deg)translateY(-50%);
			left: 5px;
			position: absolute;
			z-index: -1;
		}

		// br {
		// 	display: none;
		// }
		a {
			color: #ffffff;
			font-family: Arial, sans-serif;
			font-size: 14px;
			font-weight: 700;
			margin-top: 0px;
			display: block;
			margin-left: 0px;
			text-decoration: none !important;

			&:before {
				content: '.     ';
				margin-right: 4px;
			}

			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}

		&[style="display: inline-block;"] {
			display: flex !important;
		}

		#modef_num {
			margin-left: 4px;
		}
	}

	input#del_filter {
		display: flex;
		align-items: center;
		width: 100%;
		height: 40px;
		border-radius: 3px;
		padding: 9px 43px 8px 16px;
		// background: $base;
		color: #ffffff;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		background: url("../images/close-filter.svg")no-repeat calc(100% - 15px) 50% $base;
		margin-left: -8px;
	}

	.bx-filter-button-box .btn.btn-link {
		display: flex;
		align-items: center;
		width: 100%;
		height: 40px;
		border-radius: 3px;
		padding: 9px 43px 8px 16px;
		// background: $base;
		color: #ffffff;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		background: url("../images/close-filter.svg")no-repeat calc(100% - 15px) 50% $base;
		// margin-left: -8px;
		justify-content: center;
	}

	@media screen and (max-width: 767px) {
		display: flex;
		flex-direction: column;

		&.active {
			.bx-filter-section.container-fluid {
				max-height: 0;
				overflow: hidden;
				padding: 0;
			}
		}

		.bx-filter-parameters-box-title {
			span {
				&:hover {}
			}

			i[data-role="prop_angle"] {
				right: 16px;
				left: unset;
			}
		}

		.bx-filter-button-box {
			.bx-filter-parameters-box-container {
				display: flex;
				justify-content: unset;
			}
		}

		.filter-new__button {
			background-color: #f8f8f8;
			order: -1;
			padding: 11px 16px;

			span {
				color: $base;
				font-family: "Roboto Condensed";
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
				text-transform: uppercase;
				border-bottom: 1px dashed $base;
				width: 110px;
				height: 28px;
			}
		}

		.filter-glossary {
			position: unset;
		}

		.bx-filter-parameters-box {
			// display: flex;
			// flex-wrap: nowrap;
			// flex-direction: column;
		}

		.bx-filter-block {
			width: 100%;
		}

		.bx-filter-parameters-box-title {
			position: unset;
		}

		.bx-filter-parameters-box-container .col-xs-12 {
			align-content: baseline;
			align-items: baseline;

			.checkbox {
				position: unset;
			}
		}

		.bx-filter-parameters-box-container.more {
			// height: 60px;
			// overflow: hidden;
			position: relative;
			padding-bottom: 25px;
		}

		.bx-ui-slider-pricebar-vn {
			width: calc(100% + 25px);
			max-width: calc(100% + 25px);
		}

		.bx-ui-slider-handle {
			&:before {
				content: "";
				position: absolute;
				margin: -11px;
				/* width: 100%; */
				background: transparent;
				z-index: 9999;
				width: calc(100% + 20px);
				height: calc(100% + 20px);
			}
		}

		&~.sidebar {
			display: none;
		}

		.new-catalog & {
			position: relative;

			&:before {
				content: 'Фильтр';
				color: $base;
				font-family: "Roboto Condensed";
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
				text-transform: uppercase;
				height: 48px;
				background: url('../images/open-filter.svg')no-repeat 18px 50% #f8f8f8;
				display: flex;
				align-items: center;
				padding-left: 48px;
				width: calc(100% - 90px);
				border-left: solid 1px #eeeeee;
				border-top: solid 1px #eeeeee;
				z-index: 1;
			}

			.filter-new__button {
				background-color: #f8f8f8;
				order: unset;
				padding: 0;
				width: 78px;
				height: 40px;
				border-radius: 3px;
				border: solid 1px $base;
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				bottom: 17px;
				right: 10px;

				span {
					color: $base;
					font-family: "Roboto Condensed";
					font-size: 14px;
					font-weight: 400;
					line-height: 24px;
					text-transform: uppercase;
					border-bottom: none;
					width: auto;
					height: auto;
				}
			}

			&.active {
				min-width: 188px;
				width: calc(100% - 100px);

				&:before {
					display: none;
				}

				.filter-new__button {
					background-color: $base;
					display: flex;
					align-items: center;
					min-height: 48px;
					width: auto;
					padding: 11px 16px;
					position: static;

					&:before {
						content: '';
						width: 20px;
						height: 16px;
						background: url('../images/close-filter.svg');
						margin-right: 10px;
					}

					&:after {
						content: '';
						background: url('https://icongr.am/entypo/chevron-small-down.svg?color=ffffff&size=50');
						width: 12px;
						height: 12px;
						background-size: 22px;
						background-position: center;
						background-repeat: no-repeat;
						margin-left: auto;
					}

					span {
						color: #ffffff;
						font-family: "Roboto Condensed";
						font-size: 14px;
						font-weight: 400;
						line-height: 24px;
						text-transform: uppercase;
						width: auto;
						height: auto;
					}
				}

				.bx-filter-section {
					border: none;
				}
			}

			input#del_filter {
				display: flex;
				align-items: center;
				width: 176px;
				height: 40px;
				border-radius: 3px;
				padding: 9px 43px 8px 16px;
				// background: $base;
				color: #ffffff;
				font-family: 'Roboto Condensed', sans-serif;
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
				text-transform: uppercase;
				background: url("../images/close-filter.svg")no-repeat calc(100% - 15px) 50% $base;
				margin-left: -8px;
			}
		}

		.bx-filter-button-box .btn.btn-link {
			display: flex;
			align-items: center;
			width: 176px;
			height: 40px;
			border-radius: 3px;
			padding: 9px 43px 8px 16px;
			// background: $base;
			color: #ffffff;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase;
			background: url("../images/close-filter.svg")no-repeat calc(100% - 15px) 50% $base;
			margin-left: -8px;
		}
	}
}
