<div class="col-md-3">
	<div class="filter__date">Обновление цен от 14 июля 2018 </div>
	<form class="filter__form closed" action="" method="get" id="products-filter">
		<input type="hidden" name="F[SET_FILTER]" id="SET_FILTER" value="Y">
		<div class="filter__item">
			<div class="filter__title  js-filter__title">Цена, руб.</div>
			<div class="filter__container filter-slider-container" itemkey="316177">
				<div class="filter__price filter-price">
					<span>
						от
						<input type="text" placeholder="" name="" value=" 12990" class="input_min">
					</span>
					<span>
						до
						<input type="text" name="" value="132480" class="input_max">
					</span>
				</div>
				<div class="filter__slider slider__filter_range filter-slider slider-filter_range slider_filter_range ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
					min="12990" max="132480" minval="12990" maxval="132480" aria-disabled="false">
					<div class="ui-slider-range ui-widget-header ui-corner-all">
					</div>
					<a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left:0"></a>
					<a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
				</div>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__title  js-filter__title">Подборки</div>
			<div class="filter__checkbox">
				<a href="#" data-value="12" class="filter-collections active">Новинки</a>
				<a href="#" data-value="22" class="filter-collections">Лучшие</a>
				<a href="#" data-value="9" class="filter-collections">Акции</a>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__title  js-filter__title">Цвет</div>
			<div class="filter__checkbox">
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom">
						BlackSteel
					</span>
					<span class="checkbox-number">13</span>
				</label>
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom">StickerArt</span>

					<span class="checkbox-number">13</span>
				</label>
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom">Бежевый</span>

					<span class="checkbox-number">13</span>
				</label>
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom">Белый</span>

					<span class="checkbox-number">13</span>
				</label>
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom">Зеленый KiwiGreen
					</span>
					<span class="checkbox-number">13</span>
				</label>
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom">Зеленый авакадо</span>
					<span class="checkbox-number">13</span>
				</label>
			</div>
			<a href="#" class="catalog__simile">Показать еще</a>
		</div>
		<div class="filter__item">
			<div class="filter__title  js-filter__title">Высота (см)</div>
			<div class="filter__container filter-slider-container" itemkey="316177">
				<div class="filter__price filter-price">
					<span>
						от
						<input type="text" placeholder="" name="" value="62" class="input_min">
					</span>
					<span>
						до
						<input type="text" name="" value="204" class="input_max">
					</span>
				</div>
				<div class="filter__slider slider__filter_range filter-slider slider-filter_range slider_filter_range ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
					min="0" max="250" minval="0" maxval="250" aria-disabled="false">
					<div class="ui-slider-range ui-widget-header ui-corner-all">
					</div>
					<a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left:0"></a>
					<a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
				</div>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__title  js-filter__title">Ширина (см)</div>
			<div class="filter__container filter-slider-container" itemkey="316177">
				<div class="filter__price filter-price">
					<span>
						от
						<input type="text" placeholder="" name="" value="62" class="input_min">
					</span>
					<span>
						до
						<input type="text" name="" value="204" class="input_max">
					</span>
				</div>
				<div class="filter__slider slider__filter_range filter-slider slider-filter_range slider_filter_range ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
					min="0" max="250" minval="0" maxval="250" aria-disabled="false">
					<div class="ui-slider-range ui-widget-header ui-corner-all">
					</div>
					<a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left:0"></a>
					<a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
				</div>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__title  js-filter__title">Глубина (см)</div>
			<div class="filter__container filter-slider-container" itemkey="316177">
				<div class="filter__price filter-price">
					<span>
						от
						<input type="text" placeholder="" name="" value="62" class="input_min">
					</span>
					<span>
						до
						<input type="text" name="" value="204" class="input_max">
					</span>
				</div>
				<div class="filter__slider slider__filter_range filter-slider slider-filter_range slider_filter_range ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
					min="0" max="250" minval="0" maxval="250" aria-disabled="false">
					<div class="ui-slider-range ui-widget-header ui-corner-all">
					</div>
					<a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left:0"></a>
					<a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
				</div>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__title  js-filter__title">Расположение морозильной камеры</div>
			<div class="filter__checkbox">
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom">
						Side by Side
					</span>
					<span class="checkbox-number">11</span>
				</label>
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom">Сверху</span>

					<span class="checkbox-number">13</span>
				</label>
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom">Снизу</span>

					<span class="checkbox-number">13</span>
				</label>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__title  js-filter__title">Класс энергопотребления <a href="#" class="filter-tip"
					title="Классы энергопотребления A+ и A++ - экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды."></a>
			</div>
			<div class="filter__checkbox">
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom">A</span>
					<span class="checkbox-number">0</span>
				</label>
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom"> A+
					</span>
					<span class="checkbox-number">13</span>
				</label>
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom"> A++
					</span>
					<span class="checkbox-number">13</span>
				</label>
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom"> A+++</span>

					<span class="checkbox-number">13</span>
				</label>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__title  js-filter__title">Завоеванные призы</div>
			<div class="filter__checkbox">
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom"> German Design Award</span>

					<span class="checkbox-number">13</span>
				</label>
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom"> iF Design Award</span>

					<span class="checkbox-number">13</span>
				</label>
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom">Interior innovation Award</span>

					<span class="checkbox-number">0</span>
				</label>
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom">PLUS X AWARD</span>

					<span class="checkbox-number">13</span>
				</label>
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom"> Red Dot Design Award</span>

					<span class="checkbox-number">13</span>
				</label>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__title  js-filter__title">Страна сборки</div>
			<div class="filter__checkbox">
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom"> Австралия</span>

					<span class="checkbox-number">13</span>
				</label>
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom">Болгария</span>

					<span class="checkbox-number">13</span>
				</label>
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom">Германия</span>

					<span class="checkbox-number">13</span>
				</label>
			</div>
		</div>
		<div class="filter__item">
			<div class="filter__title  js-filter__title">Дополнительные возможности</div>
			<div class="filter__checkbox">
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom"> Зона свежести BioFresh</span>
					<span class="checkbox-number">13</span>
					<a href="#" class="filter-tip"
						title="BioFresh - это специальная регулирующаяся зона в холодильной камере, в которой поддерживается определенный микроклимат. Зона свежести BioFresh состоит из двух контейнеров - DrySafe с низкой влажностью для хранения молочных продуктов, морепродуктов и мяса и HydroSafe для хранения фруктов и овощей. При хранении в отделении BioFresh, скоропортящиеся продукты в значительной степени сохраняют вкусовые качества, свежесть и питательность."></a>
				</label>
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom"> Доводчик двери SoftSystem</span>
					<span class="checkbox-number">13</span>
					<a href="#" class="filter-tip"
						title="SoftSystem - эта система обеспечивает дополнительную безопасность и комфорт. Встроенный амортизированный доводчик двери гарантирует удивительно мягкое закрывание даже при максимальном заполнении двери. Кроме того дверь закрывается автоматически, если угол открытия будет меньше 30°."></a>
				</label>
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom">Система NoFrost</span>
					<span class="checkbox-number">13</span>
					<a href="#" class="filter-tip"
						title="NoFrost - благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания."></a>
				</label>
				<label>
					<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
					<span class="checkbox-custom"> Ледогенератор IceMaker</span>
					<span class="checkbox-number">13</span>
					<a href="#" class="filter-tip"
						title="IceMaker - инновационное решение для производства кубиков льда даже при отсутствии стационарной подачи или недостаточно высоком качестве питьевой воды. Для наполнения водой резервуар легко извлекается из холодильника."></a>
				</label>
			</div>
		</div>
		<div class="filter__item item__close js-item__close">
			<span class="close__filter">
				Открыть фильтр
			</span>
			<span class="close__filter">
				Закрыть фильтр
			</span>
		</div>
		<div class="filter__button">
			<input type="submit" name="" value="Показать" class="btn-sub">
			<span class="filter_reset js-filter_reset" id="filter_reset">Сбросить фильтр</span>
		</div>
		<script type="text/javascript">

		</script>
	</form>
	{% include 'section/sidebar/sidebar.html' %}
</div>