.header {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	width: 100%;
	margin-right: auto;
	position: relative;

	.header-inner & {
		flex-direction: row-reverse;
	}

	&__blocks {
		width: 100%;
		z-index: 999;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
	}

	&__block {

		position: relative;
		display: flex;
		z-index: 3;

		.container {
			display: flex;
			position: relative;
			align-items: center;
			padding: 0;
		}

		&_top {
			justify-content: center;
			align-items: center;
			background: #ffffff;
			height: 39px;
			z-index: 9;
		}

		&_bottom {
			height: 74px;
			color: white;
			flex-wrap: wrap;
			position: relative;
			// margin: 2px 0;
			border-top: 1px solid #f1f1f1;
		}

		.hamburger {
			display: none;
		}

	}

	&__link {
		font-family: 'fonta27c5975a1a88dcd17c7c606902044d9';
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #666666;
	}

	&__img {
		z-index: 100;
		width: 56px;
		height: 58px;
		margin-top: -30px;
		margin-right: 16px;
		min-width: 56px;
	}

	&__telephones {
		// height: 28px;
		display: flex;
		align-items: center;
		margin-left: auto;
		flex-grow: 1;
		// margin-bottom: 3px;
		margin-left: 18px;

		.telephones {
			display: flex;
			flex-direction: column;
			margin-left: auto;
		}
	}

	&__phone {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 18px;
		font-weight: normal;
		font-style: normal;
		font-stretch: condensed;
		line-height: 1.44;
		letter-spacing: normal;
		color: #333333;
		white-space: nowrap;
		text-decoration: none !important;
	}

	&__call-phone-button {
		width: 142px;
		padding: 5px 15px;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: condensed;
		line-height: 1.71;
		letter-spacing: normal;
		color: #394791;
		border-radius: 3px;
		background-color: #ffffff;
		border: solid 1px #394791;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		display: flex;
		white-space: nowrap;

		&:hover {
			text-decoration: unset;
		}
	}

	&__icons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 24px;
		margin-left: 29px;
		align-self: flex-end;
	}

	.search__popup {
		position: absolute;
		width: 100.5%;
		top: 96%;
		background-color: #ffffff;
		padding: 30px 0 26px;
		display: flex;
		justify-content: center;
		z-index: 98;
		right: 100%;
		opacity: 0;

		&-open {
			display: flex;
			right: -0.3%;
			opacity: 1;
		}
	}

	&__overlay {
		display: none;
		left: 0;
		top: 115px;
		position: fixed;
		width: 100%;
		height: 100vh;
		opacity: 0.6;
		background-color: #000000;
		z-index: 90;

		&-open {
			display: flex;
		}
	}

	&__form {
		position: relative;
		width: 45%;
		display: flex;
		justify-content: space-between;

		input {
			border: 0;
		}
	}

	&__button {
		max-width: 24px;
		width: 100%;
		height: 24px;
		background: url("https://icongr.am/clarity/close.svg?color=666666") 0/24px no-repeat;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 5%;
		display: none;
	}

	&__input {
		width: 100%;
		background: inherit;
		border-bottom: 1px solid #666666 !important;
		font-size: 24px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #333333;
		padding-bottom: 15px;
	}

	&__submit {
		background: url("../images/search.svg") 0/20px no-repeat;
		border: 0;
		position: absolute;
		right: 0;
		display: none;
	}

	&__search {
		width: 24px;
		height: 100%;
		display: flex;
		margin-right: 36px;
		cursor: pointer;

		&:before {
			content: '';
			width: 20px;
			height: 100%;
			flex-shrink: 0;
			margin-right: 4px;
			background-size: contain !important;
			background-position: center center !important;
			background: url("../images/search.svg") no-repeat;
		}

		&-open,
		&:hover {
			&:before {
				background: url("../images/musica-searcher-1.svg") no-repeat;
			}

		}



	}

	&__favorite,
	&__compare,
	&__basket {
		min-width: 39px;
		height: 100%;
		display: flex;
		justify-content: center;
		text-decoration: none !important;
		flex-shrink: 0;
		align-items: center;


		&:before {
			content: '';
			width: 18px;
			height: 18px;
			flex-shrink: 0;
			margin-right: 8px;
			background-size: contain !important;
			background-position: center center !important;
		}

		&.active {}
	}

	&__favorite {
		&:before {
			background: url("../images/header-fav.svg") no-repeat;
		}

		margin-right: 38px;

		&:hover {

			&:before {
				background: url("../images/header-fav-active.svg") no-repeat;
			}
		}

		&.active {
			position: relative;
		}
	}

	&__compare {
		&:before {
			background: url("../images/header-compare.svg") no-repeat;
		}

		margin-right: 35px;

		&:hover {

			&:before {
				background: url("../images/header-compare-active.svg") no-repeat;
			}
		}

		&.active {
			position: relative;
		}
	}

	&__basket {
		&:before {
			background: url("../images/shopping-cart.svg") no-repeat;
		}

		margin-right: 13px;

		&-open,
		&:hover {

			&:before {
				background: url("../images/shopping-cart__color.svg") no-repeat;
			}
		}
	}

	&__number {
		font-family: Arial, sans-serif;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #666666;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 100%;
		text-decoration: none !important;

		.active & {
			color: rgb(242, 44, 22) !important;
		}
	}

	.hamburger {
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		outline: 0;
		border: 0;
		background: none;
		padding: 0;
		order: -2;

		&__img {
			width: 24px;
			height: 24px;
			background: url('../images/rectangle-6.svg')
		}
	}

	&__mobile-tel {
		display: none;
	}

	// .time-work {
	// 	display: none;
	// }

	@media screen and (max-width: 767px) {
		z-index: 99999;

		.header {

			&__img {
				display: none;
			}


			&__block_bottom {
				display: none;

				&.active {
					display: block;
					// transform: scale(1);
					position: static;
					// top: 57px;
					// left: 0;
					width: 100%;
					height: auto;
					transition: transform 0.3s;
					display: flex;
					align-items: baseline;
					box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.14);
					background-color: #ffffff;
					// overflow-y: auto;
					padding-bottom: 12vh;
					padding-top: 0px;

					* {
						transition: 0.3s;
					}
				}
			}
			&__blocks.active {
				overflow-y: auto;
				height: 100vh;
			}

			&__block_top {
				height: 62px;
				// border-bottom: 1px solid #f1f1f1;

				.header__icons {
					display: flex;
				}

				.menu__list {
					display: flex;
				}
			}

			&__icons {
				flex: unset;
				flex-basis: unset;
				margin-left: auto;
				justify-content: space-around;
				min-width: 121px;
			}

			&__favorite,
			&__compare,
			&__basket {
				min-width: 24px;
				height: 100%;
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}

			&__favorite {
				display: none;
			}


			&__search {
				margin-right: 2px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}

			&__favorite {
				// width: 26px;
				margin-right: 1px;
				position: relative;
				margin-right: 6px;



				// .header__number {
				// 	position: absolute;
				// 	/* Style for "Oval" */
				// 	width: 11px;
				// 	height: 11px;
				// 	border: 1px solid #ffffff;
				// 	background-color: #d8d8d8;
				// 	color: #666666;
				// 	font-family: Arial,sans-serif;
				// 	font-size: 8px;
				// 	border-radius: 50%;
				// 	display: flex;
				// 	align-items: center;
				// 	justify-content: center;
				// 	top: 0;
				// 	right: 6px;
				// }
			}

			&__compare {
				width: auto;
				max-width: 40px;
				margin-right: 4px;
				display: none;
			}

			&__mobile-tel {
				width: 16px;
				height: 100%;
				display: flex;
				background: url('../images/Fill_1.svg') no-repeat;
				background-position: center center;
				margin-right: 5px;
				order: -1;
				background-size: contain !important;
				align-items: center;
			}

			&__basket {
				width: auto;
				max-width: 40px;
				margin-right: -0px;

			}

			&__number {
				font-size: 13px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #666666;
			}

			&__form {
				width: 95%;
			}

			&__telephones {
				margin-left: 0;
				flex-direction: column;
				height: unset;
				align-items: baseline;
				margin-top: 16px;
				width: 100%;

				.telephones {
					order: -1;
					margin-left: 0;
					flex-direction: column;

					.header__phone:last-child {
						// margin-left: 1rem;
					}
				}

				.header__call-phone-button {
					color: #394791;
					color: #394791;
					font-family: Arial, sans-serif;
					font-size: 10px;
					line-height: 22px;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					margin: 5px 0 0 0;
					padding-left: 0;
					border: 0;
					width: auto;
					text-decoration: none !important;
					flex-wrap: wrap;
					display: flex;

					&::before {
						content: '';
						background: url('../images/footer__call.png');
						// background: url('../images/social-items-vk.png') no-repeat #f8f8f8;
						margin-right: 10px;
						width: 12px;
						height: 12px;
					}

					&::after {
						content: '';
						border-bottom: 1px dashed #394791;
						width: calc(100% - 24px);
						height: 0px;
						margin-top: -5px;
					}

				}
			}
		}

		.container {
			justify-content: unset;
			position: unset;
		}

		&__block_bottom .container {
			flex-wrap: wrap;
		}

		.hamburger {
			display: block;
			margin-right: 16px;
			margin-top: 0;

			&__img {
				width: 18px;
				height: 18px;
				background: url('../images/rectangle-6.svg') 0/18px;

			}
		}

		.opened {
			.hamburger__img {
				background: url('https://icongr.am/entypo/cross.svg?color=7d8082') 0/18px center;
				width: 18px;
				height: 18px;
			}
		}
	}


}
