<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">

		<div class="breadcrumbs">
			<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem"><a href="/" title="Главная" itemprop="item"><span
							itemprop="name">Vestfrost</span></a>
					<meta itemprop="position" content="1">
				</div>
				<div class="breadcrumbs__sep">»</div>
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem"><span itemprop="name">Доставка и оплата</span><a
						itemprop="item" href="/delivery-and-payment/" title="Доставка и оплата"></a>
					<meta itemprop="position" content="2">
				</div>
			</div>
		</div>

		<h1 class="title">Доставка и оплата</h1>

		<div class="text-default">

			<img src="{{src}}shipping-payment.png" alt="">
			<div>
				<br>
			</div>

			<div>
				<h2>Оплата</h2>

				<ul>
					<li><strong>Наличный расчет.</strong> Клиент оплачивает стоимость заказа наличными средствами
						непосредственно
						при получении товара. </li>

					<li><strong>Оплата картой при получении товара*.</strong> Клиент оплачивает стоимость заказа
						безналичными
						средствами непосредственно при получении товара.</li>

					<li><strong>Оплата по счету (банковский перевод)</strong> На&nbsp;электронную почту клиента,
						юридического или
						физического лица, высылается счет на&nbsp;оплату. Срок действия счета на&nbsp;предоплату&nbsp;—
						3&nbsp;дня.</li>
				</ul>

				<p style="text-align: left;"> <i>*Допускается оплата картами: Visa&nbsp;/ Visa Electron&nbsp;/
						MasterCard&nbsp;/
						MasterCard Electronic&nbsp;/ Maestro.&nbsp;</i> </p>

				<p style="text-align: left;">Техника отгружается представителям юридического лица либо специалистам
					транспортной
					компании только при наличии доверенности на&nbsp;получение товара. </p>

				<h2 style="text-align: left;">Доставка</h2>

				<h3>Тарифы на платную доставку</h3>

				<table width="850" border="0">
					<tbody>
						<tr style="background-color: rgb(255, 255, 255);">
							<td class="table_rowA" border-image:="" initial;"="" style="border-image: initial;">
								<strong>Вид
									техники</strong></td>
							<td class="table_rowA" border-image:="" initial;"="" style="border-image: initial;">
								<strong>Первый
									прибор</strong></td>
							<td class="table_rowA" border-image:="" initial;"="" style="border-image: initial;">
								<strong>Последующий</strong></td>
						</tr>

						<tr style="background-color: rgb(238, 238, 238);">
							<td class="table_rowA" style="border-image: initial;">Холодильники Side-by-Side,
								многокамерные
								холодильники, холодильники шириной более 70 см</td>
							<td class="table_rowA" style="text-align: center; border-image: initial;"><strong>1200
									рублей</strong>
							</td>
							<td class="table_rowA" style="text-align: center; border-image: initial;"><strong>800
									рублей</strong>
							</td>
						</tr>

						<tr style="background-color: rgb(255, 255, 255);">
							<td class="table_rowA" style="border-image: initial;"> Крупногабаритная техника:
								холодильники и
								морозильники высотой от 86 до 201 см шириной до 69 см, морозильные лари</td>
							<td class="table_rowA" style="text-align: center; border-image: initial;"><strong>700
									рублей</strong>
							</td>
							<td class="table_rowA" style="text-align: center; border-image: initial;"><strong>450
									рублей</strong>
							</td>
						</tr>

						<tr style="background-color: rgb(238, 238, 238);">
							<td class="table_rowA" style="border-image: initial;"> Средняя бытовая техника: варочные
								панели,
								посудомоечные машины, стиральные машины, сушильные машины, холодильники и морозильники
								высотой до
								86 см, духовые шкафы, вытяжки, водонагреватели </td>
							<td class="table_rowA" style="text-align: center; border-image: initial;" рублей="" <=""
								td="">
								<strong>600 рублей</strong></td>
							<td 400="" class="table_rowA" style="text-align: center; border-image: initial;" рублей<=""
								td="">
								<strong>400 рублей</strong></td>
						</tr>

						<tr style="background-color: rgb(255, 255, 255);">
							<td style="padding: 5px; border-image: initial;">Малогабаритная бытовая техника:
								микроволновые печи,
								кофемашины, вакууматоры, подогреватели посуды, аксессуары</td>
							<td style="text-align: center; border-image: initial;"><strong>350 рублей</strong></td>
							<td style="text-align: center; border-image: initial;"><strong>150 рублей</strong> </td>
						</tr>
					</tbody>
				</table>

				<p style="text-align: justify;"> Стоимость доставки по&nbsp;Московской области: доставка по Москве +
					30&nbsp;рублей за каждый километр удаленности от МКАД. </p>

				<p> Например, при заказе комплекта техники приоритет будет у&nbsp;модели с&nbsp;большей стоимостью
					доставки.
					Например, при покупке холодильника Side-by-Side и&nbsp;духового шкафа стоимость доставки составит
					1650 рублей
					(1200&nbsp;— за&nbsp;холодильник и&nbsp;450&nbsp;— за&nbsp;духовку). Доставка этого комплекта
					техники
					на&nbsp;расстояние 15&nbsp;км за&nbsp;МКАД обойдется в&nbsp;2100 рублей (1200&nbsp;—
					за&nbsp;холодильник,
					450&nbsp;— за&nbsp;духовой шкаф&nbsp;и&nbsp;450 рублей&nbsp;— за&nbsp;доставку на&nbsp;расстояние
					15&nbsp;км
					за&nbsp;МКАД). </p>

				<p> Вы&nbsp;можете выбрать 3-часовой VIP-интервал (в&nbsp;пределах стандартного времени), его стоимость
					300 рублей
					добавляется к&nbsp;стоимости стандартной доставки. </p>

				<p> Временной диапазон и&nbsp;стоимость доставки могут быть изменены как в&nbsp;меньшую, так
					и&nbsp;большую
					сторону в&nbsp;зависимости от&nbsp;нагрузки на&nbsp;дорогах выбранного направления. </p>

				<ul>
					<b>Время доставки</b>

					<li>с 12:00 до 18:00</li>

					<li>с 16:00 до 22:00</li>
				</ul>

				<ul>
					<b>В&nbsp;выходные и&nbsp;праздничные дни:</b>

					<li>С&nbsp;10:00 до&nbsp;20:00.</li>
				</ul>

				<p>Если заказ сделан до&nbsp;16:00, он&nbsp;может быть доставлен на&nbsp;следующий день при условии
					наличия товара
					на&nbsp;складе. Если заказ сделан после 16:00, он&nbsp;доставляется через день. Наличие должно быть
					подтверждено менеджером интернет-магазина по&nbsp;телефону.</p>

				<h2>Условия доставки</h2>

				<ul>
					<li>При безналичной оплате товар доставляется в&nbsp;течение трех дней с&nbsp;момента поступления
						денег
						на&nbsp;счет..</li>

					<li>Приобретенная в нашем интернет-магазине техника доставляется по фактическому адресу.</li>

					<li>При оформлении заявки необходимо указать точный адрес доставки, в том числе: улицу, дом, номер
						квартиры
						или офиса.</li>

					<li>В лесные массивы, на пляжи, в парки и на пустыри доставка техники не осуществляется.</li>

					<li>Доставка товара в офисные здания и на территорию предприятия осуществляется до
						контрольно-пропускного
						пункта или проходной.</li>

					<li>Курьер ждет не более 15 минут.</li>

					<li>Если курьер вынужден воспользоваться платной парковкой, ее стоимость оплачивает заказчик.</li>

					<li>В случае превышения времени стоянки в центре Москвы стоимость доставки увеличивается на 50
						рублей.</li>
				</ul>

				<p> Если курьер не дозвонился до заказчика, доставка не может быть осуществлена, но ее можно перенести
					на другой
					день по согласованию с менеджером. </p>

				<h2>Стоимость ручного подъема при отсутствии лифта</h2>

				<table width="850" border="0">
					<tbody>
						<tr style="background-color: rgb(255, 255, 255);">
							<td class="table_rowA" style="border-image: initial;"><strong>Вид техники</strong></td>
							<td class="table_rowA" style="text-align: center; border-image: initial;">
								<strong>Стоимость</strong>
							</td>
						</tr>

						<tr style="background-color: rgb(255, 255, 255);">
							<td class="table_rowA" style="border-image: initial;">Малая бытовая техника и аксессуары
								до&nbsp;15&nbsp;кг</td>
							<td class="table_rowA" style="text-align: center; border-image: initial;"><strong>50 рублей
									за&nbsp;этаж</strong></td>
						</tr>

						<tr style="background-color: rgb(238, 238, 238);">
							<td class="table_rowA" style="border-image: initial;"> Малая бытовая техника и аксессуары
								от&nbsp;15&nbsp;кг </td>
							<td class="table_rowA" style="text-align: center; border-image: initial;"><strong> 100
									рублей
									за&nbsp;этаж </strong></td>
						</tr>

						<tr style="background-color: rgb(255, 255, 255);">
							<td class="table_rowA" style="border-image: initial;">Духовые шкафы, варочные панели,
								встраиваемые
								микроволновые печи, вытяжки шириной 60 и 90 см, купольные вытяжки, встраиваемые
								кофемашины,
								посудомоечные машины, стиральные и&nbsp;сушильные машины, подогреватели посуды,
								вакууматоры,
								холодильники шириной до 70 см</td>
							<td class="table_rowA" style="text-align: center; border-image: initial;"><strong>150 рублей
									за&nbsp;этаж</strong></td>
						</tr>

						<tr style="background-color: rgb(238, 238, 238);">
							<td class="table_rowA" style="border-image: initial;">Варочные панели, встраиваемые вытяжки
							</td>
							<td class="table_rowA" style="text-align: center; border-image: initial;"><strong> 100
									рублей
									за&nbsp;этаж </strong></td>
						</tr>

						<tr style="background-color: rgb(255, 255, 255);">
							<td class="table_rowA" style="border-image: initial;"> Холодильники и морозильники шириной
								более 70 см
							</td>
							<td class="table_rowA" style="text-align: center; border-image: initial;"><strong> 250
									рублей
									за&nbsp;этаж</strong></td>
						</tr>

						<tr style="background-color: rgb(238, 238, 238);">
							<td class="table_rowA" style="border-image: initial;"> Холодильники Side-by-Side и
								негабаритная
								техника</td>
							<td class="table_rowA" style="text-align: center; border-image: initial;"><strong> от 400
									рублей
									за&nbsp;этаж*</strong></td>
						</tr>
					</tbody>
				</table>

				<p>*Итоговая стоимость зависит от условий подъема</p>

				<p>Стоимость подъема на лифте соответствует стоимости ручного подъема на один этаж. </p>

				<p>Бытовая техника доставляется в&nbsp;квартиру, если есть свободный проход. Грузчики и&nbsp;экспедиторы
					не&nbsp;имеют права демонтировать ручки и&nbsp;двери приборов, которые создают помехи при
					транспортировке, так
					как впоследствии сервисный центр может отказаться проводить гарантийный ремонт.</p>

				<h2>Осмотр и проверка техники</h2>

				<p>При получении товара внимательно проверьте его целостность, комплектацию и отсутствие следов
					установки. После
					подписания договора техника не может быть возвращена из-за внешнего вида, в соответствии со статьями
					458 и 459
					ГК РФ. Требования ст. 484 ГК РФ обязательны к выполнению, несмотря на загрязнение товара и малую
					освещенность
					помещения.</p>

				<p>Обмен товара или возврат денежных средств Покупателю осуществляется после проведения экспертизы
					сервисного
					центра.</p>

				<p>Вы можете отказаться от товара, если его качество Вас не устраивает, в любое время до подписания
					документов, а
					также в течение семи дней после передачи. Обмен или возврат возможен при выполнении следующих
					условий:</p>

				<ul>
					<li>техника не эксплуатировалась;</li>

					<li>прибор не утратил потребительских свойств и товарный вид;</li>

					<li>сохранились товарный и кассовый чеки, а также инструкция, упаковка, пломбы и ярлыки;</li>

					<li>у товара нет механических повреждений: вмятин, трещин, царапин и сколов;</li>

					<li>техника не входит в перечень товаров, которые не подлежат возврату и обмену (перечень таких
						товаров
						утвержден Постановлением Правительства РФ №55 от 19 января 1998 года).</li>
				</ul>

				<p>Установку и подключение техники&nbsp;осуществляет партнерский сервисный центр.</p>

				<h2>Получение товара</h2>

				<p>Для получения товара необходимо предоставить: </p>

				<ul>
					<li>физическим лицам — паспорт гражданина РФ;</li>

					<li>юридическим лицам — паспорт и доверенность на получение груза.</li>
				</ul>

				<br>

				<h2>Условия продажи товара физическим лицам</h2>

				<p>Оформляя заказ в специализированном магазине Vestfrost, вы соглашаетесь c&nbsp;<a
						href="/delivery-and-payment/terms-of-sale/">условиями продажи товара физическим лицам</a></p>
			</div>

		</div>

	</div>

</div>
