<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">
		<div class="breadcrumbs">
			<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem">
					<a href="/" title="Главная" itemprop="item">
						<span itemprop="name">
							Liebherr
						</span>
					</a>
					<meta itemprop="position" content="1">
				</div>
				<div class="breadcrumbs__sep">»</div>
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem">
					<span itemprop="name">Доставка и оплата</span>
					<a itemprop="item" href="/delivery-and-payment/" title="Доставка и оплата"></a>
					<meta itemprop="position" content="2">
				</div>
			</div>
		</div>
		<h1 class="title">
			Доставка и оплата
		</h1>
		<div class="text-default">
			<img src="{{src}}shipping-payment.png" alt="">
			<ul>
				Оплатить покупку можно двумя способами:
				<li>
					<strong>Наличными</strong>
					курьеру при доставке.
				</li>
				<li>
					<strong>По безналичному расчету.</strong>
					Счет на предоплату высылается на электронную почту
					клиента и
					действует
					три дня.
				</li>
			</ul>
			<p>Техника отгружается представителям юридического лица либо специалистам транспортной компании только
				при наличии доверенности на получение товара.</p>
			<p>
				<b>
					Стоимость доставки
					.</b>
				Стоимость доставки при покупке холодильников Side by Side, многокамерных холодильников, моделей
				шириной более 70 см на сумму до 40 000 рублей — 1200 рублей.
			</p>
			<p>
				Стоимость доставки крупногабаритной техники: холодильники и морозильники высотой от 86 до 201 см и
				шириной до 69 см, морозильные лари, винные шкафы, хьюмидоры, профессиональная техника — при покупке
				на сумму до 40 000 рублей — 700 рублей.
			</p>
			<p>
				Цена за доставку по Московской области за пределы МКАД — 30 рублей за 1 км.
			</p>
			<ul>
				Время доставки
				<li>с 12:00 до 18:00</li>
				<li>с 16:00 до 24:00</li>
			</ul>
			<p>
				Заказы, оформленные до 16.00, доставляются на следующий день, если товар есть на складе. Если заказ
				сделан после 16.00, он может быть доставлен только через день.
			</p>
			<ul>
				Условия доставки
				<li>
					При оформлении заявки необходимо указать точный адрес доставки, в том числе: улицу, дом, номер
					квартиры или офиса.
				</li>
				<li>
					При безналичной оплате товар доставляется в течение трех дней с момента поступления денег на
					счет.
				</li>
				<li>
					Техника доставляется до прихожей.
				</li>
				<li>
					Транспортировка по квартире не входит в обязанности курьера. Доставка к месту эксплуатации
					осуществляется только за отдельную плату.
				</li>
				<li>
					Просьба обеспечить возможность остановки автомобиля службы доставки для разгрузки не далее 75 м
					от входа в здание.
				</li>

			</ul>
			<p>
				Если курьер не дозвонился до заказчика, доставка не может быть осуществлена, но ее можно перенести
				на другой день по согласованию с менеджером.
			</p>
			<p>
				<b>
					Стоимость ручного подъема при отсутствии лифта
				</b>
			</p>
			<table style="border-collapse: collapse;" class="table_settings" cellspacing="1" cellpadding="1" border="0">
				<tbody>
					<tr>
						<td>
							Наименование техники
						</td>
						<td>
							Стоимость подъема на этаж
						</td>
					</tr>

					<tr>
						<td>
							Стандартные холодильники
						</td>
						<td>
							150 руб. за этаж
						</td>
					</tr>

					<tr>
						<td>
							Холодильники от 60 см*
						</td>
						<td>
							от 250 руб. за этаж
							<i>
								* — Итоговая стоимость зависит от габаритов прибора и условий подъема.
							</i>
						</td>
					</tr>

				</tbody>
			</table>
			<p>
				Стоимость подъема на лифте соответствует стоимости подъема на 1 этаж.
			</p>
			<table class="page__table" st="" yle="text-align: justify; border-collapse: collapse;">
				<tbody>
					<tr>
						<td style="border-image: initial;">
							<b>Вид техники</b>
						</td>
						<td style="border-image: initial;">
							<p style="text-align: center;">
								<b>Первый прибор</b>&nbsp;&nbsp;
							</p>
						</td>
						<td style="border-image: initial;">
							<b>Последующий</b>
						</td>
					</tr>
					<tr>
						<td style="border-image: initial; text-align: left;">
							Винные шкафы, хьюмидоры, морозильники и холодильники шириной до 70 см, морозильные лари
						</td>
						<td style="border-image: initial; text-align: left;">
							<p style="text-align: left;">
								700 рублей
							</p>
						</td>
						<td style="border-image: initial; text-align: left;">
							<p style="text-align: right;">
								400 рублей
							</p>
						</td>
					</tr>
					<tr>
						<td style="border-image: initial; text-align: left;">
							Профтехника
						</td>
						<td style="border-image: initial; text-align: left;">
							<p style="text-align: center;">
								700 рублей
							</p>
						</td>
						<td style="border-image: initial;">
							<p style="text-align: right;">
								400 рублей
							</p>
						</td>
					</tr>
					<tr>
						<td style="border-image: initial;">
							Холодильники шириной более 70&nbsp; см и Side by Side
						</td>
						<td style="border-image: initial;">
							<p style="text-align: left;">
								1200 рублей
							</p>
						</td>
						<td style="border-image: initial;">
							<p style="text-align: right;">
								800 рублей
							</p>
						</td>
					</tr>
				</tbody>
			</table>
			<br>
			<br>
			<br>

			<table class="page__table" st="" yle="text-align: justify; border-collapse: collapse;">
				<tbody>
					<tr>
						<td style="border-image: initial;">
							<b>Вид техники</b>
						</td>
						<td style="border-image: initial;">
							<p style="text-align: right;">
								<b>Первый прибор</b>&nbsp;&nbsp;
							</p>
						</td>
						<td style="border-image: initial;">
							<p style="text-align: right;">
								<b>Последующий</b>
							</p>

						</td>
						<td style="border-image: initial;">
							<p style="text-align: right;">
								<b>Последующий</b>
							</p>

						</td>
					</tr>
					<tr>
						<td style="border-image: initial; text-align: left;">
							Винные шкафы, хьюмидоры, морозильники и холодильники шириной до 70 см, морозильные лари
						</td>
						<td style="border-image: initial; text-align: right;">
							<p style="text-align: right;">
								700 рублей
							</p>
						</td>
						<td style="border-image: initial; text-align: right;">
							<p style="text-align: right;">
								400 рублей
							</p>
						</td>
						<td style="border-image: initial; text-align: right;">
							<p style="text-align: right;">
								400 рублей
							</p>
						</td>
					</tr>
					<tr>
						<td style="border-image: initial; text-align: left;">
							Профтехника
						</td>
						<td style="border-image: initial; text-align: right;">
							<p style="text-align: right;">
								700 рублей
							</p>
						</td>
						<td style="border-image: initial;">
							<p style="text-align: right;">
								400 рублей
							</p>
						</td>
						<td style="border-image: initial;">
							<p style="text-align: right;">
								400 рублей
							</p>
						</td>
					</tr>
					<tr>
						<td style="border-image: initial;">
							Холодильники шириной более 70&nbsp; см и Side by Side
						</td>
						<td style="border-image: initial;">
							<p style="text-align: right;">
								1200 рублей
							</p>
						</td>
						<td style="border-image: initial;">
							<p style="text-align: right;">
								800 рублей
							</p>
						</td>
						<td style="border-image: initial;">
							<p style="text-align: right;">
								800 рублей
							</p>
						</td>
					</tr>
					<tr>
						<td style="border-image: initial;">
							Холодильники шириной более 70&nbsp; см и Side by Side
						</td>
						<td style="border-image: initial;">
							<p style="text-align: right;">
								1200 рублей
							</p>
						</td>
						<td style="border-image: initial;">
							<p style="text-align: right;">
								800 рублей
							</p>
						</td>
						<td style="border-image: initial;">
							<p style="text-align: right;">
								800 рублей
							</p>
						</td>
					</tr>
				</tbody>
			</table>
			<p>
				<b>
					Осмотр товара
				</b>
				<strong>
					При получении товара внимательно проверьте его целостность, комплектацию и отсутствие следов
					установки. После подписания договора техника не может быть возвращена из-за внешнего вида, в
					соответствии со статьями 458 и 459 ГК РФ.
				</strong>
				Покупатель может отказаться от товара, если качество его не устраивает, в течение семи дней после
				передачи. Обмен или возврат возможен при выполнении следующих условий:
			</p>
			<ul>

				<li>техника не эксплуатировалась;</li>
				<li>прибор не утратил потребительских свойств и товарный вид;</li>
				<li>сохранились товарный и кассовый чеки, а также инструкция, упаковка, пломбы и ярлыки;</li>
				<li>у товара нет механических повреждений: вмятин, трещин, царапин и сколов;</li>
				<li>техника не входит в перечень товаров, которые не подлежат возврату и обмену (перечень таких
					товаров утвержден Постановлением Правительства РФ № 55 от 19 января 1998 года).</li>
			</ul>

			<p>
				<b style="font-weight: 700;">
					Получение товара
				</b>
				Для получения товара необходимо предоставить:
			</p>
			<ul>
				<li>физическим лицам — паспорт гражданина РФ;</li>
				<li>юридическим лицам — паспорт и доверенность на получение груза.</li>
			</ul>
			<p>
				<b>Условия продажи товара физическим лицам</b>
				Оформляя заказ в специализированном магазине Liebherr , вы соглашаетесь
				<a href="agreement.php">условиями продажи товара физическим лицам</a>
			</p>

		</div>
	</div>
</div>