<div class="product-card">
	<div class="product-card__slider">
		<div class="swiper-pagination gallery-top__pagination"></div>
		<div class="swiper-container gallery-top js-gallery-top">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/pb_1x1.jpg"
						data-srcset='images/pb_1x2.jpg 2x,images/pb_1x3.jpg 3x'>
						<img src="images/pb_1x1.jpg" srcset="images/pb_1x2.jpg 2x,images/pb_1x3.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/pb_2x1.jpg"
						data-srcset='images/pb_2x2.jpg 2x,images/pb_2x3.jpg 3x'>
						<img src="images/pb_2x1.jpg" srcset="images/pb_2x2.jpg 2x,images/pb_2x3.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/pb_3x1.jpg"
						data-srcset='images/pb_3x2.jpg 2x,images/pb_3x3.jpg 3x'>
						<img src="images/pb_3x1.jpg" srcset="images/pb_3x2.jpg 2x,images/pb_3x3.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/pb_1x1.jpg"
						data-srcset='images/pb_1x2.jpg 2x,images/pb_1x3.jpg 3x'>
						<img src="images/pb_1x1.jpg" srcset="images/pb_1x2.jpg 2x,images/pb_1x3.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/pb_2x1.jpg"
						data-srcset='images/pb_2x2.jpg 2x,images/pb_2x3.jpg 3x'>
						<img src="images/pb_2x1.jpg" srcset="images/pb_2x2.jpg 2x,images/pb_2x3.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/pb_3x1.jpg"
						data-srcset='images/pb_3x2.jpg 2x,images/pb_3x3.jpg 3x'>
						<img src="images/pb_3x1.jpg" srcset="images/pb_3x2.jpg 2x,images/pb_3x3.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" data-type="iframe" href="https://www.youtube.com/embed/n7xbo0FVEaY">
						<!-- <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
							class="special-offers__img catalog__img"> -->
						<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY"
							frameborder="0" allowfullscreen=""></iframe>
					</a>
				</div>
			</div>
			<!-- Add Arrows -->
			<!-- <div class="swiper-button-next swiper-button-white"></div>
				<div class="swiper-button-prev swiper-button-white"></div> -->
		</div>
		<div class="swiper-container gallery-thumbs js-gallery-thumbs">
			<div class="thumbs-next"></div>
			<div class="thumbs-prev"></div>
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="images/pc_1x1.jpg" srcset="images/pc_1x2.jpg 2x,images/pc_1x3.jpg 3x"
						class="special-offers__img catalog__img">
				</div>
				<div class="swiper-slide">
					<img src="images/pc_2x1.jpg" srcset="images/pc_2x2.jpg 2x,images/pc_2x3.jpg 3x"
						class="special-offers__img catalog__img">
				</div>
				<div class="swiper-slide">
					<img src="images/pc_3x1.jpg" srcset="images/pc_3x2.jpg 2x,images/pc_3x3.jpg 3x"
						class="special-offers__img catalog__img">
				</div>
				<div class="swiper-slide">
					<img src="images/pc_1x1.jpg" srcset="images/pc_1x2.jpg 2x,images/pc_1x3.jpg 3x"
						class="special-offers__img catalog__img">
				</div>
				<div class="swiper-slide">
					<img src="images/pc_2x1.jpg" srcset="images/pc_2x2.jpg 2x,images/pc_2x3.jpg 3x"
						class="special-offers__img catalog__img">
				</div>
				<div class="swiper-slide">
					<img src="images/pc_3x1.jpg" srcset="images/pc_3x2.jpg 2x,images/pc_3x3.jpg 3x"
						class="special-offers__img catalog__img">
				</div>
				<div class="swiper-slide">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY" frameborder="0"
						allowfullscreen=""></iframe>
				</div>
			</div>
		</div>

	</div>
	<div class="product-card__info">
		<div class="product__header product__header_top">
			<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star ratings__none"></div>
				<b class="ratings__number">4,5</b>
			</div>
			<a href="#reviews" data-scroll class="reviews__all">5 отзывов</a>
			<span class="product-card__key">Код товара: 327944</span>
			<div class="product-card__social">
				<a href="#" class="item js-share">
					<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
					<script src="//yastatic.net/share2/share.js"></script>
					<img src="images/share.svg" alt="">
					Поделиться
				</a>
				<div class="share__items">
					<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter"></div>
				</div>
				<a href="#" class="item compare">
					<!-- <img src="images/compare.svg" alt=""> -->
					Сравнить
				</a>
				<a href="#" class="item favorite">
					<!-- <img src="images/fav inactive.svg" alt=""> -->
					В избранное
				</a>
			</div>
		</div>
		<div class="product__header product__header_middle">
			<span class="catalog__presence product-card__presence">в наличии</span>
			<span class="product-card__date">Обновление цен от 14 июля 2018 </span>
		</div>
		<div class="product__header product__header_bottom">
			<span class="product-card__price price__dashed">54 800<b>руб.</b><span class="price__absolute">54 800
					руб.</span></span>
			<div class="product-card__button">
				<a href="#" class="product-card__icons">
					Купить в 1 клик
				</a>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="product-card__buy js-product-card__buy">

				</a>
			</div>
		</div>
		<div class="product-card__announcing">

			<div class="announcing__item">
				<img src="images/big/truck.svg" alt="Бесплатная доставка" title="Бесплатная доставка">
			</div>
			<div class="announcing__item">
				<img src="images/big/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
			</div>
			<div class="announcing__item">
				<img src="images/big/flag.svg" alt="Cделано в Болгарии" title="Cделано в Болгарии">
			</div>
			<!-- <div class="announcing__item">
				<img src="images/big/best.svg" alt="Лучшее предложение" title="Лучшее предложение">
			</div>
			<div class="announcing__item">
				<img src="images/big/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
			</div> -->
		</div>
		<div class="product-card__rel">
			<h4>Модели этой серии</h4>
			<div class="swiper-pagination rel__pagination"></div>
			<div class="swiper-button-prev rel__prev"></div>
			<div class="swiper-button-next rel__next"></div>
			<table class="swiper-container js-product-card__rel">
				<tbody class="swiper-wrapper">
					<tr class="swiper-slide">
						<th>
							<img src="images/rel_img.png" alt="">
						</th>
						<td>
							<a href="">
								CTPsl 2921
							</a>

							21 570 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img src="images/rel_img.png" alt="">
						</th>
						<td>
							<a href="">
								CTPsl 2922
							</a>

							21 570 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img src="images/rel_img.png" alt="">
						</th>
						<td>
							<a href="">
								CTPsl 2923
							</a>

							21 570 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img src="images/rel_img.png" alt="">
						</th>
						<td>
							<a href="">
								CTPsl 2924
							</a>

							21 570 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img src="images/rel_img.png" alt="">
						</th>
						<td>
							<a href="">
								CTPsl 2925
							</a>

							21 570 руб.
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="product-card__promo">
			<div class="item">
				<img src="images/promo.png" alt="">
			</div>
			<a href="#diagram" data-scroll class="item">
				Cравни похожие товары!
			</a>
		</div>
		<div class="product-card__description text-default">
			<h2>Описание</h2>
			<p>
				Liebherr CTP 2921 Comfort — практичная модель в элегантном дизайне
				SwingLine. Прибор характеризуется отдельностоящим типом размещения, но при этом поддерживает
				возможность установки вплотную к стене или в готовую нишу. Технология SmartFrost позволяет значительно
				реже размораживать холодильник вручную.
			</p>
			<a href="#new-description" data-scroll class="description__link">Читать полностью</a>
		</div>
	</div>
	<div class="product-card__slider">
		<div class="swiper-pagination gallery-top__pagination"></div>
		<div class="swiper-container gallery-top js-gallery-top">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/pb_1x1.jpg"
						data-srcset='images/pb_1x2.jpg 2x,images/pb_1x3.jpg 3x'>
						<img src="images/pb_1x1.jpg" srcset="images/pb_1x2.jpg 2x,images/pb_1x3.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/pb_2x1.jpg"
						data-srcset='images/pb_2x2.jpg 2x,images/pb_2x3.jpg 3x'>
						<img src="images/pb_2x1.jpg" srcset="images/pb_2x2.jpg 2x,images/pb_2x3.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/pb_3x1.jpg"
						data-srcset='images/pb_3x2.jpg 2x,images/pb_3x3.jpg 3x'>
						<img src="images/pb_3x1.jpg" srcset="images/pb_3x2.jpg 2x,images/pb_3x3.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/pb_1x1.jpg"
						data-srcset='images/pb_1x2.jpg 2x,images/pb_1x3.jpg 3x'>
						<img src="images/pb_1x1.jpg" srcset="images/pb_1x2.jpg 2x,images/pb_1x3.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/pb_2x1.jpg"
						data-srcset='images/pb_2x2.jpg 2x,images/pb_2x3.jpg 3x'>
						<img src="images/pb_2x1.jpg" srcset="images/pb_2x2.jpg 2x,images/pb_2x3.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/pb_3x1.jpg"
						data-srcset='images/pb_3x2.jpg 2x,images/pb_3x3.jpg 3x'>
						<img src="images/pb_3x1.jpg" srcset="images/pb_3x2.jpg 2x,images/pb_3x3.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" data-type="iframe" href="https://www.youtube.com/embed/n7xbo0FVEaY">
						<!-- <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
							class="special-offers__img catalog__img"> -->
						<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY"
							frameborder="0" allowfullscreen=""></iframe>
					</a>
				</div>
			</div>
			<!-- Add Arrows -->
			<!-- <div class="swiper-button-next swiper-button-white"></div>
				<div class="swiper-button-prev swiper-button-white"></div> -->
		</div>
		<div class="swiper-container gallery-thumbs js-gallery-thumbs">
			<div class="thumbs-next"></div>
			<div class="thumbs-prev"></div>
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="images/pc_1x1.jpg" srcset="images/pc_1x2.jpg 2x,images/pc_1x3.jpg 3x"
						class="special-offers__img catalog__img">
				</div>
				<div class="swiper-slide">
					<img src="images/pc_2x1.jpg" srcset="images/pc_2x2.jpg 2x,images/pc_2x3.jpg 3x"
						class="special-offers__img catalog__img">
				</div>
				<div class="swiper-slide">
					<img src="images/pc_3x1.jpg" srcset="images/pc_3x2.jpg 2x,images/pc_3x3.jpg 3x"
						class="special-offers__img catalog__img">
				</div>
				<div class="swiper-slide">
					<img src="images/pc_1x1.jpg" srcset="images/pc_1x2.jpg 2x,images/pc_1x3.jpg 3x"
						class="special-offers__img catalog__img">
				</div>
				<div class="swiper-slide">
					<img src="images/pc_2x1.jpg" srcset="images/pc_2x2.jpg 2x,images/pc_2x3.jpg 3x"
						class="special-offers__img catalog__img">
				</div>
				<div class="swiper-slide">
					<img src="images/pc_3x1.jpg" srcset="images/pc_3x2.jpg 2x,images/pc_3x3.jpg 3x"
						class="special-offers__img catalog__img">
				</div>
				<div class="swiper-slide">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY" frameborder="0"
						allowfullscreen=""></iframe>
				</div>
			</div>
		</div>

	</div>
	<div class="product-card__info">
		<div class="product__header product__header_top">
			<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star ratings__none"></div>
				<b class="ratings__number">4,5</b>
			</div>
			<a href="#reviews" data-scroll class="reviews__all">5 отзывов</a>
			<span class="product-card__key">Код товара: 327944</span>
			<div class="product-card__social">
				<a href="#" class="item js-share">
					<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
					<script src="//yastatic.net/share2/share.js"></script>
					<img src="images/share.svg" alt="">
					Поделиться
				</a>
				<div class="share__items">
					<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter"></div>
				</div>
				<a href="#" class="item compare">
					<!-- <img src="images/compare.svg" alt=""> -->
					Сравнить
				</a>
				<a href="#" class="item favorite">
					<!-- <img src="images/fav inactive.svg" alt=""> -->
					В избранное
				</a>
			</div>
		</div>
		<div class="product__header product__header_middle">
			<span class="catalog__presence product-card__presence red">нет в наличии</span>
			<span class="product-card__date">Обновление цен от 14 июля 2018 </span>
		</div>
		<div class="product__header product__header_bottom">
			<span class="product-card__price expected-time">
				54 800
				<b>руб.</b>
				<span class="expected-time__text">Ожидаемый срок поставки 23 сентября 2018</span>
				<span>

		</div>
		<div class="product-card__announcing">

			<div class="announcing__item">
				<img src="images/big/truck.svg" alt="Бесплатная доставка" title="Бесплатная доставка">
			</div>
			<div class="announcing__item">
				<img src="images/big/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
			</div>
			<div class="announcing__item">
				<img src="images/big/flag.svg" alt="Cделано в Болгарии" title="Cделано в Болгарии">
			</div>
			<!-- <div class="announcing__item">
				<img src="images/big/best.svg" alt="Лучшее предложение" title="Лучшее предложение">
			</div>
			<div class="announcing__item">
				<img src="images/big/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
			</div> -->
		</div>
		<div class="product-card__rel">
			<h4>Модели этой серии</h4>
			<div class="swiper-pagination rel__pagination"></div>
			<div class="swiper-button-prev rel__prev"></div>
			<div class="swiper-button-next rel__next"></div>
			<table class="swiper-container js-product-card__rel">
				<tbody class="swiper-wrapper">
					<tr class="swiper-slide">
						<th>
							<img src="images/rel_img.png" alt="">
						</th>
						<td>
							<a href="">
								CTPsl 2921
							</a>

							21 570 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img src="images/rel_img.png" alt="">
						</th>
						<td>
							<a href="">
								CTPsl 2922
							</a>

							21 570 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img src="images/rel_img.png" alt="">
						</th>
						<td>
							<a href="">
								CTPsl 2923
							</a>

							21 570 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img src="images/rel_img.png" alt="">
						</th>
						<td>
							<a href="">
								CTPsl 2924
							</a>

							21 570 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img src="images/rel_img.png" alt="">
						</th>
						<td>
							<a href="">
								CTPsl 2925
							</a>

							21 570 руб.
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="product-card__promo">
			<div class="item">
				<img src="images/promo.png" alt="">
			</div>
			<a href="#diagram" data-scroll class="item">
				Cравни похожие товары!
			</a>
		</div>
		<div class="product-card__description text-default">
			<h2>Описание</h2>
			<p>
				Liebherr CTP 2921 Comfort — практичная модель в элегантном дизайне
				SwingLine. Прибор характеризуется отдельностоящим типом размещения, но при этом поддерживает
				возможность установки вплотную к стене или в готовую нишу. Технология SmartFrost позволяет значительно
				реже размораживать холодильник вручную.
			</p>
			<a href="#new-description" data-scroll class="description__link">Читать полностью</a>
		</div>
	</div>
	<div class="product-card__slider">
		<div class="swiper-pagination gallery-top__pagination"></div>
		<div class="swiper-container gallery-top js-gallery-top">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/pb_1x1.jpg"
						data-srcset='images/pb_1x2.jpg 2x,images/pb_1x3.jpg 3x'>
						<img src="images/pb_1x1.jpg" srcset="images/pb_1x2.jpg 2x,images/pb_1x3.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/pb_2x1.jpg"
						data-srcset='images/pb_2x2.jpg 2x,images/pb_2x3.jpg 3x'>
						<img src="images/pb_2x1.jpg" srcset="images/pb_2x2.jpg 2x,images/pb_2x3.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/pb_3x1.jpg"
						data-srcset='images/pb_3x2.jpg 2x,images/pb_3x3.jpg 3x'>
						<img src="images/pb_3x1.jpg" srcset="images/pb_3x2.jpg 2x,images/pb_3x3.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/pb_1x1.jpg"
						data-srcset='images/pb_1x2.jpg 2x,images/pb_1x3.jpg 3x'>
						<img src="images/pb_1x1.jpg" srcset="images/pb_1x2.jpg 2x,images/pb_1x3.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/pb_2x1.jpg"
						data-srcset='images/pb_2x2.jpg 2x,images/pb_2x3.jpg 3x'>
						<img src="images/pb_2x1.jpg" srcset="images/pb_2x2.jpg 2x,images/pb_2x3.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" href="images/pb_3x1.jpg"
						data-srcset='images/pb_3x2.jpg 2x,images/pb_3x3.jpg 3x'>
						<img src="images/pb_3x1.jpg" srcset="images/pb_3x2.jpg 2x,images/pb_3x3.jpg 3x"
							class="special-offers__img catalog__img">
					</a>
				</div>
				<div class="swiper-slide">
					<a data-fancybox="gallery" data-type="iframe" href="https://www.youtube.com/embed/n7xbo0FVEaY">
						<!-- <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
							class="special-offers__img catalog__img"> -->
						<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY"
							frameborder="0" allowfullscreen=""></iframe>
					</a>
				</div>
			</div>
			<!-- Add Arrows -->
			<!-- <div class="swiper-button-next swiper-button-white"></div>
				<div class="swiper-button-prev swiper-button-white"></div> -->
		</div>
		<div class="swiper-container gallery-thumbs js-gallery-thumbs">
			<div class="thumbs-next"></div>
			<div class="thumbs-prev"></div>
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="images/pc_1x1.jpg" srcset="images/pc_1x2.jpg 2x,images/pc_1x3.jpg 3x"
						class="special-offers__img catalog__img">
				</div>
				<div class="swiper-slide">
					<img src="images/pc_2x1.jpg" srcset="images/pc_2x2.jpg 2x,images/pc_2x3.jpg 3x"
						class="special-offers__img catalog__img">
				</div>
				<div class="swiper-slide">
					<img src="images/pc_3x1.jpg" srcset="images/pc_3x2.jpg 2x,images/pc_3x3.jpg 3x"
						class="special-offers__img catalog__img">
				</div>
				<div class="swiper-slide">
					<img src="images/pc_1x1.jpg" srcset="images/pc_1x2.jpg 2x,images/pc_1x3.jpg 3x"
						class="special-offers__img catalog__img">
				</div>
				<div class="swiper-slide">
					<img src="images/pc_2x1.jpg" srcset="images/pc_2x2.jpg 2x,images/pc_2x3.jpg 3x"
						class="special-offers__img catalog__img">
				</div>
				<div class="swiper-slide">
					<img src="images/pc_3x1.jpg" srcset="images/pc_3x2.jpg 2x,images/pc_3x3.jpg 3x"
						class="special-offers__img catalog__img">
				</div>
				<div class="swiper-slide">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY" frameborder="0"
						allowfullscreen=""></iframe>
				</div>
			</div>
		</div>

	</div>
	<div class="product-card__info">
		<div class="product__header product__header_top">
			<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star ratings__none"></div>
				<b class="ratings__number">4,5</b>
			</div>
			<a href="#reviews" data-scroll class="reviews__all">5 отзывов</a>
			<span class="product-card__key">Код товара: 327944</span>
			<div class="product-card__social">
				<a href="#" class="item js-share">
					<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
					<script src="//yastatic.net/share2/share.js"></script>
					<img src="images/share.svg" alt="">
					Поделиться
				</a>
				<div class="share__items">
					<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter"></div>
				</div>
				<a href="#" class="item compare">
					<!-- <img src="images/compare.svg" alt=""> -->
					Сравнить
				</a>
				<a href="#" class="item favorite">
					<!-- <img src="images/fav inactive.svg" alt=""> -->
					В избранное
				</a>
			</div>
		</div>
		<div class="product__header product__header_middle">
			<span class="catalog__presence product-card__presence out-production">Снята с производства</span>
			<span class="product-card__date">Обновление цен от 14 июля 2018 </span>
		</div>
		<div class="product__header product__header_bottom">
			<span class="product-card__price expected-time">54 800<b>руб.</b></span>
			<div class="product-card__button">
				<a href="#" data-url="#" data-ajax
					class="product-card__buy similar-products__button js-product-card__buy">
					Посмотреть аналогичные товары
				</a>
			</div>
		</div>
		<div class="product-card__announcing">

			<div class="announcing__item">
				<img src="images/big/truck.svg" alt="Бесплатная доставка" title="Бесплатная доставка">
			</div>
			<div class="announcing__item">
				<img src="images/big/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
			</div>
			<div class="announcing__item">
				<img src="images/big/flag.svg" alt="Cделано в Болгарии" title="Cделано в Болгарии">
			</div>
			<!-- <div class="announcing__item">
				<img src="images/big/best.svg" alt="Лучшее предложение" title="Лучшее предложение">
			</div>
			<div class="announcing__item">
				<img src="images/big/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
			</div> -->
		</div>
		<div class="product-card__rel">
			<h4>Модели этой серии</h4>
			<div class="swiper-pagination rel__pagination"></div>
			<div class="swiper-button-prev rel__prev"></div>
			<div class="swiper-button-next rel__next"></div>
			<table class="swiper-container js-product-card__rel">
				<tbody class="swiper-wrapper">
					<tr class="swiper-slide">
						<th>
							<img src="images/rel_img.png" alt="">
						</th>
						<td>
							<a href="">
								CTPsl 2921
							</a>

							21 570 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img src="images/rel_img.png" alt="">
						</th>
						<td>
							<a href="">
								CTPsl 2922
							</a>

							21 570 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img src="images/rel_img.png" alt="">
						</th>
						<td>
							<a href="">
								CTPsl 2923
							</a>

							21 570 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img src="images/rel_img.png" alt="">
						</th>
						<td>
							<a href="">
								CTPsl 2924
							</a>

							21 570 руб.
						</td>
					</tr>
					<tr class="swiper-slide">
						<th>
							<img src="images/rel_img.png" alt="">
						</th>
						<td>
							<a href="">
								CTPsl 2925
							</a>

							21 570 руб.
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="product-card__promo">
			<div class="item">
				<img src="images/promo.png" alt="">
			</div>
			<a href="#diagram" data-scroll class="item">
				Cравни похожие товары!
			</a>
		</div>
		<div class="product-card__description text-default">
			<h2>Описание</h2>
			<p>
				Liebherr CTP 2921 Comfort — практичная модель в элегантном дизайне
				SwingLine. Прибор характеризуется отдельностоящим типом размещения, но при этом поддерживает
				возможность установки вплотную к стене или в готовую нишу. Технология SmartFrost позволяет значительно
				реже размораживать холодильник вручную.
			</p>
			<a href="#new-description" data-scroll class="description__link">Читать полностью</a>
		</div>
	</div>
</div>