<div class="product-card">
	<span class="product-card__title">Двухкамерный холодильник Jacky's СКЕР 34562 COMFORT
		BIOFRESH NOFROST NEW</span>
	<div class="product-card__slider">

	</div>
	<div class="product-card__info">
		<div class="product__header product__header_top">
			<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star ratings__none"></div>
				<b class="ratings__number">4,5</b>
			</div>
			<a href="#reviews" data-scroll class="reviews__all">5 отзывов</a>
			<span class="product-card__key">Код товара: 327944</span>
			<div class="product-card__social">
				<!-- <a href="#" class="item js-share">
				<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
				<script src="//yastatic.net/share2/share.js"></script>
				<img src="images/share.svg" alt="">
				Поделиться
			</a> -->
				<div class="share__items">
					<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter">
					</div>
				</div>
				<a href="#" class="item favorite">
					<p>
						Отложено
					</p>
				</a>
				<a href="#" class="item compare">
					<p>
						В сравнении
					</p>
				</a>
			</div>
		</div>
		<div class="product__header product__header_middle">
			<span class="catalog__presence product-card__presence">в наличии</span>
			<span class="product-card__date">Обновление цен от 14 июля 2018</span>
		</div>
		<div class="product__header product__header_bottom">
			<span class="product-card__price price__dashed">354 800 <b>руб.</b>
				<span class="price__absolute">354 800 руб.
				</span>
			</span>
			<div class="product-card__cheaper cheaper">
				Нашли дешевле?
				<a href="">
					Снизим цену
				</a>
			</div>
			<div class="product-card__button">
				<a href="#" class="product-card__icons">
					Купить в 1 клик
				</a>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="product-card__buy js-product-card__buy">

				</a>
			</div>
		</div>
		<div class="product-card__type-payment type-payment">
			<div class="type-payment__item"
				data-text='Клиент оплачивает стоимость заказа на сайте до получения товара.'>
				<img src="images/Payment_cash.svg" alt="">
				<img src="images/Payment_cash — color.svg" alt="">
				Наличными
			</div>
			<!-- /.type-payment__item -->
			<div class="type-payment__item"
				data-text='Клиент оплачивает стоимость заказа на сайте до получения товара.'>
				<img src="images/Payment_credit.svg" alt="">
				<img src="images/Payment_credit — color.svg" alt="">
				Картой при получении
			</div>
			<!-- /.type-payment__item -->
			<div class="type-payment__item"
				data-text='Клиент оплачивает стоимость заказа на сайте до получения товара.'>
				<img src="images/Payment_bank.svg" alt="">
				<img src="images/Payment_bank — color.svg" alt="">
				Банковский перевод
			</div>
			<!-- /.type-payment__item -->
			<div class="type-payment__item"
				data-text='Клиент оплачивает стоимость заказа на сайте до получения товара.'>
				<img src="images/Combined_Shape.svg" alt="">
				<img src="images/Combined_Shape — color.svg" alt="">
				Онлайн-оплата
			</div>
			<!-- /.type-payment__item -->
		</div>
		<!-- /.product-card__type-payment type-payment -->
		<div class="product-card__delivery delivery">
			<div class="delivery__info">
				<a href="/delivery-and-payment/" target='_blank' class="delivery__link">Бесплатная доставка</a>
				по Москве.
			</div>
			<!-- /.delivery__info -->
			<div class="delivery__info">Доставка в течение трех дней после заказа.</div>
			<!-- /.delivery__info -->
		</div>
		<div class="product-card__announcing">
			<div class="announcing__item">
				<img src="images/big/tools.svg" alt="" title="">
				<img src="images/big/tools-grey.svg" alt="" title="" class="mobile">
				<div class="announcing__info">
					Бесплатная
					<a href="#" target='_blank' class="announcing__link">
						установка
					</a>
				</div>
			</div>
			<div class="announcing__item">
				<img src="images/big/flag-ger.svg" alt="Производство Германия" title="Cделано в Германия">
				Сделано в <br> Германии
			</div>
			<div class="announcing__item">
				<img src="images/big/warranty.svg" alt="Гарантия 5 лет" title="Гарантия 5 лет">Гарантия
				<br>5 лет
			</div>
		</div>
		<div class="product-card__description text-default">
			<h2>Описание</h2>
			<div class="description__text">
				Jacky's SBS 7212 — вместительный холодильник комфорт-класса, который состоит из двух независимых
				приборов SGN 3063 и
				SK 4240, а также комплекта соединительных планок.
			</div>
			<a href="#new-description" data-scroll class="description__link">Читать полностью</a>
		</div>
		<div class="catalog__prop">
			<h6>Ключевые особенности 444</h6>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2410">
				<img data-src="https://l-rus.ru/upload/iblock/d27/d278fb9a6ee4236565727b7a432b4513.svg"
					class="icons-prop-item loaded lazyloaded" title="BiofreshPlus"
					src="https://l-rus.ru/upload/iblock/d27/d278fb9a6ee4236565727b7a432b4513.svg"
					data-was-processed="true">
				<div class="popup-prop" style="display: none;">
					<img data-src="https://l-rus.ru/upload/iblock/a4b/a4b9bd89a429e045a31248febaa4ac88.jpg"
						alt="BiofreshPlus" class="popup-prop__img lazyloaded"
						src="https://l-rus.ru/upload/iblock/a4b/a4b9bd89a429e045a31248febaa4ac88.jpg">

					<div class="popup-prop__title">BiofreshPlus</div>
					<div class="popup-prop__text">Обеспечивает еще большую функциональность и&nbsp;позволяет рационально
						использовать внутреннее пространство холодильника в&nbsp;зависимости от&nbsp;Ваших потребностей.
						Электронная система управления встроена в&nbsp;пластину, расположенную между
						холодильной и&nbsp;морозильной камерами. С&nbsp;ее&nbsp;помощью, например,...</div>

					<a href="/glossary/?param=2410" title="Перейти в глоссарий" target="blank"
						class="popup-prop__link">Перейти
						в глоссарий</a>
					<div class="button-close"></div>
				</div>
			</div>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2681">
				<img data-src="https://l-rus.ru/upload/iblock/81d/81ddf5366e51d6dc9abe5a52d7932560.svg"
					class="icons-prop-item loaded lazyloaded" title="IceMaker"
					src="https://l-rus.ru/upload/iblock/81d/81ddf5366e51d6dc9abe5a52d7932560.svg"
					data-was-processed="true">
				<div class="popup-prop" style="display: none;">
					<img data-src="https://l-rus.ru/upload/iblock/d91/d91a4b986f69190a62ade6d907fb3809.jpg"
						alt="IceMaker" class="popup-prop__img lazyload">

					<div class="popup-prop__title">IceMaker</div>
					<div class="popup-prop__text">IceMaker - инновационное решение для производства кубиков льда даже
						при
						отсутствии стационарной подачи или недостаточно высоком качестве питьевой воды. Для наполнения
						водой
						резервуар легко извлекается из холодильника.</div>

					<a href="/glossary/?param=2681" title="Перейти в глоссарий" target="blank"
						class="popup-prop__link">Перейти
						в глоссарий</a>
					<div class="button-close"></div>
				</div>
			</div>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2680">
				<img data-src="https://l-rus.ru/upload/iblock/5d3/5d360f7f95aee14384f0c0901588db8e.svg"
					class="icons-prop-item loaded lazyloaded" title="NoFrost"
					src="https://l-rus.ru/upload/iblock/5d3/5d360f7f95aee14384f0c0901588db8e.svg"
					data-was-processed="true">
				<div class="popup-prop" style="display: none;">
					<img data-src="https://l-rus.ru/upload/iblock/fc2/fc25dfc6444fe8b35dfa43fe708973da.jpg"
						alt="NoFrost" class="popup-prop__img lazyload">

					<div class="popup-prop__title">NoFrost</div>
					<div class="popup-prop__text">NoFrost – благодаря этой современной системе продукты замораживаются с
						помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный
						воздух
						выводится наружу, что позволяет предотвратить образование инея на стенках
						морозильного отделения, и тем самым забыть о процедуре размораживания.</div>

					<a href="/glossary/?param=2680" title="Перейти в глоссарий" target="_blank"
						class="popup-prop__link">Перейти в глоссарий</a>
				</div>
			</div>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2669">
				<img data-src="https://l-rus.ru/upload/iblock/daa/daad1bb98d6319577f6f96b031dff5d8.svg"
					class="icons-prop-item loaded lazyloaded" title="Энергоэффективность класса A++"
					src="https://l-rus.ru/upload/iblock/daa/daad1bb98d6319577f6f96b031dff5d8.svg"
					data-was-processed="true">
				<div class="popup-prop" style="display: none;">
					<img data-src="https://l-rus.ru/upload/resize_cache/iblock/d26/226_500_1/d260825c1cc8638844bd02f1e0d4ee53.jpg"
						alt="Энергоэффективность класса A++" class="popup-prop__img lazyload">

					<div class="popup-prop__title">Энергоэффективность класса A++</div>
					<div class="popup-prop__text">Класс А++ означает, что модель потребляет на 20% электроэнергии
						меньше, чем
						прибор экономичного класса А.</div>

					<a href="/glossary/?param=2669" title="Перейти в глоссарий" target="_blank"
						class="popup-prop__link">Перейти в глоссарий</a>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="product-card">
	<span class="product-card__title">Двухкамерный холодильник Jacky's СКЕР 34562 COMFORT
		BIOFRESH NOFROST NEW</span>
	<div class="product-card__slider">

	</div>
	<div class="product-card__info">
		<div class="product__header product__header_top">
			<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star"></div>
				<div class="ratings__star ratings__none"></div>
				<b class="ratings__number">4,5</b>
			</div>
			<a href="#reviews" data-scroll class="reviews__all">5 отзывов</a>
			<span class="product-card__key">Код товара: 327944</span>
			<div class="product-card__social">
				<!-- <a href="#" class="item js-share">
				<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
				<script src="//yastatic.net/share2/share.js"></script>
				<img src="images/share.svg" alt="">
				Поделиться
			</a> -->
				<div class="share__items">
					<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter">
					</div>
				</div>
				<a href="#" class="item favorite">
					<p>
						Отложено
					</p>
				</a>
				<a href="#" class="item compare">
					<p>
						В сравнении
					</p>
				</a>
			</div>
		</div>
		<div class="product__header product__header_middle">
			<span class="catalog__presence product-card__presence">в наличии</span>
			<span class="product-card__date">Обновление цен от 14 июля 2018</span>
		</div>
		<div class="product__header product__header_bottom">
			<span class="product-card__price price__dashed">354 800 <b>руб.</b>
				<span class="price__absolute">354 800 руб.
				</span>
			</span>
			<div class="product-card__cheaper cheaper">
				Нашли дешевле?
				<a href="">
					Снизим цену
				</a>
			</div>
			<div class="product-card__button">
				<a href="#" class="product-card__icons">
					Купить в 1 клик
				</a>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="product-card__buy js-product-card__buy">

				</a>
			</div>
		</div>
		<div class="product-card__type-payment type-payment">
			<div class="type-payment__item"
				data-text='Клиент оплачивает стоимость заказа на сайте до получения товара.'>
				<img src="images/Payment_cash.svg" alt="">
				<img src="images/Payment_cash — color.svg" alt="">
				Наличными
			</div>
			<!-- /.type-payment__item -->
			<div class="type-payment__item"
				data-text='Клиент оплачивает стоимость заказа на сайте до получения товара.'>
				<img src="images/Payment_credit.svg" alt="">
				<img src="images/Payment_credit — color.svg" alt="">
				Картой при получении
			</div>
			<!-- /.type-payment__item -->
			<div class="type-payment__item"
				data-text='Клиент оплачивает стоимость заказа на сайте до получения товара.'>
				<img src="images/Payment_bank.svg" alt="">
				<img src="images/Payment_bank — color.svg" alt="">
				Банковский перевод
			</div>
			<!-- /.type-payment__item -->
			<div class="type-payment__item"
				data-text='Клиент оплачивает стоимость заказа на сайте до получения товара.'>
				<img src="images/Combined_Shape.svg" alt="">
				<img src="images/Combined_Shape — color.svg" alt="">
				Онлайн-оплата
			</div>
			<!-- /.type-payment__item -->
		</div>
		<!-- /.product-card__type-payment type-payment -->
		<div class="product-card__delivery delivery">
			<div class="delivery__info">
				<a href="/delivery-and-payment/" target='_blank' class="delivery__link">Удобные условия доставки</a>
				по Москве.
			</div>
			<!-- /.delivery__info -->
			<div class="delivery__info">Доставка в течение трех дней после заказа.</div>
			<!-- /.delivery__info -->
		</div>
		<div class="product-card__announcing">
			<div class="announcing__item">
				<img class=" lazyloaded" data-src="images/big/tools.svg" alt="Профессиональная установка"
					title="Профессиональная установка" src="images/big/tools.svg">
				<div class="announcing__info">
					Профессиональная <a href="/services/" target='_blank' class="announcing__link">
						установка
					</a>
				</div>
			</div>
			<div class="announcing__item">
				<img src="images/big/flag-ger.svg" alt="Производство Германия" title="Cделано в Германия">
				Сделано в <br> Германии
			</div>
			<div class="announcing__item">
				<img src="images/big/warranty.svg" alt="Гарантия 5 лет" title="Гарантия 5 лет">Гарантия
				<br>5 лет
			</div>
		</div>
		<div class="product-card__description text-default">
			<h2>Описание</h2>
			<div class="description__text">
				Jacky's SBS 7212 — вместительный холодильник комфорт-класса, который состоит из двух независимых
				приборов SGN 3063 и
				SK 4240, а также комплекта соединительных планок.
			</div>
			<a href="#new-description" data-scroll class="description__link">Читать полностью</a>
		</div>
		<div class="catalog__prop">
			<h6>Ключевые особенности 444</h6>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2410">
				<img data-src="https://l-rus.ru/upload/iblock/d27/d278fb9a6ee4236565727b7a432b4513.svg"
					class="icons-prop-item loaded lazyloaded" title="BiofreshPlus"
					src="https://l-rus.ru/upload/iblock/d27/d278fb9a6ee4236565727b7a432b4513.svg"
					data-was-processed="true">
				<div class="popup-prop" style="display: none;">
					<img data-src="https://l-rus.ru/upload/iblock/a4b/a4b9bd89a429e045a31248febaa4ac88.jpg"
						alt="BiofreshPlus" class="popup-prop__img lazyloaded"
						src="https://l-rus.ru/upload/iblock/a4b/a4b9bd89a429e045a31248febaa4ac88.jpg">

					<div class="popup-prop__title">BiofreshPlus</div>
					<div class="popup-prop__text">Обеспечивает еще большую функциональность и&nbsp;позволяет рационально
						использовать внутреннее пространство холодильника в&nbsp;зависимости от&nbsp;Ваших потребностей.
						Электронная система управления встроена в&nbsp;пластину, расположенную между
						холодильной и&nbsp;морозильной камерами. С&nbsp;ее&nbsp;помощью, например,...</div>

					<a href="/glossary/?param=2410" title="Перейти в глоссарий" target="blank"
						class="popup-prop__link">Перейти
						в глоссарий</a>
					<div class="button-close"></div>
				</div>
			</div>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2681">
				<img data-src="https://l-rus.ru/upload/iblock/81d/81ddf5366e51d6dc9abe5a52d7932560.svg"
					class="icons-prop-item loaded lazyloaded" title="IceMaker"
					src="https://l-rus.ru/upload/iblock/81d/81ddf5366e51d6dc9abe5a52d7932560.svg"
					data-was-processed="true">
				<div class="popup-prop" style="display: none;">
					<img data-src="https://l-rus.ru/upload/iblock/d91/d91a4b986f69190a62ade6d907fb3809.jpg"
						alt="IceMaker" class="popup-prop__img lazyload">

					<div class="popup-prop__title">IceMaker</div>
					<div class="popup-prop__text">IceMaker - инновационное решение для производства кубиков льда даже
						при
						отсутствии стационарной подачи или недостаточно высоком качестве питьевой воды. Для наполнения
						водой
						резервуар легко извлекается из холодильника.</div>

					<a href="/glossary/?param=2681" title="Перейти в глоссарий" target="blank"
						class="popup-prop__link">Перейти
						в глоссарий</a>
					<div class="button-close"></div>
				</div>
			</div>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2680">
				<img data-src="https://l-rus.ru/upload/iblock/5d3/5d360f7f95aee14384f0c0901588db8e.svg"
					class="icons-prop-item loaded lazyloaded" title="NoFrost"
					src="https://l-rus.ru/upload/iblock/5d3/5d360f7f95aee14384f0c0901588db8e.svg"
					data-was-processed="true">
				<div class="popup-prop" style="display: none;">
					<img data-src="https://l-rus.ru/upload/iblock/fc2/fc25dfc6444fe8b35dfa43fe708973da.jpg"
						alt="NoFrost" class="popup-prop__img lazyload">

					<div class="popup-prop__title">NoFrost</div>
					<div class="popup-prop__text">NoFrost – благодаря этой современной системе продукты замораживаются с
						помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный
						воздух
						выводится наружу, что позволяет предотвратить образование инея на стенках
						морозильного отделения, и тем самым забыть о процедуре размораживания.</div>

					<a href="/glossary/?param=2680" title="Перейти в глоссарий" target="_blank"
						class="popup-prop__link">Перейти в глоссарий</a>
				</div>
			</div>

			<div class="link-pop-glossary js-link-pop-glossary" id="bx_3218110189_2669">
				<img data-src="https://l-rus.ru/upload/iblock/daa/daad1bb98d6319577f6f96b031dff5d8.svg"
					class="icons-prop-item loaded lazyloaded" title="Энергоэффективность класса A++"
					src="https://l-rus.ru/upload/iblock/daa/daad1bb98d6319577f6f96b031dff5d8.svg"
					data-was-processed="true">
				<div class="popup-prop" style="display: none;">
					<img data-src="https://l-rus.ru/upload/resize_cache/iblock/d26/226_500_1/d260825c1cc8638844bd02f1e0d4ee53.jpg"
						alt="Энергоэффективность класса A++" class="popup-prop__img lazyload">

					<div class="popup-prop__title">Энергоэффективность класса A++</div>
					<div class="popup-prop__text">Класс А++ означает, что модель потребляет на 20% электроэнергии
						меньше, чем
						прибор экономичного класса А.</div>

					<a href="/glossary/?param=2669" title="Перейти в глоссарий" target="_blank"
						class="popup-prop__link">Перейти в глоссарий</a>
				</div>
			</div>

		</div>
	</div>
</div>
