<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		<div class="sidebar">
		<ul class="work-link">
				<li class="work-link__item"><a class="work-link__a" href="/service/">Сервисные центры</a></li>
				<li class="work-link__item"><a class="work-link__a" href="/documentation/">Техническая документация</a></li>
				<li class="work-link__item"><a class="work-link__a" href="/warranty/">Официальная гарантия</a></li>
			</ul>
			<div class="download-catalogs">
				<div class="download-catalogs__title">Скачать каталоги</div>
				<div class="download-catalogs__items js-download-catalogs swiper-container">
					<div class="swiper-wrapper">
						<div class="download-catalogs__item swiper-slide">
							<a href="#" class='download-catalogs__link'>
								<div class="download-catalogs__pic"><img src="images/download-catalogs-1.png" alt="">
								</div>
								<div class="download-catalogs__text">Новая линейка комбинированных
									холодильников-морозильников<i>PDF 2.47 MB</i></div>
							</a>
		
						</div>
						<div class="download-catalogs__item swiper-slide">
							<a href="#" class='download-catalogs__link'>
								<div class="download-catalogs__pic"><img src="images/download-catalogs-2.png" alt="">
								</div>
								<div class="download-catalogs__text">BioFresh 2018/2019<i>PDF 2.47 MB</i></div>
							</a>
		
						</div>
						<div class="download-catalogs__item swiper-slide">
							<a href="#" class='download-catalogs__link'>
								<div class="download-catalogs__pic"><img src="images/download-catalogs-3.png" alt="">
								</div>
								<div class="download-catalogs__text">Дизайнерская серия ColourLine<i>PDF 2.47 MB</i>
								</div>
							</a>
		
						</div>
						<div class="download-catalogs__item swiper-slide">
							<a href="#" class='download-catalogs__link'>
								<div class="download-catalogs__pic"><img src="images/download-catalogs-1.png" alt="">
								</div>
								<div class="download-catalogs__text">Новая линейка комбинированных
									холодильников-морозильников<i>PDF 2.47 MB</i></div>
							</a>
		
						</div>
						<div class="download-catalogs__item swiper-slide">
							<a href="#" class='download-catalogs__link'>
								<div class="download-catalogs__pic"><img src="images/download-catalogs-2.png" alt="">
								</div>
								<div class="download-catalogs__text">BioFresh 2018/2019<i>PDF 2.47 MB</i></div>
							</a>
		
						</div>
						<div class="download-catalogs__item swiper-slide">
							<a href="#" class='download-catalogs__link'>
								<div class="download-catalogs__pic"><img src="images/download-catalogs-3.png" alt="">
								</div>
								<div class="download-catalogs__text">Дизайнерская серия ColourLine<i>PDF 2.47 MB</i>
								</div>
							</a>
		
						</div>
						<div class="download-catalogs__item swiper-slide">
							<a href="#" class='download-catalogs__link'>
								<div class="download-catalogs__pic"><img src="images/download-catalogs-1.png" alt="">
								</div>
								<div class="download-catalogs__text">Новая линейка комбинированных
									холодильников-морозильников<i>PDF 2.47 MB</i></div>
							</a>
		
						</div>
						<div class="download-catalogs__item swiper-slide">
							<a href="#" class='download-catalogs__link'>
								<div class="download-catalogs__pic"><img src="images/download-catalogs-2.png" alt="">
								</div>
								<div class="download-catalogs__text">BioFresh 2018/2019<i>PDF 2.47 MB</i></div>
							</a>
		
						</div>
						<div class="download-catalogs__item swiper-slide">
							<a href="#" class='download-catalogs__link'>
								<div class="download-catalogs__pic"><img src="images/download-catalogs-3.png" alt="">
								</div>
								<div class="download-catalogs__text">Дизайнерская серия ColourLine<i>PDF 2.47 MB</i>
								</div>
							</a>
		
						</div>
					</div>
					<div class="swiper-pagination-download-catalogs"></div>
					<div class="swiper-button-prev download-catalogs__prev"></div>
					<div class="swiper-button-next download-catalogs__next"></div>
				</div>
			</div>
			<div class="yandex">
				<div class="yandex__inner">
					<div class="yandex__logo">
						<img src="images/ylogo.png" alt="" srcset="" class="yandex__img">
					</div>
					<div class="yandex__ratings">
						<img src="images/5-stars.png" alt="" srcset="">
					</div>
					<a href="#" target="_blank" class="yandex__button">Оставить отзыв</a>
					<a href="#" target="_blank" class="yandex__button">Читать все отзывы</a>
				</div>
			</div>
			<div class="quality">
				<span class="quality__title">Контроль качества</span>
				<span class="quality__text">Номер для претензий и предложений:</span>
				<a href="tel:+74951201196" class="quality__number">+7 (495) 120-11-96</a>
				<span class="quality__worktime">с 9:00 до 18:00</span>
				<a href="#" class="quality__button" id="js-quality-opener">Написать</a>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="breadcrumbs">
			<a href="#" class="breadcrumbs__link">Liebherr</a>
			<span class="breadcrumbs__sep">/</span>
			<span class="breadcrumbs__text">Видеозаписи</span>
		</div>
		<h1 class="title">
			Видеозаписи
		</h1>
		<div class="all-video">
			<div class="all-video__item">
				<a data-fancybox="gallery" data-type="iframe" href="https://www.youtube.com/embed/n7xbo0FVEaY">
					<!-- <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
			class="special-offers__img catalog__img"> -->
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY" frameborder="0"
						allowfullscreen="">
					</iframe>
					<div class="all-video__link">Монтаж встраиваемой техники: Переход от системы door sliding к системе
						door on doorр</div>
				</a>
			</div>
			<div class="all-video__item">
				<a data-fancybox="gallery" data-type="iframe" href="https://www.youtube.com/embed/n7xbo0FVEaY">
					<!-- <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
			class="special-offers__img catalog__img"> -->
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY" frameborder="0"
						allowfullscreen="">
					</iframe>
					<div class="all-video__link">Технология StopFrost - меньше инея в морозильном ларе</div>
				</a>
			</div>
			<div class="all-video__item">
				<a data-fancybox="gallery" data-type="iframe" href="https://www.youtube.com/embed/n7xbo0FVEaY">
					<!-- <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
			class="special-offers__img catalog__img"> -->
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY" frameborder="0"
						allowfullscreen="">
					</iframe>
					<div class="all-video__link">Секция BioFresh - искусство сохранять свежесть</div>
				</a>
			</div>
			<div class="all-video__item">
				<a data-fancybox="gallery" data-type="iframe" href="https://www.youtube.com/embed/n7xbo0FVEaY">
					<!-- <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
			class="special-offers__img catalog__img"> -->
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY" frameborder="0"
						allowfullscreen="">
					</iframe>
					<div class="all-video__link">Холодильники BluPerformance – новое измерение свежести</div>
				</a>
			</div>
			<div class="all-video__item">
				<a data-fancybox="gallery" data-type="iframe" href="https://www.youtube.com/embed/n7xbo0FVEaY">
					<!-- <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
			class="special-offers__img catalog__img"> -->
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY" frameborder="0"
						allowfullscreen="">
					</iframe>
					<div class="all-video__link">Monolith - cooling redefined</div>
				</a>
			</div>
			<div class="all-video__item">
				<a data-fancybox="gallery" data-type="iframe" href="https://www.youtube.com/embed/n7xbo0FVEaY">
					<!-- <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
			class="special-offers__img catalog__img"> -->
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY" frameborder="0"
						allowfullscreen="">
					</iframe>
					<div class="all-video__link">Монтаж встраиваемой техники: Переход от системы door sliding к системе
						door on doorр</div>
				</a>
			</div>
			<div class="all-video__item">
				<a data-fancybox="gallery" data-type="iframe" href="https://www.youtube.com/embed/n7xbo0FVEaY">
					<!-- <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
			class="special-offers__img catalog__img"> -->
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY" frameborder="0"
						allowfullscreen="">
					</iframe>
					<div class="all-video__link">Технология StopFrost - меньше инея в морозильном ларе</div>
				</a>
			</div>
			<div class="all-video__item">
				<a data-fancybox="gallery" data-type="iframe" href="https://www.youtube.com/embed/n7xbo0FVEaY">
					<!-- <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
			class="special-offers__img catalog__img"> -->
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY" frameborder="0"
						allowfullscreen="">
					</iframe>
					<div class="all-video__link">Секция BioFresh - искусство сохранять свежесть</div>
				</a>
			</div>
			<div class="all-video__item">
				<a data-fancybox="gallery" data-type="iframe" href="https://www.youtube.com/embed/n7xbo0FVEaY">
					<!-- <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
			class="special-offers__img catalog__img"> -->
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY" frameborder="0"
						allowfullscreen="">
					</iframe>
					<div class="all-video__link">Холодильники BluPerformance – новое измерение свежести</div>
				</a>
			</div>
			<div class="all-video__item">
				<a data-fancybox="gallery" data-type="iframe" href="https://www.youtube.com/embed/n7xbo0FVEaY">
					<!-- <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
			class="special-offers__img catalog__img"> -->
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY" frameborder="0"
						allowfullscreen="">
					</iframe>
					<div class="all-video__link">Monolith - cooling redefined</div>
				</a>
			</div>
			<div class="all-video__item">
				<a data-fancybox="gallery" data-type="iframe" href="https://www.youtube.com/embed/n7xbo0FVEaY">
					<!-- <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
			class="special-offers__img catalog__img"> -->
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY" frameborder="0"
						allowfullscreen="">
					</iframe>
					<div class="all-video__link">Холодильники BluPerformance – новое измерение свежести</div>
				</a>
			</div>
			<div class="all-video__item">
				<a data-fancybox="gallery" data-type="iframe" href="https://www.youtube.com/embed/n7xbo0FVEaY">
					<!-- <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
			class="special-offers__img catalog__img"> -->
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY" frameborder="0"
						allowfullscreen="">
					</iframe>
					<div class="all-video__link">Monolith - cooling redefined</div>
				</a>
			</div>
			<div class="all-video__item">
				<a data-fancybox="gallery" data-type="iframe" href="https://www.youtube.com/embed/n7xbo0FVEaY">
					<!-- <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
			class="special-offers__img catalog__img"> -->
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY" frameborder="0"
						allowfullscreen="">
					</iframe>
					<div class="all-video__link">Monolith - cooling redefined</div>
				</a>
			</div>
			<div class="all-video__item">
				<a data-fancybox="gallery" data-type="iframe" href="https://www.youtube.com/embed/n7xbo0FVEaY">
					<!-- <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
			class="special-offers__img catalog__img"> -->
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY" frameborder="0"
						allowfullscreen="">
					</iframe>
					<div class="all-video__link">Холодильники BluPerformance – новое измерение свежести</div>
				</a>
			</div>
			<div class="all-video__item">
				<a data-fancybox="gallery" data-type="iframe" href="https://www.youtube.com/embed/n7xbo0FVEaY">
					<!-- <img src="images/product-card_2.jpg" srcset="images/product-card_2@2x.jpg 2x,images/product-card_2@3x.jpg 3x"
			class="special-offers__img catalog__img"> -->
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/n7xbo0FVEaY" frameborder="0"
						allowfullscreen="">
					</iframe>
					<div class="all-video__link">Monolith - cooling redefined</div>
				</a>
			</div>

		</div>
		<div class="all-video__bottom">
			<a class="load-more" href="#">Загрузить еще</a>
			{% include 'pagination/pagination.html' %}
		</div>
	</div>

</div>