<div class="d-flex flex-column-reverse flex-md-row">
    <div class="col-md-3">
        {% include 'section/sidebar/sidebar.html' %}
    </div>
    <div class="col-md-9">
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">Liebherr</a>
            <span class="breadcrumbs__sep">/</span>
            <a href="#" class="breadcrumbs__link"> Доставка и оплата</a>
            <span class="breadcrumbs__sep">/</span>
            <span class="breadcrumbs__text">Условия продажи товара физическим лицам</span>
        </div>
        <h1 class="title">
            Условия продажи товара физическим лицам
        </h1>
        <div class="text-default">
            <p>
                <b>Оформляя заказ, вы соглашаетесь с условиями продажи товаров физическим лицам:</b>
            </p>
            <ol class="terms-conditions">
                <li>
                    Между клиентом и продавцом применяются положения ГК РФ о розничной
                    купле-продаже (§2 глава 30), а также Закон РФ «О защите прав
                    потребителей/ от
                    07.02.1992 № 2300-1 и иные правовые акты, принятые в соответствии с
                    ними.
                </li>
                <li>
                    Вся информация на сайте носит справочный характер, не является
                    публичной
                    офертой и не может в полной мере передавать достоверную информацию о
                    свойствах,
                    комплектации и характеристиках товара, включая цвета, размеры и формы.
                    Фирма-производитель оставляет за собой право на внесение изменений в
                    конструкцию, дизайн и комплектацию товара без предварительного
                    уведомления.
                </li>
                <li>
                    В случае отсутствия заказанных товаров на складе продавца, в том числе
                    по
                    причинам, не зависящим от продавца, продавец вправе аннулировать заказ.
                </li>
                <li>
                    В случае изменения цены производителем или поставщиком продавца,
                    продавец
                    вправе изменить цену, в том числе, в уже оформленных предзаказах.
                    Указанная на
                    сайте цена на товар может быть изменена продавцом.
                </li>
                <li>
                    Риск случайного повреждения товара переходит к клиенту с момента
                    передачи ему
                    заказа и проставления подписи в документах, подтверждающих доставку
                    заказа. При
                    передаче заказа покупатель должен проверить внешний вид и упаковку
                    заказа,
                    количество товара в заказе, комплектность, ассортимент, убедиться в
                    отсутствии
                    дефектов и только после этого подписывать соответствующие документы. В
                    соответствии со ст. 458 и 459 ГК РФ претензии к внешнему виду товара
                    покупатель
                    можете предъявить только до передачи товара продавцом. Слабая
                    освещенность
                    помещения, поторапливания со стороны сотрудников службы доставки,
                    загрязненность товара и другие причины не являются основанием для
                    невыполнения
                    покупателем требований ст. 484 ГК РФ.
                </li>
                <li>
                    Клиент вправе отказаться от заказанного товара в любое время до его
                    получения,
                    а также после получения товара в течение 7 дней без учета дня его
                    покупки.
                    Возврат товара надлежащего качества возможен при сохранении его
                    товарного вида,
                    упаковки, потребительских свойств и документов, подтверждающих факт
                    покупки.
                </li>
                <li>
                    Клиент вправе обменять товар надлежащего качества на аналогичный товар
                    в
                    течение 7 дней с момента получения заказа, не считая дня покупки.
                    Замена товара
                    надлежащего качества возможна при сохранении его товарного вида,
                    упаковки,
                    потребительских свойств, документов, подтверждающих факт покупки.
                    Клиент не
                    вправе обменять товары надлежащего качества, указанные в перечне
                    непродовольственных товаров надлежащего качества, не подлежащих
                    возврату или
                    обмену, утвержденном Постановлением Правительства РФ от 19.01.1998 №
                    55.
                </li>
                <li>
                    Продавец не несет ответственности за возможный причиненный ущерб
                    клиенту в
                    результате использования Товара.
                </li>
                <li>
                    Без согласования с покупателем продавец вправе переуступать либо
                    каким-либо
                    иным способом передавать свои права и обязанности, вытекающие из его
                    отношений
                    с клиентом, третьим лицам.
                </li>
                <li>
                    Товар приобретается физическим лицом для личных, семейных, домашних и
                    иных
                    нужд, не связанных с осуществлением предпринимательской деятельности.
                    Клиент
                    обязуется не использовать заказанный товар в предпринимательских целях.
                </li>
                <li>
                    Предоставляя свои персональные данные, клиент соглашается на их
                    обработку
                    продавцом, в том числе и в целях продвижения продавцом товаров и услуг.
                </li>
                <li>
                    Продавец вправе передавать информацию о клиенте и его заказе агентам и
                    третьим
                    лицам, действующим в интересах продавца для исполнения обязательств.
                </li>
                <li>
                    Все возникающее споры стороны будут стараться решить путем переговоров,
                    при
                    невозможности договориться спор будет передан на рассмотрение в
                    судебный орган
                    в соответствии с действующим законодательством РФ по месту регистрации
                    юридического адреса Продавца.
                </li>
                <li>
                    К отношениям между клиентом и продавцом применяется право Российской
                    Федерации.
                </li>
            </ol>
        </div>
    </div>

</div>