.sidebar {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 28px;
	margin-top: 28px;

	.upsale {
		display: flex;
		margin: 0 0 28px 0;
		width: 100%;
		padding: 15px 14px 56px 14px;
		background-color: #ffffff;
		border: solid 1px #eeeeee;
		display: flex;
		// flex-wrap: wrap;
		flex-direction: column;
		overflow: hidden;
		position: relative;

		&:hover {
			box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.14);
		}

		&__title {
			font-size: 20px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.2;
			letter-spacing: normal;
			text-align: left;
			color: #2e2e2e;
			margin-bottom: 4px;
		}

		&__subtitle {
			color: #333333;
			font-family: "Roboto Condensed";
			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
		}

		&__items {
			display: flex;
			border-bottom: 1px solid #f1f1f1;
			// flex-wrap: wrap;
		}

		&__item {
			display: flex;
			padding-top: 24px;
			padding-bottom: 10px;
			border-bottom: 1px solid #f1f1f1;
			max-width: 100%;
			flex-wrap: wrap;
			margin-top: 0 !important;

			&:last-child {
				// border-bottom: 0;
				padding-bottom: 0;
			}
		}

		&__pic {
			width: 95px;
			height: 100px;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
		}

		&__aside {
			display: flex;
			// flex-wrap: wrap;
			flex-direction: column;
			width: calc(100% - 95px);
		}

		&__row {
			width: 100%;
			display: flex;
			margin-top: 16px;
		}

		&__sale {
			font-size: 20px;
			line-height: 1.2;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: normal;
			text-align: left;
			color: #2e2e2e;
			// margin-right: 10%;
			white-space: nowrap;
			height: 100%;
			display: flex;
			align-items: center;

			i {
				font-style: normal;
				font-size: 14px;
				line-height: 1.71;
				margin-left: 7px;
			}
		}

		&__links {
			display: flex;
			flex-grow: 1;
			justify-content: flex-end;
		}

		&__link {
			padding: 0;
			color: transparent;
			background-image: url('../images/shopping-cart.png');
			background-size: 18px;
			background-position: 50%;
			width: 44px;
			height: 36px;
			font-family: Roboto Condensed;
			font-size: 14px;
			background-color: #394791;
			background-repeat: no-repeat;
			box-shadow: 0 0 0 0 rgba(0, 0, 0, .16);
			text-decoration: none;
			font-weight: 400;
			text-transform: uppercase;
			margin: 0;
			border-radius: 2px;
			line-height: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			border: none;
			cursor: pointer;
			text-align: center;

			// &_first {
			// 	background: url("../images/compare__color.svg") 0 /24px no-repeat;
			// 	margin-right: 16px;
			// }
			// &_two {
			// 	background: url("../images/shopping-cart__color.svg") 0 /24px no-repeat;
			// }
			b {
				display: none;
			}
		}

		&__info {
			flex-grow: 1;
			display: flex;
			justify-content: space-between;
		}

		.product-card__presence {
			display: none;
		}

		&__description {
			color: #2e2e2e;
			font-family: "Roboto Condensed";
			font-size: 13px;
			font-weight: 400;
			line-height: 22px;
		}

		.swiper-pagination-upsale {
			position: absolute;
			bottom: 22px;
			left: 16px;
			width: auto;

			.swiper-pagination-bullet {
				margin: 0 16px 0 0;
			}
		}

		&__next {
			background: url("../images/special-offers_next.svg") 0/24px no-repeat;
			top: unset;
			bottom: 16px;
			right: 16px;
			width: 24px;
			height: 24px;

			&:hover {
				background: url("../images/swiper-button-color-next.svg") 0/24px no-repeat;
			}
		}

		&__prev {
			background: url("../images/special-offers_prev.svg") 0/24px no-repeat;
			position: absolute;
			top: unset;
			bottom: 16px;
			right: 49px;
			left: unset;
			width: 24px;
			height: 24px;

			&:hover {
				background: url("../images/swiper-button-color-prev.svg") 0/24px no-repeat;
			}
		}
	}

	.marking {
		margin-bottom: 32px;

		// .marking__pic
		&__pic {
			height: 150px;
			position: relative;
		}

		// .marking__desc
		&__desc {
			position: absolute;
			bottom: 10px;
			left: 26px;
			background-color: #ffffff;
			padding: 4px 8px 4px 15px;
			color: #2e2e2e;
			font-family: "Roboto Condensed";
			font-size: 20px;
			font-weight: 700;
			letter-spacing: 7px;
			line-height: 24px;
			text-transform: uppercase;
		}

		// .marking__item
		&__item {
			background-color: #394791;
			padding: 12px 18px 18px 24px;
		}

		// .marking__title
		&__title {
			color: #ffffff;
			font-family: "Roboto Condensed";
			font-size: 22px;
			font-weight: 400;
			line-height: 28px;
			margin-bottom: 6px;
		}

		// .marking__subtitle
		&__subtitle {
			color: #ffffff;
			font-family: "Roboto Condensed";
			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
		}
	}

	.articles {
		display: flex;
		flex-direction: column;
		padding-bottom: 31px !important;

		// .articles__title
		&__title {
			color: #212121;
			font-family: "Roboto Condensed";
			font-size: 24px;
			font-weight: 400;
			margin-top: 0px;
			margin-bottom: 19px;
		}

		// .articles__link
		&__link {
			order: 5;
			width: 100%;
			text-align: center;
		}

		// .articles__items
		&__items {
			display: flex;
			flex-direction: column;
		}

		// .articles__item
		&__item {
			width: 100%;
			margin-bottom: 29px;

			&:last-child {
				margin-bottom: 12px;
			}
		}

		// .articles__pic
		&__pic {}

		// .articles__img
		&__img {}

		// .articles__text
		&__text {}

		// .articles__date
		&__date {}

		// .articles__info
		&__info {}
	}

	.documentation {
		margin: 0 0 31px 0;
		width: 100%;
		background-color: #ffffff;
		display: flex;
		flex-wrap: wrap;

		&__title {
			width: 100%;
			margin-bottom: 20px;
			font-size: 16px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.2;
			letter-spacing: normal;
			text-align: left;
			color: #333333;
		}

		.doc_loading {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
			text-align: left;
			color: #666666;
			padding: 7px 9px 7px 49px;
			border: 1px solid #eeeeee;
			align-items: center;

			.icon_doc {
				background: url("../images/documentation__pic.svg") no-repeat 100% 0px;
				width: 32px;
				height: 32px;
				margin-right: 10px;
				margin-left: -45px;
			}

			span {
				color: #394791;
				font-family: "Roboto Condensed";
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				width: 100%;
				margin-bottom: 4px;
			}

			&_first {}

			&+.doc_loading {
				border-top: 0 !important;
			}
		}

		&__link {
			width: 100%;
			margin-left: auto;
			padding: 9px 12px;
			border-radius: 2px;
			border: 1px solid #394791;
			font-size: 14px;
			line-height: normal;
			color: #394791;
			text-transform: uppercase;
			text-decoration: none !important;
			display: flex;
			justify-content: center;
			margin-top: 14px;
		}
	}

	@media screen and (max-width: 767px) {
		display: flex;
		align-content: baseline;
		align-items: stretch;
		flex-wrap: unset !important;
		justify-content: center !important;
		flex-direction: column !important;
		margin-top: 0;

		.work-link,
		.yandex,
		.quality {
			// width: calc(((100% / 12) * 4)-16px);
			height: unset !important;
			margin-bottom: 16px !important;
			margin-right: 0 !important;
			height: auto;
		}

		.work-link,
		.yandex {
			margin-right: 24px;
		}

		.work-link {
			padding: 5px;
			padding-left: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.work-link__item {
				height: 33%;
				padding: 15px 3px 15px 0;
			}
		}

		.yandex {
			padding: 4%;

			&__link_form {
				margin-top: auto;
			}
		}

		.quality {
			padding: 3%;
		}

		.d-flex & {
			margin-top: 28px;
		}

		.download-catalogs {
			order: -1;
		}

		.marking {
			align-self: baseline;
			width: 320px;
			max-width: 100%;

			&__pic {
				display: flex;
				flex-direction: column;
			}
		}
	}

	@media screen and (max-width: 767px) {
		.yandex {

			// padding: 10% 5% 9% !important;
			.yandex__pic {
				margin-bottom: 22px !important;
			}
		}

		.quality {
			padding: 8% !important;
			margin-bottom: 0 !important;
		}
	}

	@media screen and (max-width: 480px) {}

	@media screen and (max-width: 380px) {}
}

// * {
// 	transition: 0.4s;
// }
.work-link {
	margin: 0 0 28px 0;
	width: 100%;
	padding: 0;
	background-color: #ffffff;
	border: solid 1px #eeeeee;
	list-style: none;
	display: none !important;

	&__item {
		width: 100%;
		height: 46px;
		display: flex;
		align-items: center;
		padding-left: 11px;
		padding: 5px 10px 5px 0;

		&:nth-child(1) {
			background: url("../images/work-1.svg") 11px 50%/24px no-repeat;
		}

		&:nth-child(2) {
			background: url("../images/work-2.svg") 11px 50%/24px no-repeat;
			border-top: 1px solid #eeeeee;
			border-bottom: 1px solid #eeeeee;
		}

		&:nth-child(3) {
			background: url("../images/work-3.svg") 11px 50%/24px no-repeat;
		}
	}

	&:hover {
		box-shadow: 0 2px 21px rgba(0, 0, 0, 0.1);
	}

	&__a {
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: normal;
		text-align: left;
		color: #394791;
		margin-left: 47px;
	}
}

// .yandex {
//   width: 100%;
//   margin: 0 0 14px 0;
//   background-color: #ffffff;
//   border: solid 1px #eeeeee;
//   padding: 10%;
//   display: flex;
//   flex-direction: column;
//   align-items: baseline;
//   &:hover {
//     box-shadow: 0 2px 21px rgba(0, 0, 0, 0.1);
//   }
//   &__pic {
//     width: 160px;
//     height: auto;
//     margin-left: auto;
//     margin-right: auto;
//   }
//   &__link {
//     &_form {
//       margin-top: 25px;
//       font-size: 12px;
//       font-weight: 500;
//       font-style: normal;
//       font-stretch: normal;
//       line-height: 2;
//       letter-spacing: normal;
//       text-align: center;
//       text-transform: uppercase;
//       color: #394791;
//       padding: 4px 27px;
//       border-radius: 2px;
//       border: solid 1px #394791;
//       text-decoration: none !important;
//       white-space: nowrap;
//       margin-left: auto;
//       margin-right: auto;
//     }
//   }
// }
.yandex {
	padding: 20px 15px !important;
	margin-bottom: 30px;
	height: auto !important;
	width: 100%;
	background-color: #ffffff;
	border: solid 1px #eeeeee;
	display: flex;
	flex-direction: column;
	align-items: center;

	&:hover {
		box-shadow: 0 2px 21px rgba(0, 0, 0, 0.1);
	}

	&__inner {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
}

.yandex__img {
	max-width: 100%;
	// display: none;
	margin-bottom: 12px;
}

.yandex__button {
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: normal;
	text-align: center;
	text-transform: uppercase;
	color: #394791;
	padding: 7px 13px 5px 14px;
	border-radius: 2px;
	border: 1px solid #394791;
	text-decoration: none !important;
	margin-bottom: 7px;

	&:first-child {
		margin-top: auto;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.yandex__item {
	margin-bottom: 15px;
	position: relative;
}

.yandex__link {
	text-decoration: none;
	position: absolute;
	left: 0;
	right: 0;
}

.yandex__link_review {
	bottom: 22%;
	height: 78%;
}

.yandex__link_form {
	bottom: 0;
	height: 22%;
}

.yandex__ratings {
	margin-bottom: 22px;
	display: flex;
	justify-content: center;
	display: none;
}

.yandex__pic {
	display: block;
	width: 100%;
}

.yandex__logo {
	// background: url("../images/yamarket.svg") no-repeat;
	width: 160px;
	// height: 106px;
	margin-bottom: 12px;
}

.quality {
	width: 100%;
	background-color: #ffffff;
	border: solid 1px #eeeeee;
	padding: 16px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&:hover {
		box-shadow: 0 2px 21px rgba(0, 0, 0, 0.1);
	}

	span,
	a {
		width: 100%;
		text-align: center;
	}

	&__title {
		font-size: 16px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #333333;
	}

	&__text {
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.67;
		letter-spacing: normal;
		text-align: left;
		color: #333333;
		margin: 9px 0 5px;
	}

	&__number {
		font-size: 20px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.2;
		letter-spacing: normal;
		text-align: left;
		color: #333333;
	}

	&__worktime {
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.67;
		letter-spacing: normal;
		text-align: left;
		color: #333333;
		margin: 4px 0 11px;
		width: 100%;
	}

	&__button {
		font-size: 12px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 2;
		letter-spacing: normal;
		text-align: left;
		text-transform: uppercase;
		color: #394791;
		padding: 7px 13px 5px 14px;
		border-radius: 2px;
		border: solid 1px #394791;
		text-decoration: none !important;
		width: 150px !important;
	}
}

.download-catalogs {
	display: flex;
	flex-direction: column;
	margin: 0 0 28px;
	max-width: 100%;

	&__title {
		color: #333333;
		font-family: "Roboto Condensed";
		font-size: 16px;
		font-weight: 400;
		line-height: 36px;
		margin-bottom: 11px;
	}

	&__items {
		border: 1px solid #eeeeee;
		width: 100%;
		padding-bottom: 36px;
	}

	&__prev {}

	&__next {}

	&__item {
		border-bottom: 1px solid #eeeeee;
		padding: 15px 11px;
		display: flex;
		margin-top: 0 !important;

		&:hover {
			box-shadow: 0 2px 25px 0 rgba(0, 0, 0, .14);
		}
	}

	&__link {
		display: flex;
	}

	&__pic {
		width: 62px;
		height: 87px;
		flex-shrink: 0;
	}

	&__text {
		color: #394791;
		font-family: "Roboto Condensed";
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		padding: 0 17px;
		display: flex;
		flex-direction: column;

		i {
			color: #999999;
			font-family: Arial, sans-serif;
			font-size: 12px;
			text-transform: uppercase;
			font-style: normal;
		}
	}

	.swiper-container {}

	.swiper-wrapper {
		max-height: 367px;
	}

	.swiper-pagination-download-catalogs {
		padding: 10px 10px 19px;
		width: auto;

		.swiper-pagination-bullet {
			margin: 0 16px 0 0;
		}
	}

	.download-catalogs__next {
		background: url("../images/special-offers_next.svg") 0/24px no-repeat;
		top: unset;
		bottom: 16px;
		right: 16px;
		width: 24px;
		height: 24px;

		&:hover {
			background: url("../images/swiper-button-color-next.svg") 0/24px no-repeat;
		}
	}

	.download-catalogs__prev {
		background: url("../images/special-offers_prev.svg") 0/24px no-repeat;
		position: absolute;
		top: unset;
		bottom: 16px;
		right: 49px;
		left: unset;
		width: 24px;
		height: 24px;

		&:hover {
			background: url("../images/swiper-button-color-prev.svg") 0/24px no-repeat;
		}
	}

	.swiper-wrapper {}

	.swiper-slide {}
}
