.content-top {


	&:not(.lazyloaded) {
		background: url("../images/Vestfrost.jpg") no-repeat;
	}

	background-size: 100% 100%;
	max-width: 1436px;
	margin: 0 auto;
	min-height: 362px;
	display: flex;

	&__inner {
		width: 100%;
		// height: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		align-content: baseline;
	}

	&__tags {
		.content-top__aside {
			max-width: 463px;
			padding: 44px 41px 40px 33px;
		}

		.content-top__title_top {
			color: #ffffff;
			font-family: "Roboto Condensed";
			font-size: 30px;
			font-weight: 400;
			line-height: 37px;
			text-transform: uppercase;
			margin-bottom: 9px;
			display: flex;
			flex-direction: column;
		}

		.content-top__title_bottom,
		span {
			color: #ffffff;
			font-family: "Roboto Condensed";
			font-size: 16px;
			font-weight: 400;
		}
	}

	.container {
		padding: 0;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__aside {
		border-radius: 3px;
		background-color: #394791c4;
		padding: 32px 65px 32px 32px;
		max-width: 572px;
		margin-bottom: 32px;
	}

	&__title {
		width: 100%;


		&_top {
			color: #ffffff;
			font-family: "Roboto Condensed";
			font-size: 32px;
			font-weight: 400;
			line-height: 1.1;
			text-transform: uppercase;
			margin-bottom: 18px;

			span {
				color: #ffffff;
				font-family: "Roboto Condensed";
				font-size: 16px;
				font-weight: 400;
			}
		}

		&_bottom {
			// margin-bottom: 91px;
			// width: 470px;
			color: #ffffff;
			font-family: Arial, sans-serif;
			font-size: 13px;
			line-height: 22px;
		}
	}

	.breadcrumbs {
		width: fit-content;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 2;
		letter-spacing: normal;
		color: #ffffff;
		margin-bottom: 10px;
		margin-top: 25px;
		border-radius: 2px;
		background: rgba(0, 0, 0, 0.21);
		padding: 0 11px;

		div {
			align-items: center;
		}

		a {
			color: #ffffff;
		}

		&__text {
			font-weight: 700;
		}
	}


	@media screen and (max-width: 767px) {
		height: auto;
		background-position-x: 100%;
		background: url("../images/catalog-mobile.png") 100% 100% no-repeat;
		background-size: cover;
		min-height: unset;

		.container {
			height: 100%;
			display: flex;
			flex-direction: column;
			// justify-content: center;
		}

		.page__title.content-top__title_bottom {
			display: none;
		}

		.navchain {
			font-family: Arial, sans-serif;
			font-size: 12px;
			line-height: 24px;
			margin-top: 146px;
			text-align: center;
		}

		&__aside {
			background: unset;
			width: 100%;
			padding: 0;
			max-width: unset !important;
			margin-bottom: 3px;
		}


		&__title_top {
			color: #ffffff;
			font-family: "Roboto Condensed";
			font-size: 30px;
			font-weight: 400;
			line-height: 39px;
			text-transform: uppercase;
			// word-spacing: 60rem;
			text-align: center;
			width: 100%;
			background: none;

		}

		&__title_bottom {
			display: none;
		}

		&__inner {
			background: #00000030;
		}

		.breadcrumbs {
			width: 100%;
			margin-top: 18px;
			text-align: center;
			padding: 0 8px;

			div[itemtype="http://schema.org/BreadcrumbList"] {
				justify-content: center;
			}
		}

		&__tags {
			.content-top__aside {
				padding: 0;
			}

			.breadcrumbs {
				// padding: 0;
				margin-top: 44px;
			}

			.content-top__title_top {
				color: #ffffff;
				font-family: "Roboto Condensed";
				font-size: 30px;
				font-weight: 400;
				line-height: 39px;
				text-transform: uppercase;
				margin-bottom: 14px;
			}

			.content-top__title_bottom {
				display: flex !important;
				justify-content: center;
			}
		}
	}
}
