.menu {
	* {
		transition: 0.2s;
	}


	.header__telephones {
		display: none;
		align-items: center;

	}

	display: flex;
	align-items: center;
	flex-shrink: 1;
	width:701px;
	flex-grow: 1;

	nav {
		width: 100%;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		// justify-content: space-between;
		width: 100%;
	}

	&__item {
		// margin-right: 38px;
		margin-right: auto;

		&:hover {

			a,
			span {
				color: #394791;
				text-decoration: none;
			}
		}

		&:last-child {
			padding-right: 0;
		}
	}

	&__link {
		display: block;
		font-family: Arial, sans-serif;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #666666;
	}

	.city-change {
		display: flex;
		color: #394791;
		font-family: Arial, sans-serif;
		font-size: 13px;
		line-height: 22px;
		margin-right: 50px;
		cursor: pointer;
		position: relative;

		&__popup {
			top: calc(100% + 10px);
			// opacity: 0;
			position: absolute;
			display: none;
		}

		&__title {
			border-bottom: 1px dashed rgba(57, 71, 145, 0.78);
			margin-right: 10px;
			white-space: nowrap;
		}

		&__bullet {
			width: 14px;
			background: url("https://icongr.am/entypo/chevron-down.svg?color=b0b0b0") 100%/14px no-repeat;
		}

		&__link {
			white-space: nowrap;
			margin-bottom: 10px;
			text-decoration: none !important;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&.active {
			.city-change__popup {
				// opacity: 1;
				padding: 10px;
				top: calc(100% + 10px);
				left: -10px;
				border-radius: 4px;
				background: white;
				display: flex;
				flex-direction: column;
				box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.49);
				min-width: 100%;
				padding: 5px 10px;
				border: 1px solid #ddd;
				// box-shadow: 0 5px 9px 0 #000;
			}
		}

	}


	.abuse__button {
		display: none;
	}


	@media (max-width: 767px) {
		display: none;

		nav {
			display: flex;
			flex-wrap: wrap;


		}

		.city-change {
			order: 2;
			border-top: 1px solid #f1f1f1;
			width: 100%;
			padding-top: 1em;
			padding-left: 10px;
			margin-right: 0;


			&.active {
				.city-change__popup {

					min-width: unset !important;
					left: 5px;
				}
			}




			&__title {}

			&__bullet {}

			&__link {}

			&.active {
				.city-change__popup {}
			}

			&+.city-change {
				display: none;
			}
		}

		.header__telephones {
			display: flex;
			margin-top: 0;
			align-items: baseline;
			order: 3;
			flex-wrap: wrap;
			height: unset;
			max-height: 125px;
			padding-top: 1rem;
			padding-bottom: 0;

			&:nth-of-type(4) {
				display: none;
			}
		}

		&.active {
			display: flex;
			// transform: scale(1);
			// z-index: 10;
			// background-color: #262626;
		}

		&__list {
			flex-direction: row;
			padding: 7px 16px 10px;
			width: calc(100% + 32px);
			flex-wrap: wrap;
			background-color: #f1f1f1;
		}

		&__item {
			width: 50%;
			margin-top: 17px;
			cursor: pointer;
		}

		.header__block_bottom & {
			display: flex;
			flex-direction: column;
			width: 100%;
		}

		&+.menu {
			display: none;
		}

		.dropdown-menu__back {
			font-size: 12px !important;
			line-height: 3.75 !important;
		}

		.header__phone {
			margin-bottom: 2px;
			color: #333333;
			font-family: "Roboto Condensed";
			font-size: 16px;
			font-weight: 400;
			line-height: 26px;
		}

		.time-work {
			color: #666;
			font-family: Arial, sans-serif;
			font-size: 13px;
			line-height: 22px;
			text-align: left;
			display: block;

			i {
				color: #666;
				font-family: Arial, sans-serif;
				font-size: 13px;
				line-height: 22px;
				text-align: left;
				font-style: normal;
				margin-right: 4px;
				display: none;
			}
		}

		.abuse__button {
			color: #394791;
			font-family: Roboto Condensed;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase;
			order: 10;
			padding-top: 5px;
			padding-bottom: 5px;
			width: 100%;
			border: 1px solid #394791;
			text-align: center;
			border-radius: 4px;
			margin-top: 23px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.header__block_bottom & {
		display: none;
	}
}

// @media screen and (max-width: 1110px) {
//   .menu__item {
//     padding-right: unset;
//   }
// }

@media screen and (max-width: 480px) {





	// .header .header__block_top {
	//   height: unset;
	// }
}
