<div class="menu" aria-expanded="false">
	<div class="city-change js-city-change ">
		<div class="city-change__title">Санкт-Петербург</div>
		<div class="city-change__bullet"></div>
		<div class="city-change__popup">
			<a class="city-change__link" href="https://spb.l-rus.ru/">Москва</a>
			<a class="city-change__link" href="#">Регионы</a>
		</div>
	</div>
	<ul class="menu__list">
		<!-- <li class="menu__item">
			<a href="06 - 01 - About us_desktop.html" class="menu__link">О Liebherr</a>
		</li> -->
		<li class="menu__item">
			<a href="06 - 02 - Shipping and payment_desktop.html" class="menu__link">Доставка и оплата</a>
		</li>
		<li class="menu__item">
			<a href="06 - 03 - Service_desktop.html" class="menu__link">Подключение</a>
		</li>
		<li class="menu__item">
			<a href="06 - 04 - Warranty_desktop.html" class="menu__link">Гарантия</a>
		</li>
		<li class="menu__item">
			<a href="05 - 01 - Promotions and articles_desktop.html" class="menu__link">Статьи</a>
		</li>
		<li class="menu__item">
			<a href="06 - 05 - Help_desktop" class="menu__link">Новинки</a>
		</li>
		<li class="menu__item">
			<a href="06 - 08 - Contacts_desktop.html" class="menu__link">Контакты</a>
		</li>
	</ul>

	<a href="#" data-url="ajax/abuse.html" data-ajax="" class="abuse__button js-abuse__button"
		id="js-abuse-opener">Обратиться к руководству
	</a>
</div>
<!--end menu-->
