{% include 'head/head.html' %}
<link rel="stylesheet" type="text/css" href="js/jquery-ui-1.12.1/jquery-ui.css">

<body>

	<div class="wrapper" id="js-wrapper">

		{% include 'header/global/header.html' %}


		<div class="section">
			<div class="content">
				<div class="container">
					{% include 'section/order-form/order-form.html' %}
				</div>
				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->
		</div>
		<!-- /.middle -->

	</div>
	<!-- /.wrapper -->

	{% include 'footer/global/footer.html' %}
	{% include 'connect/script.html' %}
	{% include 'connect/stylesheet.html' %}
</body>

</html>