{% include 'head/head.html' %}

<body>

	<div class="wrapper" id="js-wrapper">

		{% include 'header/global/header.html' %}

		<div class="section">
			<div class="content-top">
				<div class="content-top__inner">
					<div class="container">
						<div class="breadcrumbs">
							<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
								<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
									itemtype="http://schema.org/ListItem">
									<a href="/" title="Главная" itemprop="item"><span
											itemprop="name">Liebherr</span></a>
									<meta itemprop="position" content="1">
								</div>
								<div class="breadcrumbs__sep">»</div>
								<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
									itemtype="http://schema.org/ListItem">
									<a href="/" title="Главная" itemprop="item"><span itemprop="name">Бытовые
											холодильники</span></a>
									<meta itemprop="position" content="1">
								</div>
								<div class="breadcrumbs__sep">»</div>
								<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
									itemtype="http://schema.org/ListItem">
									<a href="/"><span itemprop="name">Холодильники</span></a>
									<meta itemprop="position" content="1">
								</div>
								<div class="breadcrumbs__sep">»</div>
								<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
									itemtype="http://schema.org/ListItem"><span itemprop="name">Холодильники
										Side-by-Side Liebherr из нержавейки в Санкт-Пeтербурге
									</span><a itemprop="item" href="/liebherr/holodilniki/" title="Холодильники"></a>
									<meta itemprop="position" content="2">
								</div>
							</div>
						</div>
						<div class="content-top__aside">
							<h1 class="page__title content-top__title content-top__title_top">
								Холодильники Side-by-Side Liebherr из нержавейки в Санкт-Пeтербурге
								<span>
									страница 3
								</span>
							</h1>
							<div class="page__title content-top__title content-top__title_bottom">

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="container">
					<div class="col-md-3">
						<div class="filter__date">Обновление цен от 14 июля 2018</div>
						<div class="bx-filter filter-new bx-blue active">
							<div class="bx-filter-section container-fluid">

								<form name="_form" action="/liebherr/holodilniki/" method="get" class="smartfilter">
									<input type="hidden" name="IBLOCK_CODE" id="IBLOCK_CODE" value="holodilniki">
									<div class="row">
										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)"><span>Цена, руб. <i
														data-role="prop_angle" class="fa fa-angle-down"></i></span>
											</div>
											<div class="bx-filter-block" data-role="bx_filter_block">
												<div class="row bx-filter-parameters-box-container">
													<div
														class="col-xs-6 bx-filter-parameters-box-container-block bx-left">
														<i class="bx-ft-sub">От</i>
														<div class="bx-filter-input-container">
															<input class="min-price" type="text"
																name="arrFilter2_P1_MIN" id="arrFilter2_P1_MIN" value=""
																size="5" onkeyup="smartFilter.keyup(this)">
														</div>
													</div>
													<div
														class="col-xs-6 bx-filter-parameters-box-container-block bx-right">
														<i class="bx-ft-sub">До</i>
														<div class="bx-filter-input-container">
															<input class="max-price" type="text"
																name="arrFilter2_P1_MAX" id="arrFilter2_P1_MAX" value=""
																size="5" onkeyup="smartFilter.keyup(this)">
														</div>
													</div>

													<div class="col-xs-10 col-xs-offset-1 bx-ui-slider-track-container">
														<div class="bx-ui-slider-track"
															id="drag_track_c4ca4238a0b923820dcc509a6f75849b">
															<div class="bx-ui-slider-part p1"><span>13 230</span></div>
															<div class="bx-ui-slider-part p2"><span>97 422.50</span>
															</div>
															<div class="bx-ui-slider-part p3"><span>181 615</span></div>
															<div class="bx-ui-slider-part p4"><span>265 807.50</span>
															</div>
															<div class="bx-ui-slider-part p5"><span>350 000</span></div>

															<div class="bx-ui-slider-pricebar-vd"
																style="left: 0;right: 0;"
																id="colorUnavailableActive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-pricebar-vn"
																style="left: 0%; right: 0%;"
																id="colorAvailableInactive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-pricebar-v"
																style="left: 0%; right: 0%;"
																id="colorAvailableActive_c4ca4238a0b923820dcc509a6f75849b">
															</div>
															<div class="bx-ui-slider-range"
																id="drag_tracker_c4ca4238a0b923820dcc509a6f75849b"
																style="left: 0%; right: 0%;">
																<a class="bx-ui-slider-handle left" style="left:0;"
																	href="javascript:void(0)"
																	id="left_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
																<a class="bx-ui-slider-handle right" style="right:0;"
																	href="javascript:void(0)"
																	id="right_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<script type="text/javascript">
											BX.ready(function () {
												window['trackBarc4ca4238a0b923820dcc509a6f75849b'] = new BX.Iblock.SmartFilter({
													'leftSlider': 'left_slider_c4ca4238a0b923820dcc509a6f75849b',
													'rightSlider': 'right_slider_c4ca4238a0b923820dcc509a6f75849b',
													'tracker': 'drag_tracker_c4ca4238a0b923820dcc509a6f75849b',
													'trackerWrap': 'drag_track_c4ca4238a0b923820dcc509a6f75849b',
													'minInputId': 'arrFilter2_P1_MIN',
													'maxInputId': 'arrFilter2_P1_MAX',
													'minPrice': '13230',
													'maxPrice': '350000',
													'curMinPrice': '',
													'curMaxPrice': '',
													'fltMinPrice': '13230',
													'fltMaxPrice': '350000',
													'precision': '0',
													'colorUnavailableActive': 'colorUnavailableActive_c4ca4238a0b923820dcc509a6f75849b',
													'colorAvailableActive': 'colorAvailableActive_c4ca4238a0b923820dcc509a6f75849b',
													'colorAvailableInactive': 'colorAvailableInactive_c4ca4238a0b923820dcc509a6f75849b'
												});
											});
										</script>

										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span class="bx-filter-parameters-box-hint">
													Подборки
												</span>
											</div>

											<div class="bx-filter-block" data-role="bx_filter_block">
												<div class="row bx-filter-parameters-box-container">
													<div class="col-xs-12">

														<div class="filter__checkbox">
															<a href="/liebherr/holodilniki/type-nov/"
																class="filter-collections ">Новинки</a>
															<a href="/liebherr/holodilniki/type-hit/"
																class="filter-collections ">Лучшие</a>
															<a href="/liebherr/holodilniki/type-akcii/"
																class="filter-collections ">Акции</a>
														</div>

													</div>
												</div>
												<div style="clear: both"></div>
											</div>
										</div>

										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span class="bx-filter-parameters-box-hint">Тип <i
														data-role="prop_angle" class="fa fa-angle-up"></i>
												</span>
											</div>

											<div class="bx-filter-block" data-role="bx_filter_block">
												<div class="row bx-filter-parameters-box-container more">
													<div class="col-xs-12"><span class="more-text js-more-text">Показать
															еще</span>
														<div class="checkbox">
															<label data-role="label_arrFilter2_1538_532509844"
																class="bx-filter-param-label "
																for="arrFilter2_1538_532509844">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1538_532509844"
																		id="arrFilter2_1538_532509844"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="морозильник-шкаф">морозильник-шкаф&nbsp;(<span
																			data-role="count_arrFilter2_1538_532509844">42</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox">
															<label data-role="label_arrFilter2_1538_3059817806"
																class="bx-filter-param-label "
																for="arrFilter2_1538_3059817806">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1538_3059817806"
																		id="arrFilter2_1538_3059817806"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="морозильник-ларь">морозильник-ларь&nbsp;(<span
																			data-role="count_arrFilter2_1538_3059817806">29</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox">
															<label data-role="label_arrFilter2_1538_3244699096"
																class="bx-filter-param-label "
																for="arrFilter2_1538_3244699096">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1538_3244699096"
																		id="arrFilter2_1538_3244699096"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="холодильник без морозильника">холодильник
																		без морозильника&nbsp;(<span
																			data-role="count_arrFilter2_1538_3244699096">39</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox js-autoHeight" style="display: none;">
															<label data-role="label_arrFilter2_1538_1483701346"
																class="bx-filter-param-label "
																for="arrFilter2_1538_1483701346">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1538_1483701346"
																		id="arrFilter2_1538_1483701346"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="холодильник с винным шкафом">холодильник
																		с винным шкафом&nbsp;(<span
																			data-role="count_arrFilter2_1538_1483701346">2</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_1538_795364596"
																class="bx-filter-param-label "
																for="arrFilter2_1538_795364596">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1538_795364596"
																		id="arrFilter2_1538_795364596"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="холодильник с морозильником">холодильник
																		с морозильником&nbsp;(<span
																			data-role="count_arrFilter2_1538_795364596">235</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_1538_2970409303"
																class="bx-filter-param-label "
																for="arrFilter2_1538_2970409303">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1538_2970409303"
																		id="arrFilter2_1538_2970409303"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="морозильник с винным шкафом">морозильник
																		с винным шкафом&nbsp;(<span
																			data-role="count_arrFilter2_1538_2970409303">1</span>)</span>
																</span>
															</label>

														</div>
													</div>
												</div>
												<div style="clear: both"></div>
											</div>
										</div>
										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span class="bx-filter-parameters-box-hint">Высота [см] <i
														data-role="prop_angle" class="fa fa-angle-up"></i>
												</span>
											</div>

											<div class="bx-filter-block" data-role="bx_filter_block">
												<div class="row bx-filter-parameters-box-container">
													<div
														class="col-xs-6 bx-filter-parameters-box-container-block bx-left">
														<i class="bx-ft-sub">От</i>
														<div class="bx-filter-input-container">
															<input class="min-price" type="text"
																name="arrFilter2_1541_MIN" id="arrFilter2_1541_MIN"
																value="" size="5" onkeyup="smartFilter.keyup(this)">
														</div>
													</div>
													<div
														class="col-xs-6 bx-filter-parameters-box-container-block bx-right">
														<i class="bx-ft-sub">До</i>
														<div class="bx-filter-input-container">
															<input class="max-price" type="text"
																name="arrFilter2_1541_MAX" id="arrFilter2_1541_MAX"
																value="" size="5" onkeyup="smartFilter.keyup(this)">
														</div>
													</div>

													<div class="col-xs-10 col-xs-offset-1 bx-ui-slider-track-container">
														<div class="bx-ui-slider-track" id="drag_track_1541">
															<div class="bx-ui-slider-part p1"><span>61.00</span></div>
															<div class="bx-ui-slider-part p2"><span>96.75</span></div>
															<div class="bx-ui-slider-part p3"><span>132.50</span></div>
															<div class="bx-ui-slider-part p4"><span>168.25</span></div>
															<div class="bx-ui-slider-part p5"><span>204.00</span></div>

															<div class="bx-ui-slider-pricebar-vd"
																style="left: 0;right: 0;"
																id="colorUnavailableActive_1541"></div>
															<div class="bx-ui-slider-pricebar-vn"
																style="left: 0%; right: 0%;"
																id="colorAvailableInactive_1541"></div>
															<div class="bx-ui-slider-pricebar-v"
																style="left: 0%; right: 0%;"
																id="colorAvailableActive_1541"></div>
															<div class="bx-ui-slider-range" id="drag_tracker_1541"
																style="left: 0;right: 0;">
																<a class="bx-ui-slider-handle left" style="left:0;"
																	href="javascript:void(0)" id="left_slider_1541"></a>
																<a class="bx-ui-slider-handle right" style="right:0;"
																	href="javascript:void(0)"
																	id="right_slider_1541"></a>
															</div>
														</div>
													</div>
													<script type="text/javascript">
														BX.ready(function () {
															window['trackBar1541'] = new BX.Iblock.SmartFilter({
																'leftSlider': 'left_slider_1541',
																'rightSlider': 'right_slider_1541',
																'tracker': 'drag_tracker_1541',
																'trackerWrap': 'drag_track_1541',
																'minInputId': 'arrFilter2_1541_MIN',
																'maxInputId': 'arrFilter2_1541_MAX',
																'minPrice': '61',
																'maxPrice': '204',
																'curMinPrice': '',
																'curMaxPrice': '',
																'fltMinPrice': '61',
																'fltMaxPrice': '204',
																'precision': '2',
																'colorUnavailableActive': 'colorUnavailableActive_1541',
																'colorAvailableActive': 'colorAvailableActive_1541',
																'colorAvailableInactive': 'colorAvailableInactive_1541'
															});
														});
													</script>
												</div>
												<div style="clear: both"></div>
											</div>
										</div>
										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span class="bx-filter-parameters-box-hint">Ширина [см] <i
														data-role="prop_angle" class="fa fa-angle-up"></i>
												</span>
											</div>

											<div class="bx-filter-block" data-role="bx_filter_block">
												<div class="row bx-filter-parameters-box-container">
													<div
														class="col-xs-6 bx-filter-parameters-box-container-block bx-left">
														<i class="bx-ft-sub">От</i>
														<div class="bx-filter-input-container">
															<input class="min-price" type="text"
																name="arrFilter2_1542_MIN" id="arrFilter2_1542_MIN"
																value="" size="5" onkeyup="smartFilter.keyup(this)">
														</div>
													</div>
													<div
														class="col-xs-6 bx-filter-parameters-box-container-block bx-right">
														<i class="bx-ft-sub">До</i>
														<div class="bx-filter-input-container">
															<input class="max-price" type="text"
																name="arrFilter2_1542_MAX" id="arrFilter2_1542_MAX"
																value="" size="5" onkeyup="smartFilter.keyup(this)">
														</div>
													</div>

													<div class="col-xs-10 col-xs-offset-1 bx-ui-slider-track-container">
														<div class="bx-ui-slider-track" id="drag_track_1542">
															<div class="bx-ui-slider-part p1"><span>42.0</span></div>
															<div class="bx-ui-slider-part p2"><span>72.8</span></div>
															<div class="bx-ui-slider-part p3"><span>103.5</span></div>
															<div class="bx-ui-slider-part p4"><span>134.3</span></div>
															<div class="bx-ui-slider-part p5"><span>165.0</span></div>

															<div class="bx-ui-slider-pricebar-vd"
																style="left: 0;right: 0;"
																id="colorUnavailableActive_1542"></div>
															<div class="bx-ui-slider-pricebar-vn"
																style="left: 0%; right: 0%;"
																id="colorAvailableInactive_1542"></div>
															<div class="bx-ui-slider-pricebar-v"
																style="left: 0%; right: 0%;"
																id="colorAvailableActive_1542"></div>
															<div class="bx-ui-slider-range" id="drag_tracker_1542"
																style="left: 0;right: 0;">
																<a class="bx-ui-slider-handle left" style="left:0;"
																	href="javascript:void(0)" id="left_slider_1542"></a>
																<a class="bx-ui-slider-handle right" style="right:0;"
																	href="javascript:void(0)"
																	id="right_slider_1542"></a>
															</div>
														</div>
													</div>
													<script type="text/javascript">
														BX.ready(function () {
															window['trackBar1542'] = new BX.Iblock.SmartFilter({
																'leftSlider': 'left_slider_1542',
																'rightSlider': 'right_slider_1542',
																'tracker': 'drag_tracker_1542',
																'trackerWrap': 'drag_track_1542',
																'minInputId': 'arrFilter2_1542_MIN',
																'maxInputId': 'arrFilter2_1542_MAX',
																'minPrice': '42',
																'maxPrice': '165',
																'curMinPrice': '',
																'curMaxPrice': '',
																'fltMinPrice': '42',
																'fltMaxPrice': '165',
																'precision': '1',
																'colorUnavailableActive': 'colorUnavailableActive_1542',
																'colorAvailableActive': 'colorAvailableActive_1542',
																'colorAvailableInactive': 'colorAvailableInactive_1542'
															});
														});
													</script>
												</div>
												<div style="clear: both"></div>
											</div>
										</div>
										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span class="bx-filter-parameters-box-hint">Цвет <i
														data-role="prop_angle" class="fa fa-angle-up"></i>
												</span>
											</div>

											<div class="bx-filter-block" data-role="bx_filter_block">
												<div class="row bx-filter-parameters-box-container more">
													<div class="col-xs-12"><span class="more-text js-more-text">Показать
															еще</span>
														<div class="checkbox">
															<label data-role="label_arrFilter2_2250_1738692762"
																class="bx-filter-param-label "
																for="arrFilter2_2250_1738692762">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_2250_1738692762"
																		id="arrFilter2_2250_1738692762"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="бежевый">бежевый&nbsp;(<span
																			data-role="count_arrFilter2_2250_1738692762">7</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox">
															<label data-role="label_arrFilter2_2250_841265288"
																class="bx-filter-param-label "
																for="arrFilter2_2250_841265288">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_2250_841265288"
																		id="arrFilter2_2250_841265288"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="белый">белый&nbsp;(<span
																			data-role="count_arrFilter2_2250_841265288">176</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox">
															<label data-role="label_arrFilter2_2250_3303624126"
																class="bx-filter-param-label "
																for="arrFilter2_2250_3303624126">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_2250_3303624126"
																		id="arrFilter2_2250_3303624126"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="бронза">бронза&nbsp;(<span
																			data-role="count_arrFilter2_2250_3303624126">1</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox js-autoHeight" style="display: none;">
															<label data-role="label_arrFilter2_2250_3834431074"
																class="bx-filter-param-label "
																for="arrFilter2_2250_3834431074">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_2250_3834431074"
																		id="arrFilter2_2250_3834431074"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="зеленый KiwiGreen">зеленый
																		KiwiGreen&nbsp;(<span
																			data-role="count_arrFilter2_2250_3834431074">1</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_2250_2587736799"
																class="bx-filter-param-label "
																for="arrFilter2_2250_2587736799">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_2250_2587736799"
																		id="arrFilter2_2250_2587736799"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="зеленый авокадо">зеленый
																		авокадо&nbsp;(<span
																			data-role="count_arrFilter2_2250_2587736799">1</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_2250_3761914965"
																class="bx-filter-param-label "
																for="arrFilter2_2250_3761914965">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_2250_3761914965"
																		id="arrFilter2_2250_3761914965"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="красный">красный&nbsp;(<span
																			data-role="count_arrFilter2_2250_3761914965">1</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_2250_2871910706"
																class="bx-filter-param-label "
																for="arrFilter2_2250_2871910706">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_2250_2871910706"
																		id="arrFilter2_2250_2871910706"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="нержавеющая сталь">нержавеющая
																		сталь&nbsp;(<span
																			data-role="count_arrFilter2_2250_2871910706">47</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_2250_1949555699"
																class="bx-filter-param-label "
																for="arrFilter2_2250_1949555699">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_2250_1949555699"
																		id="arrFilter2_2250_1949555699"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="оранжевый NeonOrange">оранжевый
																		NeonOrange&nbsp;(<span
																			data-role="count_arrFilter2_2250_1949555699">1</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_2250_1239821711"
																class="bx-filter-param-label "
																for="arrFilter2_2250_1239821711">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_2250_1239821711"
																		id="arrFilter2_2250_1239821711"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="серебристый">серебристый&nbsp;(<span
																			data-role="count_arrFilter2_2250_1239821711">71</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_2250_3685956360"
																class="bx-filter-param-label "
																for="arrFilter2_2250_3685956360">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_2250_3685956360"
																		id="arrFilter2_2250_3685956360"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="серебристый + нержавеющая сталь">серебристый
																		+ нержавеющая сталь&nbsp;(<span
																			data-role="count_arrFilter2_2250_3685956360">16</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_2250_965531904"
																class="bx-filter-param-label "
																for="arrFilter2_2250_965531904">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_2250_965531904"
																		id="arrFilter2_2250_965531904"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="синий">синий&nbsp;(<span
																			data-role="count_arrFilter2_2250_965531904">1</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_2250_2475423476"
																class="bx-filter-param-label "
																for="arrFilter2_2250_2475423476">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_2250_2475423476"
																		id="arrFilter2_2250_2475423476"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="синий FrozenBlue">синий
																		FrozenBlue&nbsp;(<span
																			data-role="count_arrFilter2_2250_2475423476">1</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_2250_1842303647"
																class="bx-filter-param-label "
																for="arrFilter2_2250_1842303647">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_2250_1842303647"
																		id="arrFilter2_2250_1842303647"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="цветной StickerArt">цветной
																		StickerArt&nbsp;(<span
																			data-role="count_arrFilter2_2250_1842303647">1</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_2250_3693793700"
																class="bx-filter-param-label "
																for="arrFilter2_2250_3693793700">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_2250_3693793700"
																		id="arrFilter2_2250_3693793700"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="черный">черный&nbsp;(<span
																			data-role="count_arrFilter2_2250_3693793700">6</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_2250_53799781"
																class="bx-filter-param-label "
																for="arrFilter2_2250_53799781">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_2250_53799781"
																		id="arrFilter2_2250_53799781"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="черный / серебристый">черный /
																		серебристый&nbsp;(<span
																			data-role="count_arrFilter2_2250_53799781">2</span>)</span>
																</span>
															</label>

														</div>
														<div class="checkbox" style="display: none;">
															<label data-role="label_arrFilter2_2250_1865533099"
																class="bx-filter-param-label "
																for="arrFilter2_2250_1865533099">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_2250_1865533099"
																		id="arrFilter2_2250_1865533099"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="черный BlackSteel">черный
																		BlackSteel&nbsp;(<span
																			data-role="count_arrFilter2_2250_1865533099">14</span>)</span>
																</span>
															</label>

														</div>
													</div>
												</div>
												<div style="clear: both"></div>
											</div>
										</div>
										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span class="bx-filter-parameters-box-hint">Зона свежести BioFresh <i
														data-role="prop_angle" class="fa fa-angle-up"></i>
												</span>
											</div>

											<div class="bx-filter-block" data-role="bx_filter_block">
												<div class="row bx-filter-parameters-box-container">
													<div class="col-xs-12">
														<div class="checkbox">
															<label data-role="label_arrFilter2_1619_2457050331"
																class="bx-filter-param-label "
																for="arrFilter2_1619_2457050331">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1619_2457050331"
																		id="arrFilter2_1619_2457050331"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="Есть">Есть&nbsp;(<span
																			data-role="count_arrFilter2_1619_2457050331">86</span>)</span>
																</span>
															</label>

														</div>
													</div>
												</div>
												<div style="clear: both"></div>
											</div>
										</div>
										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span class="bx-filter-parameters-box-hint">Система замораживания
													NoFrost <i data-role="prop_angle" class="fa fa-angle-up"></i>
												</span>
											</div>

											<div class="bx-filter-block" data-role="bx_filter_block">
												<div class="row bx-filter-parameters-box-container">
													<div class="col-xs-12">
														<div class="checkbox">
															<label data-role="label_arrFilter2_1642_1644890287"
																class="bx-filter-param-label "
																for="arrFilter2_1642_1644890287">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1642_1644890287"
																		id="arrFilter2_1642_1644890287"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="Есть">Есть&nbsp;(<span
																			data-role="count_arrFilter2_1642_1644890287">184</span>)</span>
																</span>
															</label>

														</div>
													</div>
												</div>
												<div style="clear: both"></div>
											</div>
										</div>
										<div class="col-lg-12 bx-filter-parameters-box bx-active">
											<span class="bx-filter-container-modef"></span>
											<div class="bx-filter-parameters-box-title"
												onclick="smartFilter.hideFilterProps(this)">
												<span class="bx-filter-parameters-box-hint">Система SmartFrost <i
														data-role="prop_angle" class="fa fa-angle-up"></i>
												</span>
											</div>

											<div class="bx-filter-block" data-role="bx_filter_block">
												<div class="row bx-filter-parameters-box-container">
													<div class="col-xs-12">
														<div class="checkbox">
															<label data-role="label_arrFilter2_1665_3263599987"
																class="bx-filter-param-label "
																for="arrFilter2_1665_3263599987">
																<span class="bx-filter-input-checkbox">
																	<input type="checkbox" value="Y"
																		name="arrFilter2_1665_3263599987"
																		id="arrFilter2_1665_3263599987"
																		onclick="smartFilter.click(this)">
																	<span class="bx-filter-param-text"
																		title="есть">есть&nbsp;(<span
																			data-role="count_arrFilter2_1665_3263599987">46</span>)</span>
																</span>
															</label>

														</div>
													</div>
												</div>
												<div style="clear: both"></div>
											</div>
										</div>
									</div>
									<!--//row-->
									<div class="row">
										<div class="col-xs-12 bx-filter-button-box">
											<div class="bx-filter-block">
												<div class="bx-filter-parameters-box-container">
													<input class="btn btn-themes" type="submit" id="set_filter"
														name="set_filter" value="Показать">
													<input class="btn btn-link" type="submit" id="del_filter"
														name="del_filter" value="Сбросить">
													<div class="bx-filter-popup-result right" id="modef"
														style="display:none">
														Выбрано: <span id="modef_num">0</span> <span
															class="arrow"></span>
														<br>
														<a href="/liebherr/holodilniki/?set_filter=y"
															target="">Показать</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="clb"></div>
								</form>
							</div>
						</div>
						<script type="text/javascript">
							var smartFilter = new JCSmartFilter('/liebherr/holodilniki/', 'VERTICAL', []);
						</script>
						<div class="sidebar">

							<ul class="work-link">
								<li class="work-link__item">
									<a class="work-link__a" href="/service/">Сервисные центры</a>
								</li>
								<li class="work-link__item">
									<a class="work-link__a" href="/documentation/">Техническая документация</a>
								</li>
								<li class="work-link__item">
									<a class="work-link__a" href="/warranty/">Официальная гарантия</a>
								</li>
							</ul>
							<div class="yandex">
								<div class="yandex__inner">
									<div class="yandex__logo">
										<img src="images/ylogo.png" alt="" srcset="" class="yandex__img">
									</div>
									<div class="yandex__ratings">
										<img src="images/5-stars.png" alt="" srcset="">
									</div>
									<a href="#" target="_blank" class="yandex__button">Оставить отзыв</a>
									<a href="#" target="_blank" class="yandex__button">Читать все отзывы</a>
								</div>
							</div>
							<div class="quality">
								<span class="quality__title">Контроль качества</span>
								<span class="quality__text">Номер для претензий и предложений:</span>
								<a href="tel:+74951201196" class="quality__number">+7 (495) 120-11-96</a>
								<span class="quality__worktime">с 9:00 до 18:00</span>
								<a href="#" class="quality__button" id="js-quality-opener">Написать</a>
							</div>
						</div>
					</div>
					{% include 'section/catalog/catalog.html' %}
				</div>
				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->
		</div>
		<!-- /.middle -->

	</div>
	<!-- /.wrapper -->

	{% include 'footer/global/footer.html' %}
	{% include 'connect/script.html' %}
	{% include 'connect/stylesheet.html' %}

</body>

</html>
