<div class="d-flex flex-column-reverse flex-md-row">
    <div class="col-md-3">
        {% include 'section/sidebar/sidebar.html' %}
    </div>
    <div class="col-md-9">
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">Liebherr</a>
            <span class="breadcrumbs__sep">/</span>
            <span class="breadcrumbs__text">O Liebherr</span>
        </div>
        <h1 class="title">
            O Liebherr
        </h1>
        <div class="about-us text-default">
            <h4>
                Liebherr является одним из крупнейших производителей строительной техники в мире. Наряду с этим более
                43 500 сотрудников также способствуют техническому прогрессу во множестве других отраслей. Как и
                прежде, концерном сегодня управляют члены семьи Либхерр.
            </h4>
            <img src="{{src}}about-us.jpg" alt="" class="about-us__img">
            <p>
                На сегодняшний день компания Liebherr, основанная более полувека назад немецким
                инженером-промышленником Гансом Либхерром, представляет собой целую корпорацию, поражающую
                своими успехами сразу в нескольких областях. Один из ведущих мировых изготовителей строительной
                и горно-шахтной техники, Liebherr, в то же время, является признанным лидером в производстве
                холодильного оборудования премиум-класса.
            </p>


            <h3>Первый холодильник под логотипом бренда был изготовлен в 1954 году на предприятие в городе
                Оксенхаузен на юге Германии.</h3>
            <p>
                Главными достоинствами «новинки/ стали удобство в эксплуатации и надежность.
                В первой модели нашел свое отражение будущий девиз семейного предприятия: «Liebherr —
                символизирует качество в Европе и за ее пределами/. В 1966 году компания, усовершенствовавшая
                свои предыдущие наработки, представила широкой публике холодильник с новой революционной
                технологией — системой «FrostSafe/, которая значительно упростила процесс ручного обслуживания
                техники. По сегодняшний день каждая новая модель Liebherr неизменно поражает своими
                функциональными возможностями.
            </p>


            <iframe width="670" height="300" src="https://www.youtube.com/embed/n7xbo0FVEaY" frameborder="0"
                allowfullscreen=""></iframe>


            <h3>В настоящее время спектр бытовой техники Liebherr невероятно широк.</h3>
            <p>
                Ассортимент компании составляют устройства, встраиваемые под столешницу или в мебельные ниши
                кухонных гарнитуров, отдельностоящие приборы, морозильные лари, холодильно-морозильные
                комбинации, климатические шкафы для хранения вина и хьюмидоры. Инновационные концепции,
                современный дизайн, продуманные решения и высокое удобство использования — всё это отличает
                холодильную и морозильную технику Liebherr.
            </p>


        </div>
    </div>

</div>