.container {
	width: 100%;
	width: fill-available;
	margin-right: auto;
	margin-left: auto;
	max-width: 1176px;
	box-sizing: border-box;

	@media screen and (max-width: 1200px) {
		margin: 0 16px;
		max-width: 100%;
		width: fill-available;
		flex: 1 1 100%
	}

	@media screen and (max-width: 480px) {
		margin: 0 16px;
	}

	@media screen and (max-width: 320px) {
		margin: 0;
		padding: 0 16px 0 !important;
		max-width: 100%;
		width: fill-available;
	}
}

.content .container {
	display: flex;
	padding: 0 0;
	flex-wrap: wrap;
}