.wrapper {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	min-height: auto;
	// min-width: 320px;
	width: auto;
	min-width: 1176px;
	max-width: 1436px;

	@media screen and (max-width: 767px) {
		position: relative;
		margin: 0 auto;
		overflow: hidden;
		// min-height: 100%;
		min-width: 320px;
		width: auto;
		max-width: 100%;
	}
}
