<article class="about-brand">
	<div class="container">
		<h2 class="about-brand__title">
		О бренде Vestfrost

		</h2>
		<img src="images/about-brand.png" alt="" class="pic_right loaded lazyloaded">
		<p align="justify">
			На сегодняшний день компания Vestfrost, основанная более полувека назад немецким
			инженером-промышленником Гансом
			Шауб Лоренцром, представляет собой целую корпорацию, поражающую своими успехами сразу в нескольких областях.
			Один из
			ведущих мировых изготовителей строительной и горно-шахтной техники, Vestfrost, в то же время, является
			признанным
			лидером в производстве холодильного оборудования премиум-класса.

		</p>
		<p align="justify">
			Первый холодильник под логотипом бренда был изготовлен в 1954 году на предприятие в городе Оксенхаузен на
			юге
			Германии. Главными достоинствами «новинки» стали удобство в эксплуатации и надежность. В первой модели нашел
			свое
			отражение будущий девиз семейного предприятия: «Vestfrost — символизирует качество в Европе и за ее
			пределами». В
			1966 году компания, усовершенствовавшая свои предыдущие наработки, представила широкой публике холодильник с
			новой
			революционной технологией — системой «FrostSafe», которая значительно упростила процесс ручного обслуживания
			техники.
			По сегодняшний день каждая новая модель Vestfrost неизменно поражает своими функциональными
			возможностями.
		</p>
		<p align="justify">
			В настоящее время спектр бытовой техники Vestfrost невероятно широк. Ассортимент компании составляют
			устройства,
			встраиваемые под столешницу или в мебельные ниши кухонных гарнитуров, отдельностоящие приборы, морозильные
			лари,
			холодильно-морозильные комбинации, климатические шкафы для хранения вина и хьюмидоры. Инновационные
			концепции,
			современный дизайн, продуманные решения и высокое удобство использования — всё это отличает холодильную и
			морозильную
			технику Vestfrost.

		</p>
	</div>
</article>

<article class="about-brand">
	<div class="container">
		<h2 class="about-brand__title">
			Почему покупают холодильники Vestfrost
		</h2>
		<p align="justify">
			Выбор качественной техники беспокоит каждого покупателя. Хочется, чтобы прибор был удобен в эксплуатации,
			имел
			привлекательный внешний вид и подходил к интерьеру по стилю, долго без поломок служил. В последние годы все
			больше
			внимания обращается на параметры энергопотребления. Всеми этими достоинствами обладают холодильники Шауб
			Лоренц.

		</p>
		<p align="justify">
			Почему покупают у нас. Во-первых, удобство приобретения в официальном специализированном магазине. L-rus.ru
			предлагает
			полный ассортимент холодильников немецкого бренда, в том числе новинки. Все приборы имеют гарантию завода
			производителя,
			поставляются вместе с инструкцией и всей необходимой документацией. Специалисты помогут сделать выбор. Мы
			предлагаем
			удобную доставку и подключение, в том числе приборов с ледогенератором и моделей Side-by-Side.

		</p>
		<p align="justify">
			Во-вторых, современные технологии хранения были созданы именно их инженерами: NoFrost, SmartFrost,
			SuperFrost, BioFresh,
			сенсорное управление, раздельная регулировка температуры в холодильном и морозильном отделениях, работа
			морозильников
			при −15°C.

		</p>
		<p align="justify">
			В-третьих, немецкая практичность и благосклонность к комфорту воплощается при создании техники — удобные
			полки и ящики,
			продуманное расположение источников света, возможность трансформировать внутреннее пространство под свои
			потребности.
		</p>
		<p align="justify">
			В-четвертых, хотя производитель постоянно подчеркивает, что лучший дизайн — это удобство, в ассортименте
			имеется
			несколько линеек, выпущена цветная серия, а разнообразие встраиваемых приборов позволяет воплотить в
			реальность любые
			мечты.

		</p>
		<p align="justify">
			В-пятых, холодильники Шауб Лоренц отличаются исключительной надежностью. Официальный срок гарантии — 2 года,
			а срок
			службы 10 лет хотя и зафиксирован в документах, в реальности — намного дольше.

		</p>
		<p align="justify">
			В-шестых, производитель одним из первых озаботился проблемами экологии. В 1993 году компания заявила о
			переходе на
			технологии, не приносящие вреда озоновому слою, и курс максимального снижения энергопотребления. Сейчас
			самые
			экономичные приборы потребляют до 140 кВ/год, что подтверждается классом энергоэффективности А+++ (-20%).

		</p>
	</div>
	<div class="js-about-brand__button about-brand__button">Читать подробнее</div>
	<!-- /.js-about-brand__button -->
</article>
