.about-brand,
.seo-text,
.about-store {
	margin-bottom: 0px;
	// .about-brand__title
	font-family: Arial, sans-serif;

	&__title,
	.about-brand__title {
		color: #262626;
		font-family: "Roboto Condensed";
		font-size: 26px;
		font-weight: 400;
		line-height: 32px;
		margin-bottom: 16px;

		// width: 100%;
		&.center {
			text-align: center;
		}


		~.about-brand__title {
			margin-top: 36px;
		}
	}

	p {
		color: #262626;
		font-family: Arial;
		font-size: 14px;
		line-height: 22px;

		img {
			margin-left: 16px;
		}

		// +img {
		// 	margin-bottom: 24px;
		// }
	}

	ul {
		color: #262626;
		font-family: Arial;
		font-size: 14px;
		line-height: 22px;

		b {
			font-family: inherit;
			font-size: inherit;
			line-height: inherit;
			margin-top: 5px;
		}


		li {
			color: #262626;
			font-family: Arial;
			font-size: 14px;
			line-height: 22px;
			margin-bottom: 16px;

			&:first-child {
				margin-top: 16px;
			}

			&:last-of-type {
				margin-bottom: 0;
			}

			a {
				font-family: Arial;
				font-size: 14px;
				line-height: 22px;
				text-decoration: underline;
				font-weight: 700;
				margin: 0 4px;
			}
		}
	}

	li {
		margin-left: 15px;

	}

	br {
		line-height: 1;
	}

	img {
		margin-bottom: 19px;
	}

	&:nth-of-type(2) {
		margin-bottom: 21px;
	}

	&:nth-of-type(3) {
		margin-bottom: 43px;
	}

	.about-store {
		margin-bottom: 51px;
	}



	@media screen and (max-width: 767px) {
		margin-bottom: 22px;

		.about-brand__button {
			display: block !important;
		}

		&__title {
			color: #262626;
			font-family: "Roboto Condensed";
			font-size: 22px;
			font-weight: 400;
			line-height: 28px;
			margin-bottom: 15px;
		}

		p {
			// display: flex;
			// flex-wrap: wrap;
			// align-items: baseline;
			width: 100%;
			color: #262626;
			font-family: Arial;
			font-size: 14px;
			line-height: 22px;

			img {
				margin-left: -16px;
				margin-right: -16px;
				order: 2;
				margin-top: 15px;
				max-width: calc(100% + 32px);

			}
		}

	}
}

@media screen and (max-width: 767px) {
	.about-brand {
		position: relative;

		.center {
			text-align: unset;
		}


		&:nth-of-type(2) {
			.container {
				// p~p {
				// 	// display: none;
				// 	height: 0;
				// 	width: 0;
				// 	// color: transparent;
				// 	opacity: 0;
				// }
			}

			// margin-bottom: 0px;

		}

		&:nth-of-type(3) {
			margin-bottom: 17px;

			.container {
				// * {
				// 	// display: none;
				// 	height: 0;
				// 	width: 0;
				// 	// color: transparent;
				// 	opacity: 0;
				// }
			}

		}

		&.active {

			&:nth-of-type(2) {

				// margin-bottom: 0px;
				p~p {
					height: unset;
					width: unset;
					// color: unset;
					opacity: unset;
				}
			}

			&:nth-of-type(3) {
				margin-bottom: 14px;

				* {
					height: unset;
					width: unset;
					// color: unset;
					opacity: unset;
				}
			}
		}

		.container {
			display: flex;
			align-items: baseline;

			h2 {
				order: -1;
				color: #262626;
				font-family: "Roboto Condensed";
				font-size: 22px;
				font-weight: 400;
				line-height: 28px;
				width: 100%;
			}

			img {
				margin: 0 auto 16px;
				padding: 0 !important;
			}
		}

		.about-brand__button {
			color: #394791;
			font-family: Arial;
			font-size: 14px;
			display: none;
			padding-bottom: 2px;
			border-bottom: 1px dashed #394791;
			width: fit-content !important;
			// position: absolute;
			// left: 16px;
			bottom: 13px;
			// width: 100%;
			// padding: 0 16px;

			margin: 0 16px;
			height: auto;
			opacity: 1;

			&:after {
				background: url('https://icongr.am/entypo/chevron-small-down.svg?color=2e2e2e&size=50') no-repeat;
				content: '';
				width: 20px;
				height: 20px;
				position: absolute;
				background-size: contain;
				top: 50%;
				transform: translateY(-50%);
				right: -22px;
			}


		}

		&.active {

			.about-brand__button {
				position: relative;
				margin-top: 22px;

				&:after {
					background: url('https://icongr.am/entypo/chevron-small-up.svg?color=2e2e2e&size=50') no-repeat;
					content: '';
					width: 20px;
					height: 20px;
					position: absolute;
					background-size: contain;
					top: 50%;
					transform: translateY(-50%);
					right: -22px;
				}

			}
		}
	}
}

@media screen and (max-width: 480px) {

	.about-brand {
		.container {
			img {
				margin: 0 -16px 14px;
				max-width: calc(100% + 32px);
			}
		}
	}
}

.about-store {

	display: block;
	padding-top: 49px;
	padding-bottom: 41px;
	// margin-bottom: 20px;
	background-color: #f8f8f8;
	position: relative;

	h2 {
		margin-bottom: 23px;
	}

	.about-store__button {
		display: none;
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: unset;
		right: 100%;
		height: 100%;
		width: calc(100vw - 1176px);
		background-color: #f8f8f8;
		z-index: 9;
	}

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: unset;
		left: 100%;
		height: 100%;
		width: calc(100vw - 1176px);
		background-color: #f8f8f8;
		z-index: 9;
	}

	@media screen and (max-width: 767px) {
		margin-bottom: 22px;
		position: relative;
		// height: 830px;
		overflow: hidden;
		padding-bottom: 32px;
		padding-top: 33px;
		margin: 0 -16px 34px !important;
		padding-left: 16px;
		padding-right: 16px;

		&.active {
			height: auto;
			overflow: visible;
		}

		&:before {
			background-color: white;
			content: "";
			position: absolute;
			bottom: 0;
			height: 40px;
			width: 100%;
		}

		&__title {
			color: #262626;
			font-family: "Roboto Condensed";
			font-size: 22px;
			font-weight: 400;
			line-height: 28px;
			margin-bottom: 15px;
		}

		p {
			// display: flex;
			// flex-wrap: wrap;
			// align-items: baseline;
			width: 100%;
			color: #262626;
			font-family: Arial;
			font-size: 14px;
			line-height: 22px;

			img {
				margin-left: -16px;
				margin-right: -16px;
				order: 2;
				margin-top: 15px;
				max-width: calc(100% + 32px);

			}
		}

		.about-store__button {
			color: #394791;
			font-family: Arial;
			font-size: 14px;
			display: block;
			padding-bottom: 2px;
			border-bottom: 1px dashed #394791;
			width: fit-content;
			position: absolute;
			left: 16px;
			bottom: 0;

		}
	}
}
