<article class="seo-text text-default">
	<div class="container">
		<h2 class="seo-text__title">
			Преимущества холодильников и морозильников Liebherr
		</h2>
		<img src="images/main-seo-text.png" alt="" style="float: left; padding: 0 35px 20px 0;">
		<p>

			Корпус и внутренние стенки выполняются из нержавеющей стали. Ранее такое встречалось только в моделях
			профессиональной техники, а в бытовых приборах внутренняя камера изготавливается из белого пластика.
			Кроме антибактериальных свойств нержавейки производители с успехом использовали светоотражающую
			способность гладкого металла — светодиодные панели находятся по всей боковой поверхности холодильной и
			морозильной камер. Такой размер и положение светильников обеспечивают оптимальное распределение света.
			При этом они экономичны и почти не выделяют тепло по сравнению с лампами накаливания, а значит, не
			влияют на температурный режим внутри рабочей камеры.

		</p>
		<p align="justify">
			Светодиодные панели находятся по всей боковой поверхности холодильной и морозильной камер
		</p>
		<p align="justify">
			Особенность морозильной камеры В отличие от других морозильных отделений в Monolith все пространство
			занято не контейнерами, а похоже на холодильное: полки, ящики и дверные емкости. Это удобнее для
			быстрого доступа к часто используемым продуктам, не нужно перебирать все упаковки, чтобы найти нужную.
		</p>
		<img src="images/main-seo-text-2.png" alt="" style="float: right; padding: 0 0px 20px 35px;">
		<p align="justify">
			Прозрачные передняя стенка позволяет быстро найти нужные продукты. На дверцах можно хранить упаковки
			ягод для коктейлей и смузи, мороженое, замороженные травы и овощи для заправки супов.
		</p>

		<p align="justify">
			Большие контейнеры BioFresh помещены на телескопические направляющие и оснащены отдельной светодиодной
			панелью в верхней части.
		</p>
		<p align="justify">
			В приборах использованы современные технологии охлаждения и хранения. Система NoFrost отводит излишнюю
			влагу из морозильного отделения, поэтому наледь не образуется, а значит, нет необходимости проводить
			разморозку.

		</p>
		<p align="justify">
			Равномерное охлаждение PowerCooling в холодильной камере поддерживает равномерную температуру. Фильтр с
			активированным углем FreshAir убирает неприятные запахи.
		</p>

		<p align="justify">

		</p>

		<div class="official-dealers">

			<h2>Официальные сайты и дилеры Liebher</h2>
			<p>
				Холдинг имеет представительства по&nbsp;всему миру, в&nbsp;том числе доступен официальный сайт
				с&nbsp;информацией обо всех приборах, которые можно приобрести в&nbsp;России. Существуют десятки дилеров
				и&nbsp;партнеров бренда.
			</p>
			<p>
				Мультибрендовые сети отличаются от&nbsp;фирменных магазинов тем, что продают различные приборы разных
				производителей, товары не&nbsp;всегда есть на&nbsp;складе, их&nbsp;перевозят из&nbsp;одной точки
				в&nbsp;другую.
			</p>

			<a class="official-dealers__link" data-fancybox="gallery" data-type="iframe"
				href="//www.youtube.com/embed/hXlZLJs_pO8" id="bx_3322728009_11700">

				<picture>

					<source type="image/webp" class="lazyload"
						data-srcset="https://l-rus.ru/upload/iblock/5b8/5b864a6fa3855c1fe2c9142bed7d1ba6.webp">

					<img data-src="https://l-rus.ru/upload/iblock/5b8/5b864a6fa3855c1fe2c9142bed7d1ba6.png" alt="видео 1 на главной"
						class="official-dealers__pic lazyload" />
				</picture>

			</a>

			<a class="official-dealers__link" data-fancybox="gallery" data-type="iframe"
				href="//www.youtube.com/embed/41QGgxGqjb4" id="bx_3322728009_11701">

				<picture>

					<source type="image/webp" class="lazyload"
						data-srcset="https://l-rus.ru/upload/iblock/d72/d726dcebe6e948ab52cc72e5fdcfc3cf.webp">

					<img data-src="https://l-rus.ru/upload/iblock/d72/d726dcebe6e948ab52cc72e5fdcfc3cf.png" alt="видео 2 на главной"
						class="official-dealers__pic lazyload" />
				</picture>

			</a>

			<p>
				Специализированный интернет-магазин посвящен конкретной марке. Консультанты хорошо знают особенности
				техники и&nbsp;расскажут не&nbsp;только о&nbsp;модели, которую выгодно продать, но&nbsp;помогут
				из&nbsp;всего ассортимента выбрать по&nbsp;параметрам цена/качество.
			</p>
			<p>
				На&nbsp;сайте вы&nbsp;выбираете не&nbsp;из&nbsp;5&nbsp;холодильников, которые стоят на&nbsp;витрине,
				а&nbsp;из&nbsp;нескольких десятков моделей в&nbsp;каждой товарной категории.
			</p>
			<p>
				Производитель постоянно совершенствует технологии, и, выбирая новую бытовую технику, узнайте как можно
				больше о&nbsp;новых способах хранения и&nbsp;технологиях энергосбережения.
			</p>
			<p>
				Новые функции, настройка режимов, правильно расположение продуктов, упаковка&nbsp;&mdash; все это
				позволит увеличивать срок свежести продуктов.</p>
		</div>

		<h2 class="seo-text__title">Сервисные центры Liebherr в России</h2>
		<img alt="Холодильники Liebherr на официальном сайте"
			src="/mockup/templates/main/build/images/service-centers.png"
			style="float: right; padding: 0 0px 32px 35px;" title="Холодильники Либхер с официальной гарантией">
		<p>
			На&nbsp;технику Либхер распространяется <a target="_blank" href="/guarantee/">официальная
				гаранти</a>я&nbsp;— 2&nbsp;года с&nbsp;момента продажи. Гарантийный ремонт и&nbsp;сервисное обслуживание
			производятся авторизованными сервисными центрами. Через них вы&nbsp;можете заказать запчасти, угольные
			фильтры и&nbsp;другие аксессуары.
		</p>
		<p>
			В&nbsp;Москве находятся два сервис-центра&nbsp;— «Мир и&nbsp;Сервис» и&nbsp;«Пульсар»,
			в&nbsp;Санкт-Петербурге&nbsp;— «Точно в&nbsp;срок». Их&nbsp;адреса и&nbsp;телефоны можно посмотреть
			на&nbsp;<a target="_blank" href="/guarantee/#services-list">странице</a>.
		</p>
		<p>
			Также для размещения заявок на&nbsp;ремонт холодильников Liebherr можно позвонить по&nbsp;телефону
			бесплатной горячей линии: 8 (800) 100-34-55. Специалисты ответят на&nbsp;ваши вопросы и&nbsp;порекомендуют
			ближайший ремонт в&nbsp;вашем городе.
		</p>
	</div>
	<div class="about-store__button js-about-store__button">Читать подробнее</div>

</article>
