<article class="about-brand">
	<div class="container">
		<h2 class="about-brand__title">
			Преимущества холодильников и морозильников Vestfrost

		</h2>
		<img src="images/main-seo-text.png" alt="" class="pic_left loaded lazyloaded">
		<p align="justify">
			Корпус и внутренние стенки выполняются из нержавеющей стали. Ранее такое встречалось только в моделях
			профессиональной техники, а в бытовых приборах внутренняя камера изготавливается из белого пластика. Кроме
			антибактериальных свойств нержавейки производители с успехом использовали светоотражающую способность
			гладкого
			металла — светодиодные панели находятся по всей боковой поверхности холодильной и морозильной камер. Такой
			размер и
			положение светильников обеспечивают оптимальное распределение света. При этом они экономичны и почти не
			выделяют
			тепло по сравнению с лампами накаливания, а значит, не влияют на температурный режим внутри рабочей камеры.

		</p>
		<p align="justify">
			Светодиодные панели находятся по всей боковой поверхности холодильной и морозильной камер

		</p>
		<p align="justify">
			Особенность морозильной камеры В отличие от других морозильных отделений в Monolith все пространство занято
			не
			контейнерами, а похоже на холодильное: полки, ящики и дверные емкости. Это удобнее для быстрого доступа к
			часто
			используемым продуктам, не нужно перебирать все упаковки, чтобы найти нужную.

		</p>
	</div>
</article>

<article class="about-brand">
	<div class="container">
		<img src="images/main-seo-text-2.png" alt="" class="pic_right loaded lazyloaded">
		<p align="justify">
			Прозрачные передняя стенка позволяет быстро найти нужные продукты. На дверцах можно хранить упаковки ягод
			для
			коктейлей и смузи, мороженое, замороженные травы и овощи для заправки супов.

		</p>
		<p align="justify">
			Большие контейнеры BioFresh помещены на телескопические направляющие и оснащены отдельной светодиодной
			панелью в
			верхней части.

		</p>
		<p align="justify">
			В приборах использованы современные технологии охлаждения и хранения. Система NoFrost отводит излишнюю влагу
			из
			морозильного отделения, поэтому наледь не образуется, а значит, нет необходимости проводить разморозку.

		</p>
		<p align="justify">
			Равномерное охлаждение PowerCooling в холодильной камере поддерживает равномерную температуру. Фильтр с
			активированным углем FreshAir убирает неприятные запахи.

		</p>
	</div>
	<div class="js-about-brand__button about-brand__button">Читать подробнее</div>
	<!-- /.js-about-brand__button -->
</article>
<article class="about-brand">
	<div class="container">

		<h2 class="about-brand__title center">
			Официальные сайты и дилеры Vestfrost

		</h2>
		<p align="justify">
			Холдинг имеет представительства по всему миру, в том числе доступен официальный сайт с информацией обо всех
			приборах,
			которые можно приобрести в России. Существуют десятки дилеров и партнеров бренда.

		</p>
		<p align="justify">
			Мультибрендовые сети отличаются от фирменных магазинов тем, что продают различные приборы разных
			производителей,
			товары не всегда есть на складе, их перевозят из одной точки в другую.

		</p>
		<p align="justify">
			Специализированный интернет-магазин посвящен конкретной марке. Консультанты хорошо знают особенности техники
			и
			расскажут не только о модели, которую выгодно продать, но помогут из всего ассортимента выбрать по
			параметрам
			цена/качество.

		</p>
		<p align="justify">
			На сайте вы выбираете не из 5 холодильников, которые стоят на витрине, а из нескольких десятков моделей в
			каждой
			товарной категории.

		</p>
		<p align="justify">
			Производитель постоянно совершенствует технологии, и, выбирая новую бытовую технику, узнайте как можно
			больше о новых
			способах хранения и технологиях энергосбережения.

		</p>
		<p align="justify">
			Новые функции, настройка режимов, правильно расположение продуктов, упаковка — все это позволит увеличивать
			срок
			свежести продуктов.

		</p>
	</div>
</article>
<article class="about-brand">
	<div class="container">

		<h2 class="about-brand__title ">
			Сервисные центры Vestfrost в России

		</h2>
		<img alt="Холодильники Liebherr на официальном сайте" class="pic_right loaded lazyloaded"
			src="images/service-centers.png" title="">
		<p align="justify">
			На технику Шауб Лоренц распространяется официальная гарантия — 2 года с момента продажи. Гарантийный ремонт
			и сервисное обслуживание производятся авторизованными сервисными центрами. Через них вы можете заказать
			запчасти, угольные фильтры и другие аксессуары.
		</p>
		<p align="justify">
			В Москве находятся два сервис-центра — «Мир и Сервис» и «Пульсар», в Санкт-Петербурге — «Точно в срок». Их
			адреса и телефоны можно посмотреть на странице.
		</p>
		<p align="justify">
			Также для размещения заявок на ремонт холодильников Vestfrost можно позвонить по телефону бесплатной
			горячей линии: 8 (800) 100-34-55. Специалисты ответят на ваши вопросы и порекомендуют ближайший ремонт в
			вашем городе.
		</p>
	</div>
</article>
