<article class="about-brand">
	<div class="container">
		<h2 class="about-brand__title">
			О бренде Liebherr
		</h2>
		<p>
			<img src="images/about-brand.png" align='right' alt="">
			На сегодняшний день компания Liebherr, основанная более полувека назад немецким
			инженером-промышленником Гансом Либхерром, представляет собой целую корпорацию,
			поражающую
			своими успехами сразу в нескольких областях. Один из ведущих мировых изготовителей
			строительной и горно-шахтной техники, Liebherr, в то же время, является признанным
			лидером в
			производстве холодильного оборудования премиум-класса.
			<br>
			<br>
			Первый холодильник под логотипом бренда был изготовлен в 1954 году на предприятие в
			городе
			Оксенхаузен на юге Германии. Главными достоинствами «новинки» стали удобство в
			эксплуатации
			и надежность. В первой модели нашел свое отражение будущий девиз семейного предприятия:
			«Liebherr — символизирует качество в Европе и за ее пределами». В 1966 году компания,
			усовершенствовавшая свои предыдущие наработки, представила широкой публике холодильник с
			новой революционной технологией — системой «FrostSafe», которая значительно упростила
			процесс ручного обслуживания техники. По сегодняшний день каждая новая модель Liebherr
			неизменно поражает своими функциональными возможностями.
		</p>
		<p>
			В настоящее время спектр бытовой техники Liebherr невероятно широк. Ассортимент компании
			составляют устройства, встраиваемые под столешницу или в мебельные ниши кухонных гарнитуров,
			отдельностоящие приборы, морозильные лари, холодильно-морозильные комбинации, климатические
			шкафы для хранения вина и хьюмидоры. Инновационные концепции, современный дизайн,
			продуманные решения и высокое удобство использования — всё это отличает холодильную и
			морозильную технику Liebherr.
		</p>
	</div>
</article>