<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		<div class="sidebar">
			<ul class="work-link">
				<li class="work-link__item">
					<a class="work-link__a" href="/service/">Сервисные центры
					</a>
				</li>
				<li class="work-link__item">
					<a class="work-link__a" href="/documentation/">Техническая документация
					</a>
				</li>
				<li class="work-link__item">
					<a class="work-link__a" href="/warranty/">Официальная гарантия
					</a>
				</li>
			</ul>
			<div class="yandex">
				<div class="yandex__inner">
					<div class="yandex__logo">
						<img src="images/ylogo.png" alt="" srcset="" class="yandex__img">
					</div>
					<div class="yandex__ratings">
						<img src="images/5-stars.png" alt="" srcset="">
					</div>
					<a href="#" target="_blank" class="yandex__button">Оставить отзыв</a>
					<a href="#" target="_blank" class="yandex__button">Читать все отзывы</a>
				</div>
			</div>
			<div class="quality">
				<span class="quality__title">Контроль качества</span>
				<span class="quality__text">Номер для претензий и предложений:</span>
				<a href="tel:+74951201196" class="quality__number">+7 (495) 120-11-96</a>
				<span class="quality__worktime">с 9:00 до 18:00</span>
				<a href="#" class="quality__button" id="js-quality-opener">Написать</a>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="breadcrumbs">
			<a href="#" class="breadcrumbs__link">Liebherr</a>
			<span class="breadcrumbs__sep">/</span>
			<span class="breadcrumbs__text">Правила возврата и обмена</span>
		</div>
		<h1 class="title">
			Правила возврата и обмена
		</h1>
		<div class="text-default">
			<h5>
				Если у вас гарантийный случай
			</h5>
			<blockquote>
				<p>На всю продукцию Smeg, которая приобретена в нашем интернет-магазине, действует гарантия
					производителя.</p>
				<strong>
					Крупная бытовая техника
				</strong>
				<ul>
					<li>
						<p>Гарантия на крупную бытовую технику — 2 года.</p>
					</li>
					<li>
						<p>Гарантия на мелкую бытовую технику (чайники, тостеры) и смесители — 1 год.</p>
					</li>
					<li>
						<p>Гарантия действует только на приборы, которые эксплуатировались в домашних условиях.</p>
					</li>
				</ul>

				<strong>
					Профессиональная техника
				</strong>
				<p>Условия гарантии распространяются на оборудование Smeg, приобретенное в России.</p>
				<p>Гарантия на профессиональное оборудование — 2 года со дня покупки. </p>
				<a href="#">Подробнее о гарантийном ремонте</a>
			</blockquote>

			<h5>
				Если у вас <b>не гарантийный</b> случай
			</h5>
			<blockquote class="column">
				<p>Если срок гарантии закончился, то вы можете заполнить заявку на нашем сайте на <b>ремонт*:</b></p>
				<ul>
					<li>
						<p>Духовые шкафы</p>
					</li>
					<li>
						<p>Холодильники</p>
					</li>
					<li>
						<p>Варочные панели</p>
					</li>
					<li>
						<p>Вытяжки</p>
					</li>
					<li>
						<p>Варочные центры</p>
					</li>
				</ul>
				<ul>
					<li>
						<p>Микроволновые печи </p>
					</li>
					<li>
						<p>Подогреватели</p>
					</li>
					<li>
						<p>Вакууматоры</p>
					</li>
					<li>
						<p>Ящики сомелье</p>
					</li>
					<li>
						<p>Посудомоечные машины</p>
					</li>
				</ul>
				<ul>
					<li>
						<p>Стиральные машины</p>
					</li>
					<li>
						<p>Сушильные машины </p>
					</li>
					<li>
						<p>Кофемашины</p>
					</li>
				</ul>
				<p>Укажите ваш правильный телефон, категорию техники и кратко опишите проблему. </p>
				<p>С вами свяжется специалист сервисного центра, чтобы уточнить параметры заявки и время обслуживания.
				</p>
				<p class="time"><b>Время работы:</b> Пн-Пт: с 8:00 до 22:00; <br> Сб-Вс: с 9:00 до 22:00</p>
				<p><b>*Актуально для г. Москва.</b></p>
			</blockquote>
			<div class="return-exchange__item">
				<h3>
					Форма для рекламационных обращений
				</h3>
				<form name="" action="" method="post" enctype="" class="return-exchange__form">
					<input type="hidden" name="" value="">
					<input type="hidden" name="" value="">
					<div class="return-exchange__field">
						<span class="return-exchange__name">Педставьтесь, пожалуйста  <span class="return-exchange__required">*</span></span>
						<input type="text" name="" value="" class="return-exchange__input" title="Педставьтесь, пожалуйста *">
						<span class="return-exchange__error-text"></span>
					</div>


					<div class="return-exchange__field">
						<span class="return-exchange__name">Ваш телефон  <span
								class="return-exchange__required">*</span></span>
						<input type="tel" name="F[PHONE]" value="" class="return-exchange__input" title="Ваш телефон *">
						<span class="return-exchange__error-text"></span>
					</div>

					<div class="return-exchange__field">
						<span class="return-exchange__name">Метро</span>
						<input type="text" name="" value="" class="return-exchange__input" title="Номер заказа">
						<span class="return-exchange__error-text"></span>
					</div>
					<div class="return-exchange__field">
						<span class="return-exchange__name">Категория бытовой техники <span
								class="return-exchange__required">*</span></span>
								<select class="return-exchange__select"  size="1">
									<option value="Старальные машины" selected="">Старальные машины</option>
									<option value="Духовые шкафы">Духовые шкафы</option>
									<option value="Холодильники">Холодильники</option>
								</select>
						<span class="return-exchange__error-text"></span>
					</div>
					<div class="return-exchange__field">
						<span class="return-exchange__name">Причина обращения <span
								class="return-exchange__required">*</span></span>
						<textarea name="" rows="" cols="" class="return-exchange__textarea"
							title="Причина обращения"></textarea>
						<span class="return-exchange__error-text"></span>
					</div>
					<div class="return-exchange__field return-exchange__attachment">
						<label class="checkbox checkbox_oferta ">
							<input type="checkbox" name="" class="checkbox__input" checked="">
							<span class="checkbox__icon"></span>
							<span class="checkbox__text">Согласен с
								<a href="#">использованием персональных данных</a>для обработки обращения</span>
						</label>
						<div class="return-exchange__error-text js-field-error-text"></div>
					</div>
					<div class="return-exchange__submit return-exchange__attachment">
						<input type="submit" value="Отправить" class="btn-sub3 abuse-popup__submit" name="">
					</div>
				</form>
				<div  class="return-exchange__applications">
					*Все заявки направляются в партнерский Сервисный центр. Сайт sm-rus.ru не несет
					ответственности за работу Сервисного центра.
				</div>
				<!-- /.info -->
			</div>
		</div>
	</div>

</div>
