<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">
		<div class="breadcrumbs">
			<a href="#" class="breadcrumbs__link">Liebherr</a>
			<span class="breadcrumbs__sep">/</span>
			<span class="breadcrumbs__text">Правила возврата и обмена</span>
		</div>
		<h1 class="title">
			Правила возврата и обмена
		</h1>
		<div class="text-default">
			<p>
				<b>Правила приема товара</b>
				Внимательно осмотрите внешний вид техники и комплектацию. Убедитесь в отсутствии внешних дефектов до
				подписания договора. По результатам осмотра вы можете отказаться от товара, оформив акт об отказе.
				После передачи товара претензии к внешнему виду техники не принимаются.
			</p>
			<p>
				<b>Для физических лиц</b>
				<span>Обмен и возврат товара надлежащего качества</span>
				регулируется ЗОЗПП статьей 26.1 «Дистанционный способ продажи товара/, а также Постановлением
				Правительства Российской Федерации от 19 января 1998 года N 55, включая Перечень
				непродовольственных
				товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других
				размера,
				формы, габарита, фасона, расцветки или комплектации.
			</p>
			<p>
				<span>Обмен и возврат товара ненадлежащего качества </span>
				регулируется статьями: 18. Права потребителя при обнаружении в товаре недостатков, 19. Сроки
				Предъявления потребителем требований в отношении недостатков товара, 20. Устранение недостатков
				изготовителем, 21 Замена товара ненадлежащего качества, 22. Сроки удовлетворения отдельных требований
				потребителя, 23. Ответственность продавца, 24. Расчеты с потребителем в случае приобретения им товара
				ненадлежащего качества.
			</p>
			<p>

				В случае обнаружения дефекта товара необходимо обратиться в
				<a target="blank" class="index__a" href="06 - 03 - Service_desktop.html">
					авторизованный
					сервисный центр
				</a>
				для получения заключения.
			</p>
			<p>
				<b>Для юридических лиц</b>
				Отношения между юридическими лицами (индивидуальными предпринимателями) регулируются положениями
				заключенного договора поставки. В случае, если между сторонами не был заключен договор поставки, сделка
				регулируется нормами параграфа 3 «Поставка товаров/ главы 30 «Купля-продажа/ ГК РФ, Статья 518
				«Последствия поставки товаров ненадлежащего качества/ и Статья 523 «Односторонний отказ от исполнения
				договора поставки/.
			</p>
			<p>
				<b>Правила оформления претензии по товару</b>
				<strong style="margin-bottom:0;">Внимание! Претензии принимаются исключительно в письменном
					виде.</strong>
				Срок рассмотрения претензии с момента получения заявления составляет 10 дней.
				Убедительно просим вас сохранять оригиналы документов на покупку.

			</p>
			<blockquote id="claim-docs">
				<ol>
					Для того чтобы претензия была рассмотрена как можно быстрее, необходимо указать следующие
					данные:
					<li>
						Номер заказа
					</li>
					<li>
						Причину обращения (техника не работает, внешний вид, размер и т.п.)
					</li>
					<li>
						Требование (возврат денежных средств, обмен — с указанием модели и стоимости )
					</li>
					<li>
						Контактные данные
					</li>
				</ol>
				<ol>
					В приложении необходим следующий пакет документов:
					<li>
						Подписанное заявление с данными о номере заказа, причине обращения, требованиями и
						контактными данными.
					</li>
					<li>
						Скан заключения авторизованного сервисного центра (в случае технической неисправности).
					</li>
					<li>
						Фотографии повреждений (при наличии).
					</li>
					<li>
						Фотографии упаковки и товара (в случае если товар не подошел по внешнему виду, размеру,
						цвету и т.п.).
					</li>
					<li>
						Кассовый и товарный чек или товарная накладная.
					</li>
					<li>
						Гарантийный талон.
					</li>
				</ol>
				<a href="#">Скачать бланк заявления</a>
			</blockquote>

			<div class="return-exchange__item">
				<h3>
					Форма для рекламационных обращений
				</h3>
				<form name="" action="" method="post" enctype="" class="return-exchange__form">
					<input type="hidden" name="" value="">
					<input type="hidden" name="" value="">
					<div class="return-exchange__field">
						<span class="return-exchange__name">ФИО <span class="return-exchange__required">*</span></span>
						<input type="text" name="" value="" class="return-exchange__input" title="ФИО">
						<span class="return-exchange__error-text"></span>
					</div>
					<div class="return-exchange__field">
						<span class="return-exchange__name">E-mail <span
								class="return-exchange__required">*</span></span>
						<input type="text" name="" value="" class="return-exchange__input" title="E-mail">
						<span class="return-exchange__error-text"></span>
					</div>

					<div class="return-exchange__field">
						<span class="return-exchange__name">Телефон <span
								class="return-exchange__required">*</span></span>
						<input type="text" name="F[PHONE]" value="" class="return-exchange__input" title="Телефон">
						<span class="return-exchange__error-text"></span>
					</div>

					<div class="return-exchange__field">
						<span class="return-exchange__name">Номер заказа <span
								class="return-exchange__required">*</span></span>
						<input type="text" name="" value="" class="return-exchange__input" title="Номер заказа">
						<span class="return-exchange__error-text"></span>
					</div>

					<div class="return-exchange__field">
						<span class="return-exchange__name">Причина обращения <span
								class="return-exchange__required">*</span></span>
						<textarea name="" rows="" cols="" class="return-exchange__textarea"
							title="Причина обращения"></textarea>
						<span class="return-exchange__error-text"></span>
					</div>
					<div class="return-exchange__field return-exchange__attachment">
						<span class="return-exchange__copyright">Приложения<i> (Внимание!</i> Рекламация будет
							рассмотрена после получения<a href="#claim-docs"> полного пакета документов</a>)
						</span>
						<div class="return-exchange__file">
							<div class="button">ВЫБЕРИТЕ ФАЙЛ</div>
							<input name="files[]" type="file" multiple="multiple" class="multi" />
						</div>
					</div>
					<div class="return-exchange__field return-exchange__attachment">
						<label class="checkbox checkbox_oferta ">
							<input type="checkbox" name="" class="checkbox__input" checked="">
							<span class="checkbox__icon"></span>
							<span class="checkbox__text">Согласен с
								<a href="#">использованием персональных данных</a>для обработки обращения</span>
						</label>
						<div class="return-exchange__error-text js-field-error-text"></div>
					</div>
					<div class="return-exchange__submit return-exchange__attachment">
						<input type="submit" value="Отправить" class="btn-sub3 abuse-popup__submit" name="">
					</div>
				</form>
			</div>
		</div>
	</div>

</div>