<div class="gallery">

	<div class="swiper-container-main js-swiper-main">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">

			<div class="swiper-slide" id="bx_3218110189_6323">

				<picture>

					<source type="image/webp" class="lazyload"
						data-srcset="https://l-rus.ru/upload/iblock/187/187f667aae0c234ba78d2d926e1e84ef.webp">

					<img data-src="https://l-rus.ru/upload/iblock/187/187f667aae0c234ba78d2d926e1e84ef.jpg"
						alt="Холодильники Liebherr на сайте официального специализированного магазина"
						class="lazyload" />
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<h1 class="span span__small">Холодильники Liebherr на сайте официального специализированного
							магазина</h1>

					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_6320">

				<picture>

					<source type="image/webp" class="lazyload"
						data-srcset="https://l-rus.ru/upload/iblock/31a/31aea2330730709f9e135533ee1a1377.webp">

					<img data-src="https://l-rus.ru/upload/iblock/31a/31aea2330730709f9e135533ee1a1377.jpg"
						alt="Двухкамерные холодильники Liebherr" class="lazyload" />
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small"><a
								href="/liebherr/holodilniki/dvukhkamernye-kholodilniki-s-morozilnikom/">Двухкамерные
								холодильники Liebherr</a></span>

						<span class="span span__big">Приборы Comfort и&nbsp;Premium отличаются дизайном
							и&nbsp;функционалом. Высокое качество&nbsp;не зависит от&nbsp;класса.<br>
							<b>Цена от&nbsp;25490 до&nbsp;152990&nbsp;рублей.</b></span> <a
							href="/liebherr/holodilniki/dvukhkamernye-kholodilniki-s-morozilnikom/"
							title="Двухкамерные холодильники Liebherr" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_6317">

				<picture>

					<source type="image/webp" class="lazyload"
						data-srcset="https://l-rus.ru/upload/iblock/a36/a3672ea729191dbfca607f894ab3b2c4.webp">

					<img data-src="https://l-rus.ru/upload/iblock/a36/a3672ea729191dbfca607f894ab3b2c4.jpg"
						alt="Морозильные камеры Liebherr" class="lazyload" />
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small"><a href="/liebherr/holodilniki/morozilnye-kamery/">Морозильные
								камеры Liebherr</a></span>

						<span class="span span__big">Созданы для длительного бережного хранения продуктов разного типа.
							Автоматическая или ручная разморозка.<br>
							<b>Цена от 18990 до 214000 рублей</b></span> <a
							href="/liebherr/holodilniki/morozilnye-kamery/" title="Морозильные камеры Liebherr"
							class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_6319">

				<picture>

					<source type="image/webp" class="lazyload"
						data-srcset="https://l-rus.ru/upload/iblock/392/392cd32ea09240431033fb9598e2c893.webp">

					<img data-src="https://l-rus.ru/upload/iblock/392/392cd32ea09240431033fb9598e2c893.jpg"
						alt="Встраиваемые холодильники Liebherr" class="lazyload" />
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small"><a href="/liebherr/vstraivaemiye-holodilniki/">Встраиваемые
								холодильники Liebherr</a></span>

						<span class="span span__big">Разные габариты помогут подобрать прибор для любой кухни.
							По&nbsp;функционалу не&nbsp;уступают отдельностоящим.<br>
							<b>Цена от&nbsp;44490 до&nbsp;467990&nbsp;рублей.</b></span> <a
							href="/liebherr/vstraivaemiye-holodilniki/" title="Встраиваемые холодильники Liebherr"
							class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_6321">

				<picture>

					<source type="image/webp" class="lazyload"
						data-srcset="https://l-rus.ru/upload/iblock/8b6/8b62cfd31d8709c747b56469c12e2870.webp">

					<img data-src="https://l-rus.ru/upload/iblock/8b6/8b62cfd31d8709c747b56469c12e2870.jpg"
						alt="Холодильники Side-by-Side Liebherr" class="lazyload" />
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small"><a href="/liebherr/holodilniki/side-by-side/">Холодильники
								Side-by-Side Liebherr</a></span>

						<span class="span span__big">Модели класса Premium большой вместимости и&nbsp;расширенного
							функционала. Различное расположение камер.<br>
							<b>Цена от&nbsp;117490 до&nbsp;341990&nbsp;рублей.</b></span> <a
							href="/liebherr/holodilniki/side-by-side/" title="Холодильники Side-by-Side Liebherr"
							class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_6322">

				<picture>

					<source type="image/webp" class="lazyload"
						data-srcset="https://l-rus.ru/upload/iblock/c18/c186cd7eb2457710c7bd2e25e6b77d8c.webp">

					<img data-src="https://l-rus.ru/upload/iblock/c18/c186cd7eb2457710c7bd2e25e6b77d8c.jpg"
						alt="Однокамерные холодильники Liebherr" class="lazyload" />
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small"><a
								href="/liebherr/holodilniki/odnokamernye-kholodilniki-bez-morozilnika/">Однокамерные
								холодильники Liebherr</a></span>

						<span class="span span__big">Различные габариты и&nbsp;функционал&nbsp;— для любых условий.
							Специальные камеры BioFresh для овощей и&nbsp;фруктов.<br>
							<b>От&nbsp;17990 до&nbsp;132490 рублей.</b></span> <a
							href="/liebherr/holodilniki/odnokamernye-kholodilniki-bez-morozilnika/"
							title="Однокамерные холодильники Liebherr" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_2085">

				<picture>

					<source type="image/webp" class="lazyload"
						data-srcset="https://l-rus.ru/upload/iblock/408/4089b2cd344974a335ae5b975070ef63.webp">

					<img data-src="https://l-rus.ru/upload/iblock/408/4089b2cd344974a335ae5b975070ef63.jpg" alt="5 самых популярных"
						class="lazyload" />
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small">5 лучших холодильников Liebherr
						</span>

						<span class="span span__big">Обзор самых популярных моделей по результатам продаж.</span> <a
							href="/news/5-samykh-populyarnykh-kholodilnikov-liebherr.html" title="5 самых популярных"
							class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev swiper-button-main main_prev"></div>
		<div class="swiper-button-next swiper-button-main main_next"></div>

		<!-- If we need scrollbar -->
		<div class="swiper-scrollbar"></div>
	</div>
<div class="gallery__items">

	<div class="gallery__tablet">

		<div class="gallery__el" id="bx_651765591_26125">
			<a class="gallery__link" href="/otzyvy/" title="Отзывы">

				<picture>

					<source type="image/webp" data-srcset="https://vestfrost.ret-team.ru/upload/iblock/d28/d289c91b88ea0d83ace4bf1ab8f0373c.webp"
						srcset="https://vestfrost.ret-team.ru/upload/iblock/d28/d289c91b88ea0d83ace4bf1ab8f0373c.webp">

					<img data-src="https://vestfrost.ret-team.ru/upload/iblock/d28/d289c91b88ea0d83ace4bf1ab8f0373c.jpg" alt="Отзывы"
						class=" ls-is-cached lazyloaded" src="https://vestfrost.ret-team.ru/upload/iblock/d28/d289c91b88ea0d83ace4bf1ab8f0373c.jpg">
				</picture>

				<div class="gallery__parent">
					<span class="gallery__article">Отзывы</span>
					<span class="gallery__text">Отзывы о технике Vestfrost</span>
				</div>
			</a>
		</div>

		<div class="gallery__el" id="bx_651765591_25559">
			<a class="gallery__link" href="/guarantee/" title="Официальная гарантия">

				<picture>

					<source type="image/webp" data-srcset="https://vestfrost.ret-team.ru/upload/iblock/ed5/ed5538b789b279e67fb24f3355e56214.webp"
						srcset="https://vestfrost.ret-team.ru/upload/iblock/ed5/ed5538b789b279e67fb24f3355e56214.webp">

					<img data-src="https://vestfrost.ret-team.ru/upload/iblock/ed5/ed5538b789b279e67fb24f3355e56214.jpg" alt="Официальная гарантия"
						class=" ls-is-cached lazyloaded" src="https://vestfrost.ret-team.ru/upload/iblock/ed5/ed5538b789b279e67fb24f3355e56214.jpg">
				</picture>

				<div class="gallery__parent">
					<span class="gallery__article">Официальная гарантия</span>
					<span class="gallery__text">Гарантийный сервис Vesfrost</span>
				</div>
			</a>
		</div>

		<div class="gallery__el" id="bx_651765591_25560">
			<a class="gallery__link" href="/services/" title="Сервис и обслуживание">

				<picture>

					<source type="image/webp" data-srcset="https://vestfrost.ret-team.ru/upload/iblock/4d2/4d23ec033def3d74c7838b39d2c1a1ec.webp"
						srcset="https://vestfrost.ret-team.ru/upload/iblock/4d2/4d23ec033def3d74c7838b39d2c1a1ec.webp">

					<img data-src="https://vestfrost.ret-team.ru/upload/iblock/4d2/4d23ec033def3d74c7838b39d2c1a1ec.jpg" alt="Сервис и обслуживание"
						class=" ls-is-cached lazyloaded" src="https://vestfrost.ret-team.ru/upload/iblock/4d2/4d23ec033def3d74c7838b39d2c1a1ec.jpg">
				</picture>

				<div class="gallery__parent">
					<span class="gallery__article">Сервис и обслуживание</span>
					<span class="gallery__text">Об установке и подключении</span>
				</div>
			</a>
		</div>

		<div class="gallery__el" id="bx_651765591_25561">
			<a class="gallery__link" href="/glossary/" title="Глоссарий">

				<picture>

					<source type="image/webp" data-srcset="https://vestfrost.ret-team.ru/upload/iblock/f39/f399a96316a3d41387df3dc1e61b0edc.webp"
						srcset="https://vestfrost.ret-team.ru/upload/iblock/f39/f399a96316a3d41387df3dc1e61b0edc.webp">

					<img data-src="https://vestfrost.ret-team.ru/upload/iblock/f39/f399a96316a3d41387df3dc1e61b0edc.jpg" alt="Глоссарий"
						class=" ls-is-cached lazyloaded" src="https://vestfrost.ret-team.ru/upload/iblock/f39/f399a96316a3d41387df3dc1e61b0edc.jpg">
				</picture>

				<div class="gallery__parent">
					<span class="gallery__article">Глоссарий</span>
					<span class="gallery__text">Технологии компании Vesfrost</span>
				</div>
			</a>
		</div>
	</div>

</div>
</div>
