<div class="gallery">

	<div class="swiper-container-main js-swiper-main">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">

			<div class="swiper-slide" id="bx_3218110189_6323">

				<picture>

					<source type="image/webp" class="lazyload"
						data-srcset="https://l-rus.ru/upload/iblock/187/187f667aae0c234ba78d2d926e1e84ef.webp">

					<img data-src="https://l-rus.ru/upload/iblock/187/187f667aae0c234ba78d2d926e1e84ef.jpg"
						alt="Холодильники Liebherr на сайте официального специализированного магазина"
						class="lazyload" />
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<h1 class="span span__small">Холодильники Liebherr на сайте официального специализированного
							магазина</h1>

					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_6320">

				<picture>

					<source type="image/webp" class="lazyload"
						data-srcset="https://l-rus.ru/upload/iblock/31a/31aea2330730709f9e135533ee1a1377.webp">

					<img data-src="https://l-rus.ru/upload/iblock/31a/31aea2330730709f9e135533ee1a1377.jpg"
						alt="Двухкамерные холодильники Liebherr" class="lazyload" />
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small"><a
								href="/liebherr/holodilniki/dvukhkamernye-kholodilniki-s-morozilnikom/">Двухкамерные
								холодильники Liebherr</a></span>

						<span class="span span__big">Приборы Comfort и&nbsp;Premium отличаются дизайном
							и&nbsp;функционалом. Высокое качество&nbsp;не зависит от&nbsp;класса.<br>
							<b>Цена от&nbsp;25490 до&nbsp;152990&nbsp;рублей.</b></span> <a
							href="/liebherr/holodilniki/dvukhkamernye-kholodilniki-s-morozilnikom/"
							title="Двухкамерные холодильники Liebherr" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_6317">

				<picture>

					<source type="image/webp" class="lazyload"
						data-srcset="https://l-rus.ru/upload/iblock/a36/a3672ea729191dbfca607f894ab3b2c4.webp">

					<img data-src="https://l-rus.ru/upload/iblock/a36/a3672ea729191dbfca607f894ab3b2c4.jpg"
						alt="Морозильные камеры Liebherr" class="lazyload" />
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small"><a href="/liebherr/holodilniki/morozilnye-kamery/">Морозильные
								камеры Liebherr</a></span>

						<span class="span span__big">Созданы для длительного бережного хранения продуктов разного типа.
							Автоматическая или ручная разморозка.<br>
							<b>Цена от 18990 до 214000 рублей</b></span> <a
							href="/liebherr/holodilniki/morozilnye-kamery/" title="Морозильные камеры Liebherr"
							class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_6319">

				<picture>

					<source type="image/webp" class="lazyload"
						data-srcset="https://l-rus.ru/upload/iblock/392/392cd32ea09240431033fb9598e2c893.webp">

					<img data-src="https://l-rus.ru/upload/iblock/392/392cd32ea09240431033fb9598e2c893.jpg"
						alt="Встраиваемые холодильники Liebherr" class="lazyload" />
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small"><a href="/liebherr/vstraivaemiye-holodilniki/">Встраиваемые
								холодильники Liebherr</a></span>

						<span class="span span__big">Разные габариты помогут подобрать прибор для любой кухни.
							По&nbsp;функционалу не&nbsp;уступают отдельностоящим.<br>
							<b>Цена от&nbsp;44490 до&nbsp;467990&nbsp;рублей.</b></span> <a
							href="/liebherr/vstraivaemiye-holodilniki/" title="Встраиваемые холодильники Liebherr"
							class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_6321">

				<picture>

					<source type="image/webp" class="lazyload"
						data-srcset="https://l-rus.ru/upload/iblock/8b6/8b62cfd31d8709c747b56469c12e2870.webp">

					<img data-src="https://l-rus.ru/upload/iblock/8b6/8b62cfd31d8709c747b56469c12e2870.jpg"
						alt="Холодильники Side-by-Side Liebherr" class="lazyload" />
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small"><a href="/liebherr/holodilniki/side-by-side/">Холодильники
								Side-by-Side Liebherr</a></span>

						<span class="span span__big">Модели класса Premium большой вместимости и&nbsp;расширенного
							функционала. Различное расположение камер.<br>
							<b>Цена от&nbsp;117490 до&nbsp;341990&nbsp;рублей.</b></span> <a
							href="/liebherr/holodilniki/side-by-side/" title="Холодильники Side-by-Side Liebherr"
							class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_6322">

				<picture>

					<source type="image/webp" class="lazyload"
						data-srcset="https://l-rus.ru/upload/iblock/c18/c186cd7eb2457710c7bd2e25e6b77d8c.webp">

					<img data-src="https://l-rus.ru/upload/iblock/c18/c186cd7eb2457710c7bd2e25e6b77d8c.jpg"
						alt="Однокамерные холодильники Liebherr" class="lazyload" />
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small"><a
								href="/liebherr/holodilniki/odnokamernye-kholodilniki-bez-morozilnika/">Однокамерные
								холодильники Liebherr</a></span>

						<span class="span span__big">Различные габариты и&nbsp;функционал&nbsp;— для любых условий.
							Специальные камеры BioFresh для овощей и&nbsp;фруктов.<br>
							<b>От&nbsp;17990 до&nbsp;132490 рублей.</b></span> <a
							href="/liebherr/holodilniki/odnokamernye-kholodilniki-bez-morozilnika/"
							title="Однокамерные холодильники Liebherr" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide" id="bx_3218110189_2085">

				<picture>

					<source type="image/webp" class="lazyload"
						data-srcset="https://l-rus.ru/upload/iblock/408/4089b2cd344974a335ae5b975070ef63.webp">

					<img data-src="https://l-rus.ru/upload/iblock/408/4089b2cd344974a335ae5b975070ef63.jpg" alt="5 самых популярных"
						class="lazyload" />
				</picture>

				<div class="swiper__item">
					<div class="swiper__title">

						<span class="span span__small">5 лучших холодильников Liebherr
						</span>

						<span class="span span__big">Обзор самых популярных моделей по результатам продаж.</span> <a
							href="/news/5-samykh-populyarnykh-kholodilnikov-liebherr.html" title="5 самых популярных"
							class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>

		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev swiper-button-main main_prev"></div>
		<div class="swiper-button-next swiper-button-main main_next"></div>

		<!-- If we need scrollbar -->
		<div class="swiper-scrollbar"></div>
	</div>
	<div class="gallery__items">

		<div class="gallery__item js-gallery__item  closed">
			<div class="swiper-wrapper">

				<div class="swiper-slide">

					<picture>

						<source type="image/webp" class="lazyload"
							data-srcset="https://l-rus.ru/upload/iblock/467/467f05ad976926454993e9facfb68ca2.webp">

						<img data-src="https://l-rus.ru/upload/iblock/467/467f05ad976926454993e9facfb68ca2.png" alt="Слайд 1"
							class="services__bg lazyload" />
					</picture>

					<div class="gallery__point" style="left: 95px;top: 380px;">
						<div class="gallery__description">Door sliding - («скользящая дверь) - это система монтажа, при
							которой дверь холодильника с мебельной дверью соединена направляющими. При установке
							встраиваемых холодильников мебельная дверь крепится непосредственно к мебельной нише. При
							открывании или закрывании дверь ниши плавно двигается по направляющим.</div>
					</div>

					<div class="gallery__point" style="left: 230px;top: 330px;">
						<div class="gallery__description">Амортизирующий доводчик двери SoftSystem.</div>
					</div>

					<div class="gallery__point" style="left: 200px;top: 100px;">
						<div class="gallery__description">HolidayMode - выбор данного режима обеспечивает поддержание
							постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев
							установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования
							посторонних запахов в пустой камере.</div>
					</div>

					<div class="gallery__point" style="left: 70px;top: 300px;">
						<div class="gallery__description">У&nbsp;отдельно стоящих моделей&nbsp;&mdash; ручка
							со&nbsp;встроенным толкателем.</div>
					</div>

				</div>

				<div class="swiper-slide">

					<picture>

						<source type="image/webp" class="lazyload"
							data-srcset="https://l-rus.ru/upload/iblock/f61/f610e7b843167216edce133492afc990.webp">

						<img data-src="https://l-rus.ru/upload/iblock/f61/f610e7b843167216edce133492afc990.png" alt="Слайд 2"
							class="services__bg lazyload" />
					</picture>

					<div class="gallery__point" style="left: 130px;bottom: 320px;">
						<div class="gallery__description">BiofreshPlus&nbsp;&mdash; обеспечивает еще большую
							функциональность и&nbsp;позволяет рационально использовать внутреннее пространство
							холодильника в&nbsp;зависимости от&nbsp;Ваших потребностей. Электронная система управления
							встроена в&nbsp;пластину, расположенную между холодильной и&nbsp;морозильной камерами.
							С&nbsp;ее&nbsp;помощью, например, можно установить значение температуры в&nbsp;верхнем
							контейнере 2&deg;С, создав тем самым оптимальные условия для хранения рыбы. Одновременная
							установка низкого уровня влажности позволит сохранить рыбу свежей на&nbsp;максимально
							длительный срок, в&nbsp;то&nbsp;время как установка в&nbsp;другом контейнере высокого уровня
							влажности при температуре +6&deg;С создаст оптимальные условия для хранения овощей
							и&nbsp;фруктов. Использование современных технологий позволяет устанавливать в&nbsp;верхнем
							контейнере секции BioFresh любое необходимое значение температуры. Для нижнего контейнера
							можно установить любой уровень влажности при сохранении уровня температуры около 0&deg;С.
						</div>
					</div>

					<div class="gallery__point" style="left: 150px;top: 450px;">
						<div class="gallery__description">DuoCooling&nbsp;&mdash; система DuoCooling дает возможность
							точно настроить температуру в&nbsp;холодильном и&nbsp;морозильном отделениях двухкамерного
							холодильника, благодаря наличию двух полностью независимых холодильных контуров. Помимо
							этого, между холодильной и&nbsp;морозильной камерами отсутствует воздухообмен, что
							препятствует возникновению неприятного запаха и&nbsp;подсыханию хранящихся продуктов
							питания.</div>
					</div>

					<div class="gallery__point" style="left: 185px;top: 30px;">
						<div class="gallery__description">MagicEye&nbsp;&mdash; это абсолютно новый вариант панели
							управления холодильником, которая состоит из&nbsp;дисплея и&nbsp;клавиш управления.
							На&nbsp;дисплее отображается внутренний температурный режим каждой из&nbsp;камер
							холодильника. При желании можно изменить температуру камер, стоит только нажать нужные
							клавиши, и&nbsp;электроника сделает все за&nbsp;вас.</div>
					</div>

					<div class="gallery__point" style="left: 100px;top: 30px;">
						<div class="gallery__description">FrostControl&nbsp;&mdash; эта функция нужна для того, чтобы
							продукты, хранимые в&nbsp;холодильнике, были безопасными и&nbsp;не&nbsp;портились. Особенно
							это становится важным, когда происходит длительное отключение электропитания холодильника.
							При этом холодильник &laquo;запоминает&raquo; температурный режим, который был в&nbsp;камере
							на&nbsp;момент отключения и&nbsp;при повторном включении электричества воспроизводит
							ее&nbsp;заново. Для удобства пользователей в&nbsp;этой системе есть специальный дисплей
							с&nbsp;индикацией. После нажатия кнопки &laquo;Alarm&raquo;, в&nbsp;течение примерно одной
							минуты можно будет увидеть максимальное значение температурного режима в&nbsp;камере. Такая
							функция позволяет решить: стоит&nbsp;ли охлаждать или замораживать продукты заново или лучше
							уже сегодня подать на&nbsp;стол.
						</div>
					</div>

					<div class="gallery__point" style="left: 110px;top: 400px;">
						<div class="gallery__description">Календарь хранения замороженных продуктов&nbsp;&mdash;
							на&nbsp;подобных календарях можно записать вид хранимого продукта и&nbsp;срок его хранения.
							Эти карточки со&nbsp;списком замороженных продуктов крепятся на&nbsp;стенках или дверках
							секционных отделений морозильной камеры. На&nbsp;холодильниках класса Premium
							с&nbsp;электронным дисплеем используются электронные календари, на&nbsp;которых отображаются
							сведения о&nbsp;месте нахождения продукта, времени, когда он&nbsp;был куплен, а&nbsp;также
							об&nbsp;очередности потребления хранящихся в&nbsp;камере продуктов. Микропроцессор подает
							предупредительный сигнал, когда срок хранения истекает.</div>
					</div>

					<div class="gallery__point" style="left: 210px;top: 170px;">
						<div class="gallery__description">Полки в&nbsp;моделях Premium GlassLine выполнены
							из&nbsp;стекла с&nbsp;полосой из&nbsp;нержавеющей стали.</div>
					</div>

				</div>

			</div>
			<span class="button__open js-button__open"></span>
		</div>

		<div class="gallery__tablet">

			<div class="gallery__el" id="bx_651765591_2055">
				<a class="gallery__link" href="/guarantee/" title="Официальная гарантия">

					<picture>

						<source type="image/webp" class="lazyload"
							data-srcset="https://l-rus.ru/upload/iblock/a69/a6941641d7c9a73d99e491ffe72c1c4b.webp">

						<img data-src="https://l-rus.ru/upload/iblock/a69/a6941641d7c9a73d99e491ffe72c1c4b.jpg"
							alt="Официальная гарантия" class="lazyload" />
					</picture>

					<div class="gallery__parent">
						<span class="gallery__article">Официальная гарантия</span>
						<span class="gallery__text">Гарантийный сервис Liebherr</span>
					</div>
				</a>
			</div>

			<div class="gallery__el" id="bx_651765591_2056">
				<a class="gallery__link" href="/services/" title="Сервис и обслуживание">

					<picture>

						<source type="image/webp" class="lazyload"
							data-srcset="https://l-rus.ru/upload/resize_cache/iblock/36c/272_150_2/36c4f1e5618b3221491632fb1701ccee.webp">

						<img data-src="https://l-rus.ru/upload/resize_cache/iblock/36c/272_150_2/36c4f1e5618b3221491632fb1701ccee.jpg"
							alt="Сервис и обслуживание" class="lazyload" />
					</picture>

					<div class="gallery__parent">
						<span class="gallery__article">Сервис и обслуживание</span>
						<span class="gallery__text">Об установке и подключении</span>
					</div>
				</a>
			</div>

			<div class="gallery__el" id="bx_651765591_2057">
				<a class="gallery__link" href="/glossary/" title="Глоссарий">

					<picture>

						<source type="image/webp" class="lazyload"
							data-srcset="https://l-rus.ru/upload/iblock/155/155b3acdbbd6571a39478ca6dfed8279.webp">

						<img data-src="https://l-rus.ru/upload/iblock/155/155b3acdbbd6571a39478ca6dfed8279.jpg" alt="Глоссарий"
							class="lazyload" />
					</picture>

					<div class="gallery__parent">
						<span class="gallery__article">Глоссарий</span>
						<span class="gallery__text">Технологии компании Liebherr</span>
					</div>
				</a>
			</div>
		</div>

	</div>
</div>
