.gallery {
	max-width: 1436px;
	margin-left: auto;
	width: 100%;
	margin-right: auto;
	position: relative;
	background-color: #f1f1f1;
	margin-bottom: 45px;

	img {
		width: auto;
		height: 100% !important;

	}

	.swiper-container-main {
		position: relative;
		overflow: hidden;
	}

	&__items {
		display: flex;
		max-width: 1240px;
		align-items: flex-start;
		margin-left: auto;
		margin-right: auto;
		padding: 26px 33px;
		width: 100%;
	}

	&__item {
		width: 100%;
		height: auto;
		flex-shrink: 0;
		margin-top: 0px;
		z-index: 9;
		margin-left: 0;
		margin-bottom: 0;
		position: relative;
		display: flex;
		position: relative;
		list-style: none;
		// max-height: 458px;


		.swiper-wrapper {
			height: 100%;
			width: 100%;
			// transform: none !important;

			// .swiper-slide {
			// 	opacity: 0;
			// 	// max-width:471px ;
			// }

			// .swiper-slide-active {
			// 	opacity: 1;
			// }

			// .swiper-slide-next,.swiper-slide-prev{
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// }
		}

		.button__open {
			width: 34px;
			height: 34px;
			border-radius: 3px;
			background-color: #394791;
			color: #ffffff;
			background: url("../images/holod-button.png") no-repeat;
			position: absolute;
			top: 5%;
			left: 5%;
			z-index: 9999;
			overflow: hidden;
			cursor: pointer;


			&:after {
				content: "";
				position: absolute;
				border-radius: 3px;
				top: 0;
				left: -18px;
				width: 205%;
				height: 100%;
				background: linear-gradient(to left, rgba(255, 255, 255, .0), rgba(255, 255, 255, .8), rgba(255, 255, 255, .0)) no-repeat -2em 0%;
				background-size: 2em 100%;
				// -moz-transform: skewX(-50deg);
				// -o-transform: skewX(-50deg);
				// -webkit-transform: skewX(-50deg);
				transform: skewX(-50deg);
			}

			&.blink_on:after {
				transition: 1.5s linear;
				background-position: 60px 0%;

			}

			&.active {
				transform: rotate(180deg);

				&:after {
					transform: skewX(-50deg) rotate(-180deg);
				}

			}
		}

		.swiper-slide {
			padding-left: 0px;
			display: flex;
		}
	}

	&__point {
		position: absolute;
		width: 32px;
		height: 32px;
		background: url("../images/point-small.svg") 0/32px no-repeat;
		cursor: pointer;
		z-index: 9;

		&.active {
			width: 48px;
			height: 48px;
			background: url("../images/point-big.svg") 0/48px no-repeat;

			.gallery__description {
				display: block;
			}
		}
	}

	&__description {
		// display: none;
		position: absolute;
		width: 372px;
		// left: 40px;
		right: 0px;
		top: 50%;
		height: auto;
		// transform: translateY(-50%);
		border-radius: 2px;
		// box-shadow: 0 2px 12px 0 rgba(82, 64, 64, 0.17);
		background-color: #ffffff;
		padding: 8px 11px 8px 0;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: condensed;
		line-height: normal;
		letter-spacing: normal;
		color: #212121;
		z-index: 99999;
		flex-direction: column;
		// display: flex;
		align-items: baseline;
		// justify-content: center;
		padding-top: 0px;
		z-index: -1;
		transition: 0s;

		img {
			margin-bottom: 24px;
		}
	}

	&__subtitle {
		margin-bottom: 24px;
		color: #333333;
		font-family: "Roboto Condensed";
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
	}

	&__tablet {
		display: flex;
		align-items: flex-start;
		width: 100%;

		.gallery__text {
			padding: 0 12px 10px;
			margin-bottom: unset;
		}
	}

	&__el {
		margin-right: auto;
		display: flex;
		background-color: #ffffff;
		// height: 230px;
		// flex-grow: 1;
		height: 230px;
		width: calc(25% - 22px);


		.gallery__parent {
			display: flex;
			flex-direction: column;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}

	&__link {
		display: flex;
		flex-direction: column;
		width: 100%;
		z-index: 9;

		img {
			width: 100%;
			max-width: 100%;
			height: auto;
			max-height: 100%;
			object-fit: cover;
		}


		&:hover {
			text-decoration: none !important;

			.gallery__article {
				color: $base;
				text-decoration: underline;
			}
		}
	}

	&__article {
		font-size: 22px;
		font-weight: normal;
		font-style: normal;
		font-stretch: condensed;
		line-height: 1.27;
		letter-spacing: normal;
		color: #212121;
		padding: 14px 12px 9px 12px;
	}

	&__text {
		padding: 0;
		text-decoration: none !important;
		color: #666666;
		font-family: Arial;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		margin-bottom: 24px;
	}

	.swiper-scrollbar {
		display: none;
	}

	.swiper {
		&-slide {
			padding-left: 0px;
			// display: flex;
			// align-items: baseline;
			// justify-content: flex-end;
			overflow: hidden;

			img {
				max-width: unset;

				@media only screen and (max-width: 1024px) {
					transform: translateX(-10%);
				}
			}

			picture {
				height: 100%;
			}
		}

		&__item {
			position: absolute;
			align-items: flex-start;
			top: 0;
			left: 0;
			width: 100%;
			max-width: 100%;
			height: 100%;
			max-height: 100%;
			display: flex;
			flex-wrap: wrap;
			padding-top: 44px;
			// background: #0000006b
		}

		&__title {
			width: 516px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-left: 130px;
			margin-top: 0;
			border-radius: 3px;
			background-color: rgba(57, 71, 145, .81176);
			padding-left: 44px;
			padding-top: 29px;
			padding-bottom: 32px;
			padding-right: 26px;

			.span {

				&__small {
					color: #ffffff;
					font-family: "Roboto Condensed";
					font-size: 30px;
					font-weight: 400;
					line-height: 40px;
					margin-bottom: 16px;

					a {
						color: #ffffff;
						text-decoration: none;
					}
				}

				&__big {
					color: #ffffff;
					font-family: "Roboto Condensed";
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					margin-bottom: 13px;
				}
			}

			@media only screen and (max-width: 1024px) {
				margin-left: 18px;
			}
		}

		&__box {
			width: 100%;
			display: flex;
			justify-content: center;
			margin-top: -80px;
		}

		&__link {
			width: auto;
			height: 34px;
			align-self: flex-start;
			display: flex;
			justify-content: center;
			padding: 8px 16px;
			border-radius: 2px;
			border: solid 1px #ffffff;
			max-width: 172px;
			font-size: 14px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: left;
			color: #ffffff;
			text-transform: uppercase;
			text-decoration: none !important;
		}

		&-pagination {
			width: auto !important;
			transform: translateX(-50%);
			left: 50% !important;
			// border-radius: 8px;
			// background-color: rgba(102, 102, 102, 0.6);
			display: flex;
			padding: 0 6px;

			&-bullet {
				opacity: 0.5;
				margin: 3px 8px !important;
				background: #ffffff !important;
			}
		}

		&-pagination-bullet-active {
			background: $base !important;
			box-sizing: border-box;
			opacity: 1;
		}

		&-button-main {
			opacity: 0;
		}

	}

	&__pagination {
		right: 124px;
	}


}

.new-gallery {
	// height: 604px;
	display: flex;
	flex-direction: column;
	position: relative;
	// max-height: 604px;
	margin-bottom: 24px;

	.new-gallery__title {
		color: #333333;
		font-size: 26px;
		font-weight: 400;
		line-height: 24px;
		max-width: 73%;
		margin-bottom: 60px;
	}

	picture {
		width: 471px;
		flex-shrink: 0;
	}

	.gallery__parent {
		width: auto;
		height: 100%;
		// position: absolute;
		transition: 0s;
		top: 0;
		max-width: 100%;

		// margin-left: 24px;

		.gallery__description {
			opacity: 0;
		}

		&.active {
			padding-left: 24px;
			position: unset;

			.gallery__description {
				display: flex;
				z-index: 1;
				position: unset;
				opacity: 1;
				// width: calc(100% - 471px);

			}

			img {
				width: auto;
				max-width: 100%;
				height: auto;
				max-height: 100%;
			}

			.gallery__point {
				width: 48px;
				height: 48px;
				background: url("../images/point-big.svg") 0/48px no-repeat;
			}

		}
	}

	.gallery__item {
		.swiper-slide {
			display: flex;
			overflow: hidden;
		}
	}

}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 767px) {
	.gallery {
		margin-bottom: 28px;
		max-width: 100%;

		.swiper-container-main {
			height: 440px;
		}

		.swiper-slide {
			flex-direction: column;
			align-content: baseline;
			justify-content: flex-start;
			overflow: hidden;
			display: flex;

			// display: none;

			// &-active,&-next {
			// 	display: flex;
			// }

			img {

				max-width: unset !important;
				height: 220px !important;
				display: block;
				position: absolute;
				top: 0;
				// right: 0px;
				right: -144px;
			}

		}

		.swiper__item {
			position: static;
			height: auto;
			background-color: #394791;
			padding-top: 0;
			flex-grow: 1;
			align-items: center;
			flex-direction: column;
			display: flex;
			// padding-top: 225px;
			height: 220px;
			justify-content: center;

			.gallery__parent {
				min-width: 212px;
			}

		}

		.swiper__title {
			padding: 34px 16px 16px;
			flex-grow: 1;
			width: 100%;
			margin-left: 0;
			background-color: #666666;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;


			.span__small {
				margin-bottom: 8px;
				color: #ffffff;
				font-family: "Roboto Condensed";
				font-size: 30px;
				font-weight: 400;
				line-height: 34px;
				text-align: center;

			}

			.span__big {
				margin-bottom: 13px;
				color: #ffffff;
				font-family: Arial;
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				text-align: center;
			}

			.swiper__link {
				margin: auto auto 0;
			}

			p {
				margin-bottom: 0;
			}
		}

		.swiper-wrapper {
			// align-items: baseline;
		}

		.swiper-pagination {
			display: none;
		}

		.gallery {

			&__items {
				padding: 16px;
			}

			&__item {
				display: none;
			}

			&__article {
				color: #212121;
				font-family: "Roboto Condensed";
				font-size: 16px;
				font-weight: 400;
				line-height: 22px;
				padding: 6px 16px 4px;
			}

			&__text {
				color: #666666;
				font-family: Arial;
				font-size: 14px;
				line-height: 19px;
				padding: 0px 12px 5px 16px;
			}


			&__tablet {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				// padding-left: 10%;
			}

			&__el {
				height: unset;
				margin-left: unset;
				width: 100%;
				margin-bottom: 7px;
				flex-basis: unset;

				&:last-child {
					margin-bottom: 0;
				}
			}

			&__link {
				flex-direction: row;
				margin: 0 auto;
				align-items: center;

				picture {
					width: 21%;
					height: auto;
					height: 100%;
					position: relative;
					top: 0;
					overflow: hidden;
					padding-top: 12%;
				}

				img {
					height: auto;
					max-width: unset;
					min-height: 56px;
					position: absolute;
					top: 0;
					/* left: 0; */
					right: 0;
				}
			}
		}

		&+.special-offers {
			margin-top: 0px;
		}

		&+.js-ecom_product-list[data-list="Main Result"] {

			.special-offers {
				margin-top: 0px;
			}
		}
	}

	.new-gallery {
		height: auto;
		max-height: unset;

		* {
			transition: 0.4s;
		}

		.swiper-slide {
			display: flex !important;

			// overflow: visible !important;
			.services__bg {
				display: none;
			}
		}

		.gallery__text {
			padding: 0;
		}

		.new-gallery__title {
			color: #333333;
			font-size: 26px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 30px;
		}

		.gallery__prev,
		.gallery__next {
			display: block !important;
			top: 25px;
		}

		picture {
			display: none;
		}

		.gallery__parent {
			display: flex;
			flex-shrink: 0;
			padding-left: 0;
			height: 0;

			.gallery__description {
				display: flex;
			}

			&.active {
				padding-left: 0;
				display: flex;
				position: static !important;
				order: -1;
				height: auto;
			}

			.gallery__description {
				left: 0;
				padding: 8px 11px 8px 0;
				max-width: 100%;
				position: static !important;
				transform: translateY(0%);
				display: flex !important;
				width: 100%;
			}

			.gallery__point {
				display: none;
			}
		}
	}
}
