.logo {
	// margin: auto 0;
	display: flex;
	// height: 51px;
	margin-top: -6px;

	&__link {
		text-decoration: none;
		display: block;
		width: 122px;
	}

	&__pic {
		display: block;
		max-width: 100%;
		width: auto;
		height: auto;
	}

	@media screen and (max-width: 767px) {
		position: unset;
		order: -1;
		// max-width: 90px;
		max-width: 102px;
		width: auto;
		height: 27px;
		display: flex;
		margin-right: 10px;
		align-items: center;
		margin-top: 0;

		.logo__link {
			// min-width: unset;
			// width: auto;
		}

		&__pic {
			display: flex;
			height: auto;
		}
	}

	// @media screen and (max-width: 480px) {
	// 	width: 118px;
	// }
}
