<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">

		<div class="breadcrumbs">
			<a href="#" class="breadcrumbs__link">Liebherr</a>
			<span class="breadcrumbs__sep">/</span>
			<span class="breadcrumbs__text">Контакты</span>
		</div>
		<h1 class="title">
			Глоссарий
		</h1>
		<form class="search-found__form" action="" method="get">
			<input type="text" name="q" placeholder="Холодильник"><input type="submit" value="Найти" class="btn-sub3 abuse-popup__submit"
			 name="">
		</form>
		<div class="glossary js-glossary closed">
			<div class="glossary__title js-glossary__title">Свежесть</div>
			<div class="glossary__items js-glossary__items">
				<a href="#" class="glossary__item js-glossary__item">BluPerformance</a>
				<a href="#" class="glossary__item js-glossary__item">BioFresh</a>
				<a href="#" class="glossary__item js-glossary__item"> BioFresh-Safes</a>
				<a href="#" class="glossary__item js-glossary__item">BiofreshPlus</a>
				<a href="#" class="glossary__item js-glossary__item">CoolPlus</a>
				<a href="#" class="glossary__item js-glossary__item">DrySafe</a>
				<a href="#" class="glossary__item js-glossary__item"> DuoCooling</a>
				<a href="#" class="glossary__item js-glossary__item">FrostControl</a>
				<a href="#" class="glossary__item js-glossary__item">FrostSafe</a>
				<a href="#" class="glossary__item js-glossary__item">HydroSafe</a>
				<a href="#" class="glossary__item js-glossary__item"> NoFrost</a>
				<a href="#" class="glossary__item js-glossary__item">SuperFrost</a>
				<a href="#" class="glossary__item js-glossary__item">SmartFrost</a>
				<a href="#" class="glossary__item js-glossary__item">SuperCool</a>
				<a href="#" class="glossary__item js-glossary__item">SuperFrost</a>
				<a href="#" class="glossary__item js-glossary__item">Деревянные полки</a>
				<a href="#" class="glossary__item js-glossary__item">Календарь хранения замороженных продуктов</a>
				<a href="#" class="glossary__item js-glossary__item">Лавовый камень</a>
				<a href="#" class="glossary__item js-glossary__item">Тонированная дверь</a>
				<a href="#" class="glossary__item js-glossary__item">Фильтр из активированного угля</a>
			</div>
			<div class="glossary__list">
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary.png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>BluPerformance</div>
						Новые стандарты в области охлаждения и заморозки. Благодаря обновлённой электронике
						холодильники
						поколения BluPerformance имеют простое и логичное управление, что гарантирует
						максимальное
						удобство
						при
						ежедневном использовании. Современная система DuoCooling обеспечивает гибкость
						регулировки
						температурных режимов. Климатическая зона BioFresh с контейнерами увеличенного объема
						позволяет
						сохранить все питательные вещества свежих продуктов.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (1).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>BioFresh</div>
						Это специальная регулирующаяся зона в холодильной камере, в которой поддерживается
						определенный
						микроклимат. Зона свежести BioFresh состоит из двух контейнеров - DrySafe с низкой
						влажностью для
						хранения молочных продуктов, морепродуктов и мяса и HydroSafe для хранения фруктов и
						овощей. При
						хранении в отделении BioFresh, скоропортящиеся продукты в значительной степени
						сохраняют
						вкусовые
						качества, свежесть и питательность.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (2).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>BioFresh-Safes</div>
						Контейнеры секции BioFresh легко выдвигаются на телескопических направляющих и так же
						легко
						извлекаются, даже если дверь открыта под углом 90°.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (3).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>BiofreshPlus</div>
						Обеспечивает еще большую функциональность и позволяет рационально использовать
						внутреннее
						пространство
						холодильника в зависимости от Ваших потребностей. Электронная система управления
						встроена в
						пластину,
						расположенную между холодильной и морозильной камерами. С ее помощью, например, можно
						установить
						значение температуры в верхнем контейнере 2°С, создав тем самым оптимальные условия для
						хранения
						рыбы.
						Одновременная установка низкого уровня влажности позволит сохранить рыбу свежей на
						максимально
						длительный срок, в то время как установка в другом контейнере высокого уровня влажности
						при
						температуре
						+6°С создаст оптимальные условия для хранения овощей и фруктов. Использование
						современных
						технологий
						позволяет устанавливать в верхнем контейнере секции BioFresh любое необходимое значение
						температуры.
						Для нижнего контейнера можно установить любой уровень влажности при сохранении уровня
						температуры
						около
						0°С.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (4).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>CoolPlus</div>
						Эта система предусмотрена для моделей, обходящихся одним компрессором. В таких моделях
						понижение
						внешней температуры может отрицательно повлиять на работу компрессора. Из-за сбоев и
						перерывов в
						его
						работе, температура в морозильной камере начинается снижаться, а возможна и полная
						разморозка
						морозильной камеры. Система CoolPlus помогает компрессору работать дальше и не дает
						климату
						в
						морозильной камере упасть до уровня размораживания. Система подогревает датчик
						температуры
						холодильной
						камеры. Сам датчик контролирует работу компрессора и задает ему уровень температуры.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (5).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>DrySafe</div>
						Отделение секции BioFresh с пониженной влажностью воздуха и регулируемой температурой,
						подходящее
						для
						хранения рыбы, мяса и молочных продуктов.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (6).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>DuoCooling</div>
						система DuoCooling дает возможность точно настроить температуру в холодильном и
						морозильном
						отделениях
						двухкамерного холодильника, благодаря наличию двух полностью независимых холодильных
						контуров.
						Помимо
						этого, между холодильной и морозильной камерами отсутствует воздухообмен, что
						препятствует
						возникновению неприятного запаха и подсыханию хранящихся продуктов питания.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (7).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>FrostControl </div>
						Эта функция нужна для того, чтобы продукты, хранимые в холодильнике, были безопасными и
						не
						портились.
						Особенно это становится важным, когда происходит длительное отключение электропитания
						холодильника.
						При
						этом холодильник «запоминает/ температурный режим, который был в камере на момент
						отключения и при
						повторном включении электричества воспроизводит ее заново. Для удобства пользователей в
						этой
						системе
						есть специальный дисплей с индикацией «nA/. После нажатия кнопки «Alarm/, в течение
						примерно одной
						минуты можно будет увидеть максимальное значение температурного режима в камере. Такая
						функция
						позволяет решить: стоит ли охлаждать или замораживать продукты заново или лучше уже
						сегодня
						подать
						на
						стол.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (8).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>FrostSafe</div>
						Система с герметично закрывающимися прозрачными выдвижными контейнерами. Специальные
						ящики
						для
						хранения
						продуктов, находящихся в морозильной камере защищенные от проникновения внутрь теплого
						влажного
						воздуха. В результате использования этих контейнеров экономится холод и,
						соответственно,
						снижается
						уровень энергопотребления. Благодаря этой системе экономно расходуется место в
						морозильной
						камере.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (9).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>HydroSafe</div>
						Отделение камеры BioFresh с регулируемой влажностью и температурой чуть больше 0 °C,
						предназначенное
						для хранения овощей и фруктов. Продукты в этом отделении сохраняют полезные витамины,
						тонкий аромат
						и
						аппетитный внешний вид в три раза дольше, чем в обычном холодильнике.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (10).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>NoFrost</div>
						Благодаря этой современной системе продукты замораживаются с помощью циркулирующего
						охлажденного
						воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что
						позволяет
						предотвратить образование инея на стенках морозильного отделения, и тем самым забыть о
						процедуре
						размораживания.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (11).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>SuperFrost</div>
						Режим SuperFrost обладает большим потенциалом для заморозки свежих продуктов с
						сохранением
						витаминов.
						Повышение в морозильном отделении температуры с -32°С до исходного значения происходит
						автоматически в
						зависимости от времени или количества продуктов, способствует экономии электроэнергии.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (12).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>SmartFrost</div>
						Благодаря использованию технологии SmartFrost внутренняя поверхность стенок морозильной
						камеры
						очень
						гладкая, поэтому ее легко мыть.Стеклянные полки и прозрачные выдвижные контейнеры легко
						вынимаются.
						Это
						позволяет изменять внутренний объем и использовать морозильную камеру для замораживания
						продуктов
						большого размера.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (13).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>SuperCool</div>
						Если вам необходимо быстро охладить большое количество продуктов за короткий промежуток
						времени,
						при
						этом не меняя уровня влажности тех продуктов, которые уже хранятся в холодильнике, эта
						функция
						будет
						незаменима. SuperCool представляет собой быстрое охлаждение продуктов в холодильном
						отделении. При
						его
						включении температура в холодильной камере понизится до +2 °С всего за 6 часов. После
						чего
						холодильник
						переходит в нормальный рабочей режим автоматически.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (14).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>SuperFrost</div>
						этот режим позволяет быстро и качественно заморозить продукты в морозильной камере.
						Система
						поддерживает нужный уровень температуры от -32ºС до -38ºС. Замораживание при таких
						низких
						температурах
						позволяет лучше сохранить свои первоначальные свойства, цвет и форму, поскольку они
						замораживаются
						равномерно. Продукты не покрываются людом и не примерзают к стенкам морозильной камеры,
						при
						дальнейшем
						не теряют своих вкусовых и питательных качеств. В зависимости от количества продуктов в
						морозильной
						камере, эта функция отключается автоматически, после чего холодильник переходит в
						нормальный режим
						при
						котором экономится электроэнергии.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (15).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>Деревянные полки</div>
						Используются в винных шкафах. Эти полки обладают несомненными эстетическими
						особенностями,
						а так же
						гасят остаточные вибрации от работы специального компрессора, которые негативно влияют
						на
						длительную
						сохранность вкусовых качеств марочных вин.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (17).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>Календарь хранения замороженных продуктов</div>
						На подобных календарях можно записать вид хранимого продукта и срок его хранения. Эти
						карточки со
						списком замороженных продуктов крепятся на стенках или дверках секционных отделений
						морозильной
						камеры.
						На холодильниках класса Premium с электронным дисплеем используются электронные
						календари,
						на
						которых
						отображаются сведения о месте нахождения продукта, времени, когда он был куплен, а
						также об
						очередности
						потребления хранящихся в камере продуктов. Микропроцессор подает предупредительный
						сигнал,
						когда
						срок
						хранения истекает.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (18).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>Лавовый камень</div>
						Используется в винных шкафах для поддержания влажности воздуха на оптимальном уровне
						(около
						70 %).
						Излишняя и недостаточная влажность отрицательно сказывается на сохранности вина.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (19).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>Тонированная дверь</div>
						Дверь с использованием тонированного стеклопакета. Тонированное стекло, применяемое в
						винных
						шкафах,
						препятствует проникновению ультрафиолетовых лучей внутрь шкафа, что положительно влияет
						на
						сохранность
						вин.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (20).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>Фильтр из активированного угля</div>
						Для обеспечения идеальной влажности воздуха происходит обмен воздуха камеры с наружным
						воздухом.
						Посторонние запахи удаляются с помощью фильтра с активированным углем. За счет
						постоянного
						поступления
						свежего воздуха, с использованием легко заменяемых фильтров с активированным углем, в
						климатических
						и
						темперирующих винных шкафах обеспечивается оптимальное качество воздуха, благоприятное
						для
						хранения
						вин.
					</div>
				</div>
			</div>
		</div>
		<div class="glossary js-glossary closed">
			<div class="glossary__title js-glossary__title">Удобство</div>
			<div class="glossary__items js-glossary__items">
				<a href="#" class="glossary__item js-glossary__item">BluPerformance</a>
				<a href="#" class="glossary__item js-glossary__item">BioFresh</a>
				<a href="#" class="glossary__item js-glossary__item"> BioFresh-Safes</a>
				<a href="#" class="glossary__item js-glossary__item">BiofreshPlus</a>
				<a href="#" class="glossary__item js-glossary__item">CoolPlus</a>
				<a href="#" class="glossary__item js-glossary__item">DrySafe</a>
				<a href="#" class="glossary__item js-glossary__item"> DuoCooling</a>
				<a href="#" class="glossary__item js-glossary__item">FrostControl</a>
				<a href="#" class="glossary__item js-glossary__item">FrostSafe</a>
				<a href="#" class="glossary__item js-glossary__item">HydroSafe</a>
				<a href="#" class="glossary__item js-glossary__item"> NoFrost</a>
				<a href="#" class="glossary__item js-glossary__item">SuperFrost</a>
				<a href="#" class="glossary__item js-glossary__item">SmartFrost</a>
				<a href="#" class="glossary__item js-glossary__item">SuperCool</a>
				<a href="#" class="glossary__item js-glossary__item">SuperFrost</a>
				<a href="#" class="glossary__item js-glossary__item">Деревянные полки</a>
				<a href="#" class="glossary__item js-glossary__item">Календарь хранения замороженных продуктов</a>
				<a href="#" class="glossary__item js-glossary__item">Лавовый камень</a>
				<a href="#" class="glossary__item js-glossary__item">Тонированная дверь</a>
				<a href="#" class="glossary__item js-glossary__item">Фильтр из активированного угля</a>
			</div>
			<div class="glossary__list">
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary.png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>BluPerformance</div>
						Новые стандарты в области охлаждения и заморозки. Благодаря обновлённой электронике
						холодильники
						поколения BluPerformance имеют простое и логичное управление, что гарантирует
						максимальное
						удобство
						при
						ежедневном использовании. Современная система DuoCooling обеспечивает гибкость
						регулировки
						температурных режимов. Климатическая зона BioFresh с контейнерами увеличенного объема
						позволяет
						сохранить все питательные вещества свежих продуктов.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (1).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>BioFresh</div>
						Это специальная регулирующаяся зона в холодильной камере, в которой поддерживается
						определенный
						микроклимат. Зона свежести BioFresh состоит из двух контейнеров - DrySafe с низкой
						влажностью для
						хранения молочных продуктов, морепродуктов и мяса и HydroSafe для хранения фруктов и
						овощей. При
						хранении в отделении BioFresh, скоропортящиеся продукты в значительной степени
						сохраняют
						вкусовые
						качества, свежесть и питательность.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (2).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>BioFresh-Safes</div>
						Контейнеры секции BioFresh легко выдвигаются на телескопических направляющих и так же
						легко
						извлекаются, даже если дверь открыта под углом 90°.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (3).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>BiofreshPlus</div>
						Обеспечивает еще большую функциональность и позволяет рационально использовать
						внутреннее
						пространство
						холодильника в зависимости от Ваших потребностей. Электронная система управления
						встроена в
						пластину,
						расположенную между холодильной и морозильной камерами. С ее помощью, например, можно
						установить
						значение температуры в верхнем контейнере 2°С, создав тем самым оптимальные условия для
						хранения
						рыбы.
						Одновременная установка низкого уровня влажности позволит сохранить рыбу свежей на
						максимально
						длительный срок, в то время как установка в другом контейнере высокого уровня влажности
						при
						температуре
						+6°С создаст оптимальные условия для хранения овощей и фруктов. Использование
						современных
						технологий
						позволяет устанавливать в верхнем контейнере секции BioFresh любое необходимое значение
						температуры.
						Для нижнего контейнера можно установить любой уровень влажности при сохранении уровня
						температуры
						около
						0°С.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (4).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>CoolPlus</div>
						Эта система предусмотрена для моделей, обходящихся одним компрессором. В таких моделях
						понижение
						внешней температуры может отрицательно повлиять на работу компрессора. Из-за сбоев и
						перерывов в
						его
						работе, температура в морозильной камере начинается снижаться, а возможна и полная
						разморозка
						морозильной камеры. Система CoolPlus помогает компрессору работать дальше и не дает
						климату
						в
						морозильной камере упасть до уровня размораживания. Система подогревает датчик
						температуры
						холодильной
						камеры. Сам датчик контролирует работу компрессора и задает ему уровень температуры.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (5).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>DrySafe</div>
						Отделение секции BioFresh с пониженной влажностью воздуха и регулируемой температурой,
						подходящее
						для
						хранения рыбы, мяса и молочных продуктов.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (6).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>DuoCooling</div>
						система DuoCooling дает возможность точно настроить температуру в холодильном и
						морозильном
						отделениях
						двухкамерного холодильника, благодаря наличию двух полностью независимых холодильных
						контуров.
						Помимо
						этого, между холодильной и морозильной камерами отсутствует воздухообмен, что
						препятствует
						возникновению неприятного запаха и подсыханию хранящихся продуктов питания.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (7).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>FrostControl </div>
						Эта функция нужна для того, чтобы продукты, хранимые в холодильнике, были безопасными и
						не
						портились.
						Особенно это становится важным, когда происходит длительное отключение электропитания
						холодильника.
						При
						этом холодильник «запоминает/ температурный режим, который был в камере на момент
						отключения и при
						повторном включении электричества воспроизводит ее заново. Для удобства пользователей в
						этой
						системе
						есть специальный дисплей с индикацией «nA/. После нажатия кнопки «Alarm/, в течение
						примерно одной
						минуты можно будет увидеть максимальное значение температурного режима в камере. Такая
						функция
						позволяет решить: стоит ли охлаждать или замораживать продукты заново или лучше уже
						сегодня
						подать
						на
						стол.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (8).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>FrostSafe</div>
						Система с герметично закрывающимися прозрачными выдвижными контейнерами. Специальные
						ящики
						для
						хранения
						продуктов, находящихся в морозильной камере защищенные от проникновения внутрь теплого
						влажного
						воздуха. В результате использования этих контейнеров экономится холод и,
						соответственно,
						снижается
						уровень энергопотребления. Благодаря этой системе экономно расходуется место в
						морозильной
						камере.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (9).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>HydroSafe</div>
						Отделение камеры BioFresh с регулируемой влажностью и температурой чуть больше 0 °C,
						предназначенное
						для хранения овощей и фруктов. Продукты в этом отделении сохраняют полезные витамины,
						тонкий аромат
						и
						аппетитный внешний вид в три раза дольше, чем в обычном холодильнике.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (10).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>NoFrost</div>
						Благодаря этой современной системе продукты замораживаются с помощью циркулирующего
						охлажденного
						воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что
						позволяет
						предотвратить образование инея на стенках морозильного отделения, и тем самым забыть о
						процедуре
						размораживания.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (11).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>SuperFrost</div>
						Режим SuperFrost обладает большим потенциалом для заморозки свежих продуктов с
						сохранением
						витаминов.
						Повышение в морозильном отделении температуры с -32°С до исходного значения происходит
						автоматически в
						зависимости от времени или количества продуктов, способствует экономии электроэнергии.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (12).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>SmartFrost</div>
						Благодаря использованию технологии SmartFrost внутренняя поверхность стенок морозильной
						камеры
						очень
						гладкая, поэтому ее легко мыть.Стеклянные полки и прозрачные выдвижные контейнеры легко
						вынимаются.
						Это
						позволяет изменять внутренний объем и использовать морозильную камеру для замораживания
						продуктов
						большого размера.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (13).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>SuperCool</div>
						Если вам необходимо быстро охладить большое количество продуктов за короткий промежуток
						времени,
						при
						этом не меняя уровня влажности тех продуктов, которые уже хранятся в холодильнике, эта
						функция
						будет
						незаменима. SuperCool представляет собой быстрое охлаждение продуктов в холодильном
						отделении. При
						его
						включении температура в холодильной камере понизится до +2 °С всего за 6 часов. После
						чего
						холодильник
						переходит в нормальный рабочей режим автоматически.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (14).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>SuperFrost</div>
						этот режим позволяет быстро и качественно заморозить продукты в морозильной камере.
						Система
						поддерживает нужный уровень температуры от -32ºС до -38ºС. Замораживание при таких
						низких
						температурах
						позволяет лучше сохранить свои первоначальные свойства, цвет и форму, поскольку они
						замораживаются
						равномерно. Продукты не покрываются людом и не примерзают к стенкам морозильной камеры,
						при
						дальнейшем
						не теряют своих вкусовых и питательных качеств. В зависимости от количества продуктов в
						морозильной
						камере, эта функция отключается автоматически, после чего холодильник переходит в
						нормальный режим
						при
						котором экономится электроэнергии.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (15).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>Деревянные полки</div>
						Используются в винных шкафах. Эти полки обладают несомненными эстетическими
						особенностями,
						а так же
						гасят остаточные вибрации от работы специального компрессора, которые негативно влияют
						на
						длительную
						сохранность вкусовых качеств марочных вин.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (17).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>Календарь хранения замороженных продуктов</div>
						На подобных календарях можно записать вид хранимого продукта и срок его хранения. Эти
						карточки со
						списком замороженных продуктов крепятся на стенках или дверках секционных отделений
						морозильной
						камеры.
						На холодильниках класса Premium с электронным дисплеем используются электронные
						календари,
						на
						которых
						отображаются сведения о месте нахождения продукта, времени, когда он был куплен, а
						также об
						очередности
						потребления хранящихся в камере продуктов. Микропроцессор подает предупредительный
						сигнал,
						когда
						срок
						хранения истекает.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (18).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>Лавовый камень</div>
						Используется в винных шкафах для поддержания влажности воздуха на оптимальном уровне
						(около
						70 %).
						Излишняя и недостаточная влажность отрицательно сказывается на сохранности вина.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (19).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>Тонированная дверь</div>
						Дверь с использованием тонированного стеклопакета. Тонированное стекло, применяемое в
						винных
						шкафах,
						препятствует проникновению ультрафиолетовых лучей внутрь шкафа, что положительно влияет
						на
						сохранность
						вин.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (20).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>Фильтр из активированного угля</div>
						Для обеспечения идеальной влажности воздуха происходит обмен воздуха камеры с наружным
						воздухом.
						Посторонние запахи удаляются с помощью фильтра с активированным углем. За счет
						постоянного
						поступления
						свежего воздуха, с использованием легко заменяемых фильтров с активированным углем, в
						климатических
						и
						темперирующих винных шкафах обеспечивается оптимальное качество воздуха, благоприятное
						для
						хранения
						вин.
					</div>
				</div>
			</div>
		</div>
		<div class="glossary js-glossary  closed">
			<div class="glossary__title js-glossary__title">Экономия</div>
			<div class="glossary__items js-glossary__items">
				<a href="#" class="glossary__item js-glossary__item">Аккумулятор холода</a>
				<a href="#" class="glossary__item js-glossary__item">Классы энергопотребления A+ и A++</a>

			</div>
			<div class="glossary__list">
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary.png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>Аккумулятор холода</div>
						эти емкости с солевым раствором широко используются в морозильных камерах для
						поддержания
						температурного режима. В случае аварийной ситуации с холодильником, солевой раствор
						незаменим для повышения срока хранения замораживаемых продуктов. Морозильные камеры
						оснащают аккумуляторами холода при необходимо увеличить степень заморозки.

					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img class="glossary__img" src="images/glossary (1).png" alt="">
					<div class='glossary__decs'>
						<div class='glossary__b'>Классы энергопотребления A+ и A++</>
						экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих
						классов
						заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых
						хозяев и
						вносит активный вклад в охрану окружающей среды.
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
</div>