<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">

		<div class="breadcrumbs">
			<a href="#" class="breadcrumbs__link">Liebherr</a>
			<span class="breadcrumbs__sep">/</span>
			<span class="breadcrumbs__text">Контакты</span>
		</div>
		<h1 class="title">
			Глоссарий
		</h1>
		<form class="search-found__form" action="" method="get">
			<input type="text" name="q" placeholder="Холодильник"><input type="submit" value="Найти"
				class="btn-sub3 abuse-popup__submit" name="">
		</form>
		<div class="glossary js-glossary closed">
			<div class="glossary__title js-glossary__title">Свежесть</div>
			<div class="glossary__items js-glossary__items">
				<a href="#" class="glossary__item js-glossary__item">BluPerformance</a>
				<a href="#" class="glossary__item js-glossary__item">BioFresh</a>
				<a href="#" class="glossary__item js-glossary__item"> BioFresh-Safes</a>
				<a href="#" class="glossary__item js-glossary__item">BiofreshPlus</a>
			</div>
			<div class="glossary__list">
				<div class="glossary__li js-glossary__li">
					<img data-src="https://jackys-store.ru/upload/iblock/77f/77fb64c93f1983938df225d373f0bbf3.svg"
						class="glossary__img lazyloaded" title=""
						src="https://jackys-store.ru/upload/iblock/77f/77fb64c93f1983938df225d373f0bbf3.svg">
					<div class='glossary__b'>BluPerformance</div>
					<div class='glossary__decs'>

						Новые стандарты в области охлаждения и заморозки. Благодаря обновлённой электронике
						холодильники
						поколения BluPerformance имеют простое и логичное управление, что гарантирует
						максимальное
						удобство
						при
						ежедневном использовании. Современная система DuoCooling обеспечивает гибкость
						регулировки
						температурных режимов. Климатическая зона BioFresh с контейнерами увеличенного объема
						позволяет
						сохранить все питательные вещества свежих продуктов.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img data-src="https://jackys-store.ru/upload/iblock/61a/61aad586673e27739c9ba2d6d0ab55d2.svg"
						class="glossary__img lazyloaded" title=""
						src="https://jackys-store.ru/upload/iblock/61a/61aad586673e27739c9ba2d6d0ab55d2.svg">
					<div class='glossary__b'>BioFresh</div>
					<div class='glossary__decs'>

						Это специальная регулирующаяся зона в холодильной камере, в которой поддерживается
						определенный
						микроклимат. Зона свежести BioFresh состоит из двух контейнеров - DrySafe с низкой
						влажностью для
						хранения молочных продуктов, морепродуктов и мяса и HydroSafe для хранения фруктов и
						овощей. При
						хранении в отделении BioFresh, скоропортящиеся продукты в значительной степени
						сохраняют
						вкусовые
						качества, свежесть и питательность.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img data-src="https://jackys-store.ru/upload/iblock/d0c/d0cf8b928ae692f07787a426e058978c.svg"
						class="glossary__img lazyloaded" title=""
						src="https://jackys-store.ru/upload/iblock/d0c/d0cf8b928ae692f07787a426e058978c.svg">
					<div class='glossary__b'>BioFresh-Safes</div>
					<div class='glossary__decs'>

						Контейнеры секции BioFresh легко выдвигаются на телескопических направляющих и так же
						легко
						извлекаются, даже если дверь открыта под углом 90°.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img data-src="https://jackys-store.ru/upload/iblock/2e2/2e2199c76601e7b16b9abc2dd03a2f83.svg"
						class="glossary__img lazyloaded" title=""
						src="https://jackys-store.ru/upload/iblock/2e2/2e2199c76601e7b16b9abc2dd03a2f83.svg">
					<div class='glossary__b'>BiofreshPlus</div>
					<div class='glossary__decs'>

						Обеспечивает еще большую функциональность и позволяет рационально использовать
						внутреннее
						пространство
						холодильника в зависимости от Ваших потребностей. Электронная система управления
						встроена в
						пластину,
						расположенную между холодильной и морозильной камерами. С ее помощью, например, можно
						установить
						значение температуры в верхнем контейнере 2°С, создав тем самым оптимальные условия для
						хранения
						рыбы.
						Одновременная установка низкого уровня влажности позволит сохранить рыбу свежей на
						максимально
						длительный срок, в то время как установка в другом контейнере высокого уровня влажности
						при
						температуре
						+6°С создаст оптимальные условия для хранения овощей и фруктов. Использование
						современных
						технологий
						позволяет устанавливать в верхнем контейнере секции BioFresh любое необходимое значение
						температуры.
						Для нижнего контейнера можно установить любой уровень влажности при сохранении уровня
						температуры
						около
						0°С.
					</div>
				</div>

			</div>
		</div>
		<div class="glossary js-glossary closed">
			<div class="glossary__title js-glossary__title">Удобство</div>
			<div class="glossary__items js-glossary__items">
				<a href="#" class="glossary__item js-glossary__item">BluPerformance</a>
				<a href="#" class="glossary__item js-glossary__item">BioFresh</a>
				<a href="#" class="glossary__item js-glossary__item"> BioFresh-Safes</a>
				<a href="#" class="glossary__item js-glossary__item">BiofreshPlus</a>

			</div>
			<div class="glossary__list">
				<div class="glossary__li js-glossary__li">
					<img data-src="https://jackys-store.ru/upload/iblock/77f/77fb64c93f1983938df225d373f0bbf3.svg"
						class="glossary__img lazyloaded" title=""
						src="https://jackys-store.ru/upload/iblock/77f/77fb64c93f1983938df225d373f0bbf3.svg">
					<div class='glossary__b'>BluPerformance</div>
					<div class='glossary__decs'>

						Новые стандарты в области охлаждения и заморозки. Благодаря обновлённой электронике
						холодильники
						поколения BluPerformance имеют простое и логичное управление, что гарантирует
						максимальное
						удобство
						при
						ежедневном использовании. Современная система DuoCooling обеспечивает гибкость
						регулировки
						температурных режимов. Климатическая зона BioFresh с контейнерами увеличенного объема
						позволяет
						сохранить все питательные вещества свежих продуктов.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img data-src="https://jackys-store.ru/upload/iblock/61a/61aad586673e27739c9ba2d6d0ab55d2.svg"
						class="glossary__img lazyloaded" title=""
						src="https://jackys-store.ru/upload/iblock/61a/61aad586673e27739c9ba2d6d0ab55d2.svg">
					<div class='glossary__b'>BioFresh</div>
					<div class='glossary__decs'>

						Это специальная регулирующаяся зона в холодильной камере, в которой поддерживается
						определенный
						микроклимат. Зона свежести BioFresh состоит из двух контейнеров - DrySafe с низкой
						влажностью для
						хранения молочных продуктов, морепродуктов и мяса и HydroSafe для хранения фруктов и
						овощей. При
						хранении в отделении BioFresh, скоропортящиеся продукты в значительной степени
						сохраняют
						вкусовые
						качества, свежесть и питательность.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img data-src="https://jackys-store.ru/upload/iblock/d0c/d0cf8b928ae692f07787a426e058978c.svg"
						class="glossary__img lazyloaded" title=""
						src="https://jackys-store.ru/upload/iblock/d0c/d0cf8b928ae692f07787a426e058978c.svg">
					<div class='glossary__b'>BioFresh-Safes</div>
					<div class='glossary__decs'>

						Контейнеры секции BioFresh легко выдвигаются на телескопических направляющих и так же
						легко
						извлекаются, даже если дверь открыта под углом 90°.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img data-src="https://jackys-store.ru/upload/iblock/2e2/2e2199c76601e7b16b9abc2dd03a2f83.svg"
						class="glossary__img lazyloaded" title=""
						src="https://jackys-store.ru/upload/iblock/2e2/2e2199c76601e7b16b9abc2dd03a2f83.svg">
					<div class='glossary__b'>BiofreshPlus</div>
					<div class='glossary__decs'>

						Обеспечивает еще большую функциональность и позволяет рационально использовать
						внутреннее
						пространство
						холодильника в зависимости от Ваших потребностей. Электронная система управления
						встроена в
						пластину,
						расположенную между холодильной и морозильной камерами. С ее помощью, например, можно
						установить
						значение температуры в верхнем контейнере 2°С, создав тем самым оптимальные условия для
						хранения
						рыбы.
						Одновременная установка низкого уровня влажности позволит сохранить рыбу свежей на
						максимально
						длительный срок, в то время как установка в другом контейнере высокого уровня влажности
						при
						температуре
						+6°С создаст оптимальные условия для хранения овощей и фруктов. Использование
						современных
						технологий
						позволяет устанавливать в верхнем контейнере секции BioFresh любое необходимое значение
						температуры.
						Для нижнего контейнера можно установить любой уровень влажности при сохранении уровня
						температуры
						около
						0°С.
					</div>
				</div>
			</div>
		</div>
		<div class="glossary js-glossary  closed">
			<div class="glossary__title js-glossary__title">Экономия</div>
			<div class="glossary__items js-glossary__items">
				<a href="#" class="glossary__item js-glossary__item">Аккумулятор холода</a>
				<a href="#" class="glossary__item js-glossary__item">Классы энергопотребления A+ и A++</a>

			</div>
			<div class="glossary__list">
				<div class="glossary__li js-glossary__li">
					<img data-src="https://jackys-store.ru/upload/iblock/d0c/d0cf8b928ae692f07787a426e058978c.svg"
						class="glossary__img lazyloaded" title=""
						src="https://jackys-store.ru/upload/iblock/d0c/d0cf8b928ae692f07787a426e058978c.svg">
					<div class='glossary__b'>BioFresh-Safes</div>
					<div class='glossary__decs'>

						Контейнеры секции BioFresh легко выдвигаются на телескопических направляющих и так же
						легко
						извлекаются, даже если дверь открыта под углом 90°.
					</div>
				</div>
				<div class="glossary__li js-glossary__li">
					<img data-src="https://jackys-store.ru/upload/iblock/2e2/2e2199c76601e7b16b9abc2dd03a2f83.svg"
						class="glossary__img lazyloaded" title=""
						src="https://jackys-store.ru/upload/iblock/2e2/2e2199c76601e7b16b9abc2dd03a2f83.svg">
					<div class='glossary__b'>BiofreshPlus</div>
					<div class='glossary__decs'>

						Обеспечивает еще большую функциональность и позволяет рационально использовать
						внутреннее
						пространство
						холодильника в зависимости от Ваших потребностей. Электронная система управления
						встроена в
						пластину,
						расположенную между холодильной и морозильной камерами. С ее помощью, например, можно
						установить
						значение температуры в верхнем контейнере 2°С, создав тем самым оптимальные условия для
						хранения
						рыбы.
						Одновременная установка низкого уровня влажности позволит сохранить рыбу свежей на
						максимально
						длительный срок, в то время как установка в другом контейнере высокого уровня влажности
						при
						температуре
						+6°С создаст оптимальные условия для хранения овощей и фруктов. Использование
						современных
						технологий
						позволяет устанавливать в верхнем контейнере секции BioFresh любое необходимое значение
						температуры.
						Для нижнего контейнера можно установить любой уровень влажности при сохранении уровня
						температуры
						около
						0°С.
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
</div>
