<!-- <div class="articles">
	<div class="container">
		<span class="articles__title">Статьи о холодильниках Liebherr</span>
		<a href="#" class="articles__link">Все Статьи</a>
		<div class="articles__items">
			<div class="articles__item">
				<a class="articles__pic" href="#"><img src="images/articles_1.jpg"
						srcset="images/articles_1@2x.jpg 2x,images/articles_1@3x.jpg 3x" class="articles__img"></a>
				<a href="#" class="articles__text">Как правильно разморозить холодильник Либхер</a>
				<span class="articles__date">25 марта 2018</span>
				<span class="articles__info">9 причин вызвать мастера из сервисного центра и не пытаться устранить
					поломку
					самостоятельно</span>
			</div>
			<div class="articles__item">

				<a class="articles__pic" href="#"><img src="images/articles_2.jpg"
						srcset="images/articles_2@2x.jpg 2x,images/articles_2@3x.jpg 3x" class="articles__img"></a>
				<a href="#" class="articles__text">Преимущества встраиваемых микроволновых печей Liebherr </a>
				<span class="articles__date">25 марта 2018</span>
				<span class="articles__info">В коллекции Liebherr представлены надежные и технологичные модели с
					высоким</span>
			</div>
			<div class="articles__item">
				<a class="articles__pic" href="#"><img src="images/articles_3.jpg"
						srcset="images/articles_3@2x.jpg 2x,images/articles_3@3x.jpg 3x" class="articles__img"></a>
				<a href="#" class="articles__text">Сравнение холодильника Liebherr CNbs 4015 Comfort NoFrost и Liebherr
					CN 4813</a>
				<span class="articles__date">25 марта 2018</span>
				<span class="articles__info">Модель сочетает удобство традиционного газового нагрева и широкие
					функциональные</span>
			</div>
			<div class="articles__item">
				<a class="articles__pic" href="#"><img src="images/articles_4.jpg"
						srcset="images/articles_4@2x.jpg 2x,images/articles_4@3x.jpg 3x" class="articles__img"></a>
				<a href="#" class="articles__text">ICS Система интеллектуального контроля у стиральных машин</a>
				<span class="articles__date">25 марта 2018</span>
				<span class="articles__info">Технический прогресс не стоит на месте, и сегодня компания Liebherr
					предлагает
					«умные/</span>
			</div>
		</div>
	</div>
</div> -->
<div class="articles">
	<div class="container">
		<h2 class="articles__title">Статьи о холодильниках Liebherr</h2>
		<a href="/news/" title="Все Статьи" class="articles__link">Все Статьи</a>

		<div class="articles__items">

			<div class="articles__item" id="bx_565502798_2679">
				<a href="/news/novaya-seriya-vstraivaemykh-kholodilnikov-monolith.html"
					title="Новая серия встраиваемых холодильников Monolith" class="articles__pic">

					<picture>

						<source type="image/webp" class=" lazyloading"
							data-srcset="https://l-rus.ru//upload/resize_cache/iblock/875/272_168_2/875935f17db3559cc9150e89aa7be544.webp, https://l-rus.ru//upload/resize_cache/iblock/875/272_168_2/875935f17db3559cc9150e89aa7be544.webp 2x, https://l-rus.ru//upload/resize_cache/iblock/875/272_168_2/875935f17db3559cc9150e89aa7be544.webp 3x"
							srcset="https://l-rus.ru//upload/resize_cache/iblock/875/272_168_2/875935f17db3559cc9150e89aa7be544.webp, https://l-rus.ru//upload/resize_cache/iblock/875/272_168_2/875935f17db3559cc9150e89aa7be544.webp 2x, https://l-rus.ru//upload/resize_cache/iblock/875/272_168_2/875935f17db3559cc9150e89aa7be544.webp 3x">

						<source type="image/png" class=" lazyloading"
							data-srcset="https://l-rus.ru//upload/resize_cache/iblock/875/272_168_2/875935f17db3559cc9150e89aa7be544.jpg, https://l-rus.ru//upload/resize_cache/iblock/875/272_168_2/875935f17db3559cc9150e89aa7be544.jpg 2x,https://l-rus.ru//upload/resize_cache/iblock/875/272_168_2/875935f17db3559cc9150e89aa7be544.jpg 3x"
							srcset="https://l-rus.ru//upload/resize_cache/iblock/875/272_168_2/875935f17db3559cc9150e89aa7be544.jpg, https://l-rus.ru//upload/resize_cache/iblock/875/272_168_2/875935f17db3559cc9150e89aa7be544.jpg 2x,https://l-rus.ru//upload/resize_cache/iblock/875/272_168_2/875935f17db3559cc9150e89aa7be544.jpg 3x">

						<img class="articles__img lazyloaded"
							data-src="https://l-rus.ru//upload/resize_cache/iblock/875/272_168_2/875935f17db3559cc9150e89aa7be544.jpg"
							alt="Новая серия встраиваемых холодильников Monolith"
							src="https://l-rus.ru//upload/resize_cache/iblock/875/272_168_2/875935f17db3559cc9150e89aa7be544.jpg">
					</picture>

				</a>
				<a href="/news/novaya-seriya-vstraivaemykh-kholodilnikov-monolith.html"
					title="Новая серия встраиваемых холодильников Monolith" class="articles__text">Новая серия
					встраиваемых холодильников Monolith</a>
				<span class="articles__date">28.04.2019</span>
				<span class="articles__info">Линейка холодильников Monolith объединяет встраиваемые приборы шириной
					45&nbsp;и&nbsp;75.4&nbsp;см с&nbsp;уникальным дизайном.</span>
			</div>

			<div class="articles__item" id="bx_565502798_2585">
				<a href="/news/chto-oznachayut-bukvy-v-markirovke-kholodilnika-liebherr.html"
					title="Что означают буквы в маркировке холодильника Liebherr" class="articles__pic">

					<picture>

						<source type="image/webp" class=" lazyloading"
							data-srcset="https://l-rus.ru//upload/resize_cache/iblock/cb0/272_168_2/cb0d3733ddb27e8db5b4b64397c2cf42.webp, https://l-rus.ru//upload/resize_cache/iblock/cb0/272_168_2/cb0d3733ddb27e8db5b4b64397c2cf42.webp 2x, https://l-rus.ru//upload/resize_cache/iblock/cb0/272_168_2/cb0d3733ddb27e8db5b4b64397c2cf42.webp 3x"
							srcset="https://l-rus.ru//upload/resize_cache/iblock/cb0/272_168_2/cb0d3733ddb27e8db5b4b64397c2cf42.webp, https://l-rus.ru//upload/resize_cache/iblock/cb0/272_168_2/cb0d3733ddb27e8db5b4b64397c2cf42.webp 2x, https://l-rus.ru//upload/resize_cache/iblock/cb0/272_168_2/cb0d3733ddb27e8db5b4b64397c2cf42.webp 3x">

						<source type="image/png" class=" lazyloading"
							data-srcset="https://l-rus.ru//upload/resize_cache/iblock/cb0/272_168_2/cb0d3733ddb27e8db5b4b64397c2cf42.jpg, https://l-rus.ru//upload/resize_cache/iblock/cb0/272_168_2/cb0d3733ddb27e8db5b4b64397c2cf42.jpg 2x,https://l-rus.ru//upload/resize_cache/iblock/cb0/272_168_2/cb0d3733ddb27e8db5b4b64397c2cf42.jpg 3x"
							srcset="https://l-rus.ru//upload/resize_cache/iblock/cb0/272_168_2/cb0d3733ddb27e8db5b4b64397c2cf42.jpg, https://l-rus.ru//upload/resize_cache/iblock/cb0/272_168_2/cb0d3733ddb27e8db5b4b64397c2cf42.jpg 2x,https://l-rus.ru//upload/resize_cache/iblock/cb0/272_168_2/cb0d3733ddb27e8db5b4b64397c2cf42.jpg 3x">

						<img class="articles__img lazyloaded"
							data-src="https://l-rus.ru//upload/resize_cache/iblock/cb0/272_168_2/cb0d3733ddb27e8db5b4b64397c2cf42.jpg"
							alt="Что означают буквы в маркировке холодильника Liebherr"
							src="https://l-rus.ru//upload/resize_cache/iblock/cb0/272_168_2/cb0d3733ddb27e8db5b4b64397c2cf42.jpg">
					</picture>

				</a>
				<a href="/news/chto-oznachayut-bukvy-v-markirovke-kholodilnika-liebherr.html"
					title="Что означают буквы в маркировке холодильника Liebherr" class="articles__text">Что означают
					буквы в маркировке холодильника Liebherr</a>
				<span class="articles__date">30.03.2019</span>
				<span class="articles__info">
					<p>
						Узнайте о свойствах встраиваемого или отдельностоящего холодильника Liebherr по маркировке.
					</p>
				</span>
			</div>

			<div class="articles__item" id="bx_565502798_2272">
				<a href="/news/kak-sokhranit-produkty-svezhimi-sovety-ot-liebherr.html"
					title="Как сохранить продукты свежими: советы от Liebherr" class="articles__pic">

					<picture>

						<source type="image/webp" class=" lazyloading"
							data-srcset="https://l-rus.ru//upload/resize_cache/iblock/9ec/272_168_2/9ecf449788e6926e18e1e495b17111aa.webp, https://l-rus.ru//upload/resize_cache/iblock/9ec/272_168_2/9ecf449788e6926e18e1e495b17111aa.webp 2x, https://l-rus.ru//upload/resize_cache/iblock/9ec/272_168_2/9ecf449788e6926e18e1e495b17111aa.webp 3x"
							srcset="https://l-rus.ru//upload/resize_cache/iblock/9ec/272_168_2/9ecf449788e6926e18e1e495b17111aa.webp, https://l-rus.ru//upload/resize_cache/iblock/9ec/272_168_2/9ecf449788e6926e18e1e495b17111aa.webp 2x, https://l-rus.ru//upload/resize_cache/iblock/9ec/272_168_2/9ecf449788e6926e18e1e495b17111aa.webp 3x">

						<source type="image/png" class=" lazyloading"
							data-srcset="https://l-rus.ru//upload/resize_cache/iblock/9ec/272_168_2/9ecf449788e6926e18e1e495b17111aa.jpg, https://l-rus.ru//upload/resize_cache/iblock/9ec/272_168_2/9ecf449788e6926e18e1e495b17111aa.jpg 2x,https://l-rus.ru//upload/resize_cache/iblock/9ec/272_168_2/9ecf449788e6926e18e1e495b17111aa.jpg 3x"
							srcset="https://l-rus.ru//upload/resize_cache/iblock/9ec/272_168_2/9ecf449788e6926e18e1e495b17111aa.jpg, https://l-rus.ru//upload/resize_cache/iblock/9ec/272_168_2/9ecf449788e6926e18e1e495b17111aa.jpg 2x,https://l-rus.ru//upload/resize_cache/iblock/9ec/272_168_2/9ecf449788e6926e18e1e495b17111aa.jpg 3x">

						<img class="articles__img lazyloaded"
							data-src="https://l-rus.ru//upload/resize_cache/iblock/9ec/272_168_2/9ecf449788e6926e18e1e495b17111aa.jpg"
							alt="Как сохранить продукты свежими: советы от Liebherr"
							src="https://l-rus.ru//upload/resize_cache/iblock/9ec/272_168_2/9ecf449788e6926e18e1e495b17111aa.jpg">
					</picture>

				</a>
				<a href="/news/kak-sokhranit-produkty-svezhimi-sovety-ot-liebherr.html"
					title="Как сохранить продукты свежими: советы от Liebherr" class="articles__text">Как сохранить
					продукты свежими: советы от Liebherr</a>
				<span class="articles__date">01.02.2019</span>
				<span class="articles__info">Полезные рекомендации по хранению различных продуктов.</span>
			</div>

			<div class="articles__item" id="bx_565502798_1966">
				<a href="/news/liebherr-icbn-3324-comfort-white-instruktsiya-po-ekspluatatsii.html"
					title="Liebherr ICBN 3324 Comfort White инструкция по эксплуатации" class="articles__pic">

					<picture>

						<source type="image/webp" class=" lazyloading"
							data-srcset="https://l-rus.ru//upload/resize_cache/iblock/89c/272_168_2/89c46ba851995103c6dd1f1f9455f10a.webp, https://l-rus.ru//upload/resize_cache/iblock/89c/272_168_2/89c46ba851995103c6dd1f1f9455f10a.webp 2x, https://l-rus.ru//upload/resize_cache/iblock/89c/272_168_2/89c46ba851995103c6dd1f1f9455f10a.webp 3x"
							srcset="https://l-rus.ru//upload/resize_cache/iblock/89c/272_168_2/89c46ba851995103c6dd1f1f9455f10a.webp, https://l-rus.ru//upload/resize_cache/iblock/89c/272_168_2/89c46ba851995103c6dd1f1f9455f10a.webp 2x, https://l-rus.ru//upload/resize_cache/iblock/89c/272_168_2/89c46ba851995103c6dd1f1f9455f10a.webp 3x">

						<source type="image/png" class=" lazyloading"
							data-srcset="https://l-rus.ru//upload/resize_cache/iblock/89c/272_168_2/89c46ba851995103c6dd1f1f9455f10a.jpg, https://l-rus.ru//upload/resize_cache/iblock/89c/272_168_2/89c46ba851995103c6dd1f1f9455f10a.jpg 2x,https://l-rus.ru//upload/resize_cache/iblock/89c/272_168_2/89c46ba851995103c6dd1f1f9455f10a.jpg 3x"
							srcset="https://l-rus.ru//upload/resize_cache/iblock/89c/272_168_2/89c46ba851995103c6dd1f1f9455f10a.jpg, https://l-rus.ru//upload/resize_cache/iblock/89c/272_168_2/89c46ba851995103c6dd1f1f9455f10a.jpg 2x,https://l-rus.ru//upload/resize_cache/iblock/89c/272_168_2/89c46ba851995103c6dd1f1f9455f10a.jpg 3x">

						<img class="articles__img lazyloaded"
							data-src="https://l-rus.ru//upload/resize_cache/iblock/89c/272_168_2/89c46ba851995103c6dd1f1f9455f10a.jpg"
							alt="Liebherr ICBN 3324 Comfort White инструкция по эксплуатации"
							src="https://l-rus.ru//upload/resize_cache/iblock/89c/272_168_2/89c46ba851995103c6dd1f1f9455f10a.jpg">
					</picture>

				</a>
				<a href="/news/liebherr-icbn-3324-comfort-white-instruktsiya-po-ekspluatatsii.html"
					title="Liebherr ICBN 3324 Comfort White инструкция по эксплуатации" class="articles__text">Liebherr
					ICBN 3324 Comfort White инструкция по эксплуатации</a>
				<span class="articles__date">22.11.2018</span>
				<span class="articles__info">
					<p>Одна из&nbsp;самых популярных встраиваемых моделей Liebherr ICBN 3324 Comfort White&nbsp;—
						в&nbsp;нашем обзоре. </p>
				</span>
			</div>

		</div>

	</div>
</div>
