<div class="new-items special-offers">
	<div class="container">
		<div class="new-items__caption">
			<span class="special-offers__title new-items__title">Новинки холодильников Liebherr</span>
			<span class="new-items__how"><a href="#">57&#8194;новинок</a></span>
		</div>

		<!-- Slider main container -->
		<div class="swiper-container swiper-container-three  js-swiper-three">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper special-offers__wrapper">
				<div class="swiper-slide special-offers__slide new-items__slide">
					<a class="special-offers__pic" href="#">
						<img src="images/new-items_1.jpg"
							srcset="images/new-items_1@2x.jpg 2x,images/new-items_1@3x.jpg 3x"
							class="special-offers__img">
					</a>
					<a href="#" class="special-offers__text">
						Холодильник Liebherr SBSes 7353 (SBNes 32100+SKes 42100) Premium BioFresh NoFrost
					</a>
					<div class="special-offers__sale">
						<span class="special-offers__price catalog__price price__dashed">

							139 500 <i class="special-offers__rub catalog__rub">руб.</i>
							<span class="price__absolute">140 500 руб.</span>
						</span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">
							В корзину
						</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide new-items__slide">
					<a class="special-offers__pic" href="#">
						<img src="images/new-items_2.jpg"
							srcset="images/new-items_2@2x.jpg 2x,images/new-items_2@3x.jpg 3x"
							class="special-offers__img">
					</a>

					<a href="#" class="special-offers__text">
						Холодильник Liebherr CBNP 4858 Premium BioFresh NoFrost
					</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">
							В корзину
						</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide new-items__slide">
					<a class="special-offers__pic" href="#">
						<img src="images/new-items_3.jpg"
							srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x"
							class="special-offers__img">
					</a>

					<a href="#" class="special-offers__text">
						Винный шкаф Liebherr Wtes 5972
					</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">
							В корзину
						</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide new-items__slide">
					<a class="special-offers__pic" href="#">
						<img src="images/new-items_4.jpg"
							srcset="images/new-items_4@2x.jpg 2x,images/new-items_4@3x.jpg 3x"
							class="special-offers__img">
					</a>

					<a href="#" class="special-offers__text">
						Холодильник Liebherr SBSbs 8673 Premium BioFresh NoFrost</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">
							В корзину
						</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide new-items__slide">
					<a class="special-offers__pic" href="#">
						<img src="images/new-items_1.jpg"
							srcset="images/new-items_1@2x.jpg 2x,images/new-items_1@3x.jpg 3x"
							class="special-offers__img">
					</a>
					<a href="#" class="special-offers__text">
						Холодильник Liebherr SBSes 7353 (SBNes 32100+SKes 42100) Premium BioFresh NoFrost
					</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">
							В корзину
						</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide new-items__slide">
					<a class="special-offers__pic" href="#">
						<img src="images/new-items_2.jpg"
							srcset="images/new-items_2@2x.jpg 2x,images/new-items_2@3x.jpg 3x"
							class="special-offers__img">
					</a>

					<a href="#" class="special-offers__text">
						Холодильник Liebherr CBNP 4858 Premium BioFresh NoFrost
					</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">98 400<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">
							В корзину
						</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide new-items__slide">
					<a class="special-offers__pic" href="#">
						<img src="images/new-items_3.jpg"
							srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x"
							class="special-offers__img">
					</a>

					<a href="#" class="special-offers__text">
						Винный шкаф Liebherr Wtes 5972
					</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">115 000<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">
							В корзину
						</a>
					</div>
				</div>
				<div class="swiper-slide special-offers__slide new-items__slide">
					<a class="special-offers__pic" href="#">
						<img src="images/new-items_4.jpg"
							srcset="images/new-items_4@2x.jpg 2x,images/new-items_4@3x.jpg 3x"
							class="special-offers__img">
					</a>

					<a href="#" class="special-offers__text">
						Холодильник Liebherr SBSbs 8673 Premium BioFresh NoFrost</a>
					<div class="special-offers__sale">
						<span class="special-offers__price">134 200<i class="special-offers__rub">руб.</i></span>
						<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">
							В корзину
						</a>
					</div>
				</div>
			</div>

			<!-- If we need navigation buttons -->

			<!-- If we need scrollbar -->
			<div class="swiper-scrollbar"></div>
		</div>
		<div class="swiper-pagination_3"></div>
		<a href="#" class="new-items__link">
			Посмотреть все новинки
		</a>
		<div class="swiper-button-prev new-items_prev"></div>
		<div class="swiper-button-next new-items_next"></div>
	</div>

</div>
