<div class="special-offers catalog">
	<div class="catalog__sorting">
		<ul class="catalog__ul">
			Сортировать по:
			<li class="catalog__li"><a href="#" sort="popular" order="ASC"
					class="catalog__sort"><span>популярности</span><i></i></a></li>
			<li class="catalog__li"><a href="#" sort="new" order="ASC"
					class="catalog__sort"><span>новизне</span><i></i></a></li>
			<li class="catalog__li"><a href="#" sort="price" order="DESC"
					class="catalog__sort"><span>цене</span><i></i></a></li>
		</ul>
		<div class="sorting__info">
			<span class="sorting__number">294</span><span class="sorting__number">позиции</span>
		</div>
	</div>
	<div class="tags">
	 <ul class="tags__list js-tags__list">

			<li class="tags__item js-tags__item" id="bx_3485106786_2497">
				<a href="/liebherr/holodilniki/recommend/no-frost/" title="С системой No frost" class="tags__link">С
					системой No frost</a>
			</li>

			<li class="tags__item js-tags__item" id="bx_3485106786_6372">
				<a href="/liebherr/holodilniki/recommend/luchshie/" title="Лучшие холодильники Liebherr"
					class="tags__link">Лучшие холодильники Liebherr</a>
			</li>

			<li class="tags__item js-tags__item" id="bx_3485106786_2808">
				<a href="/liebherr/holodilniki/recommend/nemeckie/" title="Немецкие холодильники Liebherr"
					class="tags__link">Немецкие холодильники Liebherr</a>
			</li>

			<li class="tags__item js-tags__item" id="bx_3485106786_2505">
				<a href="/liebherr/holodilniki/recommend/bolshie-dvuhdvernye-holodilniki/"
					title="Большие двухдверные холодильники" class="tags__link">Большие двухдверные холодильники</a>
			</li>

			<li class="tags__item js-tags__item" id="bx_3485106786_2501">
				<a href="/liebherr/holodilniki/recommend/bolshie-holodilniki/" title="Большие холодильники"
					class="tags__link">Большие холодильники</a>
			</li>

			<li class="tags__item js-tags__item" id="bx_3485106786_2821">
				<a href="/liebherr/holodilniki/recommend/cbn/" title="Холодильники CBN" class="tags__link">Холодильники
					CBN</a>
			</li>

			<li class="tags__item js-tags__item" id="bx_3485106786_2825">
				<a href="/liebherr/holodilniki/recommend/cnes/" title="Холодильники CNES"
					class="tags__link">Холодильники
					CNES</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2818">
				<a href="/liebherr/holodilniki/recommend/cnpes/" title="Холодильники CNPes "
					class="tags__link">Холодильники CNPes </a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2813">
				<a href="/liebherr/holodilniki/recommend/comfort-nofrost/" title="Comfort NoFrost"
					class="tags__link">Comfort NoFrost</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2810">
				<a href="/liebherr/holodilniki/recommend/comfort/" title="Comfort" class="tags__link">Comfort</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2820">
				<a href="/liebherr/holodilniki/recommend/cool-plus/" title="С системой защиты от разморозки Cool Plus"
					class="tags__link">С системой защиты от разморозки Cool Plus</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2822">
				<a href="/liebherr/holodilniki/recommend/cunesf/" title="Холодильники CUNESF"
					class="tags__link">Холодильники CUNESF</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2826">
				<a href="/liebherr/holodilniki/recommend/cup/" title="Холодильники CUP" class="tags__link">Холодильники
					CUP</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2512">
				<a href="/liebherr/holodilniki/recommend/dorogie-premium-klassa/" title="Дорогие премиум класса"
					class="tags__link">Дорогие премиум класса</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_6548">
				<a href="/liebherr/holodilniki/recommend/dvuhkamernye-s-ledogeneratorom/"
					title="Двухкамерные с ледогенератором" class="tags__link">Двухкамерные с ледогенератором</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_6315">
				<a href="/liebherr/holodilniki/recommend/dvuhkamernye-s-nizhney-morozilnoy-kameroy/"
					title="Двухкамерные с нижней морозильной камерой" class="tags__link">Двухкамерные с нижней
					морозильной
					камерой</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_6316">
				<a href="/liebherr/holodilniki/recommend/dvuhkamernye-s-verhney-morozilnoy-kameroy/"
					title="Двухкамерные с верхней морозильной камерой" class="tags__link">Двухкамерные с верхней
					морозильной камерой</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2817">
				<a href="/liebherr/holodilniki/recommend/dvuhkompressornye/" title="Двухкомпрессорные"
					class="tags__link">Двухкомпрессорные</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2493">
				<a href="/liebherr/holodilniki/recommend/dvuhstvorchatye/" title="Двухстворчатые"
					class="tags__link">Двухстворчатые</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2494">
				<a href="/liebherr/holodilniki/recommend/holodilniki-s-vinnym-shkafom/"
					title="Холодильники с винным шкафом" class="tags__link">Холодильники с винным шкафом</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2824">
				<a href="/liebherr/holodilniki/recommend/icbn/" title="Встраиваемые холодильники ICBN "
					class="tags__link">Встраиваемые холодильники ICBN </a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2499">
				<a href="/liebherr/holodilniki/recommend/iz-nerzhaveyushchey-stali/" title="Из нержавеющей стали"
					class="tags__link">Из нержавеющей стали</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2488">
				<a href="/liebherr/holodilniki/recommend/malenkie-s-morozilnoy-kameroy/"
					title="Маленькие с морозильной камерой" class="tags__link">Маленькие с морозильной камерой</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2483">
				<a href="/liebherr/holodilniki/recommend/malenkie/" title="Маленькие" class="tags__link">Маленькие</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2486">
				<a href="/liebherr/holodilniki/recommend/mini/" title="Мини" class="tags__link">Мини</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2523">
				<a href="/liebherr/holodilniki/recommend/morozilniki-s-no-frost/" title="Морозильники с No Frost"
					class="tags__link">Морозильники с No Frost</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2511">
				<a href="/liebherr/holodilniki/recommend/nedorogie/" title="Недорогие" class="tags__link">Недорогие</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2237">
				<a href="/liebherr/holodilniki/recommend/no-frost-dvuhkamernye/" title="Двухкамерные No Frost"
					class="tags__link">Двухкамерные No Frost</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2517">
				<a href="/liebherr/holodilniki/recommend/odnodvernye/" title="Однодверные"
					class="tags__link">Однодверные</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2498">
				<a href="/liebherr/holodilniki/recommend/odnokamernye-bez-morozilnika/"
					title="Однокамерные без морозилки" class="tags__link">Однокамерные без морозилки</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2503">
				<a href="/liebherr/holodilniki/recommend/otdelnostoyashchie/" title="Отдельностоящие"
					class="tags__link">Отдельностоящие</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2816">
				<a href="/liebherr/holodilniki/recommend/premium-biofresh-nofrost/" title="Premium BioFresh NoFrost"
					class="tags__link">Premium BioFresh NoFrost</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2811">
				<a href="/liebherr/holodilniki/recommend/Premium-BioFresh/" title="Premium BioFresh"
					class="tags__link">Premium BioFresh</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2809">
				<a href="/liebherr/holodilniki/recommend/premium-nofrost/" title="Premium NoFrost"
					class="tags__link">Premium NoFrost</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2805">
				<a href="/liebherr/holodilniki/recommend/premium/" title="Premium" class="tags__link">Premium</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2819">
				<a href="/liebherr/holodilniki/recommend/proizvodstva-bolgarii/" title="Производства Болгарии"
					class="tags__link">Производства Болгарии</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2815">
				<a href="/liebherr/holodilniki/recommend/s-biofresh/" title="С BioFresh" class="tags__link">С
					BioFresh</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2077">
				<a href="/liebherr/holodilniki/recommend/s-ledogeneratorom/" title="С ледогенератором"
					class="tags__link">С
					ледогенератором</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2521">
				<a href="/liebherr/holodilniki/recommend/s-morozilnoy-kameroy/" title="С морозильной камерой"
					class="tags__link">С морозильной камерой</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2828">
				<a href="/liebherr/holodilniki/recommend/s-nizhney-morozilnoy-kameroy/"
					title="С нижней морозильной камерой" class="tags__link">С нижней морозильной камерой</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2823">
				<a href="/liebherr/holodilniki/recommend/s-rezhimom-superfrost/" title="С режимом SuperFrost"
					class="tags__link">С режимом SuperFrost</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2814">
				<a href="/liebherr/holodilniki/recommend/s-steklyannoy-dveryu/" title="С стеклянной дверью"
					class="tags__link">С стеклянной дверью</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2829">
				<a href="/liebherr/holodilniki/recommend/s-verhney-morozilnoy-kameroy/"
					title="С верхней морозильной камерой" class="tags__link">С верхней морозильной камерой</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2830">
				<a href="/liebherr/holodilniki/recommend/s-yashchikom-dlya-ovoshchey/" title="С ящиком для овощей"
					class="tags__link">С ящиком для овощей</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2481">
				<a href="/liebherr/holodilniki/recommend/s-zonoy-svezhesti/" title="С зоной свежести"
					class="tags__link">С
					зоной свежести</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2807">
				<a href="/liebherr/holodilniki/recommend/sbses/" title="SBSES" class="tags__link">SBSES</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2514">
				<a href="/liebherr/holodilniki/recommend/serebristye-dvuhkamernye/" title="Серебристые двухкамерные"
					class="tags__link">Серебристые двухкамерные</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2500">
				<a href="/liebherr/holodilniki/recommend/shirinoy-120-sm/" title="Шириной 120 см"
					class="tags__link">Шириной 120 см</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2507">
				<a href="/liebherr/holodilniki/recommend/shirinoy-55-sm/" title="Шириной 55 см"
					class="tags__link">Шириной
					55 см</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2496">
				<a href="/liebherr/holodilniki/recommend/shirinoy-70-sm/" title="Шириной 70 см"
					class="tags__link">Шириной
					70 см</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2504">
				<a href="/liebherr/holodilniki/recommend/shirinoy-75-sm/" title="Шириной 75 см"
					class="tags__link">Шириной
					75 см</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2509">
				<a href="/liebherr/holodilniki/recommend/shirokie/" title="Широкие" class="tags__link">Широкие</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2694">
				<a href="/liebherr/holodilniki/recommend/side-by-side-dvuhdvernye/" title="Двухдверные Side by Side"
					class="tags__link">Двухдверные Side by Side</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2495">
				<a href="/liebherr/holodilniki/recommend/uzkie/" title="Узкие" class="tags__link">Узкие</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2515">
				<a href="/liebherr/holodilniki/recommend/vysotoy-2-metra/" title="Высотой 2 метра"
					class="tags__link">Высотой 2 метра</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_6858">
				<a href="/liebherr/holodilniki/recommend/belogo-cveta/" title="Белого цвета" class="tags__link">Белого
					цвета</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_6855">
				<a href="/liebherr/holodilniki/recommend/bezhevye-dvuhkamernye/" title="Бежевые двухкамерные"
					class="tags__link">Бежевые двухкамерные</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_6840">
				<a href="/liebherr/holodilniki/recommend/bezhevye-holodilniki/" title="Бежевые холодильники"
					class="tags__link">Бежевые холодильники</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_6862">
				<a href="/liebherr/holodilniki/recommend/chernye-holodilniki/" title="Черные холодильники"
					class="tags__link">Черные холодильники</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_6849">
				<a href="/liebherr/holodilniki/recommend/cvetnye-holodilniki/" title="Цветные холодильники"
					class="tags__link">Цветные холодильники</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2997">
				<a href="/liebherr/holodilniki/recommend/dvuhdvernye-holodilniki-s-morozilnoy-kameroy/bb/"
					title="Двухдверные с морозильной камерой" class="tags__link">Двухдверные с морозильной камерой</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_6861">
				<a href="/liebherr/holodilniki/recommend/dvuhkamernye-bezhevye-s-no-frost/"
					title="Двухкамерные бежевые с No Frost" class="tags__link">Двухкамерные бежевые с No Frost</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_3005">
				<a href="/liebherr/holodilniki/recommend/holodilniki-cveta-slonovaya-kost/bb/"
					title="Цвета слоновой кости" class="tags__link">Цвета слоновой кости</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2976">
				<a href="/liebherr/holodilniki/recommend/holodilniki-mini-bary/bb/" title="Мини бары"
					class="tags__link">Мини бары</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2978">
				<a href="/liebherr/holodilniki/recommend/holodilniki-s-bolshoy-morozilnoy-kameroy/bb/"
					title="С большой морозильной камерой" class="tags__link">С большой морозильной камерой</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2977">
				<a href="/liebherr/holodilniki/recommend/holodilniki-s-ledogeneratorom-i-podklyucheniem-k-vode/bb/"
					title="С ледогенератором и подключением к воде" class="tags__link">С ледогенератором и подключением
					к
					воде</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_6868">
				<a href="/liebherr/holodilniki/recommend/krasnye-holodilniki/" title="Красные холодильники"
					class="tags__link">Красные холодильники</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_3001">
				<a href="/liebherr/holodilniki/recommend/malenkie-barnye-holodilniki/bb/"
					title="Маленькие барные холодильники" class="tags__link">Маленькие барные холодильники</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_3000">
				<a href="/liebherr/holodilniki/recommend/malenkie-holodilniki-bez-morozilnoy-kamery/bb/"
					title="Маленькие без морозильной камеры" class="tags__link">Маленькие без морозильной камеры</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2996">
				<a href="/liebherr/holodilniki/recommend/malenkie-holodilniki-dlya-ofisa/bb/"
					title="Маленькие для офиса" class="tags__link">Маленькие для офиса</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_19489">
				<a href="/liebherr/holodilniki/recommend/morozilniki-dlya-neotaplivaemyh-pomeshchenij/"
					title="Морозильники для неотапливаемых помещений" class="tags__link">Морозильники для неотапливаемых
					помещений</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_6867">
				<a href="/liebherr/holodilniki/recommend/oranzhevogo-cveta/" title="Оранжевого цвета"
					class="tags__link">Оранжевого цвета</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2970">
				<a href="/liebherr/holodilniki/recommend/shirokie-dvuhdvernye-holodilniki/bb/"
					title="Широкие двухдверные" class="tags__link">Широкие двухдверные</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_6869">
				<a href="/liebherr/holodilniki/recommend/sinie-holodilniki/" title="Синие холодильники"
					class="tags__link">Синие холодильники</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2975">
				<a href="/liebherr/holodilniki/recommend/uzkie-shirinoy-do-50-sm/bb/" title="Узкие шириной до 50 см"
					class="tags__link">Узкие шириной до 50 см</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2971">
				<a href="/liebherr/holodilniki/recommend/uzkie-shirinoy-do-55-sm/bb/" title="Узкие шириной до 55 см"
					class="tags__link">Узкие шириной до 55 см</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_2979">
				<a href="/liebherr/holodilniki/recommend/uzkie-shirinoy-do-60-sm/bb/" title="Узкие шириной до 60 см"
					class="tags__link">Узкие шириной до 60 см</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_3004">
				<a href="/liebherr/holodilniki/recommend/uzkie-vysokie-holodilniki/bb/" title="Узкие высокие"
					class="tags__link">Узкие высокие</a>
			</li>

			<li class="tags__item js-tags__item " id="bx_3485106786_6859">
				<a href="/liebherr/holodilniki/recommend/zelyonogo-cveta/" title="Зелёного цвета"
					class="tags__link">Зелёного цвета</a>
			</li>

			<li class="tags__item js-tags__item button js-button show">
				<a class="tags__link">Показать еще</a>
			</li>

			<li class="tags__item js-tags__item another show">
				<a href="/tags/holodilniki/" title="Другие подборки" class="tags__link">Другие подборки</a>
			</li>

		</ul>
	</div>
	<div class="catalog__items">
		<div class="catalog__item">
			<a class="catalog__pic" href="#">
				<img src="images/new-items_3.jpg" srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x"
					class="special-offers__img catalog__img">
			</a>
			<a href="product-card.html" class="special-offers__text  catalog__text">Винный шкаф Liebherr EWTgw 3583
				Vinidor</a>
			<span class="catalog__presence">В наличии</span>
			<div class="catalog__specification">
				<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
				<span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
				<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
						class="catalog__bold">107</span></span>
				<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
						class="catalog__bold">15</span></span>
				<span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
			</div>
			<div class="catalog__prop">
				<a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/A+.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/A++.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/A+++.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Bio Cool.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Bio Fresh- Plus.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Bio Fresh.svg" class="icons-prop-item">
				</a>
			</div>
			<div class="special-offers__sale catalog__sale">
				<span class="special-offers__price catalog__price">134 200<i
						class="special-offers__rub catalog__rub">руб.</i></span>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
			</div>
			<div class="catalog__existence">

				<a href="#" class="catalog__simile active"></a>
				<a href="#" class="catalog__favorite active"></a>
				<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
			</div>
			<div class="announcing">
				<div class="announcing__item">
					<img src="images/small/flag_ger.svg" alt="сделано в Германии" title="сделано в Германии">
				</div>
				<div class="announcing__item">
					<img src="images/small/new.svg" alt="Новинка" title="Новинка">
				</div>
				<div class="announcing__item">
					<img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
				</div>
				<div class="announcing__item">
					<img src="images/small/truck.svg" alt="Бесплатная доставка" title="Бесплатная доставка">
				</div>
			</div>
		</div>
		<div class="catalog__item">
			<a class="catalog__pic" href="#">
				<img src="images/new-items_1.jpg" srcset="images/new-items_1@2x.jpg 2x,images/new-items_1@3x.jpg 3x"
					class="special-offers__img catalog__img">
			</a>
			<a href="product-card.html" class="special-offers__text catalog__text">Холодильник Liebherr SBS 66I2
				Premium NoFrost (SICN 3386 + ICN 3386)</a>
			<span class="catalog__presence">В наличии</span>
			<div class="catalog__specification">
				<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
				<span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
				<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
						class="catalog__bold">107</span></span>
				<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
						class="catalog__bold">15</span></span>
				<span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
			</div>
			<div class="catalog__prop">
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Black Steel.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/BLU Performance.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Central-Power Coolin.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Colour Line.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Comfort Glass Line.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Duo Cooling.svg" class="icons-prop-item">
				</a>
			</div>
			<div class="special-offers__sale catalog__sale price__dashed">
				<span class="special-offers__price catalog__price">
					199 000
					<i class="special-offers__rub catalog__rub">руб.</i>
					<span class="price__absolute">
						250 000 руб.
					</span>
				</span>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
			</div>
			<div class="catalog__existence">
				<a href="#" class="catalog__simile"></a>
				<a href="#" class="catalog__favorite"></a>
				<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
			</div>
			<div class="announcing">
				<div class="announcing__item">
					<img src="images/small/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
				</div>
				<div class="announcing__item">
					<img src="images/small/new.svg" alt="Новинка" title="Новинка">
				</div>
				<div class="announcing__item">
					<img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
				</div>
				<div class="announcing__item">
					<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
				</div>
			</div>
		</div>
		<div class="catalog__item">
			<a class="catalog__pic" href="#">
				<img src="images/new-items_2.jpg" srcset="images/new-items_2@2x.jpg 2x,images/new-items_2@3x.jpg 3x"
					class="special-offers__img catalog__img">
			</a>

			<a href="#" class="special-offers__text catalog__text">Морозильник Liebherr GN 2723 Comfort NoFrost</a>
			<span class="catalog__presence">В наличии</span>
			<div class="catalog__specification">
				<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
				<span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
				<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
						class="catalog__bold">107</span></span>
				<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
						class="catalog__bold">15</span></span>
				<span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
			</div>
			<div class="catalog__prop">
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Flex System.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Fresh Air.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Frost Control.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Frost Protect.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Frost Safe.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Glass Edition.svg" class="icons-prop-item">
				</a>
			</div>
			<div class="special-offers__sale catalog__sale">
				<span class="special-offers__price catalog__price price__dashed">

					82 500 <i class="special-offers__rub catalog__rub">руб.</i>
					<span class="price__absolute">83 500 руб.</span>
				</span>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
			</div>
			<div class="catalog__existence">

				<a href="#" class="catalog__simile"></a>
				<a href="#" class="catalog__favorite"></a>
				<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
			</div>
			<div class="announcing">
				<div class="announcing__item">
					<img src="images/small/flag_austria_small.svg" alt="сделано в Австрии" title="сделано в Австрии">
				</div>
				<div class="announcing__item">
					<img src="images/small/new.svg" alt="Новинка" title="Новинка">
				</div>
				<div class="announcing__item">
					<img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
				</div>
				<div class="announcing__item">
					<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
				</div>
			</div>
		</div>
		<div class="catalog__item">
			<a class="catalog__pic" href="#">
				<img src="images/new-items_4.jpg" srcset="images/new-items_4@2x.jpg 2x,images/new-items_4@3x.jpg 3x"
					class="special-offers__img catalog__img">
			</a>

			<a href="#" class="special-offers__text catalog__text">Холодильник Liebherr SBS 66I2 Premium NoFrost (SICN
				3386 + ICN 3386)</a>
			<span class="catalog__presence">В наличии</span>
			<div class="catalog__specification">
				<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
				<span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
				<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
						class="catalog__bold">107</span></span>
				<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
						class="catalog__bold">15</span></span>
				<span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
			</div>
			<div class="catalog__prop">
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Grand Cru.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Hard Line.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Ice Maker.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/LED.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Magic Eye.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/No Frost.svg" class="icons-prop-item">
				</a>
			</div>
			<div class="special-offers__sale catalog__sale">
				<span class="special-offers__price catalog__price">134 200<i
						class="special-offers__rub catalog__rub">руб.</i></span>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
			</div>
			<div class="catalog__existence">

				<a href="#" class="catalog__simile"></a>
				<a href="#" class="catalog__favorite"></a>
				<a href="#" class="catalog__oneclick">Купить в 1 клик</a>
			</div>
			<div class="announcing">
				<div class="announcing__item">
					<img src="images/small/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
				</div>
				<div class="announcing__item">
					<img src="images/small/new.svg" alt="Новинка" title="Новинка">
				</div>
				<div class="announcing__item">
					<img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
				</div>
				<div class="announcing__item">
					<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
				</div>
			</div>
		</div>
		<div class="catalog__item stock">
			<a class=upsale__parent href="#">
				<img class="stock_img" src="images/Catalog_stock.jpg"
					srcset="images/Catalog_stock@2x.jpg 2x,images/Catalog_stock@3x.jpg 3x" alt="">
			</a>
			<div class="stock__info">
				<span class="stock__title">30%</span>
				<span class="stock__text">Морозильник <br> Liebherr GN 2723 Comfort NoFrost
					<span>скидка до 30%</span>
				</span>
				<a class="stock__link" href="#"><span class="stock__arrow">Узнать больше</span></a>
			</div>
		</div>
		<div class="catalog__item">
			<a class="catalog__pic" href="#">
				<img src="images/new-items_3.jpg" srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x"
					class="special-offers__img catalog__img">
			</a>
			<a href="#" class="special-offers__text  catalog__text">Винный шкаф Liebherr EWTgw 3583 Vinidor</a>
			<span class="catalog__presence">В наличии</span>
			<div class="catalog__specification">
				<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
				<span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
				<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
						class="catalog__bold">107</span></span>
				<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
						class="catalog__bold">15</span></span>
				<span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
			</div>
			<div class="catalog__prop">
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Power Cooling.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Premium Glass Line.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Side by Side.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Silver.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Smart Device.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Smart Frost.svg" class="icons-prop-item">
				</a>
			</div>
			<div class="special-offers__sale catalog__sale">
				<span class="special-offers__price catalog__price">134 200<i
						class="special-offers__rub catalog__rub">руб.</i></span>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
			</div>
			<div class="catalog__existence">
				<!-- <span class="catalog__presence grey">под заказ</span> -->
				<a href="#" class="catalog__simile"></a>
				<a href="#" class="catalog__favorite"></a>
				<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
			</div>
			<div class="announcing">
				<div class="announcing__item">
					<img src="images/small/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
				</div>
				<div class="announcing__item">
					<img src="images/small/new.svg" alt="Новинка" title="Новинка">
				</div>
				<div class="announcing__item">
					<img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
				</div>
				<div class="announcing__item">
					<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
				</div>
			</div>
		</div>
		<div class="catalog__item">
			<a class="catalog__pic" href="#">
				<img src="images/new-items_3.jpg" srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x"
					class="special-offers__img catalog__img">
			</a>
			<a href="product-card.html" class="special-offers__text  catalog__text">Винный шкаф Liebherr EWTgw 3583
				Vinidor</a>
			<span class="catalog__presence">В наличии</span>
			<div class="catalog__specification">
				<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
				<span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
				<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
						class="catalog__bold">107</span></span>
				<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
						class="catalog__bold">15</span></span>
				<span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
			</div>
			<div class="catalog__prop">
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Smart Steel.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Soft System.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Soft Telescopic.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Stainless Steel Look.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Stop Frost.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Super Cool.svg" class="icons-prop-item">
				</a>
			</div>
			<div class="special-offers__sale catalog__sale">
				<span class="special-offers__price catalog__price">134 200<i
						class="special-offers__rub catalog__rub">руб.</i></span>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
			</div>
			<div class="catalog__existence">

				<a href="#" class="catalog__simile"></a>
				<a href="#" class="catalog__favorite"></a>
				<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
			</div>
			<div class="announcing">
				<div class="announcing__item">
					<img src="images/small/flag_ger.svg" alt="сделано в Германии" title="сделано в Германии">
				</div>
				<div class="announcing__item">
					<img src="images/small/new.svg" alt="Новинка" title="Новинка">
				</div>
				<div class="announcing__item">
					<img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
				</div>
				<div class="announcing__item">
					<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
				</div>
			</div>
		</div>
		<div class="catalog__item">
			<a class="catalog__pic" href="#">
				<img src="images/new-items_1.jpg" srcset="images/new-items_1@2x.jpg 2x,images/new-items_1@3x.jpg 3x"
					class="special-offers__img catalog__img">
			</a>
			<a href="product-card.html" class="special-offers__text catalog__text">Холодильник Liebherr SBS 66I2
				Premium NoFrost (SICN 3386 + ICN 3386)</a>
			<span class="catalog__presence">В наличии</span>
			<div class="catalog__specification">
				<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
				<span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
				<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
						class="catalog__bold">107</span></span>
				<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
						class="catalog__bold">15</span></span>
				<span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
			</div>
			<div class="catalog__prop">
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Super Frost.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Swing Desing.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Swing Line.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Telescopic Rails.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Tip Open.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Vario Box.svg" class="icons-prop-item">
				</a>
			</div>
			<div class="special-offers__sale catalog__sale">
				<span class="special-offers__price catalog__price">98 400<i
						class="special-offers__rub catalog__rub">руб.</i></span>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
			</div>
			<div class="catalog__existence">
				<a href="#" class="catalog__simile"></a>
				<a href="#" class="catalog__favorite"></a>
				<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
			</div>
			<div class="announcing">
				<div class="announcing__item">
					<img src="images/small/flag.svg" alt="сделано в Болгарии" title="сделано в Болгарии">
				</div>
				<div class="announcing__item">
					<img src="images/small/new.svg" alt="Новинка" title="Новинка">
				</div>
				<div class="announcing__item">
					<img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
				</div>
				<div class="announcing__item">
					<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
				</div>
			</div>
		</div>
		<div class="catalog__item">
			<a class="catalog__pic" href="#">
				<img src="images/new-items_2.jpg" srcset="images/new-items_2@2x.jpg 2x,images/new-items_2@3x.jpg 3x"
					class="special-offers__img catalog__img">
			</a>

			<a href="#" class="special-offers__text catalog__text">Морозильник Liebherr GN 2723 Comfort NoFrost</a>
			<span class="catalog__presence">В наличии</span>
			<div class="catalog__specification">
				<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
				<span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
				<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
						class="catalog__bold">107</span></span>
				<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
						class="catalog__bold">15</span></span>
				<span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
			</div>
			<div class="catalog__prop">
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Vario Safe.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Vario Space.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Vinidor.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Vinothek.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Аккумулятор холода.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Класс Comfort.svg" class="icons-prop-item">
				</a>
			</div>
			<div class="special-offers__sale catalog__sale price__dashed">
				<span class="special-offers__price catalog__price">115 000<i
						class="special-offers__rub catalog__rub">руб.</i><span class="price__absolute">122 750
						руб.</span></span>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
			</div>
			<div class="catalog__existence">

				<a href="#" class="catalog__simile"></a>
				<a href="#" class="catalog__favorite"></a>
				<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
			</div>
			<div class="announcing">
				<div class="announcing__item">
					<img src="images/small/flag_austria_small.svg" alt="сделано в Австрии" title="сделано в Австрии">
				</div>
				<div class="announcing__item">
					<img src="images/small/new.svg" alt="Новинка" title="Новинка">
				</div>
				<div class="announcing__item">
					<img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
				</div>
				<div class="announcing__item">
					<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
				</div>
			</div>
		</div>
		<div class="catalog__item">
			<a class="catalog__pic" href="#">
				<img src="images/new-items_2.jpg" srcset="images/new-items_2@2x.jpg 2x,images/new-items_2@3x.jpg 3x"
					class="special-offers__img catalog__img">
			</a>

			<a href="#" class="special-offers__text catalog__text">Морозильник Liebherr GN 2723 Comfort NoFrost</a>
			<span class="catalog__presence">В наличии</span>
			<div class="catalog__specification">
				<span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
				<span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
				<span class="catalog__feature">Полезный объем холодильной камеры (л): <span
						class="catalog__bold">107</span></span>
				<span class="catalog__feature">Полезный объем морозильной камеры (л):<span
						class="catalog__bold">15</span></span>
				<span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
			</div>
			<div class="catalog__prop">
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Класс Premium Plus.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Класс Premium.svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Режим «Отпуск».svg" class="icons-prop-item">
				</a>
				<a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
					<img src="images/benefits-icons/Функция защиты от де.svg" class="icons-prop-item">
				</a>

			</div>
			<div class="special-offers__sale catalog__sale price__dashed">
				<span class="special-offers__price catalog__price">115 000<i
						class="special-offers__rub catalog__rub">руб.</i><span class="price__absolute">122 750
						руб.</span></span>
				<a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">В корзину</a>
			</div>
			<div class="catalog__existence">

				<a href="#" class="catalog__simile"></a>
				<a href="#" class="catalog__favorite"></a>
				<a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
			</div>
			<div class="announcing">
				<div class="announcing__item">
					<img src="images/small/flag_austria_small.svg" alt="сделано в Австрии" title="сделано в Австрии">
				</div>
				<div class="announcing__item">
					<img src="images/small/new.svg" alt="Новинка" title="Новинка">
				</div>
				<div class="announcing__item">
					<img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
				</div>
				<div class="announcing__item">
					<img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
				</div>
			</div>
		</div>
	</div>
	<a class="load-more" href="#">Загрузить еще</a>
	{% include 'pagination/pagination.html' %}
	<div class="recently-watched js-recently-watched">
		<div class="recently-watched__title">
			Вы недавно смотрели
		</div>
		<div class="swiper-pagination-recently-watched swiper-pagination"></div>
		<div class="swiper-button-prev recently-watched__prev"></div>
		<div class="swiper-button-next recently-watched__next"></div>
		<a href="#" class="recently-watched__reset">Сбросить просмотренное</a>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/new-items_3.jpg" alt="">
					</a>
					<a href='#' class="recently-watched__text">
						Винный шкаф Liebherr EWTgw
						3583 Vinidor
						<span class="recently-watched__price">134 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>

					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/new-items_1.jpg" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Холодильник Liebherr CBNPbs 4858 Premium BioFresh NoFrost
						<span class="recently-watched__price">
							34 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>
					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/new-items_2.jpg" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Морозильник Liebherr GN 2723
						Comfort NoFrost
						<span class="recently-watched__price">
							14 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>
					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/new-items_1.jpg" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Холодильник Liebherr CBNPbs 4858 Premium BioFresh NoFrost
						<span class="recently-watched__price">
							13 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>
					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/new-items_3.jpg" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Винный шкаф Liebherr EWTgw
						3583 Vinidor
						<span class="recently-watched__price">
							1 200
							<i class="recently-watched__rub">руб.</i>
						</span>
					</a>
					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/new-items_1.jpg" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Холодильник Liebherr CBNPbs 4858 Premium BioFresh NoFrost
					</a>
					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/new-items_2.jpg" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Морозильник Liebherr GN 2723
						Comfort NoFrost
					</a>
					<div class="recently-watched__close"></div>
				</div>
				<div class="swiper-slide">
					<a href="#" class="recently-watched__pic">
						<img src="images/new-items_1.jpg" alt="">
					</a>
					<a href="#" class="recently-watched__text">
						Холодильник Liebherr CBNPbs 4858 Premium BioFresh NoFrost
					</a>
					<div class="recently-watched__close"></div>
				</div>
			</div>
		</div>
	</div>
</div>
