<div class="d-flex flex-column-reverse flex-md-row">
    <div class="col-md-3">
        {% include 'section/sidebar/sidebar.html' %}
    </div>
    <div class="col-md-9">
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">Liebherr</a>
            <span class="breadcrumbs__sep">/</span>
            <span class="breadcrumbs__text">Контакты</span>
        </div>
        <h1 class="title">
            Контакты
        </h1>
        <div class="contact">
            <div class=" contact__item">
                <div class="contact__element">
                    <p>
                        <b>Телефон</b>
                        <a href="tel:+74955653990" class="shipping-payment__number">+7 (495) 565-39-90</a>
                    </p>
                    <p>
                        <b>Email</b>
                        <a itemprop="email" saprocessedanchor="true" href="mailto:shop@l-rus.ru" target="_blank">shop@l-rus.ru</a>
                    </p>
                    <p>
                        <b>Время работы</b>
                       <span><b>до 29.12</b> – 08:00-22:00,<br>
                       	<b>30.12</b> – 09:00-22:00,<br>
                       	<b>31.12, 01.01, 02.01</b> – выходные,<br>
                       	<b>03.01-08.01</b> – 09:00-22:00,<br>
                       	<b>с 09.01</b> – 08:00-22:00.</span>
                    </p>
                </div>
                <div class="contact__element">
                    <p>
                        <b>Реквизиты</b>
                        <span>
                            ООО «НТК Трейд/
                        </span>
                        <span>
                            Фактический и юридический адрес: 123103, г. Москва, проспект Маршала Жукова, дом 59
                        </span>
                        <span>
                            Почтовый адрес: 123103, г. Москва, а/я 28
                        </span>
                        <span>
                            ОГРН: 1167746250319
                        </span>
                        <span>
                            ИНН: 7734379272, КПП: 773401001
                        </span>
                        <span>
                            р/сч.: 40702810100000144921 в филиале № 7701 банка ВТБ (ПАО)
                        </span>
                        <span>
                            кор/сч.: 30101810345250000745
                        </span>
                        <span>
                            БИК: 044525745
                        </span>
                    </p>
				</div>
					<div class="contact__row">
						<p>
							Мы с большим вниманием относимся к Вашему мнению о качестве нашей работы! <br>
							Для того, чтобы мы могли оперативно реагировать на Ваши предложения и претензии, пожалуйста,
							сообщите нам об этом,
							написав письмо специалисту Службы качества:<a itemprop="email" target="_blank" href="mailto:sk@l-rus.ru">
								sk@l-rus.ru</a>
						</p>
						<p>
							Вам будет предоставлена необходимая консультация и оказана оперативная помощь!

						</p>
					</div>
            </div>
            <div class="contact__item">
                <h3>
                    Задать вопрос
                </h3>
                <form action="" method="post" class="contact__form">
                    <input type="hidden" name="FAQ[SEND]" value="1">
                    <input type="hidden" name="action" value="FAQ">
                    <input type="hidden" name="id" value="0">
                    <div class="contact__detail">
                        <span class="return-exchange__name">Ваше имя<span class="return-exchange__required">*</span></span>
                        <input type="text" name="" value="" class="return-exchange__input" placeholder="Ваше имя *"
                            title="ФИО">
                        <span class="return-exchange__error-text"></span>
                    </div>
                    <div class="contact__detail">
                        <span class="return-exchange__name">E-mail <span class="return-exchange__required">*</span></span>
                        <input type="text" name="" value="" class="return-exchange__input" placeholder="Email *" title="E-mail">
                        <span class="return-exchange__error-text"></span>
                    </div>
                    <div class="contact__detail">
                        <span class="return-exchange__name">Телефон <span class="return-exchange__required">*</span></span>
                        <input type="tel" name="" value="" class="return-exchange__input" placeholder="Телефон *" title="Телефон">
                        <span class="return-exchange__error-text"></span>
                    </div>
                    <div class="contact__detail contact__detail-textarea">
                        <span class="return-exchange__name">Ваш вопрос <span class="return-exchange__required">*</span></span>
                        <textarea name="" rows="" cols="" class="return-exchange__textarea" placeholder="Ваш вопрос *"
                            title="Причина обращения"></textarea>
                        <span class="return-exchange__error-text"></span>
                    </div>
                    <label class="checkbox checkbox_oferta ">
                        <input type="checkbox" name="" class="checkbox__input" checked="">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Согласен с
                            <a href="#">использованием персональных данных</a>для обработки обращения</span>
                    </label>
                    <input type="submit" value="Отправить" class="btn-sub3 abuse-popup__submit" name="">
                </form>
            </div>
            <div class="contact__item">
                <p>
                    <b>Правила приема рекламационных обращений</b>
                    Информация по приему
                    <a href="/claim/">претензий и заявлений на рекламацию</a>
                </p>
            </div>
        </div>
    </div>

</div>
